[2015-04-17 05:32] jackmatt2 commented on #1913
This is an issue for me also.

In my case the children may have been added to the colletion and therefore simply doing something like this does not work.

        	shipment.get('shipmentVehicles').forEach(function(shipmentVehicle) {
                        //The problem here is that there may be additional shipmentVehicles added on the server side.  The frontend will now know about them.

[2015-04-17 07:43] samcic opened #3005 "Inconsistent Model Update on PUT Response"
Hi guys,

I'm not sure if this is frowned upon, but I'd like to draw your attention to the following...

http://stackoverflow.com/questions/29685653/ember-data-adapter-inconsistent-model-update-on-put-response

I've spent a few hours trying to debug it in the source, but couldn't narrow down exactly where the record's attribute values are concretely updated based on the adapter's resolved object f

[2015-04-17 08:02] nathanhammond opened #3006 "Better Support for Pathological API Patterns"
Ember Data makes working with highly nested and irregular APIs incredibly difficult. Below you'll find an example response from a real API that is very difficult to model well.

Things that are worth noting:
- Many pieces of this API are EmbeddedRecords, but those only work when promoted to the top level of what they're embedded inside.
- Some embedded properties are collections and some are one-t

[2015-04-17 14:53] bmac commented on #3005
Thanks @samcic This definatly seems like a bug. I created a jsbin based on you stackoverflow question here: http://emberjs.jsbin.com/jeridusoso/1/edit

@wecc This sounds like a bug you were describing to me recently? Does this look familiar?

[2015-04-17 15:47] bmac commented on #2994
Thanks for reporting this issue @technomage. I've opened a pr at https://github.com/switchfly/ember-test-helpers/pull/39 to try and get the `service:store` automatically registered in tests.

[2015-04-17 15:59] bmac commented on #2978
I'm not sure why this happened. ping @fivetanley @stefanpenner

[2015-04-17 16:05] bmac commented on #2986
ping @thejameskyle

[2015-04-17 16:16] dgaus commented on #1931
Is this supposed to be fixed on 1.0.0-beta.16.1? After a 404 I am getting phantom records which appear when doing store.all, but not via hasRecordForId

[2015-04-17 18:28] thejameskyle commented on #2986
Sorry about that, it's been a hectic week.

[2015-04-17 19:44] #2986 closed

[2015-04-17 21:51] igorT commented on #3005
Yup, this seems like it should be fixed by https://github.com/emberjs/data/pull/2998

[2015-04-17 21:54] igorT commented on #3006
Do you know of library that implement good plucking ability like this that we could use for inspiration/or for actual code?

[2015-04-17 23:49] nathanhammond opened #3009 "`extractMeta` is processed pre-normalization."
1. `extract` is the entry point.
2. In a `specificExtract` the first step is to call `normalize`.
3. However, `extractMeta` doesn't operate on a normalized payload. It's called first inside of `extract`.

Here is the code: [extractMeta](https://github.com/emberjs/data/blob/v1.0.0-beta.16.1/packages/ember-data/lib/serializers/json-serializer.js#L728)

Would you like me to code up a fix?

[2015-04-17 23:59] nathanhammond commented on #3006
Here's what I coded up today to make it a bit less painful by making it easier to dive into a model. It simply extends `normalizeUsingDeclaredMapping` to support key paths. For bonus points it plays nicely with EmbeddedRecord.

Usage:
[code]

Would you be interested in a PR to allow key paths?

Code:
[code]

[2015-04-18 00:27] igorT commented on #3002
Agreed, please let us know if `record.serialize()` doesn't work for this purpose

[2015-04-18 00:31] igorT commented on #3002
Moving records between two stores seems highly suspect to me.Instead of having online/offline store, wouldn't it make more sense for you adapter to handle this?
(if you really need a copy of a record, doing a `record.serialize` followed by a `serializer.normalize` would be the way to go but again I advise against it)

[2015-04-18 00:31] #3002 closed

[2015-04-18 00:33] igorT commented on #3009
We are probably gonna move away from this API pretty soon, in favor of passing meta to the store together with the response. Not sure it's worth breaking people's apps twice for this. Is there a backwards compatible fix you could do?

[2015-04-18 00:41] SimonKaluza commented on #2749
Nice work @jackmatt2, your workaround worked well for my use case too.

For future users, since the call to `dematerializeRecord` is deprecated in the latest version of Ember Data, note that replacing that line with `this.unloadRecord(oldRecord);` works just as well.

[2015-04-18 00:52] igorT commented on #2749
This will soon be possible with #2991

[2015-04-18 01:43] #2975 closed

[2015-04-18 07:19] andrewbranch opened #3010 "Ensure Content-Length header is not set on DELETE requests"
## TL;DR
Interesting issue that took a while to track down: Safari is adding `Content-Length: 0` to HTTP DELETE requests, and Chrome is not. I think that Safari is wrong, and Ember Data can remedy it.

## Why this is a problem
Here is how I discovered this issue:

1. Kick off a DELETE request via `destroyRecord()` or something
2. Hits my express server
3. Request handled by [json-api](https://gith

[2015-04-18 08:53] igorT commented on #3010
Thanks for the very detailed issue. I am not sure what the right approach here is, will raise this at the weekly ED team meeting

[2015-04-18 16:32] tim-evans commented on #2874
I'm using this in production code to DRY up some actions. I would *love* for this to be a deprecation notice before giving it the axe.

[2015-04-18 18:41] nathanhammond commented on #3009
The implication here is that anybody who was using `extractMeta` at all was either:
- Overriding it without calling super.
- Had their API designed as Ember Data expects it to be from the start.
- Did something strange with a serializer normalizing data for an embedded record.

With that premise, simply running `extractMeta` through `normalize` and `normalizePayload` would likely be non-breaking f

[2015-04-19 19:09] igorT commented on #2874
It will definitely be deprecated first.

[2015-04-19 22:54] igorT commented on #3009
But wouldn't they get different payload if it were normalized? How would that work? Like for example currently
[code]
returns
[code]
How would `meta` work? Maybe I am misunderstanding your proposal?

[2015-04-19 23:19] cibernox commented on #2941
I haven't had much time for this lately, sorry. I'll try to reproduce it again tomorrow and come up with a example.

[2015-04-20 01:10] igorT opened #3011 "model.isReloading stays true if a model reload request failed"
It shouldn't

[2015-04-20 01:17] igorT opened #3012 "`store.hasRecordForId` and `store.recordIsLoaded` do the exact same thing"

[2015-04-20 05:08] andrewbranch commented on #3010
Thanks @igorT!

A few updates:

1. I’m not sure it’s possible to unset the Content-Length header. Trying to `xhr.setRequestHeader(undefined)` does nothing, and `xhr.setRequestHeader(null)` throws an error about setting an unsafe header.
2. I’m not sure setting Content-Type header with a zero-length header is appropriate either. The server libraries I’m depending on, when seeing a `Content-Type: ap

[2015-04-20 09:20] abulrim commented on #2850
You can use this temporary solution:
[code]

[2015-04-20 09:37] g13013 opened #3013 "isLoading `true` after failed response from server"
I have two Models
Model1-key --- hasMany -- Model2 (async)

when ember-data loads the records and one of the records request fail, its model `isLoading` property still always be `true`

[2015-04-20 14:29] bmac opened #3014 "Consider moving `normalize` to the `adapter` as well"
Removed from the 1.0 issue (https://github.com/emberjs/data/issues/2545) since this is an api change that could be added later if we decide it will be a useful addition.

[2015-04-20 15:28] tim-evans commented on #2874
@igorT thank ya! :heart:

[2015-04-20 15:47] igorT commented on #3013
Hi,
could you write a test for this please? It also seems related to #3011

[2015-04-20 17:55] adamesque opened #3015 "keyForRelationship doesn't normalize keys inside "links" object"
I have an API that outputs snake_case'd JSON keys, and I'm using an ApplicationSerializer to convert those to camelCase (or vice versa, I guess) by implementing `keyForAttribute` and `keyForRelationship` like so:

[code]

I'm noticing, though, that if I have a JSON payload with a `links` object and a snake_case'd async relationship key, it doesn't look like either of these methods work to coerce i

[2015-04-20 19:32] igorT commented on #3015
People often use an `_id` suffix in the `keyForRelationship` though, so it would not be great to do that by default in the links. Do you want to maybe add another hook, that will call super on `keyForAttribute` as a default?

[2015-04-21 05:03] perlun commented on #3002
Thanks for the hint @fivetanley, I get an exception like this if I attempt to do it like that:

[code]

This could very well be an adapter issue of course; it's the `createRecord` in this case that assumes that its parameter is a snapshot that it can run `serialize` on (localforage.js:501). Is this an error in the adapter that should be fixed do you think?

Just to make everything clear: the `_cre

[2015-04-21 05:21] perlun commented on #3002
Making the adapter handle it may clearly be suitable in some (most?) cases, but here we have a very "explicit" offline scenario, i.e. the app knows in most cases whether the data should be loaded from offline or online. So the approach looks like this:

1. Check if the data is available in the offline store.
2. If it is, show an error message.
3. If it isn't, load the data from the online store an

[2015-04-21 17:51] jbourassa opened #3017 "normalizeErrors with nested errors breaks for polymorphic associations"
Calling `normalizeRelationships` from `normalizeErrors` breaks for polymorphic relationships in ActiveModelSerializer (introduced in #2392, [see this diff] (https://github.com/emberjs/data/pull/2392/files#diff-874af7e7df6c1be12e3a54caad8d859dR270)). Here's a [failing test](https://github.com/didacte/data/blob/692febe825f67aa5f82d52661e04530606f9a5bd/packages/activemodel-adapter/tests/integration/a

[2015-04-22 09:22] olivierlesnicki opened #3018 "acceptance tests fail because of rest adapter re-throwing ajaxError"
I've written acceptance tests to check my app behavior when the adapter returns with a Bad Request response. While my app is behaving correctly, the response causes my tests to fail:

[code]

The actual test I've written actually passes, but a new failing test appears:

![error](https://cloud.githubusercontent.com/assets/1705944/7271182/a448220c-e8d9-11e4-909c-275d3ef4cd39.png)

[2015-04-22 13:08] r4m commented on #2839
@bmac yes I see. But I pose another question: suppose that the sideloaded data cannot always be present. For example: you a permission system that sideload data depending on the "readable" property of the data. Ember data will throw an exception just because it founds a foreign key but it does not found a sideloaded object. How can I silently handle this dynamic behaviour? Probably a solution is t

[2015-04-22 14:09] marcemira commented on #2950
Any news about this issue?

[2015-04-22 16:40] artych opened #3019 "ActiveModelSerializer: wrong polymorphic type processing for namespaced model name"
With `docs/invoice` model in Ember that corresponds to `Docs::Invoice` rails model:
- ember sends to server unexpected `"Docs/invoice"` as polymorphic type, instead of `"Docs::Invoice"`
[code]
- from server payload ember doesn't accept `type: "Docs::Invoice"` as model name, but accepts `type: "docs/invoice"` .
[code]

Details.
Let `Docs::Invoice`, `Comment`, `Account` rails model names,
in Ember-c

[2015-04-22 16:41] artych commented on #3019
As I see from 'active-model-serializer' 'serializePolymorphicType' method is ok:
[code]
but in Ember
[code]
in rails
[code]

[2015-04-22 17:47] aquamme opened #3020 "Relationship data lost when a record is unloaded"
Assume that 'Car' hasMany 'Part', and 'Part' hasMany 'Car'. If a part is unloaded, then loaded again into the store, the information about its relationship to car is lost. I would expect a record's relationship data to survive as long as one of the records in the relationship still exists in the store (at least in the case where the relationship is declared on both models). [Here is a jsbin illust

[2015-04-22 18:20] trianglegrrl commented on #2968
:+1: This seems to be the cause of one of the long-standing bugs in one of our apps. We're on beta 15.

[2015-04-22 20:38] wecc commented on #2579
I'd say this is the intended behavior.

If you want to have full control over your URLs you should use absolute URLs for links, like `https://host/namespace/team/1/members`.

If you want the links to be relative you can provide links without a leading forward slash. By doing so you're telling Ember Data that the link is relative to the currently requested link. That's why `team/1/members` is appen

[2015-04-22 20:43] elidupuis commented on #2579
Makes sense. Looking at the JSON API spec I've noticed that most of the examples now show absolute URLs starting with `http://...`

Thanks for your response!

[2015-04-23 16:16] albertovasquez commented on #2735
To @wecc comment.   I believe the approach of overriding the GET methods only with

find: function(store, type, id, snapshot) {
     return this.ajax(this.buildURL(type.typeKey, id, snapshot), 'GET', { dataType: 'jsonp'});
}

then overriding ajaxOptions
ajaxOptions: function(url, type, options) {
      var dataType = options.dataType || "json";
      var hash = this._super(url, type, options);

[2015-04-24 05:46] aexmachina opened #3023 "Attempted to handle event `pushedData` on model while in state root.deleted.uncommitted"
If you have a request to the server in-flight and you delete the model then you get an exception `Attempted to handle event `pushedData` on model while in state root.deleted.uncommitted`. I suggest that `pushedData` should be supported in this state - simply add the new data and leave the model in the `root.deleted.uncommitted` state.

[2015-04-24 05:47] aexmachina commented on #3023
...as discussed with @igorT.

[2015-04-24 16:19] JKGisMe commented on #53
I'm also trying to do a `DS.attr('json')` type thing to send back to the Rails backend. My situation is very similar to that of @alvincrespo where the user needs to be able to specify the key and the value. In my case we need the user to be able to specify multiple key/value pairs if needed. I'm hesitant to try ModelFragments because I'm wary of adding more dependencies.

[2015-04-24 16:45] slindberg commented on #53
@JKGisMe I have the same need in my app for which model fragments works well. I understand your reluctance to add more dependencies, but model fragments was born out of your exact need. Ember Data may one day support nested id-less records like this, but that day is far in the future.

If you are interested, this is the rough pattern I'm using:

`app/models/thing.js`

[code]

`app/models/config-fi

[2015-04-24 17:53] chancancode opened #3025 "Lazily resolve promise proxies"
@tomdale asked to open an issue against this and flag it for discussion, I hope it hasn't missed the boat :S

Test case: http://emberjs.jsbin.com/kimaxofeti/4/edit?html,css,js,output

As you can see, Ember (Data) already has enough information to generate both the link as well as the comment count (they work, you can see them on the screen), but it would materialize the relationship anyway. (The f

[2015-04-24 18:03] stefanpenner commented on #3025
I agree with the fundamental problem, but not the solution.

`tap` of the promise, is not what initiates the materialization. Once the promise is provided to the proxy, it has already begun the realization. The `then` is not in anyways lazy, if you have a `then` already more then likely the underlying materialization has already begun, or is queued up to begin.

[2015-04-24 18:06] chancancode commented on #3025
Sorry, should have kept it more generic. Heading to the ✈️ now, feel free to edit the title etc if it helps!

—
Sent from Mailbox

On Fri, Apr 24, 2015 at 2:03 PM, Stefan Penner <notifications@github.com>
wrote:

[2015-04-26 00:52] igorT commented on #3025
I believe this would be solved by making the hasMany `objectAt` actually fetch the record, this would allow you to get the length/relationship without fetching the records themselves. We had a spike of this at some point, should probably revive

[2015-04-26 00:52] igorT commented on #53
:+1: for model fragments

[2015-04-26 00:58] igorT commented on #2839
That seems like a very strange api, where it gives you a foreign key but doesn't let you access the object itself? Have you actually seen this case in a reallapp?

[2015-04-26 01:19] #2579 closed

[2015-04-26 01:34] igorT commented on #3019
This sounds reasonable to me. Is AMS always serializing the namespaces this way? Do you want to submit a patch/test that fixes this?

[2015-04-26 10:32] artych commented on #3019
I'll try

[2015-04-26 22:02] artych commented on #3019
@igorT Done as a first attempt.

[2015-04-27 05:37] drewcovi opened #3027 "flushCanonical broken, resurrecting oneToMany relationship changes"
When removing items from a manyToOne relationship and persisting the child record ember data resurrects all old relationship in the parent once a new child is added to the relationship.

The hack right now is to **save the parent record along with the child record**

[2015-04-27 14:43] Gowiem commented on #2850
+1 Just updated from beta-12 to beta-16.1 in an effort to get my Rails asset pipeline code on the same version of some new EmberCLI code and ran into this.

[2015-04-27 15:40] MattMSumner opened #3028 "Polymorphic hasMany links"
I'm struggling to get a polymorphic `hasMany` relationship to work using links. I've made a [JSBin] showing the problem. I'm using a comment mixin for my polymorphic models, video and text, which `belongTo` a post. However, I never get a video or text model, I only get `(subclass of DS.Model)`. How do I get ember data to push the correct model type into the store for this relationship?

[JSBin]: h

[2015-04-27 16:51] r4m commented on #2839
@igorT the use case is the following:
consider to have two users, called A and B, and two entities, E1 and E2, where E2 belongs to E1. Consider that there are two users roles: "R1", where a user can read all the data (both E1 and E2), "R2", where a user can only read E1.
- user A has role R1, user B has role R2.
- user A create an instance of E1, linked to an instance of E2, hence a foreign key fo

[2015-04-27 16:55] runspired commented on #2839
Just some input as this is all hashed out, I async my side-loaded relationships and then queue them up to be loaded later.  I've found that scheduling the processing of side-loaded data is often preferable.

[2015-04-27 19:22] artych commented on #3028
Look at http://emberjs.jsbin.com/yiroritilu/1/edit. This is simplifyed version but you can see that links work well.

[2015-04-27 19:31] MattMSumner commented on #3028
So the links are working fine but ember data isn't creating the correct models. If you open your jsbin http://emberjs.jsbin.com/lecoqa and checkout the ember inspector, on the data tab you can see 1 post but 0 videos or text.

[2015-04-27 19:37] artych commented on #3028
Try to add `type: DS.attr()` to CommentMixin

[2015-04-27 19:57] BryanHunt opened #3029 "One-way belongsTo is broken"
If you have a model with a one-way belongsTo, the first time you access the relationship, it works fine.  The second time you access the relationship, you get null.  Here is an example user model:

[code]

In the controller, if you call twice:

[code]
the first call succeeds, the second call fails because manager is null.

I debugged this a bit and noticed that the on the first call, inside `Belon

[2015-04-27 20:21] artych commented on #3028
Found that it works with modified server payload: http://jsbin.com/gaharupowe/2.

[2015-04-27 20:50] lindyhopchris commented on #3005
I'm seeing something similar - was wondering if it's the same issue?

I have a model on which there's a "status" property that's a string. Only the server can calculate what the status is. To request an update to the status from the client, I set the status string on the model to "refresh" then save to the server.

I can see in the response from the server that the response contains the newly upda

[2015-04-28 00:53] MattMSumner commented on #3028
While that does load the models into the store, the hasMany array does not have the records loaded correctly. In your JSBin I would expect changing `{{comment.type}}` to `{{comment.url}}` to have nothing for one of the models and a url for the other, but in fact it is blank for both.

[2015-04-28 00:58] MattMSumner commented on #3028
So if I patch store with the following I get the desired behavior:

[code]

Here is the update JSBin http://emberjs.jsbin.com/tawoxa/6/edit

This obviously isn't right but if someone knows where this should be handled I could try writing some tests?

[2015-04-28 07:18] igorT commented on #3029
Do you  have a warning in your console that is saying that you need to declare inverses because you have a self referential relationship?

[2015-04-28 09:10] nfc036 commented on #2795
+1. Bug still exists in ember-data#1.0.0-beta.16.1 !?

[2015-04-28 13:17] BryanHunt commented on #3029
No, there are no console warnings.  And a related question:  How would you declare an inverse on a one-way relationship?

[2015-04-28 14:41] bmac commented on #2994
Here is a work around I have used while waiting for the above pr to get merged.

[code]

[2015-04-28 19:10] Panman8201 commented on #2905
Where is this at? I'm working on my backend API and wondering if I should follow the JSON-API spec or just follow the RESTAdapter for now. Thanks!

[2015-04-28 20:21] technomage commented on #2985
// models/a.js
export default DS.Model.extend({
  x: DSL.hasMany('b'...

[2015-04-29 04:07] igorT commented on #3029
There should a warning in the console. Which version are you on?
`{ inverse: null }` would be a way to do it

[2015-04-30 00:59] BryanHunt commented on #3029
I'm using beta 16.1

`{ inverse: null}` works

[2015-04-30 20:25] mxrguspxrt commented on #2583
@amedrz if you have embedded submodels one to hasMany assocation, how to you solve this with form objects? The answer is, you can't.

[2015-04-30 22:19] amedrz commented on #2583
@mxrguspxrt yeah I agree

[2015-05-01 16:28] raytiley commented on #2950
Running into this as well. Will try to push a failing test case later today. Looking at the code it doesn't seem like Model.unloadRecord() does any cleanup on relationships, and the store's unloadAll just calls the models unloadRecord and then calls destroy on the record.

@igorT if you give me a rough idea on what to do for a fix I'm willing to have a crack at it. This is a blocking bug in our ap

[2015-05-01 18:07] ohcibi commented on #2558
I just ran into the same problem. I'd say the main problem here is that the store pushes a record with an ID that doesn't exist on the server. The store should blindly accept whatever the server responded as the records ID.

Plus I think the second parameter for `find` should not necessarily be considered as the ID but any value, which the backend can use to find the record. The store should not d

[2015-05-01 21:37] jdurand commented on #296
I'm experiencing this issue with 1.0.0-beta.16.1

[2015-05-01 23:09] superlou commented on #1540
I think I'm hitting this issue when I'm trying to set a DS.attr('date').  Would be interested in a baked in solution.

[2015-05-02 14:54] givanse commented on #2950
Looks like the same problem described here: https://github.com/emberjs/data/issues/2982

I tried to set up a test case, but I couldn't do it without a running app. In that issue you'll see that I prepared a branch where I am reproducing the problem with a minimal set of data and also my current workaround.

[2015-05-02 18:57] igorT commented on #2950
I bet this has something to do with Ember CP change that now houses CPs in the props directly

[2015-05-02 18:59] igorT commented on #2558
That fails if your api does sideloading and doesn't tell you what the primary record is. Would findQueryOne work for your usecase?

[2015-05-02 19:00] igorT commented on #296
Could you submit a failing jsbin or a test case? You can find starting jsbins in https://github.com/emberjs/data/blob/master/CONTRIBUTING.md

[2015-05-02 19:28] raytiley commented on #2950
Just had a screen sharing session with @igorT to show him this problem in my app. In my case the error happens because ember data is eagerly `flushCanonical` on all types of relationships, including base relationships (where only one side has the relationship). According to Igor this might be fixed in the references (https://github.com/emberjs/data/tree/references) branch. I'm going to pull that d

[2015-05-03 09:52] ohcibi commented on #2558
`findQueryOne` is a shortcut for `find("model", {query: "param"}).then(function(model) { return model.get("firstObject") }`, so actually it works already but its a hack and not a solution.

The fact that the store pushes a record with an ID that is not an ID at all is a bug. If the backends response contained `model: { id: "1", ...}, ...`, the store should simply not push a record with a different

[2015-05-03 14:36] oriSomething commented on #1540
is there is a new about that? `isDirty` is a real pain with `array`s

[2015-05-03 15:34] #3019 closed

[2015-05-03 18:47] jdurand commented on #296
Here's the JS Bin :
http://emberjs.jsbin.com/qecubaqiva/6/edit?js,output

If click on **Inspect Authors** after trying to access *Arthur C. Clarke* you'll see that the record is in the store even though it returned a 404.

[2015-05-04 07:43] piotrpalek opened #3039 "cannot refresh route after unloading record"
Hey, if I try to unload a record and then refresh a route I get an exception, it's shown in this jsbin:
http://emberjs.jsbin.com/mazopeburo/2/edit?html,css,js,output

[2015-05-04 07:47] sly7-7 commented on #3011
closing since https://github.com/emberjs/data/pull/3037 is merged.
@igorT If we set `isLoading` to false as well, could it resolve #3013 ?

[2015-05-04 07:47] #3011 closed

[2015-05-04 09:56] zion03 opened #3041 "model hook does not push data to store"
DEBUG: Ember : 1.10.1
DEBUG: Ember Data : 1.0.0-beta.16.1

The code below works fine:

    export default Ember.Route.extend({
        model: function(param){
           return this.store.find('user', 100);
         }
     });
But when I changed `return this.store.find('user', 100);` -> `return this.store.find('user', {'id': 100});` REST request was made, but record was not pushed to data store.

[2015-05-04 10:27] wecc commented on #3041
Would you be able to provide a JSBin that demonstrates the issue?

Note that `this.store.find('user', { 'id': 100 });` triggers `findQuery()` that expects an array to be returned in contrast to `this.store.find('user', 100)` that expects a single resource object.

I suspect doing something like this will solve your problem:

[code]

[2015-05-04 11:50] igorT commented on #2558
Well, `findQueryOne` isn't really a hack, because if you do a `store.find('post', 1)` and there is no record coming back with id:1 that promise should be rejected right?
The eager store pushing is an implementation detail, should be less obvious once the `references` branch is merged

[2015-05-04 12:03] igorT commented on #3028
The reason this didn't work is because you were returning data as comments while they were not comments, but `video` and `text`. If you reassign them in your serializer to the correct keys it should work. I think this form should also work pretty soon, I think with my work on references and @wecc on the serializers. Do you want to make a test that fails with this form, and we can look into merging

[2015-05-04 12:03] #3028 closed

[2015-05-04 12:08] igorT commented on #3011
@sly7-7 yup

[2015-05-04 12:49] pangratz commented on #3013
Is this the test case we are talking about?

[code]

[2015-05-04 13:07] ohcibi commented on #2558
Either this or it should just return an empty list - the method name is `find` and not `findOrCreate`, so actually the ID doesn't matter.. `find` should not push records. Currently the store is even pushing a record that has the exact same properties but a different ID. The situation is like this:

* `this.store.find("model", "ident");`
* Backend responds:

[code]

* store pushes an object with pr

[2015-05-04 13:11] igorT commented on #2558
`findQueryOne` is not a hack for this particular use case.
I agree with you that creating a record upfront is a bug, and it should soon be harder to observe.
How did you observe this record in your user code btw?

[2015-05-04 14:13] ohcibi commented on #2558
I'm not exactly sure what you mean. I have no observers for the record, but only computed properties

agreed, lets focus on the store creating a ghost record

[2015-05-04 14:21] sly7-7 commented on #3013
@pangratz LGTM, did you plan to fix this ?

[2015-05-04 14:33] pangratz commented on #3013
@sly7-7 yup, I give it a try.

[2015-05-04 15:34] drewcovi opened #3042 "Various Methods Still Calling serializerFor with type.typeKey"
for updateRecord and createRecord, the serializer is called with type.typeKey rather than just type.  It would seem that in these cases, we already have the factory, so we shouldn't need to do the lookup.

This also causes a few issues with edge cases and nesting models in folders.

[2015-05-04 15:49] MattMSumner commented on #3028
Thanks @igorT and great work!

[2015-05-04 15:56] pangratz commented on #3013
Okay, so after digging into the source I think the problem lies in the rejection handler of the [`system/store/finders#_find` method](http://git.io/vJrbA): to invoke `record.notFound()` and `store.unloadRecord(record)`, the rejected record is retrieved via [var record = store.getById(typeClass, id)](http://git.io/vJrNc). This method checks for a loaded record via [`hasRecordForId`](http://git.io/v

[2015-05-04 16:14] pangratz commented on #296
I think this is related to https://github.com/emberjs/data/issues/3013#issuecomment-98764683

[2015-05-04 16:17] jdurand commented on #296
@pangratz Yep, seems spot on. Thanks for linking!

[2015-05-04 16:44] pangratz commented on #3013
I think a better solution for fixing the `_find` method is to reuse the [`record` parameter](https://github.com/emberjs/data/blob/100ede1721561b6c83b2a3eda9e60a7589ee4e08/packages/ember-data/lib/system/store/finders.js#L15). I'll create a PR for this ...

[2015-05-04 17:16] cody-lettau commented on #3027
@drewcovi thanks for pointing me to this new bug! I'll continue to watch for a fix. Also, appreciate you pointing out the workaround (albeit, not ideal)!

[2015-05-04 17:26] fivetanley commented on #3042
We're making all store methods with a public (or public-ish) API take strings. Right now it's sort of confusing that you can pass a factory or a string to any of these methods. Serializer and Adapter methods will still receive the factory when called by the store, but to do any sort of object lookup you will need to use a string.

https://github.com/emberjs/data/pull/3038

[2015-05-04 17:26] #3042 closed

[2015-05-05 03:03] pangratz commented on #2600
I think this issue has been addressed in #3030, #3036 and #3040 ...

[2015-05-05 05:23] igorT commented on #3013
I think findMany is gonna be handled by https://github.com/emberjs/data/pull/2891

[2015-05-05 05:23] #3013 closed

[2015-05-05 06:19] pangratz commented on #3013
:+1:

[2015-05-05 07:06] sly7-7 commented on #2600
@pangratz Thanks a lot, I'm closing it. @piotrpalek @tonycoco It would be great if you could confirm this issue is gone.

[2015-05-05 07:06] #2600 closed

[2015-05-05 07:59] pangratz commented on #3012
Should `hasRecordForId` be `true` when a record exists for the given id (regardless if it is loaded or not) and `recordIsLoaded` return `true` if `hasRecordForId() && record.get('isLoaded')`? This would contradict https://github.com/emberjs/data/pull/2659#issuecomment-72246238 but I think this would be consistent in regards of naming ...

[2015-05-05 08:51] g13013 commented on #3013
@igorT sorry, I totally forgot to write a test for it 😱, I was very busy ...

[2015-05-05 10:23] zion03 commented on #3041
I recieve json object from REST server but `data` from `.then(function(data) {});` is not contain objects.

[2015-05-05 11:15] jwhitmarsh commented on #973
:+1: for logging a warning. Came across this in Component as well where 'trigger' and 'container' are reserved but both are used in Bootstraps popovers.

[2015-05-05 13:08] matixmatix commented on #2950
@igorT @raytiley have you perhaps figured something out? I have quite a few relationships between my models and `unloadAll` for some models causes the mentioned issue.

[2015-05-05 13:40] raytiley commented on #2950
@matixmatix I just pulled an built the references branch I linked to above. This resolves the issue in my use case.

[2015-05-05 18:31] arenoir opened #3044 "Having to use content property of async relationships to get expected behavior."
I am having issues moving my application to using all async relationships.

example

[code]

The `if` statement behaves inconsistently.  If the address is an unresolved promise it evaluates false.  The work around is to change `address` to `address.content`.  I am hesitant to change all associations references to to the `content` property, unless this is the intended way to access relationships.

[2015-05-05 18:40] fivetanley commented on #3044
Yeah, @cowboyd and I are going to tackle this as part of https://github.com/emberjs/data/issues/3025. Although the if statement I believe depends on some of glimmer becoming promise-aware.

Maybe @wycats and @rwjblue can weigh in on work left to do on this in glimmer?

[2015-05-05 18:51] jherdman commented on #3044
My understanding is that you're supposed to do this:

[code]

[2015-05-05 18:56] arenoir commented on #3044
@fivetanley @jherdman It is not only in the context of templates for example assigning a new address on create I am having to add the `content` property.

[code]

[2015-05-05 20:03] jamesarosen opened #3045 "changedAttributes doesn't return changed relationships"
Currently, `changedAttributes` relies on comparing `_data` and `_attributes`. `_attributes` doesn't include any information about (belongs-to) relationships, so changing one won't show up in `changedAttributes`.

It's totally reasonable that `changedAttributes` should *not* return relationship information because of its name. In that case, there should be a separate `changedRelationships` to match

[2015-05-05 20:39] jamesarosen commented on #3045
Related to #1367

[2015-05-05 20:44] arenoir commented on #3045
IMO changing a belongs to association should show up in changedAttributes because the foreign_key would have changed.

[2015-05-05 22:36] igorT commented on #3045
It's specifically called changed attributes, there will be a specific one for relationship pretty soon, but it is very not trivial. Maybe we can get away with partial solutions for a while.

[2015-05-05 22:36] #3045 closed

[2015-05-05 22:52] arenoir commented on #3045
@igorT given the following example.

[code]

Doesn't it make sense that calling the `changeAddress` action would update the addressId attribute thus marking the model dirty?

Currently the save action would not fire because changing the address doesn't mark the model dirty even though the foreign key changed.

Am I missing something?  Is belongs to not relational with a foreign key attribute?

[2015-05-06 10:30] lodr commented on #53
Hi people. I'm following this approach. In my case I want to store a _info_ object for a _channel_ entity I'm working on:

[code]

What is bad about this approach?

Thank you.

[2015-05-06 17:52] jamesarosen opened #3047 "Difficult to use PUT for creating records"
It's common to use POST for creates because the *server* generates the IDs and thus the URLs. But if the client knows the full URL, a PUT is more standard.

For example, `POST /pages` might create a resource whose location is `/pages/39391`.

But for things like a *has-one* relationship, `PUT /user/2395/credit_card` is perfectly sensible.

[RestAdapter#createRecord](https://github.com/emberjs/data

[2015-05-06 18:27] pangratz commented on #3047
I'm :+1: for a better way to override. I think you should add a comment in emberjs/rfcs#4 to add the possibility of specifying the method as well...

[2015-05-06 19:39] knownasilya commented on #3047
Cross-posting from that rfc:

[2015-05-06 20:38] IanVS commented on #2905
+1, What is the status of JSON-API in Ember Data?  According to jsonapi.org:

[2015-05-06 20:52] seawatts commented on #2905
May 21st 2015 is the release for json-api 1.0
https://twitter.com/dgeb/status/588179514817130497

[2015-05-06 21:02] IanVS commented on #2905
@seawatts That's great, but it's only about two weeks from now.  Will Ember Data be ready to use with a json-api compliant API at that time?  What's left to be done?  This meta-issue doesn't seem to have been updated in quite some time.  Does that mean no progress has been made, or the progress has just been silent?

[2015-05-06 21:09] bmac commented on #2905
There is work in progress on making Ember Data json-api compliant in this branch: https://github.com/emberjs/data/pull/2904

[2015-05-06 21:10] bmac commented on #3041
@zion03 what does the JSON response from your server look like?

[2015-05-06 21:18] bmac commented on #3018
@olivierlesnicki What does your application do when the request fails. Do you have any code that handles the rejected promise from the `model.save()` call? Is this a result of a `model.save()` call?

[2015-05-06 21:20] bmac commented on #3020
@igorT will your work on the https://github.com/emberjs/data/tree/references have any impact on this issue?

[2015-05-06 21:23] bmac commented on #3017
@jbourassa thanks for the workaround and test case. Would you like to open a pull request to fix this issue?

[2015-05-06 21:26] jbourassa commented on #3017
Absolutely :) Will do in the next few days.

[2015-05-06 21:29] btecu opened #3048 "Pagination"
@wycats mentioned pagination is too common and special and it will be included in Ember Data when it's released in June.

Any news about it? What the `api` looks like?

[2015-05-06 21:30] bmac commented on #2994
@technomage try version `0.3.2` of https://github.com/rwjblue/ember-qunit. It should now automatically register the store as a service when ED is on the page.

Please note that you should **NOT** include `needs: ['service:store']` because that will override the Ember Data store by attempting to load a module from `app/service/store.js` (or `app/store/service.js` if you are using pods).

[2015-05-06 21:30] #2994 closed

[2015-05-06 21:45] henrymazza opened #3049 "`filter` isn’t making async requests"
That is, the behavior described [here](http://guides.emberjs.com/v1.10.0/models/frequently-asked-questions/) isn’t happening. Instead these two lines of code are equivalent:

[code]
As a workaround the model hook may fire a find and return a filter.

[code]

[2015-05-06 21:56] bmac commented on #3049
This seems like the documentation in the guides is incorrect here. I believe `store.filter` is working correctly here. @igorT can you confirm?

[2015-05-06 22:58] mgenev commented on #2520
this is still happening with ember-data#1.0.0-beta.16.1 and the steps above don't work

[2015-05-07 01:34] runspired opened #3050 "[Proposal] Resolving an adapter-less model should cache the 'application adapter' resolution."
I'm not sure if this belongs here, in ember-cli, or in ember-resolver.  Currently I have the problem where I load 3 conversations with 20 messages each.  These 63 records all use the default `application` adapter.  Since no explicit adapter is ever found, each one triggers the resolver to seek the adapter at each possible path each time, leading to 3 lookups per record and a minimum of 189 lookups

[2015-05-07 01:44] fivetanley commented on #3050
This seems fine to me. Seems like we should have an escape hatch if we want to eventually support dynamic code loading.

[2015-05-07 05:35] sunil-shrestha opened #3051 "DEPRECATION: `lookupFactory` was called on a Registry. The `initializer` API no longer receives a container, and you should use an `instanceInitializer` to look up objects from the container."
Originally posted at https://github.com/emberjs/ember.js/issues/11009

Just updated my Ember.js app to latest and tried to get Ember FastBoot running. Somehow it managed to run server with "ember s" giving some warning on browser.

However, running "ember fastboot" produces following warnings on console and does not seem to go anywhere from here.

    Built project successfully. Stored in "dist".

[2015-05-07 05:42] sandstrom commented on #3051
This issue should already be solved on Ember Data master (emberjs/data#2806).

A few points that may be helpful:
- deprecations aren't dangerous, they are merely informational
- you may want to try with canary data (as this is likely already solved), see: http://www.ember-cli.com/#using-canary-build-instead-of-release

[2015-05-07 06:56] sly7-7 commented on #3051
@sandstrom I think this line https://github.com/emberjs/data/blob/master/packages/ember-data/lib/initializers/store.js#L21 is throwing the deprecation, unless I'm missing something this still appears on canary. I'm not sure but I think the store initializer should be split into initializer/instanceInitializer.

cc/ @fivetanley @bmac

[2015-05-07 06:59] wecc commented on #3051
1.0.0-beta.17+canary.8c81d416c2 seem to be newer than https://github.com/emberjs/data/pull/2884

[2015-05-07 08:27] zion03 commented on #3041
Format look like this:

user: {
filed1: "value",
filed2: "value",
}

Strange, because I call the same API but in different ways

[2015-05-07 08:29] wecc commented on #3041
When you're using `this.store.find('user', { 'id': 100 });` it expects the result to be an array.

[code]

[2015-05-07 08:39] zion03 commented on #3041
thanks, it's works with array

[2015-05-07 08:39] #3041 closed

[2015-05-07 15:05] jslippy opened #3052 "Pushing many records with belongsTo relationships into the store is extremely slow."
I recently upgraded from beta 12 to beta 16.1.  After the upgrade, pushing multiple records with belongsTo relationships into the store is very slow.  What used to take about 350ms for ~450 records now takes about 4 seconds in my application.  With thousands of records it takes several minutes just to push the records into the store.

Most of the delay seems to be generated by the `ManyArray.flush

[2015-05-07 15:10] igorT commented on #3052
Are you pushing records manually or doing that within an adapter?

[2015-05-07 15:17] jslippy commented on #3052
I'm pushing them manually.

[2015-05-07 15:20] igorT commented on #3052
Are you pushing just a single type or multiple types?

On Thu, May 7, 2015 at 5:17 PM, jslippy <notifications@github.com> wrote:

[2015-05-07 15:24] igorT commented on #3052
Can you try this branch https://github.com/emberjs/data/tree/pushMany_optimization
And use pushMany instead of iterating over push

[2015-05-07 15:30] jslippy commented on #3052
I'm pushing multiple types.  I have two models each with a `belongsTo` relationship to a third model which has two attributes with `hasMany` relationships to the other models.

With the current version, pushMany had the same performance as iterating over push but I'll try the branch with the optimization you provided.  Thanks!

[2015-05-07 15:34] igorT commented on #3052
Just updated the branch. If you have multiple types, could you try pushPayload? Also there is upcoming perf work on the references branch that is going to make this much faster as well. The current issue is that we need to deal with all the foreign keys, so we need to coalesce all the pushes together in a runloop. You could also try wrapping all the pushes in a `store._adapterRun` call

[2015-05-07 16:22] technomage commented on #2994
Thanks.  I will update ASAP.

[2015-05-07 18:27] jsangilve commented on #1931
@dgaus @igorT @wecc  I'm also having the same problem with 1.0.0-beta.16.1. I think [#2467](https://github.com/emberjs/data/pull/2467) was merged into 1.0.0-beta.15, but after a 404 (rejected promise), the non-existent record stays in the model.

[2015-05-07 18:42] amiel commented on #3047
https://github.com/emberjs/data/pull/2898 added a `requestType` to `buildURL`. I'm thinking maybe you could add a `buildVerb` or whatever like this:

[code]

and the default implementation of `buildVerb` would use a simple object map:

[code]

[2015-05-07 18:48] jamesarosen commented on #3047
I might recommend adding the type and snapshot to `buildVerb`. Most notably, I think my `ApplicationAdapter`'s implementation might look like
[code]

[2015-05-07 18:50] knownasilya commented on #3047
@amiel I like that idea, and yes @jamesarosen adding those parameters would be very helpful.

[2015-05-07 18:57] amiel commented on #3047
@jamesarosen good idea

[2015-05-07 19:27] igorT commented on #3047
Maybe the correct thing to do would be to refactor so the adapter methods return the options hash and a different method actually sends the request. This would make it much easier to override, right?

[2015-05-07 19:33] igorT commented on #1931
Does `references` branch solve this for you?
When you say `the non-existent record stays in the model.` what do you mean by that?

[2015-05-07 19:37] igorT commented on #3050
@stefanpenner might be interested in this, but I think a cache for adapterFor/serializerFor makes sense. Wanna try implementing?

[2015-05-07 19:38] igorT commented on #3048
cc @wecc

[2015-05-07 19:38] jslippy commented on #3052
The pushMany_optimization branch seemed to do the trick.  The delays are much more reasonable now.  Pushing ~5000 records only took a little over 1 second in my application.  Thank you.

[2015-05-07 19:39] igorT commented on #3052
How about the `store._adapterRun`?

[2015-05-07 19:39] #3052 closed

[2015-05-07 19:40] igorT commented on #3052
Also, fyi I think 1 second is too slow, the `references` branch might be able to make this much faster. I'll ping you for a test run pretty soon

[2015-05-07 19:43] jslippy commented on #3052
That would be great.  I agree 1 second is less than ideal but it is much better than the multiple minutes I was seeing before.

[2015-05-07 19:43] wecc commented on #3048
We're refactoring the serializers to make it easier to handle metadata and pagination with that. The API for how to handle pagination is still unknown though. I'll make sure we update #2905 when it comes to the implementation of pagination.

Even though the issue linked is very JSON-API centric we're using JSON-API as guidance but even if you're not using JSON-API I suspect it to be fairly trivial

[2015-05-07 20:07] jslippy commented on #3052
`store._adapterRun` worked too--maybe a little slower.  For the same use case it was about 1.3 seconds but I didn't test it extensively.

[2015-05-07 21:35] jsangilve commented on #1931
I mean, as detailed by the OP, if a route model's promise returns 404 (after requesting a nonexistent id), a nonexistent record is added to the store:

![screenshot_ember](https://cloud.githubusercontent.com/assets/3075974/7526328/9d2df328-f4de-11e4-8c0a-a4167aaf8890.png)

Then, If I go to a route that requests store.all, the nonexistent record is still there.

![screenshot_ember_2](https://cloud.

[2015-05-08 09:34] jsangilve commented on #1931
@igorT `references` branch solves the problem. The record is unloaded once the promise is rejected. I also tried with 1.0.0-beta-1.5 and it also unloads the record, so I think the problem is a regression on 1.0.0-beta.1.6.x.

Should I open an issue?

[2015-05-08 13:23] jslippy commented on #3052
Do you know when we can expect to see the next release incorporating these fixes?

[2015-05-08 17:48] igorT commented on #3051
ping @twokul

[2015-05-08 17:50] igorT commented on #3044
Could you submit a failing jsbin? I am happy to investigate.

[2015-05-08 22:15] igorT commented on #2968
I screwed up and thought this was the same bug as a more complex relationship bug I got stuck tackling. Apologies for that, I should've realized that this code was wrong.

This was a premature optimization because we didn't want to copy over canonical array to the current array every time, but rather access it lazily. However that proved hard, so for the initial implementation I ended up copying.

[2015-05-08 22:16] igorT commented on #2968
@trianglegrrl @lukegalea told me you had no bugs, feel free to ping me if things come up

[2015-05-08 22:23] #2968 closed

[2015-05-08 22:27] ghedamat commented on #2968
@igorT thanks!

[2015-05-08 22:34] igorT commented on #53
Well, I have no idea what happens when you put a DS.attr inside something that is not a `DS.Model` it definitely isn't a supported use case. You could have Info be a normal object, but you don't get dirtyness/rollback and some of the normalization/serialization niceties, but it definitely works for simpler use cases

[2015-05-08 23:08] arenoir commented on #3044
@igorT  http://emberjs.jsbin.com/sijodaxofu/2

[2015-05-09 14:09] trianglegrrl commented on #2968
@igorT  thanks for looking at it!

Luke probably just forgot about this bug. :) I'll test it this weekend.

[2015-05-09 15:27] WooDzu commented on #2850
@abulrim your workaround did the trick for me. Thanks!

[2015-05-10 03:56] sarus opened #3057 "store.find with query params appears to break data binding when calling createRecord"
I posted a question over on Stackoverflow but I was able to replicate this in a simple jsbin and I'm now thinking this might be a bug so wanted to flag it here (sorry for the double post if this is not a bug and is user error)

When the routes model uses `store.find('modelName')` and you call `createRecord` in the controller the model is updated with the new record and the template updates as expe

[2015-05-10 08:54] wecc commented on #3057
Using `store.find(type, query)` does not return a live RecordArray so the behavior you're describing is correct.

You should be able to use `store.filter(type, query, filter)` ([docs](http://emberjs.com/api/data/classes/DS.Store.html#method_filter)) instead.

The reason for `store.find(type, query)` not updating with the newly created record is that `query` is just sent to the server, there's no w

[2015-05-10 12:36] sarus commented on #3057
Thank you for the explanation.  That makes sense.

[2015-05-10 12:36] #3057 closed

[2015-05-11 03:08] mgenev opened #3061 "no documented way to get the array of data for a hasMany relationship"
I have a status model. I `find('status')`. I get an array of statuses as my model, I do a `#each` loop in hbs and I pass each status model to the `status-card` component, then I want to pass the `status.likes` which is a hasMany relationship to the user and amounts to an array of users. I can do `#each` in the hbs for the likes component and iterate that way, but the problem is I need to do a comp

[2015-05-11 03:10] mgenev commented on #2665
So how am I supposed to get the data out of the relationship now? I need to do a computed property on it and instead of an array of data I get a DS.manyArray which is really awkward and undocumented so i I filed a bug.
https://github.com/emberjs/data/issues/3061

[2015-05-11 03:12] igorT commented on #2665
ManyArray is the array. If you want a JS array you can simply `.toArray()`. @BryanCrotaz that sounds like a good idea, sorry I missed your message before

[2015-05-11 03:13] igorT commented on #3061
Hi, the manyArray is the array. What are you tyrying to do with the CP that you are finding it hard to do?

[2015-05-11 03:14] IanVS commented on #2665
Should `toArray()` be included in the [API Docs](http://emberjs.com/api/data/classes/DS.ManyArray.html)?

[2015-05-11 03:14] mgenev commented on #3061
get the data, I guess toArray() on it works, I just found out

[2015-05-11 03:15] igorT commented on #3061
What do you mean by get the data? The manyArray is the data? You wouldn't need to call toArray in most cases

[2015-05-11 03:15] mgenev commented on #3061
it's not the data, it's not the array, it's an object which has .record._data.likes where the actual data is...

[2015-05-11 03:16] igorT commented on #3061
Uhm, no it's an Ember.MutableArray it is the array. What are you trying to do with it?

[2015-05-11 03:16] mgenev commented on #3061
this is what I had to do, but it wasn't obvious at all
[code]

[2015-05-11 03:17] igorT commented on #2665
Hm, It should be there as it extends MutableArray, seems like we have a doc bug

[2015-05-11 03:18] igorT commented on #3061
[code]
?

[2015-05-11 03:20] IanVS commented on #2665
I can submit an issue, what repo does it belong in?

[2015-05-11 03:21] igorT commented on #2665
I would guess https://github.com/emberjs/api

[2015-05-11 03:22] mgenev commented on #3061
This is the weird object I get:
http://i.imgur.com/fQ1ojgq.png

[2015-05-11 03:22] IanVS commented on #2665
According to the top of the page, it says:

EXTENDS: EMBER.OBJECT
USES: EMBER.MUTABLEARRAY

So, does it matter that manyArray only uses, not extends, mutibleArray?

[2015-05-11 03:23] mgenev commented on #3061
Needs to be documented how to work with this...

[2015-05-11 03:24] igorT commented on #3061
Yes and that object is an Ember array. http://emberjs.com/api/classes/Ember.MutableArray.html

[2015-05-11 03:25] igorT commented on #3061
Can you write a comment that would've helped you understand this better?

[2015-05-11 03:25] mgenev commented on #3061
Which isn't an array xD and the docs also don't tell you how to get the data out :facepalm:

[2015-05-11 03:25] igorT commented on #2665
`mutableArray` is a mixin so it can't extend it, can only use it.

[2015-05-11 03:27] mgenev commented on #3061
Here's the comment:

"When you populate a hasMany relationship, in your model you will get an array-like object, which to try like an array in your Javascript computed properties you need to use obj.toArray() on or use Ember methods which are documented here: http://emberjs.com/api/classes/Ember.Array.html"

Overall this just trips up developers, giving them an object instead of an array. What is

[2015-05-11 05:46] runspired opened #3062 "Boolean values not respected during store.push"
This behavior is in ember-data beta 14.1, I'm not sure if it's fixed in newer releases (currently can't upgrade, but I may try to whip up a JSBin later to test this on).

**Issue**
Pushing a record with a boolean property that is `false` into the store *often* results in that value being `true` on the newly created record.

**foo Model**
[code]

**Usage**
[code]

record.foo will now be `true`.

[2015-05-11 05:49] igorT commented on #3062
Can you submit a jsbin that demonstrates the issue please?

[2015-05-11 05:50] runspired commented on #3062
@igorT sure, I figured I needed to but I'm about to head to bed.  Will work on it tomorrow, I removed the call to `record.save()` and the value is `true` still so that rules out interference from the local storage adapter during the save.

[2015-05-11 06:23] goto-bus-stop commented on #3061
http://emberjs.com/api/classes/Ember.MutableArray.html#method_objectAt ?

`Ember.Array`s can be observed, for one, so templates can auto-update. Array-like classes can also be extended with different methods, eg. with the `.save()` method on a `ManyArray` to save all records.

[2015-05-11 17:23] jdurand commented on #296
Looks like https://github.com/emberjs/data/pull/3043 fixed this (for real) @pangratz :+1:

[2015-05-11 18:31] runspired commented on #3062
This issue seems to have great Heisenberg uncertainty, every time I think I'm close to nailing it down it stops.  Since it's fairly phantom I'm going to close this for now.

[2015-05-11 18:31] #3062 closed

[2015-05-12 02:19] #3023 closed

[2015-05-12 03:42] jackmatt2 opened #3063 "Updating from 1.0.0-beta.14 to anything =>1.0.0-beta.15 broke my belongsTo relationship"
`model.save()` produces the following JSON for a new record (POST request.)  For a PUT request I have no issues.

1.0.0-beta.14 JSON
[code]

1.0.0-beta.15 JSON
[code]

Notice that the difference is that the category ID is null for beta.15.  When I click on the object from ember inspector and click on the category promise I can see the category updating as you would expect as I change the category

[2015-05-12 07:01] yaroshevych opened #3064 "DS.RESTAdapter.buildURL receives query instead of id in 1.0.0-beta.17"
buildURL signature is documented as ```buildURL (typeKey, id, snapshot, requestType)```, but in beta 17 query object is passed instead of id. See findQuery() in rest-adapter.js.

Beta 16.1 works fine.

[2015-05-13 03:11] igorT commented on #3064
What is the behavior in beta.16 for the query case? Is the `id` null?

[2015-05-13 03:14] igorT commented on #3063
Hi, it's a bit hard for me to help, could you narrow down the issue at all? Also happy to pair/screenshare if you catch me online at IRC.

[2015-05-13 06:17] yaroshevych commented on #3064
It was ```undefined``` and my ```buildURL``` function returned something like ```/api/v1.0/users/552f635dd5fbc1fdf5f6295c/documents```, and REST call was ```http://localhost:3000/api/v1.0/users/552f635dd5fbc1fdf5f6295c/documents?currentPage=1&sorters%5B%5D=id%3Adesc```.

In beta.17 my function returns ```/api/v1.0/users/552f635dd5fbc1fdf5f6295c/documents/[object Object]```, and REST call is ```htt

[2015-05-13 14:56] jimmay5469 opened #3067 "ActiveModelSerializer errors hash expecting camelcased properties instead of underscored properties in beta.17"
When I upgrade to beta.17 my tests for server-side errors begin failing to show up, specifically errors for properties which are more than one word (`first_name` fails, `email` doesn't).  I tried changing the response in the test to `firstName` and they began showing up again.

[2015-05-13 15:06] jimmay5469 commented on #3067
Just found that there _is_ a [test](https://github.com/emberjs/data/blob/master/packages/activemodel-adapter/tests/integration/active-model-serializer-test.js#L332) for this in the suite  so I'm gonna make sure it isn't something on my end.  Has anyone else seen this issue?

[2015-05-13 15:21] jimmay5469 commented on #3067
Does anyone know how to get the test here https://github.com/emberjs/data/blob/master/packages/activemodel-adapter/tests/integration/active-model-serializer-test.js#L332 to run?  `npm test` does not seem to be running it for me...

[2015-05-13 16:25] pangratz commented on #3067
Looks like this is related to changes I made in #3036. Can you post the body of your `422` response?

[2015-05-13 17:00] pangratz commented on #3067
I think you're right, this seems buggy: http://emberjs.jsbin.com/jutoxuqagi/2/edit?html,js,output. Clicking on save in this JSBin should print the errors under the `firstName` key and not `first_name`. I will investigate ...

[2015-05-13 17:18] pangratz commented on #3067
So, the problem is that `reason.errors` is passed to the serializer [here](https://github.com/emberjs/data/blob/v1.0.0-beta.17/packages/ember-data/lib/system/store.js#L2046), where `reason.errors` is the errors object looks like `{ first_name: ["invalid firstName"] }`, but the `extractErrors` in the serializer only normalizes the keys of the `errors` property of the passed object [here](https://gi

[2015-05-13 17:22] jaydev commented on #2341
it appears that this issue was fixed with ember-data v1.0.0-beta.14

passing jsbin:
http://emberjs.jsbin.com/gicucuyaki/1/edit

[2015-05-13 18:00] jimmay5469 commented on #3067
I haven't dug in to the source enough to completely understand your conclustion, but the 422 response you used in your JSBin is almost identical to the response in my project's test.

What seems slightly more alarming to me at this point is that I don't think the test I mention above is running when executing `npm test`.  I have made modifications to the test so that it should absolutely fail but

[2015-05-13 18:14] pangratz commented on #3067
I'm running the tests by starting `ember server` and navigating to [http://localhost:4200](http://localhost:4200). The test is running, as changing the assertion will show a failed test.

The behavior for the passed payload to `InvalidError` changed from [v1.0.0-beta.16.1](https://github.com/emberjs/data/blob/v1.0.0-beta.16.1/packages/activemodel-adapter/lib/system/active-model-adapter.js#L140-L14

[2015-05-13 18:16] jimmay5469 commented on #3067
Ok, that is very re-assuring, I was just able to do the same.  Thanks!

[2015-05-13 18:22] pangratz commented on #3067
@jimmay5469 a quick patch before this is fixed upstream in ember-data would be:

[code]

[2015-05-13 18:28] jimmay5469 commented on #3067
Much appreciated @pangratz!

[2015-05-13 20:46] JKGisMe commented on #53
Thank you @slindberg I didn't see this earlier!. That looks very clean and probably would have worked great. The specs for our project changed a little and I ended up just making a whole new model & accompanying component in Rails & Ember which I then convert to customized JSON in the end from Rails.

[2015-05-13 22:32] jackmatt2 commented on #3063
@igorT it may be related to [this](https://github.com/emberjs/data/issues/2823) issue with Ember.Select.

[2015-05-13 22:40] jackmatt2 commented on #3063
@igorT bellow is how my select elements are defined (does anything about this look incorrect to you?)

[code]

[2015-05-14 15:40] SaladFork opened #3069 "Deprecation warnings with Ember 1.12.0"
I've updated to `ember-data@1.0.0-beta.17` but am still seeing deprecation warnings:

- `DEPRECATION: lookupFactory was called on a Registry. The initializer API no longer receives a container, and you should use an instanceInitializer to look up objects from the container.` from: [ember-data/lib/initializers/store.js:21](https://github.com/emberjs/data/blob/174fc94488d7e66ebb8b61e3bef142c0d051edc

[2015-05-14 16:39] bdvholmes commented on #3067
I'll be putting together a pull request to address this shortly.

[2015-05-14 17:52] pangratz commented on #3067
:+1:

[2015-05-14 19:53] ChrisHonniball commented on #2806
This deprecation warning is still present. [JSBin](http://jsbin.com/xeyaki/1/edit?html,js,output)

[2015-05-15 00:03] bmac commented on #3069
Looks like this is a duplicate of https://github.com/emberjs/data/issues/3051

[2015-05-15 00:03] #3069 closed

[2015-05-15 00:05] bmac commented on #3051
I've opened a [pr to try and fix this issue](https://github.com/emberjs/data/pull/3070) however, its currently blocked on this issue in Ember https://github.com/emberjs/ember.js/issues/11172.

[2015-05-15 01:36] tamarasaurus commented on #2850
+1

[2015-05-15 03:18] igorT commented on #3063
does changing                 selection='model.employee.content'
to                 selection='model.employee'
make a difference?

[2015-05-15 07:02] sly7-7 commented on #2341
@jaydev Thanks for the reminder, just tried the jsbin against canary, and it works.

[2015-05-15 07:02] #2341 closed

[2015-05-15 15:02] jaswilli commented on #3064
Here's the discussion on the PR where the change was introduced:  https://github.com/emberjs/data/pull/2966#discussion-diff-28162729

It's certainly problematic to pass around something that's not the id in the `id` argument for people that are overriding `buildURL`.

[2015-05-15 16:41] fivetanley commented on #3064
Yeah it sucks that it's overloaded.

[2015-05-15 16:58] ChrisHonniball commented on #1730
I'm seeing this error in beta.17 it's not my response as it happens before the request is sent.

[2015-05-15 16:59] ChrisHonniball opened #3071 "Uncaught TypeError: Cannot read property 'map' of undefined"
Receiving: `Uncaught TypeError: Cannot read property 'map' of undefined | embedded-records-mixin.js:485` on beta.17 with Ember 1.12.0.

This prevents the `model.save()` request from being sent to the server.

[2015-05-15 17:01] ChrisHonniball commented on #3071
Here is my serializer:

[code]

[2015-05-15 17:23] tomdale commented on #3010
Hey @andrewbranch,

Thank you for the well-written bug report. We discussed this at the core team meeting and our current thinking is that the correct places to fix this are:

1. In Safari, obviously
2. In the server library consuming the request

@wycats pointed out that Rails has had to fix similar issues when processing malformed Safari requests. Especially if the library crashes when parsing m

[2015-05-15 17:35] andrewbranch commented on #3010
@tomdale Thanks for looking into it! I suspected that would be the verdict, but wanted to pass along what I found. I've long since been just deleting the content-length header on incoming DELETE requests in my server code. Oh well.

[2015-05-15 17:35] #3010 closed

[2015-05-15 21:46] igorT commented on #3071
Which line causes it? Can you maybe reproduce your error in a JSBin? There is a sample one in the CONTRIBUTING.md

[2015-05-15 23:08] jakesjews commented on #3071
This JSBin should replicate the issue. http://jsbin.com/cehelabiqe/4/edit
It looks like the error happens when the response from saving a record with an embedded array doesn't include the array. It doesn't seem to throw the error when using beta-16 in the same situation.

[2015-05-15 23:13] jkatsnelson commented on #3071
I think I ran into the same situation, but the error came out like this for me:

https://www.dropbox.com/s/f1qbpy85o3mfw70/Screenshot%202015-05-15%2020.13.09.png?dl=0

[2015-05-15 23:13] jkatsnelson commented on #3071
reverting back to beta-16 works like a charm.

[2015-05-15 23:23] ChrisHonniball commented on #3071
I'll make a JSBin as soon as I get a chance but mine doesn't even get to the API when I get this error. I'm assuming it's happening for me at serialization.

[2015-05-15 23:27] ChrisHonniball commented on #3071
Reverting to beta-16.1 flags a lot of deprecation warnings for your `DS.attr` calls when using Ember 1.12.0.

[2015-05-16 00:10] jakesjews commented on #3071
I was wrong in my previous comment. it looks like its happening before it sends anything to the server on the save.

[2015-05-16 00:38] igorT commented on #3071
You really should normalize your embedded payloads and pass back a `[]` for an empty array, but I do agree we should probably guard here.
cc @wecc

[2015-05-16 01:24] jakesjews commented on #3071
I agree. We just had some cases where it was unnoticed and it was kinda hard to find the issue. Maybe an assert would be helpful?

[2015-05-16 04:31] igorT opened #3072 "Assert against passing classes to public methods on the store"

[2015-05-17 00:27] fivetanley commented on #3067
@pangratz @bdvholmes hate to bother y'all on the weekend but i'd love to release beta.18 with a fix on monday.

[2015-05-17 04:27] bdvholmes commented on #3067
I'm putting the fix together tomorrow, does that give you enough time?

Enviado desde mi iPhone

[2015-05-17 04:27] jmar910 commented on #2555
I'm experiencing (i'm pretty sure) the same issue in 1.0.0-beta.16. I am using `createRecord` to create an item, and then immediately calling `save` on it. In my template, I have an `{{each}}`` helper looping over a different model's `hasMany` items... which happen to be the same type of item I just created and saved. When the components render in the `{{each}}`` loop, they render twice... Once wh

[2015-05-17 21:57] maletor commented on #2806
I'm seeing the same issue as @ChrisHonniball.

[2015-05-18 01:33] bmac commented on #2806
I have opened pr https://github.com/emberjs/data/pull/3070 to address the new issues. Unfortunately, its currently blocked on a bug in Ember.

[2015-05-18 06:26] fivetanley commented on #2874
closed by https://github.com/emberjs/data/pull/3033

[2015-05-18 06:26] #2874 closed

[2015-05-18 06:38] #3067 closed

[2015-05-18 09:04] igorT commented on #1931
Hoping to get `references` merged soon, does your app fully work with it?

[2015-05-18 09:05] igorT commented on #1931
@jsangilve do you want to write a failing test? That would be super helpful

[2015-05-18 11:39] aars opened #3077 "Assertion failed: You must use Ember.set() to set the `propertyName` property (of [object Object]) to `value` when loading model _again_"
When ember-data fetches a model for a second time and tries to find changed keys it apparently touches the model without using `Ember.set()`, about which ember complains and breaks with the Assertion Failed message.

I've narrowed it down to this line in `mergeAndReturnChangedKeys`:
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/model/model.js#L64

Replacing that assign

[2015-05-18 12:14] igorT commented on #3077
This seems pretty bad that `_data` became an Ember object. Are you using `modelFragments` by any chance? Or doing anything else funky?

[2015-05-18 12:16] igorT commented on #3064
@fivetanley I don't think we should be overloading here, we should pass it as a separate param or something. Nows the time to clean it up, and in the meantime we don't break existing apps. I've seen multiple people complain about this, maybe we should release it as part of beta.18

[2015-05-18 12:23] aars commented on #3077
I am using `modelFragments` ! Let's see if disabling that has any effect.

[2015-05-18 12:38] aars commented on #3077
@igorT I have completely removed `ember-data.model-fragments` from my project and still have the same issue.

As far as I know I'm not doing anything funky. What kind of funk should I be looking for?

[2015-05-18 12:51] igorT commented on #3077
can you put a getter on store._data and breakpoint whenever it gets set, and see when it gets replaced by an ember object?

[2015-05-18 13:03] aars commented on #3077
@igorT a getter? Setter, right? As in, `this.__defineSetter__('_data', function (val) { debugger; this._data = val; })`

[2015-05-18 13:31] igorT commented on #3077
yeah except you need to save it off to something else other than `_data` that will make you have in infinite loop

[2015-05-18 13:35] aars commented on #3077
Infinite loops were made :)

I've found the culprit, but I'm not sure why. It was this:
[code]

I think I followed the docs/examples on the Sortable mixin. I'll go figure out what's wrong with it :) Thanks for helping!

Is there maybe a way to catch this behaviour in Ember-data and error on it before it becomes a problem?

[2015-05-18 13:36] igorT commented on #3077
what is data in the above controller?

[2015-05-18 13:40] aars commented on #3077
How would I check that? This controller get's multiple models set on it, and only when I reference the `sortedEntities` does it break.

This is the route that uses this controller:
[code]

(`something` normally has a better name, `entities`. I changed that to something else in my tests, checking to see if I wasn't overwriting/using the `entities` property that exists in my Contract model (being se

[2015-05-18 13:40] igorT commented on #3077
I meant in `data.driver` what does `data` refer to?

[2015-05-18 13:43] amk221 opened #3078 "No easy way to serialize ids"
My use case is our API requires the `id` in a JSON payload to be an integer not a string.

* Would like to be able to use `serializeAttribute`, but it doesn't get called with `id`
* Could use a combination of `serialize`, `serializeBelongsTo`, and `serializeHasMany` but still requires you to go through all relationships to alter the IDs.

[2015-05-18 13:44] aars commented on #3077
Oh sorry, that is my current (and horrible) method of sorting these. The `contractEntities` fetched here are actually custom joinTables to link many types of `entities` to a `contract`. These fields are the foreign keys for the actual entity model. So by checking if that field (the actual id, not the relation) is set (or, not falsy), I sort them in that order.

[2015-05-18 13:46] igorT commented on #3078
`serializerAttribute` isn't the correct place as an `id` isn't an attribute. Hm, not sure of a nice api that would work with both foreign and primaryKeys. Any ideas?

[2015-05-18 13:47] igorT commented on #3077
What is the type of the object under the key `data`? Is it an an ED model?  A Json object?

[2015-05-18 13:48] igorT commented on #3077
I suspect that you are passing a single model to an array proxy and that it ends up using ED's internal `data` property because its just proxying

[2015-05-18 13:56] aars commented on #3077
`entities` is not a single model, so `content: this.get('something')` isn't either. But it's pretty clear I'm doing something wrong with this ArrayProxy :)

I might just need to make a seperate controller for these `entities`, make that sortable, and `{render}` that controller into my `contract` controller/template.

Thanks for all the help so far!

[2015-05-18 13:58] amk221 commented on #3078
Looks like this used to exist:
https://github.com/emberjs/data/commit/1c55815c37e9946300708634c91c44414dd9a695#diff-49cdc5d5d7a7aa701bcb75661b0d4865L406

[2015-05-18 15:03] #3077 closed

[2015-05-18 16:32] omghax commented on #3063
I just spent way too long tracking down a similar issue, so I'll leave my solution here in case someone finds it helpful. I have an app with a bunch of forms, and acceptance tests that verify the payload sent to the (Pretender) server.

After upgrading to ember-cli 0.2.3, I started seeing failures where any values bound to an Ember.Select weren't being updated. After some debugging, I noticed that

[2015-05-18 17:46] #1497 closed

[2015-05-18 21:36] jayphelps opened #3080 "npm/bower publish v1.0.0-beta.18 plz"
[v1.0.0-beta.18](https://github.com/emberjs/data/releases/tag/v1.0.0-beta.18) has not yet been published to npm or bower, preventing ember-cli users from consuming this new version as normal.

Cc/ @fivetanley

Edit: I actually incorrectly thought it was published to npm, but turns out it isn't there either. Perhaps release publishes are staggered and I'm not aware..

[2015-05-18 22:39] aaronbhansen opened #3081 "Snapshot returns deleted ids in hasMany call"
We have a situation where we delete a record, and then the main model is saved (that contains a hasMany relation for the record that was just deleted). When it goes to serialize the hasMany ids in that relation, the deleted records (but not yet saved), are included in that list.

It seems like if a record is marked as deleted, it shouldn't be included in the snapshot hasMany along with the live re

[2015-05-18 23:09] #3064 closed

[2015-05-18 23:45] jsangilve commented on #1931
@igorT 1.0.0-beta-1.7 successfully unload the record. It seems to be solved by #3043

[2015-05-18 23:53] jsangilve commented on #1931
`references` branch didn't have ```var record = store.getById(typeClass, id);``` within [_find method](https://github.com/emberjs/data/blob/references/packages/ember-data/lib/system/store/finders.js#L34) while 1.0.0-beta-1.6.x have it. That's the reason why I only had the bug with 1.6.x

[2015-05-19 01:28] igorT commented on #3081
That shouldn't be happening, we remove records from their opposite relationships once they are deleted. Could you maybe reproduce in a jsbin? Can you post your model definitions?

[2015-05-19 01:29] tricknotes commented on #3080
Also rubygems too.

[2015-05-19 01:30] fivetanley commented on #3080
Not yet released. Probably sometime early tomorrow, sorry.

[2015-05-19 09:59] jgwhite commented on #2950
Not a super helpful comment, but: The references branch fixed this issue for us too.

[2015-05-19 12:10] vinilios opened #3082 "Allow adapter populated record arrays to update themselves"
Calling `update` method on an adapter populated record array has no effects to the contents of the array as a result of the way update method is implemented. The change to resolve this seems to be trivial and with minor side effects, excluding of course existing misuse of the method.

[2015-05-19 21:09] aaronbhansen commented on #3081
Still trying to replicate this in a jsbin, but haven't been able to yet. Here is another screen shot right after deleting a reward selections. I had 3, deleted 1, and then backer shows 2 if I view the relation. When I view the snapshot, it shows 3.

https://www.dropbox.com/s/43eex2hmphqtnhq/Screenshot%202015-05-19%2014.58.36.png?dl=0

A screen shot of the relations current state.

https://www.drop

[2015-05-20 03:18] neojp commented on #3061
Most arrays used on Ember aren't plain arrays, but inherited instances of Enumerable objects.
http://emberjs.com/api/classes/Ember.Enumerable.html

They still have `forEach`, `map`, `any` and other array like methods; they are very powerful and incredibly useful to use. But it comes with a few drawbacks:

1. `data[0]` is not possible anymore, you must use `data.objectAt(0)`
2. `console.log(data)`

[2015-05-20 10:32] nik045 commented on #3082
:+1:

[2015-05-20 12:31] sdahlbac opened #3084 "unloadingRecord w/ relationships fail in flushCanonical"
The following models:

service-report.coffee
  serviceReportLines: DS.hasMany('serviceReportLine', async: true)

service-report-line.coffee
  task: DS.belongsTo('task', async: true)
  serviceReport: DS.belongsTo('serviceReport', async: true)
  usedSpareParts: DS.hasMany('usedSparePart', async: true)
  timeEntries: DS.hasMany('timeEntry', async: true)

I have the following serializers:

    app.Ser

[2015-05-20 13:14] pangratz commented on #3084
Can you reproduce this in [this JSBin](http://emberjs.jsbin.com/xosuzonase/1/edit?js,console)? This would help further track down the issue ...

[2015-05-20 13:24] pangratz commented on #3084
Also, this looks like a duplicate of #2982, as the JSBin posted by @piotrpalek https://github.com/emberjs/data/issues/2982#issuecomment-92895076 shows the same error stack trace. @sdahlbac can you confirm that the situation causing the error in the JSBin is similar to yours?

[2015-05-20 13:31] matixmatix commented on #2950
While this branch fixes mentioned issue, it breaks on multiple other places:

[code]

Example of a call that causes this error: `this.get('teams.content').toArray()`. Even after I commented out this call, references branch still causes issues but I was not able to track down from which points in my app they came up, so I guess it's an internal error.

[2015-05-20 13:36] sdahlbac commented on #3084
it looks very similar, but I think that in our case the failing line was this.set('length', toSet.length) and not !record.get('isDeleted')

but I'll play around with the jsbin (thanks for that btw) and see if I manage to come up with a reproduction case.

[2015-05-20 13:38] pangratz commented on #2982
@piotrpalek awesome JSBin to demonstrate the issue. I updated ember-data to use the [`references` branch](https://github.com/emberjs/data/tree/0ef340fb6eb95e08568c67135f952894eba03c2d) and then the bug is gone ... http://emberjs.jsbin.com/xutopohevu/1/edit?js,console,output

[2015-05-20 13:40] pangratz commented on #3084
I updated the used ember-data version in the JSBin to use the latest build from the [`references` branch] and the the bug is gone. Maybe you can try out this branch as well and see if the bug is gone? Build is at https://gist.githubusercontent.com/pangratz/061cba37c061c6fc862c/raw/1575ea9ddea64374fbb368677f462bfc4e70db6b/ember-data-references.js

[2015-05-20 13:41] piotrpalek commented on #2982
Np :) @pangratz you sure about that? I click "unload post" then "refresh" and still get `Error: Assertion Failed: calling set on destroyed object...` in your jsbin.

[2015-05-20 13:43] pangratz commented on #2982
Oh boy, I guess I didn't look to closely :cry: Sorry for the false alarm

[2015-05-20 14:09] sdahlbac commented on #3084
I played around with the JSBin and managed to get the crash there

http://emberjs.jsbin.com/nevemitaru/3/edit?js,console

basically I just added

    // ... and find it again
    this.store.find('serviceReport', 1);

after unloading it

[2015-05-20 15:26] Emrvb opened #3085 "Rejected record (Not found/Unauthorized) remains in store"
When loading a record by id using ajax, if it fails (it is not found or access has been denied) a rejection is fired. This rejection is responsible for unloading the record which was created before the ajax call was executed.

This commit https://github.com/emberjs/data/commit/190133837451b076cf31549d8940084e3f5a62b8 changed the behaviour of the method hasRecordForId causing the rejection to assum

[2015-05-20 15:39] pangratz commented on #3085
What version of ember-data are you using? Does the issue described in #1931 sound similar to your problem? If so, it looks like this is solved by the `references` branch, as pointed out here https://github.com/emberjs/data/issues/1931#issuecomment-100173293. Can you confirm?

[2015-05-20 15:45] Emrvb commented on #3085
Jup, that's it, and looking at the code it should be fixed. Weird it didn't popup in my search.

[2015-05-20 15:45] #3085 closed

[2015-05-20 17:57] sly7-7 commented on #3084
After some quick debugging it appears that the failing flushCanonical is beeing called on the unloaded record's manyArray. I think this is weird, maybe this call is wrongly scheduled at the same time the new record's manyArray flushCanonical. cc/ @igorT

[2015-05-21 03:40] givanse commented on #3080
release please :pager:

[2015-05-21 14:45] mphasize commented on #2991
Would this also support some kind of lazy casting of polymorphic relationships?

I have a situation where an API (which I cannot change) has polymorphic relationships, but neither embeds the records nor supplies a type alongside the ID. Since we already have a "parent" type for polymorphic relationships, I was wondering if the related record could be known to Ember Data just as the ID and the pare

[2015-05-21 14:46] igorT commented on #2991
Yes, do you want to write tests for that feature?

[2015-05-21 14:48] mphasize commented on #2991
Where would I start? (I've been using Ember a lot, but I haven't done much development for Ember yet... but I can give it a shot.)

[2015-05-21 14:53] igorT commented on #2991
Look at polymorphic tests, like https://github.com/emberjs/data/blob/master/packages/ember-data/tests/integration/relationships/has-many-test.js#L630
and try to write new tests that use the api you proposed, and assert that it works.
This would be a great chance to also clean up the tests, and move polymorphic stuff into their own files.
I think the rest adapter integration tests have a bunch of p

[2015-05-21 14:57] mphasize commented on #2991
Ok, I will see what I can do there and take a look what I can learn from the rest adapter tests.

[2015-05-21 15:15] mphasize commented on #2991
Quick question: this behavior is expected to be independent of the adapter/serializer being used, right?

[2015-05-21 15:18] igorT commented on #2991
Yup. Thats why I was saying that there are probably tests in integration
adapter/serialzier that don't belong there

On Thu, May 21, 2015 at 5:15 PM, Marcus <notifications@github.com> wrote:

[2015-05-21 16:18] mphasize commented on #2991
@igorT So this is my first try at writing such a test. Any guidance on how to improve and expand this would be welcome! https://github.com/emberjs/data/pull/3087

[2015-05-22 05:00] fivetanley commented on #3080
http://emberjs.com/blog/2015/05/21/ember-data-1-0-beta-18-released.html

[2015-05-22 05:00] #3080 closed

[2015-05-22 06:39] truenorth commented on #3080
:+1:

[2015-05-22 08:19] Axxon commented on #1846
Hi, i'm new to ember but i find a way to remove children of a parent in the data store:
in a router
[code]
I work now with fixtures but is there a better way to do a cascade detete on a hasMany relationship or it's ok ?

[2015-05-22 13:40] artych opened #3089 "reload() and fetchById don't restore changed belongsTo"
It is known that if you change record's `belongsTo` property without saving, record doesn't become `dirty` and can't be restored by `rollback()`  emberjs/rfcs#21.

But it was unexpected for me that it also can't be restored by `reload()`, and can't be reloaded by `store.fetchById()`. The only way works for me is `record.unloadRecord()` and then `store.find(..)`.  See http://jsbin.com/qoyacagigi/ed

[2015-05-22 14:15] pangratz commented on #3089
The related test is [`unit/model/merge-test`](https://github.com/emberjs/data/blob/2f8024be6863b7a2b3768588760686239b7208d0/packages/ember-data/tests/unit/model/merge-test.js#L128-L152) which checks that locally modified attributes are not reset after a merge. The test (currently) doesn't have assertions for relationships, so I guess the correct behavior is yet to be decided. I definitely think it

[2015-05-22 14:57] artych commented on #3089
@pangratz, thanks. And what about `fetchById`? http://emberjs.com/api/data/classes/DS.Store.html#method_fetchById. I expected it to be "hard reset version" of `find` method (that fetch model from backend and then create/override model in store).

[2015-05-22 15:16] pangratz commented on #3089
According to the doc [`fetchById` only calls `reload`](https://github.com/emberjs/data/blob/02706ec5e43e05f66a0b4d226337b86bc4f78d23/packages/ember-data/lib/system/store.js#L531-L532) so the same semantics apply. Looking at the code actually a `findById` is triggered, but this does no hard-reset of local modifications either.

Restoring local relationship changes via `rollback` should eventually w

[2015-05-22 15:44] amk221 opened #3090 "RESTSerializer.pushPayload does not allow sideloading of records"
Given a payload like:

[code]

I get this warning:
WARNING: Encountered "_posts" in payload, but no model was found for model name "-post" (resolved model name using blah@serializer:post:.typeForRoot("_posts"))

1.0.0-beta.18

[2015-05-22 15:58] artych commented on #3089
I mean is my expectation about `fetchById` wrong or not?
Looks like I am not alone, for example see last comment in http://discuss.emberjs.com/t/force-store-to-reload-data-from-api/4441/12.

[2015-05-22 16:07] pangratz commented on #3089
Your confusion is justified as the naming of the methods is not consistent at the moment. There is [an open RFC](https://github.com/emberjs/rfcs/pull/27) which discusses the semantics of the various methods to get a consistent naming.

[2015-05-22 16:40] artych commented on #3089
@pangratz, thanks for link.
After reading emberjs/rfcs#27 it is clear that `fetchById` is expected  to load data from the server, even if it's already in the local store.
Therefore I think this is valid issue in case `findById` method.

[2015-05-22 17:00] artych commented on #3089
about  `reload()`: "locally modified attributes are not reset after a merge..."

as for me `reload()` is very confusing name for such a behavior

[2015-05-22 17:10] pangratz commented on #3089
That method documentation is highly outdated and has been [last updated at 22. April 2013](https://github.com/emberjs/data/blame/v1.0.0-beta.18/packages/ember-data/lib/system/model/model.js#L1076) :open_mouth: Want to submit a PR?

[2015-05-22 17:16] artych commented on #3089
Technically I can, and I'd like to, but it is not clearly for me what such a behavior for, so I do not know what description should be written. May be somebody can explain me...

[2015-05-22 17:28] artych commented on #3089
I could propose to add option `force` with `defaultValue: false`,
so `model.reload()` and  `model.reload(false)` behaves as now,
but `model.reload(true)` overrides/resets all locally modified attributes and associations.

Is this sound reasonable?

[2015-05-22 17:38] jayphelps commented on #3080
Thanks @fivetanley!

[2015-05-22 21:25] fivetanley commented on #3090
You should remove the underscore in the payload or override `modelNameFromPayloadKey` (we need to update the message it looks like).

Ember.String.pluralize('foo') == 'foos'.

[2015-05-22 22:01] amk221 commented on #3090
Ah thanks! I thought the underscore prefix was and ember data convention. Perhaps not :)

[2015-05-23 13:17] artych commented on #3089
As an alternative just to implement fetching with "hard reset" merging strategy. Something like this:
[code]

[2015-05-23 15:30] lukesargeant opened #3093 "Rendering a hasMany {async:true} in an {{each}} re-renders all items when new item added"
I am loading a 'dashboard' model, that hasMany 'widget' children {{async:true}}.
I render these widgets using the {{each}} helper on the dashboard template:

    {{#each model.widgets as |widget|}}
      {{my-widget config=widget}}
    {{/each}}

I add a widget in my dashboard route:
(The widget model has a belongsTo relationship to the dashboard model.)

    actions: {
        addWidget() {

[2015-05-24 18:49] #3061 closed

[2015-05-24 19:22] igorT commented on #2804
I think this was done, cc @fiv

[2015-05-24 19:22] #2804 closed

[2015-05-24 20:14] wecc commented on #1534
The `FixtureAdapter` has been deprecated (#3091) and is no longer included in Ember Data by default.

The code for `FixtureAdapter` has been moved to [emberjs/ember-data-fixture-adapter](https://github.com/emberjs/ember-data-fixture-adapter/tree/master), please re-open in that repo if this is still an issue.

[2015-05-24 20:14] #1534 closed

[2015-05-24 20:14] wecc commented on #1813
The `FixtureAdapter` has been deprecated (#3091) and is no longer included in Ember Data by default.

The code for `FixtureAdapter` has been moved to [emberjs/ember-data-fixture-adapter](https://github.com/emberjs/ember-data-fixture-adapter/tree/master), please re-open in that repo if this is still an issue.

[2015-05-24 20:14] #1813 closed

[2015-05-24 20:14] wecc commented on #2243
The `FixtureAdapter` has been deprecated (#3091) and is no longer included in Ember Data by default.

The code for `FixtureAdapter` has been moved to [emberjs/ember-data-fixture-adapter](https://github.com/emberjs/ember-data-fixture-adapter/tree/master), please re-open in that repo if this is still an issue.

[2015-05-24 20:14] #2243 closed

[2015-05-24 20:14] wecc commented on #2315
The `FixtureAdapter` has been deprecated (#3091) and is no longer included in Ember Data by default.

The code for `FixtureAdapter` has been moved to [emberjs/ember-data-fixture-adapter](https://github.com/emberjs/ember-data-fixture-adapter/tree/master), please re-open in that repo if this is still an issue.

[2015-05-24 20:14] #2315 closed

[2015-05-24 21:18] dogawaf commented on #2487
I encounter this issue too. My usecase:
- the action willTransition prevents the transition if the parent model or an embedded model is dirty
- when the parent model is saved, a transition to the parent route need to be done
- but the transition is aborted because the embedded model remains dirty

[2015-05-24 21:19] mmoonport commented on #2991
@igorT Well this correct the issue where when i call store.find('model') on a polymorphic model type that the recordArray comes back empty but the models where pulled and put into the store correctly. I am having this problem currently in my production code.

[2015-05-24 21:45] igorT commented on #2991
@mmoonport this adds support for that, but doesn't actually guarantee it. Can you write a test for the behavior please?

[2015-05-24 23:36] pangratz commented on #3047
@jamesarosen I refactored getting the various AJAX options in #3099. Can you check if this would address your needs? Cheers!

[2015-05-24 23:56] igorT commented on #1817
Store.find always returns the same array, and we are currently discussing various strategies for making filter not leak in 1.0. The main ideas for new apis were laid out in https://github.com/emberjs/rfcs/pull/23

[2015-05-24 23:56] #1817 closed

[2015-05-25 00:03] igorT commented on #1925
I believe this has been fixed for a while, please reopen if it's still an issue

[2015-05-25 00:03] #1925 closed

[2015-05-25 00:04] igorT commented on #1777
@jaaksarv I think most of these have been addressed in the last year

[2015-05-25 00:04] #1777 closed

[2015-05-25 00:04] mmoonport commented on #2991
@igorT I would be glad to. Should i add this test to the record array tests or create a separate file for this all together

[2015-05-25 00:05] igorT commented on #2032
`store.adapterFor` now takes strings and this originally was only an issue in unit tests so closing

[2015-05-25 00:05] #2032 closed

[2015-05-25 00:07] igorT commented on #2020
We will be migrating to JSON Api soon, and @bmac is working on the docs. I don't think there are specific issues to be addressed in this issue, so closing the issue, but this is an area we are actively working on.

[2015-05-25 00:07] #2020 closed

[2015-05-25 00:10] igorT commented on #2172
cc @bmac

[2015-05-25 00:12] igorT commented on #2184
double ping? Is this still a thing?

[2015-05-25 00:13] igorT commented on #2151
We are trying to do something like this, the current RFC is https://github.com/emberjs/rfcs/pull/23

[2015-05-25 00:13] #2151 closed

[2015-05-25 00:14] igorT commented on #2259
This doesn't seem like an ED issue, the SO question seems succesfully answered now

[2015-05-25 00:14] #2259 closed

[2015-05-25 00:17] igorT commented on #2267
There really isn't a consistent way to have transactions over http without your server helping you out. You can try to mimick them, but you will usually run into edge cases. We used to support transactions but they proved brittle and never really worked. Sometime in the future it should be possible to create an addon with similar functionality, but again you will run into edge cases. For example,

[2015-05-25 00:17] #2267 closed

[2015-05-25 00:22] igorT commented on #1642
Seems easy to alias `modelName` if you need it on the model, and that also means we don't have more blocked attribute names. Better docs should help a lot

[2015-05-25 00:22] #1642 closed

[2015-05-25 00:24] igorT commented on #2348
Sorry for the late followup, but I am not sure what is the use case for passing an empty string? Would you expect it to immediately reject?

[2015-05-25 00:24] igorT commented on #2374
Is this still a thing or should we close?

[2015-05-25 00:25] igorT commented on #2372
Seems related to the story or running addons against ember builds

[2015-05-25 00:26] igorT commented on #2098
@sly7-7 can you tackle this?

[2015-05-25 00:27] igorT commented on #2415
`itemControllers` are going away, yay

[2015-05-25 00:27] #2415 closed

[2015-05-25 00:29] igorT commented on #1834
@sly7-7 I am pretty sure we support both links and ids at the same time. Can you verify?

[2015-05-25 00:30] igorT commented on #2058
We probably should refactor inverses into a separate file/package with better unit tests, but this certainly seems doable, it is a bit tricky with inheritance though. If someone want's to tackle it, I am all for it.

[2015-05-25 00:31] igorT commented on #2055
I believe this is no longer the case, with the snapshots you will get the ids even if you never loaded the full records. Can you confirm @wecc?

[2015-05-25 00:31] #2055 closed

[2015-05-25 00:32] igorT commented on #2456
Ping

[2015-05-25 00:33] igorT commented on #2458
Handled by https://github.com/emberjs/data/pull/3074

[2015-05-25 00:33] #2458 closed

[2015-05-25 00:34] igorT commented on #2459
I believe this has been fixed

[2015-05-25 00:34] #2459 closed

[2015-05-25 00:35] igorT commented on #2431
https://github.com/emberjs/rfcs/pull/57 is aiming to address this

[2015-05-25 00:35] igorT commented on #2394
https://github.com/emberjs/rfcs/pull/57 is aiming to address this

[2015-05-25 00:36] igorT commented on #2479
The serializer refactor that @wecc is working on addresses this

[2015-05-25 00:38] igorT commented on #2286
Yes, this is a real use case that we want to support, https://github.com/emberjs/rfcs/pull/57 is aiming to address it. Closing this as a duplicate of https://github.com/emberjs/data/issues/2271

[2015-05-25 00:38] #2286 closed

[2015-05-25 00:38] igorT commented on #2271
https://github.com/emberjs/rfcs/pull/57 is aiming to address this

[2015-05-25 00:41] igorT commented on #2480
Supporting this is actually somewhat of a security concern, and it seems like if you want to do this you can just turn `%2F` back into '/' in your buildURL. I don't think we will be reverting this.

[2015-05-25 00:41] #2480 closed

[2015-05-25 00:41] igorT commented on #2053
cc @wecc where are we on this?

[2015-05-25 00:42] #2059 closed

[2015-05-25 00:43] jamesarosen commented on #3047
@pangratz that looks good! I'd probably write my override as
[code]

[2015-05-25 00:43] igorT commented on #2507
If you need the model class, you really should be using `store.modelFor` and not relying on imports, same way you would access routes/controllers/etc through the container.
@bmac maybe we need to stress this more in the docs.

[2015-05-25 00:43] #2507 closed

[2015-05-25 00:43] igorT commented on #2512
Ping

[2015-05-25 00:48] igorT commented on #2991
There will be bunch of tests for this new polymorphism, so it should be a separate file. It isn't just record arrays as well, you want to be able to fetch a single record with a polymorphic type as well

[2015-05-25 00:50] igorT commented on #2347
Tracking this under https://github.com/emberjs/data/issues/2122

[2015-05-25 00:50] #2347 closed

[2015-05-25 00:51] igorT commented on #1367
Tracking this under https://github.com/emberjs/data/issues/2122

[2015-05-25 00:51] #1367 closed

[2015-05-25 00:55] igorT commented on #2256
This seems possible, but i think would add lots of complexity to the code and not sure how a good public api would look like to enable/disable. It would not be too hardy to implement a simple version, so I am happy to help create an addon for this, but not have it in core. Apologies for the late reply ;(

[2015-05-25 00:55] #2256 closed

[2015-05-25 00:56] igorT commented on #1857
Closing this, please reopen if it's still an issue

[2015-05-25 00:56] #1857 closed

[2015-05-25 01:01] igorT commented on #2471
I believe this has been fixed

[2015-05-25 01:01] #2471 closed

[2015-05-25 01:21] igorT commented on #1766
This will soon be possible to implement with #2991

[2015-05-25 01:22] igorT commented on #2749
closing as a dupe of #1766

[2015-05-25 01:22] #2749 closed

[2015-05-25 01:22] igorT commented on #1909
Tracking in #1766

[2015-05-25 01:22] #1909 closed

[2015-05-25 01:22] #1943 closed

[2015-05-25 01:23] #2356 closed

[2015-05-25 01:24] #2268 closed

[2015-05-25 01:25] #2457 closed

[2015-05-25 01:27] igorT commented on #2542
Does someone want to tackle this, @pangratz or @sly7-7 maybe?

[2015-05-25 01:28] igorT commented on #2391
@denzo closing this for now, but please reopen if this is still an issue

[2015-05-25 01:28] #2391 closed

[2015-05-25 01:29] igorT commented on #2398
There is a `this.maxURLLength` option now.

[2015-05-25 01:29] #2398 closed

[2015-05-25 01:30] igorT opened #3101 "Rest Adapter's maxUrlLength is not properly cased"
It should be maxURLLength

[2015-05-25 01:39] igorT commented on #2547
We are refactoring `meta` to better support arrays, but I am still not convinced of doing this by default. Does `JSONApi` have an opinion @wecc ?Will close for now, feel free to reopen if we want to do something

[2015-05-25 01:39] #2547 closed

[2015-05-25 01:41] igorT commented on #2375
I think this has been fixed. Please reopen if it's still an issue

[2015-05-25 01:41] #2375 closed

[2015-05-25 01:43] igorT commented on #2165
I think this is now solved by having support for polymorphic mixins. Please reopen if not

[2015-05-25 01:43] #2165 closed

[2015-05-25 01:45] igorT commented on #2652
It appears that we fixed the Windows CI, so this shouldn't be an issue anymore, please reopen if it still is.

[2015-05-25 01:45] #2652 closed

[2015-05-25 01:46] #2432 closed

[2015-05-25 01:47] igorT commented on #2424
I believe this was fixed, is this still an issue for you @quaertym @andorov ?

[2015-05-25 01:49] igorT commented on #2380
We definitely want to support this, here is a RFC that tracks this https://github.com/emberjs/rfcs/pull/57

[2015-05-25 01:50] #2516 closed

[2015-05-25 01:51] #2582 closed

[2015-05-25 01:52] igorT commented on #2705
This should be supported by this rfc https://github.com/emberjs/rfcs/pull/57

[2015-05-25 01:52] igorT commented on #2595
I agree.

[2015-05-25 01:52] #2595 closed

[2015-05-25 01:53] igorT commented on #2753
cc @fivetanley

[2015-05-25 01:55] igorT commented on #2528
This is a dupe of a similar tracking bug, and is currently being handled by https://github.com/emberjs/data/pull/3074

[2015-05-25 01:55] #2528 closed

[2015-05-25 01:59] igorT commented on #1450
Closing as a duplicate of https://github.com/emberjs/data/issues/1450

[2015-05-25 01:59] #1450 closed

[2015-05-25 03:02] raycohen commented on #2348
The (unmerged) PR @stefanpenner recalls is https://github.com/emberjs/data/pull/518

I agree with @lukemelia's comment found in the discussion.

[2015-05-25 03:05] igorT commented on #2348
My bad. We deprecated the overloaded find but should still add the assert
On May 24, 2015 8:02 PM, "Ray Cohen" <notifications@github.com> wrote:

[2015-05-25 04:10] #2239 closed

[2015-05-25 04:10] fivetanley commented on #2239
mergerino'd a long time ago

[2015-05-25 07:12] wecc commented on #2055
Confirm. However in the example above the relationship is provided as a link, so no IDs are available making the relationship "unknown". Because of this, calling `snapshot.hasMany('projects')` should return `undefined` instead of an empty array. I'm unsure if the current serializers takes this into account. If the contents of a relationship is unknown (not provided or provided as a link only) it s

[2015-05-25 07:22] perlun commented on #2487
:+1:, this should be fixed. It's definitely a bug with the mixin IMHO. I adapted the @lolmaus approach now (`willCommit`, clear `_attributes`, `didCommit`) but it definitely feels like a hack to have to do this manually.

/cc @emilgrip

[2015-05-25 07:41] wecc commented on #2547
For JSON-API `meta` is allowed at multiple locations for responses to create/update requests, just like normal responses.

[2015-05-25 07:42] jcbvm commented on #2380
Thanks, will keep an eye on it!

[2015-05-25 08:05] lolmaus commented on #2487
Please send a PR containing a failing test case for this issue. It will be much easier to fix.

[2015-05-25 08:14] pangratz commented on #2542
I gave it a shot and changing `findAll` to return a `RecordArray` [breaks this assertion](http://git.io/vTAHK) (all other tests pass). As pointed out by @stefanpenner in https://github.com/emberjs/data/pull/518#issuecomment-17819789 this might be ok; if the `all()` functionality is desired, then [`store.all()`](http://git.io/vTAHZ) should be used...

[2015-05-25 08:23] perlun commented on #2487
Agree, it would be good. Any pointers/hints on how to start? (I've never worked with the ember data tests) Is it a regular ember-cli project?

[2015-05-25 10:45] quaertym commented on #2424
No, it is fixed.

[2015-05-25 10:56] #2424 closed

[2015-05-25 11:32] igorT commented on #2542
`findAll` should still cache the array and return the same cached array each time. It's just that we don't want it to be a `filteredRecordArray` as there is really no filtering except for deletion happening. So this would refactor the recordArrayManager to care about filteredRecordArrays and something like liveRecordArrays

[2015-05-25 16:32] technomage opened #3103 "Async relationships performance issue"
When loading an object with a large async relationship target set, each target is fetched separately.  This results in 100s of requests to the server to fetch those objects.  Some form of batching should be supported by the adapter interface if not the RESTAdapter.  Given the URL pattern for single object get, either a list of ids in the url or a new url pattern is probably required.  In any case

[2015-05-25 17:34] igorT commented on #3103
Have you tried turning `coalesceFindRequests` to true?

[2015-05-25 18:32] wbyoung commented on #2055
Thanks for the updates.

[2015-05-25 21:49] sly7-7 commented on #1834
@igorT Sure, I will do that in the next couple of days

[2015-05-25 21:52] sly7-7 commented on #2098
@igorT no promise on this one, but I will at least have a look before the end of the week.

[2015-05-26 02:41] mmoonport commented on #2991
@igorT Okay I have implemented the tests... I believe. I haven't written js tests before so please excuse my boorish attempt. Let me know how I can make them better as I am a huge fan of Ember and use it daily and would like to contribute more.  #3105

[2015-05-26 02:56] mmoonport opened #3106 "Allow lookup of hasMany relationship by inverse if supplied."
I have a hasMany relationship that can potentially have hundreds of records in it. This poses an issue with the way ember data calls the findMany and places all the ids in the query string. I propose there be a way to call the api with the inverse if supplied. That way the call is much smaller and would seem to be much more efficient.

For example.

var Project = DS.Model.extend({
  groups: DS.has

[2015-05-26 06:32] igorT commented on #3106
It seems like https://github.com/emberjs/data/issues/2162 should work for this case

[2015-05-26 06:32] #3106 closed

[2015-05-26 08:34] Azdaroth opened #3108 "URLs not being built properly after updating to 1.0.0-beta.17"
After updating from 1.0.0-beta.16.1 to 1.0.0-beta.17 I have problems with URLs not being built properly when using query params, e.g. `this.store.find('client', { name: 'John' })` should build the following URL: `/clients/?name=John`. However, after update it generates ``clients/%5Bobject%20Object%5D&name=John`. As a temporary fix I modified `_buildURL` method in application adapter (to be precise

[2015-05-26 15:54] amk221 commented on #3090
Quote from this page:
https://github.com/emberjs/data/blob/master/CHANGELOG.md#ember-data-100-beta3-september-28-2013

"Support primary and sideloaded data of the same type to be returned from array lookups (via posts and _posts)."

Therefore, this looks like a regression?

[2015-05-26 17:17] wecc commented on #3090
@amk221 You are correct. Sideloading secondary records of the same type as primary is supported in `RESTSerializer`s `extractArray` using `_type` as key.

However, I'm unable to reproduce the error, see http://emberjs.jsbin.com/riyevivoxi/1/edit

Would you be able to provide a JSBin demonstrating the error?

[2015-05-26 17:51] sly7-7 commented on #1834
@igorT I've just added a passing test about that (here)[https://github.com/sly7-7/data/commit/f8624bf4acdb83797582d21e6d709b69a05c6017], so it seems like the error is gone, but I don't know if this behavior is expected or not. (The link takes precedence over the ids)

[2015-05-26 18:28] steffenbrem commented on #1834
@sly7-7 Hmm, but when you have the comments sideloaded, it should not hit the `links` too. Maybe it is good to test this too? Now you test both of them as async.

For example, if you let the api user decide if the `comments` needs to be loaded async or not, so the API can both return a `links` only or the comments `embedded` (but with the links in the response too!). In this case, `links` should n

[2015-05-26 18:31] sly7-7 commented on #2098
@igorT I think this issue was resolved at the same time you handled the model.reload(). Reading the code I'm quite sure it's not possible anymore for a model to receive the loadingData event when it's already in the loading state (because of the record's _loadingPromise check [here](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store.js#L671). I'm in favor of closing t

[2015-05-26 21:01] technomage commented on #2098
In my case we are side loading data from websockets concurrent with requests. I doubt the scheduled fetch check will be sufficient. I will check when I have time to revive that code.

[2015-05-26 21:02] technomage commented on #3103
I will look into it. I was not aware of that option. Thanks.

[2015-05-26 21:11] louy opened #3111 "Transforms have no idea about attributes"
I'd like to discuss an issue that I have faced recently using Ember data.

As I see it, the current functionality of Transforms is very limited, which shouldn't be the case. Specifically, there is no way to know anything about the Model or the attribute in Transform which makes a few use cases hard to implement. For example, [`ember-data.model-fragments`#96](https://github.com/lytics/ember-data.mo

[2015-05-26 23:19] karellm opened #3112 "After update to beta18, ActiveModelSerializer dasherize model instead of undercorizing them"
I have a very simple `ApplicationSerializer`:

[code]

After updating to beta18 though, my app started crashing when saving models with a dash in them. So a `chart-metric` model would call the `/chart_metric` endpoint, and it now call the `/chart-metric`, causing many places in my app to crash.

I looked at the changelog but this doesn't seem like a wanted behaviour, especially not with the `Activ

[2015-05-26 23:23] fivetanley commented on #3112
Are you overriding buildURL anywhere?

[2015-05-26 23:25] fivetanley commented on #3112
or `pathForType` https://github.com/emberjs/data/blob/f5f15dfe8d6cd6729f380bcc048f9c4a17d7eece/packages/activemodel-adapter/lib/system/active-model-adapter.js#L118

[2015-05-26 23:26] fivetanley commented on #3108
Can you try beta.18?

[2015-05-26 23:31] karellm commented on #3112
I am calling manually `buildUrl` at couple place where the serializer didn't work. Though I do not override it.

I don't override `pathForType` either. I read the changes in the changelog before posting to see if I was doing something wrong but couldn't figure it out.

[2015-05-26 23:33] fivetanley commented on #3112
Do you see any deprecations for using `typeKey`?

[2015-05-26 23:36] karellm commented on #3112
@fivetanley I'm not sure what you mean. Also the code that breaks doesn't make use of `buildUrl`.

And calling `_super` in `normalizePayload` didn't help (which would have been weird anyway). I will leave it there though, thanks for the catch!

[2015-05-26 23:45] fivetanley commented on #3112
Do you see any deprecation warnings when you open the developer tools? It shows up in the console tab.

[2015-05-27 03:12] karellm commented on #3112
No deprecation warnings no :(

[2015-05-27 06:02] egosapien opened #3113 "PUT with custom PrimaryKey always undefined"
In beta 17 I have the issue that when I save a persisted record (PUT) the primary key that is sent to the server is always null. I have a custom primary key defined in my RESTAdapter subclass (uuid). I've gotten around this problem by adding the following to "serializeAttribute" in my RESTSerializer. Important to note that this doesn't appear to be the case with POST, only with PUT

[code]

[2015-05-27 06:05] egosapien opened #3114 "Custom Primary Key attribute never set"
I'm not sure if this is just a change to the API, but it worked in previous betas. I have a custom Primary Key "uuid" which is a string attribute on my model objects. Previously this would get automatically set by Ember Data, so I could say

[code]

However, since beta 17, this is never set. I can still access the primary key via "id", but I wasn't sure if this is a bug or just a change in the API

[2015-05-27 08:26] amk221 commented on #3090
Ah, you're [right](http://jsfiddle.net/amk221/1etc61h1/)

Put that exact same code in a fresh ember-cli project and it doesn't work

[2015-05-27 12:22] fivetanley commented on #3113
Can you try beta.18?

[2015-05-27 12:48] karellm commented on #3112
@fivetanley I'm sorry for the trouble, I had a `pathForType` override in my code that I totally missed in my search. Thanks a lot for the support!

[2015-05-27 12:48] #3112 closed

[2015-05-27 16:34] barelyknown opened #3115 "isReloading flag not set on hasMany relationships"
When you reload a model, its `isReloading` flag is set. But, when you reload a relationship, there is no flag. The flag would be helpful for adapters that suppress API calls for relationships that were previously loaded.

[2015-05-27 21:05] rsocci opened #3116 "Send password to server without storing client-side"
* Password needs to be sent to the server, without being persisted to the store
  * possibly overwrite `#save` method in the account model

[2015-05-27 21:07] #3116 closed

[2015-05-27 21:09] rsocci commented on #3116
oopsies, wrong repo!

[2015-05-27 23:09] jackmatt2 opened #3117 "{async : true} relationship and .then() not working with new records"
ember-data: 1.0.0-beta.12

I am creating a model such as the following in my routes model hook, (the address property is {async : true})

[code]

The problem is that in the controller code I am doing

[code]

The reason for using .then() is that the same controller is used for editing existing records as well as adding new ones.

Is there a workaround for this?  I can't update past beta.14 because

[2015-05-27 23:36] jackmatt2 commented on #3117
I got it working this way, but it seems a little weird to have to do this:

[code]

[2015-05-28 01:36] jmurphyau commented on #3117
I'm unable to replicate your issue... http://emberjs.jsbin.com/hunefe/1/edit?html,js,console,output

[2015-05-28 03:00] jackmatt2 commented on #3117
@jmurphyau

Thanks for you help, I feed like a total idiot now because the object I was creating in `this.sore.createRecord()` was not the correct record type.

[2015-05-28 03:00] #3117 closed

[2015-05-28 04:14] tonywok opened #3118 "Is there a word for this?"
Pardon if this is a silly question, but is there a word for defining functions separated by dollar sign. For example, https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/relationships/state/has-many.js#L7

I see it used in some of the internals, but haven't been able track down a name for this, and we don't seem to be consistent.

I'm guessing it's just for short circuiting

[2015-05-28 07:38] sly7-7 commented on #3084
Well, I was able to make a test to reproduce the issue:
[code]

@igorT I definitely need you to go further, there seems to be some kind of race condition cause by the runloop, also, when there is no shared comments between the unloaded post and the later founf post, it does not crash.

[2015-05-28 19:04] timtwomey commented on #3108
Same here with 1.0.0-beta.17. Updating to 1.0.0-beta.18 resolved the issue.

[2015-05-28 19:20] sly7-7 commented on #3108
@timtwomey Thanks for the heads up. I'm closing. @Azdaroth Feel free to reopen if upgrading to beta.18 doesn't resolve your issue.

[2015-05-28 19:20] #3108 closed

[2015-05-28 19:45] pangratz commented on #3108
Looks like 3b4b136d99b519c01008fd89aa3b6ba9a26a3374 is the commit which solves this ...

[2015-05-28 22:24] igorT commented on #3118
Not sure, @stefanpenner told me to use it.

[2015-05-28 22:24] #3118 closed

[2015-05-28 22:27] igorT commented on #3103
@technomage is there anywhere in docs/guides/etc where you would've expected to see it, but didn't? Please do make a PR for docs if you find it helpful, as it does exactly what you asked for.

[2015-05-28 22:27] #3103 closed

[2015-05-28 23:48] fivetanley commented on #3114
Can you post a model definition?

[2015-05-29 08:34] artych commented on #3089
closed since no confirmation

[2015-05-29 08:34] #3089 closed

[2015-05-29 14:14] egosapien commented on #3114
Here is a snippet from my serializer
[code]
Here is an example model
[code]

[2015-05-29 14:14] egosapien commented on #3114
I also tried beta 18 and the behaviour seems to be the same.

[2015-05-29 14:29] egosapien commented on #3113
I've tried beta 18 now, and behaviour still seems to be the same, all my records have an undefined uuid when I PUT them.

[2015-05-29 14:40] cibernox commented on #2924
I'm still facing this bug using the latest and greatest versions of everything:

`ember-data: beta.18`
`ember: 1.12`
`ember-qunit: 0.4.0`
`ember-cli-qunit: 0.3.14`

On the `Ember.run(application, 'destroy');` of the teardown of some acceptance tests the `_containerCache` is undefined.

[2015-05-29 14:45] cibernox commented on #2924
I've found the change in my code that triggered this:

I changed the cleaning of the state of a `/new` route from the `willTransition` action to the `deactivate` hook:

This works:
[code]

This fails:

[code]

[2015-05-29 20:15] igorT commented on #1834
@sly7-7 seems like link shouldn't take precedence, can you investigate?

[2015-05-29 20:18] igorT commented on #3111
I know @wycats was against this before for simplicity sake, but I had hacked together in couple apps, so seems beneficial. I'll tag it for review

[2015-05-29 20:26] igorT commented on #3114
Hm, so this is kinda tricky, because the desired behavior could change depending on your model definition.
`primaryKey` usually moves the value of whatever key you had into `id`, and then in your app you can do `.get('id')` consistently even if your api changes. But in this case obviously you would want the `uuid` to work, and we would have to stop you from changing it.  Do you want to submit a te

[2015-05-29 20:28] igorT commented on #3113
Does this work if you do not define `uuid` as an attribute?
It's the inverse of the problem in #3114

[2015-05-29 21:18] sly7-7 commented on #1834
@igorT I think that even the has-many records are sideloaded, when we call for the relationship, [this code path](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/relationships/state/has-many.js#L171) is hit, and since the promise has not been define yet, the findLink will end up to hit the link.
Maybe we could add something like in https://github.com/emberjs/data/pull/31

[2015-05-30 18:22] Azdaroth commented on #3108
Yeah, updating to beta.18 solves the problem, thanks.

[2015-05-31 00:07] igorT commented on #1834
@sly7-7 yes, I commented on that PR

[2015-05-31 00:23] igorT commented on #2950
Sorry for the late respone, @matixmatix why do you do `this.get('teams.content').toArray()` instead of just `this.get('teams').toArray()`?

[2015-05-31 00:25] igorT commented on #3115
Yes, we would also need to support this for `belongsTo` relationships, I think https://github.com/emberjs/rfcs/pull/57 should help us get there

[2015-05-31 00:28] igorT commented on #3071
Ping @wecc

[2015-05-31 01:10] #2590 closed

[2015-05-31 01:14] igorT commented on #2300
@bmac it might be easy to add a simple hook, but probably after we cleanup the serializers.

[2015-05-31 01:15] igorT commented on #1879
We are looking into integrating EDMF more closely post 1.0, but for now they are the solution to use

[2015-05-31 01:15] #1879 closed

[2015-05-31 01:15] #1763 closed

[2015-05-31 01:18] igorT commented on #2748
Feel like we addressed this by #2712, @bmac feel free to reopen

[2015-05-31 01:18] #2748 closed

[2015-05-31 01:20] #1988 closed

[2015-05-31 01:22] igorT commented on #2793
@pangratz wanna take a stab at this? Shouldn't be too hard, we in fact don't need to worry about the primary key here because we already normalized, so if you just remove those couple lines + a test would be good to go

[2015-05-31 01:26] #3029 closed

[2015-05-31 02:10] igorT commented on #3012
Oops, sorry missed your comment here, `hasRecordForId` is the public api, so it should hide the existence of unloaded records

[2015-05-31 02:10] igorT commented on #3012
I think the `references` branch might address this issue

[2015-05-31 02:13] igorT commented on #2978
Any news on this, ping @raytiley @fivetanley

[2015-05-31 02:14] igorT commented on #2972
@lukegalea did you have a chance to test glimmer out?

[2015-05-31 02:14] igorT commented on #2941
@cibernox ping?

[2015-05-31 11:58] cibernox commented on #2941
Sorry, unable to reproduce it now. I tried to go back to a commit of that time and all seems to work. I really don't know what was causing the misbehaviour in firefox, but it's probably very edgy.

I'll close this.

[2015-05-31 11:58] #2941 closed

[2015-05-31 18:12] sly7-7 commented on #2972
@igorT I just updated the jsbin with ember canary, and ember-data beta, the same thing happen when choosing a value, then rollback, then choosing an other value.

http://emberjs.jsbin.com/zewuloneki/1/edit

[2015-05-31 20:56] pangratz commented on #2793
@igorT I will take stab at it tomorrow

[2015-05-31 22:26] tchak opened #3129 "Find a solution for JSHint / ESLint regarding async / await"
There is two solutions to this :

* fork `jshint` to support `async` / `await`
* write or find a tool to convert `jshint` configuration to `eslint` configuration

@fivetanley you have some ideas about this?

[2015-05-31 22:28] rwjblue commented on #3129
I believe that both @jonathankingston and @teddyzeenny have converted projects from JSHint to ESLint.  Perhaps, they could offer some guidance.

[2015-05-31 22:38] jonathanKingston commented on #3129
@teddyzeenny did the grunt work of updating [ember-inspector](https://github.com/emberjs/ember-inspector) to support ES6.

However the work done here can be seen here:
https://github.com/emberjs/ember-inspector/blob/master/.eslintrc

Using babel-eslint was the easiest way to support this.

The config also uses a setup which I hope to become de-facto Ember setup (Which is friendlier to lower how st

[2015-06-01 08:30] tchak commented on #3129
@jonathanKingston for what I understood, the core team stand is that using `eslint` in ember-cli is a no go without `.jshintrc` file support...

[2015-06-01 08:33] tchak commented on #3129
@rwjblue sorry if it was not clear from the issue. It is not about internal usage in `ember-data`. It is about exposing public/application api that needs `async`/`await`. Which means, we need support for `async`/`await` in `ember-cli`. So it is about using `eslint` as default in `ember-cli` or bundle our own version of forked `jshint`...

[2015-06-01 11:05] sdahlbac commented on #2850
+1 (the workaround by @abulrim works though)

[2015-06-01 11:06] igorT commented on #3129
cc @fivetanley

[2015-06-01 15:48] tschoartschi commented on #1326
I would also need this functionality. Our use case is as follows:

When I query an object just by it's ID I get all labels of this object in the default language (which is english). Now when I specify a contentLanguage as query param I get the labels in the corresponding language. But when I want to query a object by it's ID and get it in a special contentLanguage I can't do it. My first thought w

[2015-06-01 15:48] technomage opened #3135 "addCanonicalRecord should assert record._records[this.inverseKey] is not null"
The logic for handling inverseKey needs to validate that there is a relationship at the provided key, and assert to indicate where the error exists.  Currently a mismatch in inverseKey will raise an exception with no indication which record type or relationship is involved.

[2015-06-01 17:04] abobwhite commented on #1326
@tschoartschi While this use-case definitely needs to happen (I've been waiting for over 1.5 years for it), I think in your case, you could probably use the HTTP Header: 'Accept-Language' which can be defined in your adapter. On your server-side, you would just read this header and apply logic accordingly, thus removing the need for a query parameter here.

[2015-06-02 00:15] igorT commented on #3135
Want to add a failing integration test? We should probably be asserting in an earlier step when we get the class def. The inverse finding is a great candidate to be taken out, isolated and unit tested more.

[2015-06-02 00:22] igorT opened #3141 "There might be potential problems with doing `reload` twice on a model"

[2015-06-02 00:22] igorT opened #3142 "Consider optimizing `transitionTo`"
https://github.com/emberjs/data/pull/3094#discussion_r31473097

[2015-06-02 01:18] wecc opened #3144 "Implement snapshot.serialize()"

[2015-06-02 01:36] #3071 closed

[2015-06-02 04:16] #2793 closed

[2015-06-02 04:16] igorT commented on #2793
Fixed by #3138

[2015-06-02 04:27] igorT commented on #2991
@mmoonport will take a look now that the refactor has been merged

[2015-06-02 04:28] igorT commented on #2991
fixed by #3094

[2015-06-02 04:28] #2991 closed

[2015-06-02 04:31] #2950 closed

[2015-06-02 04:31] igorT commented on #2950
Fixed by #3094

[2015-06-02 04:31] igorT commented on #2950
Please reopen if you still have issues on master

[2015-06-02 04:31] igorT commented on #2950
@raytiley can you please file the other issue we found separetely

[2015-06-02 04:44] igorT commented on #2972
@sly7-7 thanks

[2015-06-02 08:31] dennismende commented on #2978
:+1:

[2015-06-02 12:38] sly7-7 commented on #2542
@pangratz I'm currently working on rebasing/fixing https://github.com/emberjs/data/pull/2491, which causes some tests to fail (store.all() would become run-loop sensible). Maybe it would be possible to include those changes https://github.com/sly7-7/data/commit/0435b64e2b81ef14a6dc70d85b25ab20472b5ea2 in your current work ? So both issues could be resolved ?

[2015-06-02 12:48] raytiley commented on #2978
@igorT not sure. I haven't gone back and tested after I initially got it working with an initializer. Since there doesn't seem to be a lot of other complaints maybe this can be closed?

[2015-06-02 12:50] igorT commented on #2978
@dennismende have you run into this issue?

[2015-06-02 12:51] raytiley commented on #2950
@igorT are you talking about the issue on the references branch?

[2015-06-02 13:07] pangratz commented on #2542
@sly7-7 I try to tackle this later today ...

[2015-06-02 13:24] dennismende commented on #2978
Yes after upgrading to beta.18 my inflections didn't work anymore.

Now I use serializer->modelNameFromPayloadKey

[2015-06-02 13:25] igorT commented on #2978
@dennismende can you ping @fivetanley on Slack, and debug this with him, I would love for this to get fixed

[2015-06-02 14:12] igorT commented on #2745
@wecc has this been fixed?

[2015-06-02 14:21] wecc commented on #2745
@igorT open PR at https://github.com/emberjs/guides/pull/280

[2015-06-02 15:05] sly7-7 commented on #2098
@technomage I still think the first of two (either WS or request) to happen on a record will load the data, and the second will be just ignored. I'm not telling there won't be another issue in that use case, but at least I can't see how this specific error (a record loadingData while loading) could be raised.

[2015-06-02 16:51] bmac commented on #1087
I think `null` is a valid value that overrides the default value. Reading the liked pr it seems @alvincrespo issue was related to attributes not included in the response would be set to null, that behavior has been fixed.

[2015-06-02 16:51] #1087 closed

[2015-06-02 17:12] bmac commented on #1732
Closing this issue. Going forward Ember Data will follow JSON-API 1.0 http://jsonapi.org/format/ which says

If you diverge from this spec you will likely need to extend and customize the adapter your application is using.

[2015-06-02 17:12] #1732 closed

[2015-06-02 17:42] bmac commented on #1829
This issue is rather tricky because Ember Data doesn't have enough context to know if the relationship returned from the server is the same one that already exists on the record or if the existing relationship is a new client side record that the server doesn't know about yet.

@igorT maybe the solution is to add a new method to the store that adapters can call to mark a record in the created stat

[2015-06-02 17:51] bmac commented on #1848
Closing as a duplicate of #1810.

[2015-06-02 17:51] #1848 closed

[2015-06-02 18:16] svox1 commented on #1732
Good to known. Thank you!

[2015-06-02 19:05] wecc commented on #2184
@fivetanley Would you be able to explain what this is about?

[2015-06-02 19:10] dennismende commented on #2978
Sorry but today doesn't work for me. Tomorrow should be possible.

[2015-06-02 19:11] bmac commented on #1921
Closing this issue. Now that Ember has Services they are a better place to encapsulating the logic around assigning a "default" relationship on a model.

[2015-06-02 19:11] #1921 closed

[2015-06-02 19:17] bmac commented on #2120
Closing. @jefflage feel free to reopen if this is still an issue.

[2015-06-02 19:17] #2120 closed

[2015-06-02 19:21] wecc commented on #2453
Has this been solved? Can this issue be closed?

[2015-06-02 19:28] wecc commented on #2517
@jme783 is this still an issue?

[2015-06-02 19:29] #2745 closed

[2015-06-02 19:33] bmac commented on #2318
@fivetanley has done some refactoring of `typeKey` recently which I believe fixes this issue. Feel free to reopen if its still a problem.

[2015-06-02 19:34] #2318 closed

[2015-06-02 19:39] wecc commented on #2610
ping @kgish

[2015-06-02 19:41] bmac opened #3150 "DS.Adapter#serialize needs a test"
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/adapter.js#L217-L240

[2015-06-02 19:48] kgish commented on #2610
Wow, this was quite some time ago and not sure if I remember enough to come up with a correct test demo. Perhaps I can mock the response in order to reproduce.

[2015-06-02 19:50] whatthewhat commented on #3150
I'll try to submit a PR for this

[2015-06-02 19:51] bmac opened #3151 "Sending headers from the RESTAdapter needs a test"
https://github.com/emberjs/data/blob/4d5a5a5135b016d900b4c4ab3692e85fc340eb4c/packages/ember-data/lib/adapters/rest-adapter.js#L821-L827

[2015-06-02 19:53] wecc commented on #2733
ping @flyswatter, is this still an issue?

[2015-06-02 19:56] wecc commented on #2752
@joshpfosi does a payload like the one posted by @jorgedavila25 work? can this be closed?

[2015-06-02 19:58] flyswatter commented on #2733
I've since worked around this and updated Ember, and wouldn't know how to replicate it anymore.

[2015-06-02 19:58] #2733 closed

[2015-06-02 20:00] bmac opened #3152 "Remove deprecated `pushRecord` method on RecordArray"
https://github.com/emberjs/data/blob/6d6c6462fe597be556d358585e9445513cbc662d/packages/ember-data/lib/system/record-arrays/record-array.js#L142-L153

[2015-06-02 20:03] bmac opened #3153 "RecordArray#addRecord is unused"
@igorT can this code be removed?

https://github.com/emberjs/data/blob/6d6c6462fe597be556d358585e9445513cbc662d/packages/ember-data/lib/system/record-arrays/record-array.js#L121-L136

[2015-06-02 20:04] igorT commented on #3153
do we use removeRecord?

[2015-06-02 20:06] bmac commented on #3153
yes

[2015-06-02 20:06] joshpfosi commented on #2752
I'm not totally sure on the payload I'm using now (it is working fine). Basically, it involves manually setting `metable_type` and `metable_id` fields in the payload.

[2015-06-02 20:06] #2752 closed

[2015-06-02 20:08] bmac opened #3154 "FilteredRecordArray#replace and AdapterPopulatedRecordArray#replace needs a test."
It should assert that an error is thrown when it is called.

https://github.com/emberjs/data/blob/87dec3e56b6b1744c49103417cc8cacc8f1edb23/packages/ember-data/lib/system/record-arrays/filtered-record-array.js#L49-L52

https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/record-arrays/adapter-populated-record-array.js#L29-L32

[2015-06-02 20:11] igorT opened #3155 "Update docs to ember-cli style"

[2015-06-02 20:13] sly7-7 commented on #3152
On it

[2015-06-02 20:20] wecc commented on #2768
Closing as a duplicate of #1829

[2015-06-02 20:20] #2768 closed

[2015-06-02 20:24] sly7-7 commented on #3153
@bmac It turns out that recordArrayManager [uses the deprecated _pushRecord](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/record-array-manager.js#L127). So I think this could be closed as soon as I remove the deprecated function

[2015-06-02 20:26] wecc commented on #2823
@pierrevdb did you get a chance to try out a more recent beta? could this be closed?

[2015-06-02 20:28] bmac opened #3157 "Snapshot#attr's error condition is untested"
There should be a test asserting that the error is thrown.

https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/snapshot.js#L133

[2015-06-02 20:29] bmac commented on #3157
Same issue for `belongsTo()`
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/snapshot.js#L228

and `hasMany()`
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/snapshot.js#L299

[2015-06-02 20:33] bmac opened #3159 "DS.Model#create is untested"
Should assert that an error is thrown when called.

https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/model/model.js#L759-L772

[2015-06-02 20:34] wecc commented on #2834
@jamesarosen @hcatlin @hjdivad there's been work done in the [BuildURLMixin](http://emberjs.com/api/data/classes/DS.BuildURLMixin.html) that I suspect would make this a lot easier. Would any of you be able to confirm if the `query` sent to `buildURL` or alternatively override `urlForFindQuery` solves this?

[2015-06-02 20:35] bmac opened #3160 "Test needed for DS.Store#deleteRecord"
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store.js#L373-L391

[2015-06-02 20:40] wecc commented on #2850
Closing as a duplicate of #1829. Please reopen if not.

[2015-06-02 20:40] #2850 closed

[2015-06-02 20:41] bmac opened #3161 "Test needed to assert DS.Store#getById returns null when there is no record in the store"
The else case is untested:
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store.js#L821

[2015-06-02 20:44] sly7-7 commented on #3161
On it

[2015-06-02 20:47] hjdivad commented on #2834
@wecc what's the reason for making this a mixin rather than having it in the base adapter?

[2015-06-02 20:50] wecc commented on #2834
@hjdivad an adapter doesn't necessarily have to talk to the storage with AJAX

[2015-06-02 20:58] bmac opened #3163 "DS.Model.relationshipNames is untested"
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/relationships/ext.js#L349-L391

[2015-06-02 21:02] bmac commented on #3163
DS.Model.eachRelatedType also needs a test
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/relationships/ext.js#L521-L536

[2015-06-02 21:13] #3153 closed

[2015-06-02 21:13] igorT opened #3165 "Rename the addRecord to addInternalModel on recordArray"

[2015-06-02 21:14] #3161 closed

[2015-06-02 21:14] #3159 closed

[2015-06-02 21:18] sandstrom commented on #1829
@bmac Yes, you are absolutely right, that's the meat of it. But I think using a transient id, mirrored back by the server, should be pretty straightforward way of solving this.

[code]
*(example of what a payload could look like)*

[2015-06-02 21:21] sly7-7 commented on #3165
@igorT I guess this would also impact recordArrayManager, manyArray, and maybe on relationships as well ?

[2015-06-02 21:54] igorT commented on #3165
manyArrays are not recordArrays, so not blocked on this, but yes to recordArrayManager

[2015-06-02 22:01] sly7-7 commented on #3165
Ok, so as I understand, one step at a time ?

[2015-06-03 00:15] hjdivad commented on #2834
@wecc makes sense; still, if the app adapter is already extending `DS.ActiveModelAdapter` the mixin is an implementation detail app authors don't need to know about right?

[2015-06-03 01:43] #3081 closed

[2015-06-03 02:47] igorT opened #3171 "Implement `filterBy` on results of `store.find` that listens for changes and recomputes"

[2015-06-03 03:31] raytiley opened #3172 "Issue setting belongsTo with PromiseProxy"
I have simple code like this:

[code]

This is giving me an exception:

[code]

I'm currently on `1.0.0-beta.19+canary.34efef04a2`

[2015-06-03 05:55] pierrevdb commented on #2823
@wecc I think you should close this for now.

I haven't had a chance to try a new beta but am planning on trying the latest in the next week or so but, since I changed the way I use select view,s the issue wouldn't be immediately obvious after an upgrade so I would need to spend some time to test again. If I find  a problem I can always open a new issue for the latest beta.

Thanks for following u

[2015-06-03 05:55] #2823 closed

[2015-06-03 07:20] feitian124 commented on #2453
sure. we are maintan an array ourselfs now

[2015-06-03 07:20] #2453 closed

[2015-06-03 08:14] wecc commented on #2834
@hjdivad confirm

[2015-06-03 08:22] yratanov commented on #3163
@bmac in what file should these test be?

[2015-06-03 08:35] bmac commented on #3163
These tests can go in https://github.com/emberjs/data/blob/master/packages/ember-data/tests/unit/model-test.js.

[2015-06-03 08:41] #3157 closed

[2015-06-03 08:49] sly7-7 commented on #3172
@raytiley Do you know if it used to work on previous versions ?

[2015-06-03 09:14] sly7-7 commented on #3155
Closing since a PR is open for this #3174

[2015-06-03 09:32] #3160 closed

[2015-06-03 10:11] #3154 closed

[2015-06-03 11:05] raytiley commented on #3172
I'm pretty sure it worked before. The problem is definitely inconsistent and weird. My access of the PromiseProxy is from a service. I have a computed property on a service like such

[code]

Then in a route's model hook I do:

[code]

If the code is just like above I don't get the error. But calling `save()` on the new record doesn't serialize the location id into the new record.

So I tried addi

[2015-06-03 12:28] #3163 closed

[2015-06-03 12:29] #3144 closed

[2015-06-03 12:32] sly7-7 commented on #3172
Quickly looking at the code, it seems like
[code]
should work, at least there is a mechanism to accept setting a belongsTo with a PromiseProxy if it already has the content.
I think it could have to do with the recent move to internalModel. As the stack shows, there is an access to modelName here https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/relationships/state/belongs

[2015-06-03 13:11] #3151 closed

[2015-06-03 13:11] raytiley commented on #3172
Yeah.. the model name in the service is a typo. In the stack the `type` property in `newRecord.type` is undefined.

[2015-06-03 13:19] sly7-7 commented on #3172
I have absolutely no idea how that could happen. I think newRecord is an InternalModel instance, and it should definitely have a type... It would be great if you could file a failing test

[2015-06-03 13:24] raytiley commented on #3172
Can you point me in the direction of a similar test I can try to tweak? I'm super short on time for the next few weeks, and I typically suck at ED tests.

I could also do a quick screenhero session with someone if they want to poke around the stack trace live.

@igorT knows where to find me :)

[2015-06-03 13:32] sly7-7 commented on #3172
@raytiley I will try to make a test now, since the base scenario looks easy to reproduce (at least I think)

[2015-06-03 13:38] raytiley commented on #3172
@sly7-7 :heart:

I'm good for now, like I said I worked around it by accessing the `content` property on the `PromiseProxy` but that seems like a short term hack.

Thanks again.

[2015-06-03 14:04] sly7-7 commented on #3172
So, maybe the test is a little contrived, but it reproduces your case:

[code]

[2015-06-03 14:10] sly7-7 commented on #3172
So it turns out that your code and this code is trying to put a real record (from the promiseProxy's content property) while I think the relationship now expects an internal model.
cc/ @igorT what do you think about this use case ?

[2015-06-03 14:16] igorT commented on #3172
nice catch, I thought i handled that in the internalModel refactor, let me double check

[2015-06-03 14:19] igorT commented on #3172
@sly7-7 yes the record promise should call getRecord on the promise content. Weird that the tests pass, maybe they just assert the id, as there is a test for this case. Should be an easy fix

[2015-06-03 14:23] sly7-7 commented on #3172
@igorT could you give me a pointer to this test ? also is it worth it to add the above test?

[2015-06-03 14:32] igorT commented on #3172
https://github.com/emberjs/data/blob/master/packages/ember-data/tests/integration/relationships/one-to-one-test.js#L165 is an example. Confused why it passes.
Yes, to `content._internalModel`

[2015-06-03 15:00] sly7-7 commented on #3172
@raytiley If you could try with the PR, it would be great :)

[2015-06-03 15:21] bmac commented on #3051
Should fixed on canary after https://github.com/emberjs/data/pull/3136

[2015-06-03 15:21] #3051 closed

[2015-06-03 15:23] #3150 closed

[2015-06-03 16:31] sly7-7 commented on #2190
I'm not sure if there is something to do in ember data for that case.
@igorT maybe we can close ?

[2015-06-03 16:47] igorT commented on #3155
We usually keep issues open until PR is merged no?

[2015-06-03 17:10] sly7-7 commented on #3155
@igorT Sorry for that, instead I referenced this in the related PR

[2015-06-03 17:51] #3165 closed

[2015-06-03 17:53] igorT commented on #2190
I think this will be solved by the reduce computed removal in Ember

[2015-06-03 17:54] igorT commented on #2982
I think this might be solved on master, can you check please?

[2015-06-03 17:57] sly7-7 commented on #2982
@igorT If it's the same as https://github.com/emberjs/data/issues/3084, then I doubt it's resolved

[2015-06-03 18:04] sly7-7 commented on #3152
Woops, was not autoclosed :disappointed:

[2015-06-03 18:04] #3152 closed

[2015-06-03 18:12] sly7-7 commented on #2512
Seems like, since the map file is basically empty: https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/map.js

Also @wecc, you were overriding some behavior for Ember.OrderedSet (not preserving the right order ?)

So I'm a bit confused of what to do exactly for this issue

[2015-06-03 19:15] igorT commented on #3084
Taking a look

[2015-06-03 19:34] igorT commented on #3084
I think this should be fixed by moving to getters for relationships, and being smarter about unloading

[2015-06-03 21:28] #3172 closed

[2015-06-03 23:36] igorT opened #3186 "Consider refactoring the attrs hash for 1.0"
Serializers are currently customized using the `attrs` hash
For example: http://emberjs.com/api/data/classes/DS.RESTSerializer.html#property_attr
However the `attrs` hash grew out organically and applies to both relationships and attributes. The attrs name can be confusing, should we change it to options or smth?

[2015-06-03 23:55] igorT opened #3187 "If someone passes serialize:true or embedded:true to the relationship helper, warn them it's not the right place"
If someone does something like
[code]
we should warn them

[2015-06-04 00:03] igorT opened #3188 "Add tests for normalizing `links` in Json and Rest serializer"
We don't test what happens if you set a custom key in attrs for a relationship and receive that relationship with a link

[2015-06-04 00:29] igorT opened #3189 "Serialize:true should take priority over the OneToMany check for relationships"
https://github.com/emberjs/data/blob/ae6355af8235ca42d7dba0b3cf7a400732aa3c99/packages/ember-data/lib/serializers/json-serializer.js#L644 we should have a check for something like `mustSerialize` and account for it https://github.com/emberjs/data/blob/ae6355af8235ca42d7dba0b3cf7a400732aa3c99/packages/ember-data/lib/serializers/json-serializer.js#L656

[2015-06-04 01:17] tpitale commented on #3188
Do you have any pointers to where this happens in the code, so I can write the test for that?

[2015-06-04 01:23] igorT commented on #3188
Basically https://github.com/emberjs/data/blob/master/packages/ember-data/tests/integration/serializers/json-serializer-test.js#L222
but instead of  `my_comments: [1, 2]` pass in `links: { my_comments: 'url' }`
and assert that link got normalized correctly. This is a bug right now, so i would expect the test to fail fwiw

[2015-06-04 01:26] tpitale commented on #3188
Great, I should be able to do that.

[2015-06-04 03:03] jackmatt2 commented on #3063
@igorT selection='model.employee' worked, cheeers.

[2015-06-04 03:03] #3063 closed

[2015-06-04 04:56] givanse commented on #2982
I just took master for a spin and it *seems* like the `flushCanonical` problem is solved, but something else popped up. I'm still digging, but I'll share the new error in case I'm missing something obvious.

[code]

[2015-06-04 05:48] givanse opened #3192 "Assertion Failed for InternalModel, Please pass a dasherized string"
Changes related to 61928c8b1d4543a63f1c4b68e386c0cd5223a3e3 instruct us to use dasherized strings.

In `deserializeRecordId` when the call for `store._internalModelForId` is made, the argument isn't a dasherized string. Printing the object shows that its an `InternalModel`.

[code]

Should `_internalModelForId` receive `modelName`? Or, during the instantiation of the InternalModel `type` is receiv

[2015-06-04 05:48] givanse commented on #2982
Waiting for https://github.com/emberjs/data/issues/3192

[2015-06-04 06:18] givanse commented on #3192
I tried a hack:

[code]

It worked just fine.

[2015-06-04 06:19] sly7-7 commented on #3192
@givanse If you could reproduce in a jsbin or in a test it would be great

[2015-06-04 13:03] bmac commented on #3186
Is this the attrs hash on the serializer?

[2015-06-04 13:56] igorT commented on #3186
Yes, it's weird its called attrs yet works for both attributes and relationships

[2015-06-04 14:50] #3050 closed

[2015-06-04 15:44] jcope2013 opened #3197 "registry.container is not a function on Canary using ember 1.9.1"
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/instance-initializers/initialize-store-service.js#L21

[2015-06-04 17:00] #3197 closed

[2015-06-04 17:22] jcope2013 opened #3200 "Cannot read property '_attributes' of undefined on Canary using Ember 1.9.1"
InternalModel gets passed to hasValue which is undefined which then cause this error

var internalModel = this._internalModel; //undefined
if (hasValue(internalModel, key))

[code]

https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/model/attributes.js#L304
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/model/attributes.js#L221

[2015-06-04 17:25] igorT commented on #3200
Can you submit a jsbin or test reproducing please?

[2015-06-04 17:30] jcope2013 commented on #3200
seems like it is a ember validations (https://github.com/dockyard/ember-validations) issue, i will file an issue there

[2015-06-04 17:30] #3200 closed

[2015-06-04 17:37] igorT opened #3201 "Run a benchmarks test from master to beta 18"
@twokul  updated the benchmarks branch recently i believe

[2015-06-04 17:49] iamjstates commented on #3192
I'm getting the same error - @givanse where did you place your hack?

[2015-06-04 17:56] igorT commented on #3192
@iamjstates can you reproduce it in a jsbin or test?

[2015-06-04 18:18] jakemauer commented on #3201
Is there a pattern or previous issue I can follow for saving/presenting the results of the benchmarks?

[2015-06-04 19:00] igorT commented on #3201
So for now you just do it manually, if you get the benchmark suite running, ping me on slack, and I can double check the tests

[2015-06-04 19:00] tim-evans commented on #3188
@igorT I believe I wrote this. See https://github.com/emberjs/data/pull/1371 for docs on the current behavior

[2015-06-04 19:10] igorT commented on #3188
@tim-evans your pr doesn't normalize the link keys though or have tests for that. For example
[code]
doesn't turn into
[code]

[2015-06-04 19:12] tim-evans commented on #3188
Understood. I'm just making sure that people know where the things are related to this :)

[2015-06-04 19:36] igorT commented on #3188
@tim-evans ah, sorry i misparsed your answer, thought when you said `i wrote this` you were referring to this issue

[2015-06-04 19:39] tim-evans commented on #3188
It's all good :P

[2015-06-04 19:40] #3101 closed

[2015-06-05 00:29] bmac opened #3205 "Rename and deprecate store.all/store.getById"
`store.getById` should be renamed to `peekById`.

`store.all` should be renamed to `store.peekAll`.

For both of these methods we still need to support the old api with a deprecation warning recommending the use of the new name.

Docs and guides will also need to be updated.

[2015-06-05 00:35] HeroicEric commented on #3205
I'm on it

[2015-06-05 00:43] igorT opened #3206 "Missing tests for two implicit relationships with same key names"
I broke implicit relationship keys partially, and no tests were broken, but can't come up with a failing tests right now, not sure if it is actually a problem.
https://github.com/emberjs/data/blob/6243347687da16b1700a02a28d7c3f48281e6580/packages/ember-data/lib/system/relationships/state/relationship.js#L16
first part of the compound key was always null, not sure if this is actually a problem.

[2015-06-05 02:39] sozuuuuu opened #3210 "Store#findHasMany behavior"
The doc says Store#findHasMany accepts `type` either a string or a subclass of DS.Model but...

### Does not work

- With a subclass of DS.Model: store.findHasMany(owner, 'relationships', this.container.lookupFactory('model:relationship'))
- With a string: store.findHasMany(owner, 'relationships', 'relationship')

### Works

It successfully requests to `/owners/x/relationships`

- store.findHasMan

[2015-06-05 09:16] bmac commented on #3210
Looks like a do bug. It should say the 3rd argument is the relationship object. @sozuuuuu would you like to open a pr to fix the docs?

[2015-06-05 09:30] #3155 closed

[2015-06-05 10:00] #3210 closed

[2015-06-05 12:39] sly7-7 commented on #2512
@wecc @fivetanley ping ?

[2015-06-05 13:00] wecc commented on #2512
I don't think we can remove our changes in `Ember.OrderedSet` as they are not upstreamed.

[2015-06-05 13:21] sly7-7 commented on #2512
Ok, so that means this issue could be closed ?

[2015-06-05 13:22] wecc commented on #2512
We might still want to remove the other ones?

[2015-06-05 13:24] sly7-7 commented on #2512
Ok, so I guess it's basically removing this file and replace its use by import from Ember the Map and MapWithDefault ?

[2015-06-05 14:02] bmac commented on #2900
I just tried out the above jsbin using the latest master build and this issue appears to have been fixed. http://emberjs.jsbin.com/wiveqejive/1/edit?html,css,js

[2015-06-05 14:09] plcarmel commented on #2900
I just tried it with the link you provided and it seems the problem is still present. Please follow my instructions carefully.  It works for the first save but not for the subsequent ones.

[2015-06-05 14:12] bmac commented on #2900
You are correct. Sorry about that. I'm currently working updating @wecc's pr #2998. Should have a fix for this soon.

[2015-06-05 14:22] plcarmel commented on #2900
No worries, thanks.

[2015-06-05 17:41] iamjstates commented on #3192
I fixed the error - it was with my codebase.

Thanks

[2015-06-05 17:49] igorT commented on #3192
Thanks! What was it?

[2015-06-05 17:49] #3192 closed

[2015-06-05 22:34] jrm2k6 opened #3219 "Uncaught ReferenceError: DS is not defined"
npm ember-data 1.0.0-beta.19
bower ember-data 1.0.0-beta.18
ember-cli 0.2.7
ember 1.12.0

[code]

Error: Uncaught ReferenceError: DS is not defined

I tried to uninstall/reinstall the bower and npm packages. What should I try now?

[2015-06-05 23:03] fivetanley commented on #3219
try setting it to beta.19 in your bower.json?

[2015-06-05 23:04] fivetanley commented on #3219
window.DS seems to get defined in globals mode so I'm a bit confused here, as the addon should just load that.

[2015-06-05 23:06] jrm2k6 commented on #3219
I was going to try that either have both a 18 or 19. Why are they different though? The bower package hasn't been updated?

[2015-06-05 23:09] jrm2k6 commented on #3219
window.DS is undefined.
Switching both to 19 or 18 doesn't change a thing.

[2015-06-05 23:09] fivetanley commented on #3219
Bower should be updated.

[2015-06-05 23:11] jrm2k6 commented on #3219
This is what the bower installation shows though

https://gist.github.com/jrm2k6/b3292b624ea33ebd23cd

Something interesting in there? I chose the second option both time.

[2015-06-05 23:16] fivetanley commented on #3219
Does changing both package.json and bower.json to beta.18 make a difference?

[2015-06-05 23:17] jrm2k6 commented on #3219
I tried already both 18. Will try again. But it didn't make a difference

[2015-06-05 23:19] fivetanley commented on #3219
Are you sure you're not getting any other errors in your DevTools console?

[2015-06-05 23:19] fivetanley commented on #3219
Also if the stack is available for your current error that would be great as well.

[2015-06-05 23:21] jrm2k6 commented on #3219
DevTools:

![Uploading Screen Shot 2015-06-05 at 4.19.52 PM.png…]()

Stack:
![screen shot 2015-06-05 at 4 20 47 pm](https://cloud.githubusercontent.com/assets/1088099/8016896/dcc6611a-0b9e-11e5-8c33-a784b293c239.png)

[2015-06-05 23:40] jrm2k6 commented on #3219
I just generate a new project, and it seems to be working with beta-18/beta-19 for both. I don't know why it doesn't work in my other project though.

[2015-06-06 01:52] #3201 closed

[2015-06-06 02:00] igorT opened #3220 "Make async relationships default"
In current ember data throw a deprecation on any relationship that is not `async:false`. Write an Ember Watson helper to add `{async:false}` to each one

[2015-06-06 04:23] igorT opened #3222 "Add metadata to belongsTo"
@jhliberty is taking care of this

[2015-06-06 04:27] igorT opened #3223 "Convert internal tests to use json api format for `store.push`"
Everywhere where we do,
`store.push(type, data)` in tests, we need to convert to `store.push(jsonApiFormat)`
We can also break this up in multiple PRs and merge to a branch.

[2015-06-06 04:59] igorT commented on #3223
Instead of pushing something like
[code]
should push

[code]
store.push('user', {
  id:1,
  name: 'bmac',
  locations: [1,2,3],
  links: {
    other: 'hello'
  }
})
[code]

[2015-06-06 05:44] igorT commented on #3223
Will need to temporarily comment out  `Ember.assert('Passing classes to store methods has been removed. Please pass a dasherized string instead of '+ Ember.inspect(modelName), typeof modelName === 'string');`

[2015-06-06 06:02] jkblgithub opened #3225 "typeForRoot on serializer no longer being called"
We are currently on Ember Data 1.0.0-beta.18, Ember 1.12 and CLI 0.2.7.

Since this last update, we are getting ember data assertion warnings like the following:
[code]
I also noticed that a console log we included in the appuser serializer is no longer called:
[code]
I can confirm that TypeForRoot was called prior to this update. We have had a number of other issues since upgrading and it seems t

[2015-06-06 06:29] #3225 closed

[2015-06-06 06:29] jcope2013 commented on #3225
"POTENTIALLY BREAKING CHANGE if you override typeForRoot currently introduce modelNameFromPayloadKey and deprecate typeForRoot @fivetanley
RESTSerializer#typeForRoot has been deprecated. You can use RESTSerializeer#modelNameFromPayloadKey instead.
Added RESTSerializer#payloadKeyFromModelName. This allows you to
typeKey on Snapshots and Model classes has been deprecated. Use modelName instead. spec

[2015-06-06 09:23] zoeesilcock commented on #3187
Let me know if this is what you where looking for: https://github.com/emberjs/data/pull/3226

[2015-06-06 15:50] fivetanley commented on #3223
Why?

[2015-06-06 19:12] bmac opened #3227 "`store.findAll(type)` should be made public"
store.[findAll](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store.js#L1000) is currently private. It should be made public and the docs should be updated to use this method.

`store.find(type)` should be deprecated and suggest the use of `store.findAll` instead.

`fetchAll` should be deprecated and suggest the use of `store.findAll` instead.

[2015-06-06 19:22] bmac opened #3228 "Add findByRecord and deprecate findById"
Rename [findById](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store.js#L616) to `findByRecord`. Update all internal references of `findById` to `findByRecord`.

Add a new `findById` method that logs a deprecation warning then delegates to `findByRecord`.

[2015-06-06 19:34] bmac opened #3229 "Add store.query method"
Rename [store.findQuery](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store.js#L980) to `query`.

Update internal references to `findQuery` and make sure they use the new `query` method.

Update [store.find(type, {query: 'object'})](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store.js#L534) to log a deprecation warning that recommends th

[2015-06-06 19:39] HeroicEric commented on #3227
I'm on it

[2015-06-06 20:34] bmac opened #3231 "Deprecation warnings from RESTSerializer in canary"
In Canary I'm seeing the RESTSerialzer trigger the "Passing classes to store methods has been removed. Please pass a dasherized string instead of App.Author" deprecation warning.

http://emberjs.jsbin.com/gexuhevefi/3

The offending line is
https://github.com/emberjs/data/blob/43710498765c02f6dc2ad65f43003811c51978ad/packages/ember-data/lib/serializers/rest-serializer.js#L454

It should be passing

[2015-06-06 20:39] wecc commented on #3231
I thought I fixed this :confused:

[2015-06-06 22:01] igorT commented on #3228
https://github.com/emberjs/rfcs/pull/27#issuecomment-109627841  calls it `findRecord` and not `findByRecord` ?

[2015-06-06 22:33] csantero commented on #3229
I'm working up a PR for this.

[2015-06-06 22:49] HeroicEric commented on #3228
@igorT I believe those are to be two separate methods (`findByRecord` and `findRecord`).

I asked @bmac about the differences and he said "`findByRecord` does some extra bookkeeping and should be private"

[2015-06-07 00:03] igorT commented on #3228
Ah is this just an internal cleanup?

[2015-06-07 02:05] #3231 closed

[2015-06-07 02:59] cdoornink opened #3239 "app/store.js cannot extend Store with new methods in beta.19"
This worked in beta.18 and is broken in beta.19:

app/store.js

[code]

Changing from Store.extend to Store.reopen fixes this as well as moving the file to app/application/store.js but @bmac pointed out in Slack that he may have done something to break this so I'm reporting this as a bug here.

[2015-06-07 03:00] fivetanley commented on #3239
I think this has something to do with the `store:main` => `application:main` change bmac made. Is there a  way we could warn about this in ember cli?

[2015-06-07 06:49] bmac commented on #3228
Oops this should have been findRecord. My mistake

[2015-06-07 08:39] charlatan154 opened #3240 "Promises responses returns internalModels in app code instead of DS.Models."
Promises responses, such responses from `find`, exposes internalModels to app code instead of DS.Model. Shouldn't internalModels used only from ember-data internally as mentioned [here](https://github.com/emberjs/data/commit/4a0447427c7b02806520b256aca210eefbb30ae1)?
[Example JSBin](http://emberjs.jsbin.com/bokatifopa/1/edit?js,console,output)
[Stackoverflow question](http://stackoverflow.com/ques

[2015-06-07 13:07] Serabe commented on #3223
Sorry, I've been in a plane for most of my weekend. I see @stevenwu has started to tackle the issue. If it is too big for one person and you decide to split it in several, or if @stevenwu needs some help, just let me know.

[2015-06-07 13:53] nruth commented on #2120
I just had this problem on 1.0.0-beta.18
this code in a rails controller:
[code]
causes

[code]

But it was resolved by changing from 200 to 204 as suggested by @recipher .

[code]

[2015-06-07 17:36] #3229 closed

[2015-06-07 19:31] igorT opened #3245 "Consider moving 'content' into '_content' and asserting so people don't troll themselves"

[2015-06-07 19:34] fivetanley commented on #3245
:clap:

[2015-06-07 20:00] wecc opened #3246 "Deprecate `store.pushMany`"
When we support JSON-API internally we should deprecated `store.pushMany()` in favor of `store.push()`

[2015-06-07 20:14] igorT commented on #3240
I only see `App.Event` in your jsbin results?

[2015-06-07 20:51] charlatan154 commented on #3240
i guess my mistake was using `this.get('events.content')`, in my app code, which returns internalModels now. so now i have to change it to `this.get('events')` to work. right?

[2015-06-07 20:53] igorT commented on #3240
Yup, you shouldn't be poking inside `.content`

[2015-06-07 20:53] #3240 closed

[2015-06-07 22:30] igorT commented on #3009
@nathanhammond we refactored the serializers, they now return json api format and I believe are much more sane. Please let us know if this is still an issue

[2015-06-07 22:30] #3009 closed

[2015-06-07 22:49] nathanhammond commented on #3009
We worked around it in other ways, and the move to JSON API should handle this for us. :)

/cc @dxprog

[2015-06-07 23:48] #3228 closed

[2015-06-07 23:49] igorT opened #3248 "Add adapterOptions hash to find methods"
Make sure to deprecate the passing of preloaded to find right now, and to move preloaded into a preloaded key.

[2015-06-08 01:16] fivetanley opened #3249 "private methods that don't start with underscore"
Some of these should be public; some of these need to have underscores added. If you have commit bit, feel free to edit this. If you don't, please comment below.

Once each item in this list has an actionable item, our plan of action is to

1: Move the method to its underscored form
2: Deprecate the should-be-private methods.
- [x] packages/activemodel-adapter/lib/system/active-model-serializer.js

[2015-06-08 02:09] fivetanley opened #3250 "prefix private methods with underscore - store.js"
Steps to fixing this issue:

1) deprecate the method. You can use `Ember.deprecate('serialize was documented as private and will be removed in the next version of Ember Data.')`
2) move the method to an underscored method (for example `_serialize`) and update usages in the codebase

If the item is labeled in parenthesis as `(public)`, the `@private` yuidoc tag should be removed. Otherwise, if it i

[2015-06-08 03:07] fivetanley opened #3252 "gem dependency on ember-data-source should be ready for Ember 2.0"
https://github.com/emberjs/data/blob/master/ember-data-source.gemspec#L15

Should probably be something like `>= 1.8 < 3.0`.

cc @tricknotes

[2015-06-08 03:52] jme783 commented on #2517
I don't think so, I'll go ahead and close this

[2015-06-08 03:52] #2517 closed

[2015-06-08 05:08] igorT commented on #3249
`packages/ember-data/lib/adapters/fixture-adapter.js`
is deprecated anyhow

[2015-06-08 06:25] tricknotes commented on #3252
:+1:

[2015-06-08 06:26] gevious commented on #3250
I'm going to give this one a go. PR will follow soon

[2015-06-08 06:29] igorT commented on #2479
This was fixed

[2015-06-08 06:29] #2479 closed

[2015-06-08 06:29] igorT commented on #2515
Decided against this

[2015-06-08 06:29] #2515 closed

[2015-06-08 06:52] gevious commented on #3250
buildRecord is actually named buildInternalModel. I've changed the yuidoc.

I've sent PR #3254

[2015-06-08 08:55] sly7-7 commented on #2542
Closing since 3167 is merged

[2015-06-08 08:55] #2542 closed

[2015-06-08 09:32] martndemus opened #3255 "_internalModel is undefined on 'init' of a record."
Testcase: http://jsbin.com/cegapapigo/2/edit?html,css,js,output

[code]

[2015-06-08 09:34] amk221 opened #3256 "unknown injection: `service:store` in instance initailizer"
This code in a fresh CLI app doesn't work in Ember-data v1.0.0-beta.19, whereas it did in .18
http://jsfiddle.net/amk221/r4L4q0h4/

[2015-06-08 09:44] sly7-7 commented on #3255
It's because the model receive it's internalModel after its creation (and obviously after the init method): https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/model/internal-model.js#L117

setting this internalModel inside the _createCall should do the trick, but I'm almost sure there was a good reason not to do it.

cc/ @wecc @igorT

[2015-06-08 09:51] sly7-7 commented on #3256
@amk221 Would it be possible to debug here ? https://github.com/emberjs/data/blob/master/packages/ember-data/lib/instance-initializers/initialize-store-service.js#L28 Is this app initializer called ?

[2015-06-08 09:52] stefek99 opened #3257 "Updating documentation with the default expected API responses."
I've found this question on SO greatly informative: http://stackoverflow.com/questions/14922623/what-is-the-complete-list-of-expected-json-responses-for-ds-restadapter

![ember response](https://cloud.githubusercontent.com/assets/249703/8032070/4a90737e-0dcb-11e5-96d0-68bfaa3d5531.PNG)

For instance - I didn't know (until I saw that table) that editing model creates PUT request that expects the ac

[2015-06-08 09:57] amk221 commented on #3256
Never gets there

[2015-06-08 10:00] martndemus commented on #3256
you need a `after: 'ember-data'` on the initializer.

[2015-06-08 10:03] amk221 commented on #3256
aww man. Thanks
[what changed?]

[2015-06-08 10:06] martndemus commented on #3256
Ember data started using instance initializers.
Before ember data was still initialised in an app initializer, which are run before instance initializers.

Assume that initialisers of the same time run at random order unless you use before/after declarations.

[2015-06-08 10:09] sly7-7 commented on #3256
@martndemus explanations in the code:
https://github.com/emberjs/data/commit/c1324d7de18e6c46684987c8587a342bb8eddea1

[2015-06-08 10:10] amk221 commented on #3256
Ok thanks. But I don't really want to have to dig through Ember data's code base each time I upgrade.

I would have been nice to learn this from the changelog or the Ember blog post

[2015-06-08 10:11] martndemus commented on #3256
@amk221 see http://emberjs.com/deprecations/v1.x/#toc_access-to-instances-in-initializers

[2015-06-08 10:12] amk221 commented on #3256
Yes I've read that and I already use them. But there was no notice in the ember-data change.
Just saying. Want to avoid making issues all the time.

[2015-06-08 10:13] martndemus commented on #3256
Sorry I removed my previous comment, because after submitting it I immediately realised it was stupid. But for readers it was:

[2015-06-08 12:14] sly7-7 commented on #3256
@amk221 I think the core team tries as much as possible to avoid breaking changes, and when it's not possible, they usually refer it, maybe this use case hast just been forgotten.

cc/ @bmac @fivetanley I quicky put something in the post blog: https://github.com/emberjs/website/pull/2194

@amk221 Would you understand that ?

[2015-06-08 12:15] amk221 commented on #3256
Of course!

[2015-06-08 12:25] sly7-7 commented on #3256
No pb :), thanks for reporting :)

[2015-06-08 13:06] fivetanley commented on #3256
Probably worth adding to the changelog, but using `after: 'ember-data'` is the way we should be recommending things like this in the guides. Otherwise there's no way to guarantee ordering.

[2015-06-08 13:13] fivetanley commented on #3257
I think @bmac would be able to point you in the right direction here. I don't know if he has it in his guides updates.

[2015-06-08 13:44] bmac commented on #3256
Thanks for reporting this issue @amk221. I agree with you that this should be added to the change log and website. I'm going to leave this issue open until that happens.

[2015-06-08 14:21] bmac commented on #3256
The release bog post has been updated to mention this change: http://emberjs.com/blog/2015/06/05/ember-data-1-0-beta-19-released.html#toc_services-depending-on-the-store

[2015-06-08 14:21] amk221 commented on #3256
:+1:

[2015-06-08 14:36] sly7-7 commented on #3256
This evening, I will try to find a place in the docs to mention the `after: 'ember-data'`

[2015-06-08 14:41] #3256 closed

[2015-06-08 14:49] bmac commented on #3257
This info looks great @stefek99. I don't think it exits in any one place in the guides. The table on the [the-rest-adapter](http://guides.emberjs.com/v1.12.0/models/the-rest-adapter/) guide is the closest thing that I know of, however it doesn't have nearly this level of information.

[2015-06-08 14:55] jcbvm commented on #3192
I have the same error, looks like the same point where it is failing. @iamjstates what was going wrong in your codebase?

[2015-06-08 14:57] bmac commented on #3255
@martndemus what is your use case for creating records using `_create` instead of using the store's apis for creating a record?

[2015-06-08 15:00] martndemus commented on #3255
@bmac It's just as simple demonstration, I don't actually use `_create`. `_create` is simply used by all the public manners of initializing a record.

[2015-06-08 15:04] sly7-7 commented on #3255
@bmac It seems fair for me as a user to be able to do some things on('init'), like we may be doing in views or controllers.

[2015-06-08 15:17] bmac commented on #3255
Seems fair. @igorT how do you feel about the idea of passing `_internalModel` in as one of the properties on the object passed into to `_create(...)`?

[2015-06-08 15:37] bmac commented on #3249
I think it is safe to deprecate `recordForId`.

[2015-06-08 16:21] igorT commented on #3255
We should have a separate hook as to not to have to guarantee ordering, but @bmac that solution seems ok for now

[2015-06-08 16:52] Fryie opened #3259 "PUT vs PATCH in ActiveModelAdapter"
Apologies if this has been asked before (couldn't find anything specific), but what is the rationale for using PUT instead of PATCH in the ActiveModelAdapter for updateRecord?

As far as I understand, PATCH has been the preferred Rails verb for updates since 4.0. Is this due to backwards compatibility? If so, would it be possible to add some configuration setting in order to specify the use of PAT

[2015-06-08 17:02] jrm2k6 commented on #3219
It seems to be related to my current project only, creating some ember projects on their own, included or not in another npm based project seems to be fine (I was suspecting some ember-cli magic). It seems to be problematic even with a fresh ember project in my current one. Any idea how I should start to debug what is going on?

[2015-06-08 17:46] jrm2k6 commented on #3219
The issue is with this package https://github.com/unionups/ember-cli-bootstrap-sass. Removing it works and DS is required correctly.

[2015-06-08 18:02] #3219 closed

[2015-06-08 18:50] jcbvm opened #3260 "Error thrown when using EmbeddedRecordsMixin since beta.19"
I get an error when trying to save a record with an embedded belongsTo relationship.
The error is thrown at `typeForRelationship` where the second parameter `store` seems to be `undefined`.

I created a JSBin:
http://emberjs.jsbin.com/degezazozi/1/edit?html,js,output

[2015-06-08 19:02] bmac commented on #3260
Looks like inverseFor is expecting `store` to be passed to it here which is resulting in this error: https://github.com/emberjs/data/blob/4f0176fa0d3caed29389a462c4a244ef673ffea0/packages/ember-data/lib/serializers/embedded-records-mixin.js#L349

@jcbvm would you be interested in submitting a pr with a test to fix this issue?

[2015-06-08 19:08] jcbvm commented on #3260
@bmac Will see if I can create some time to create a PR.

[2015-06-08 19:19] #3227 closed

[2015-06-08 19:32] bmac opened #3261 "Implement queryRecord"
@thaume Any chance you have time to implement this one?

[code]

[2015-06-08 22:06] mikehollis commented on #2172
The current documentation includes an example that has the `_id` extension on it, so I don't know if this issue is relevant anymore.

However, if it is, I've updated the documentation to be even a little more explicit:
https://github.com/mikehollis/data/commit/8b0cc7e1e39ee2def121c7ca543ccc469e5c3f90

If you'd like me to issue a pull request, just let me know!
**side note:** Is that the correct sp

[2015-06-08 22:26] #3255 closed

[2015-06-08 22:40] bmac opened #3265 "changed attributes should be reset when matching data is pushed"
Changed attributes should be reset to if data is pushed into the store that matches the current "changed" value.

Example:

[code]

[2015-06-08 23:30] igorT commented on #3260
cc @fivetanley and @wecc

[2015-06-08 23:33] #2900 closed

[2015-06-08 23:33] #2937 closed

[2015-06-08 23:58] btecu commented on #3259
`PATCH` is not available in `IE8`.
Also, unlike `PUT`, `HTTP/1.1` did not define the `PATCH` method.

[2015-06-09 00:07] Fryie commented on #3259
Sometimes I forget I'm dealing with browsers... Yes, I guess that would make sense. In that case I'll just have to move over to PUT. Thanks for the info.

[2015-06-09 00:45] amk221 opened #3266 "Testing REST serializer in v1.0.0-beta.19"
I had this in my test suite:

    var serializer = this.subject();
    var payload = ..etc..
    var store = this.container.lookup('store:application');
    var Party = store.modelFor('party');
    var result = serializer.extractSingle(store, Party, payload);
    assert.deepEqual...

After upgrading from beta.18 it fails with "Cannot read property 'modelFor' of undefined". I think [here](https://g

[2015-06-09 01:24] averydev commented on #1737
+1

[2015-06-09 04:31] #3259 closed

[2015-06-09 08:27] igorT opened #3271 "Deprecate pushing real models in relationships into store.push"
https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store.js#L2059

this should deprecate

[2015-06-09 09:04] #3260 closed

[2015-06-09 09:34] igorT opened #3273 "Rename rollback to rollbackAttributes"
To be future compatible once we have full rollback.

[2015-06-09 09:46] igorT commented on #3266
Can you test latest master? I believe this should be fixed

[2015-06-09 09:54] igorT commented on #2494
cc @sly7-7 I think you are handling this

[2015-06-09 10:00] stefek99 commented on #3257
Thank you for your input.

One thing that I've discovered after 3 weeks of deep dive into Ember and Ember CLI and Ember Data - plenty of jsfiddle / jsbin examples are not working - people linking to 'latest' versions - and in general it is not a good idea as described here: http://blog.jquery.com/2014/07/03/dont-use-jquery-latest-js/

On the same note - many of the blogpost / StackOverflow answers

[2015-06-09 10:08] jcbvm commented on #2978
I have the same issue with `beta.18`. Camelized inflector rules are completely ignored.
For example when using `inflector.uncountable('deliveryStatistics')` in an initializer, ember data looks for the model `delivery-statistic` when handling a payload.

Dasherizing all inflectors does work, but that causes troubles when using the `pathForType` method from an adapter, which is using the camelized i

[2015-06-09 10:09] igorT commented on #2978
Can you ping @fivetanley on slack to help figure out what the issue is

[2015-06-09 10:11] jcbvm commented on #2978
I've little time atm, will do soon.

[2015-06-09 10:18] igorT opened #3274 "Move store.filter into an addon"
We did not come up with solutions for store.filter, and the memory leak problemshould me move     store.filter into an addon? And discourage the use? Or just keep in and hope for SemVer compatible fixes in the future
Tomhuda, I trust that you remember what the filter issue is, currently store.filter is kept around forever and leaks all over the place and keeps recomputing

[2015-06-09 10:28] igorT opened #3275 "Consider whether store.push/pushPayload should copy"

[2015-06-09 10:43] amk221 commented on #3266
![screen shot 2015-06-09 at 11 42 19](https://cloud.githubusercontent.com/assets/382061/8056068/9f66127e-0e9c-11e5-9daa-297553460523.png)

[2015-06-09 10:44] igorT commented on #3266
Can you try and reproduce the issue in a jsbin or a test please?

[2015-06-09 10:59] amk221 commented on #3266
beta.18 broken: http://jsfiddle.net/amk221/6g3rc8z2/
beta.19 fixed: http://jsfiddle.net/amk221/6g3rc8z2/

So, not sure why its failing for me. Will have a dig

[2015-06-09 12:12] sly7-7 commented on #2494
If we consider adding  `{serialize: true}` to the attrs hash to be a solution, then yes the PR I'm working on should handle this.

[2015-06-09 12:24] broerse commented on #2494
@sly7-7 Looking forward to it.

[2015-06-09 12:25] fivetanley commented on #1737
Please don't add +1s. They disrupt the flow of the conversation and we almost always miss them in our email since it's close to the :+1: emoji.

We'll try to review this as soon as possible, as @bmac and @igorT have added it to the 1.0 criteria. If you would like to try implementing it, we'd be more than happy to point you in the right direction.

[2015-06-09 12:37] fivetanley commented on #3271
This seems like a useful feature. What is the cost of supporting it?

[2015-06-09 12:38] igorT commented on #3271
Its not in json api
On Jun 9, 2015 5:37 AM, "Stanley Stuart" <notifications@github.com> wrote:

[2015-06-09 12:39] igorT commented on #3271
We could add a workaround if people really want it, but would want to wait
and see
On Jun 9, 2015 5:38 AM, "Igor Terzic" <terzicigor@gmail.com> wrote:

[2015-06-09 12:40] fivetanley commented on #3271
Oh wait, this is store.push. I agree. `store.createRecord` is the hook I use the most, if we support it there I'm happy. It's not a JSONApi hook per-se either.

[2015-06-09 12:41] igorT commented on #3271
Yes this is for push, not creating. This is much more useful when creating
On Jun 9, 2015 5:40 AM, "Stanley Stuart" <notifications@github.com> wrote:

[2015-06-09 13:21] jcbvm commented on #2978
Found the problem, in one of my addons `pathForType` was being overwritten in the `applicationAdapter` causing wrong output.

[2015-06-09 14:56] sly7-7 commented on #2494
@broerse you could take a look at https://github.com/emberjs/data/pull/3214, specifically the tests. Let us know if this fits your need

[2015-06-09 15:18] bmac commented on #3255
@martndemus We have release Ember Data v1.0.0-beta19.1 with a fix for this issue: http://emberjs.com/blog/2015/06/09/ember-data-1-0-beta-19-1-released.html

[2015-06-09 15:18] bmac commented on #3260
@jcbvm We have release Ember Data v1.0.0-beta19.1 with a fix for this issue: http://emberjs.com/blog/2015/06/09/ember-data-1-0-beta-19-1-released.html

[2015-06-09 16:41] rhasson opened #3276 "Multiple instances of the same model are not isolated"
I'm defining a DS.Model object that I then create multiple copies of.  I then attach each of them to different components on the screen.  When the user enters some text into one of the components' input box the same value is updated on all components.  I have a similar issue opened on ember.js side but was told this is related to the prototype chain of the objects created from the same parent.  I

[2015-06-09 16:51] jcbvm commented on #3260
Really nice thank you!

[2015-06-09 17:05] bmac commented on #3276
Hi @rhasson, Thanks so much for the jsbin. What you are seeing here is a common gotcha with JavaScript prototypes. I'd recommend you checkout this article for some more in depth background then what I will explain below: http://yehudakatz.com/2011/08/12/understanding-prototypes-in-javascript/.

When Ember creates a class with `.extend` Ember assigns all the properties passed into the extend functi

[2015-06-09 17:33] rhasson commented on #3276
@bmac Thank you.  I did read that article you pointed to and I'm aware of the behavior you described, but I couldn't figure out how to initialize the model objects so that the prototype is not shared.  Thank you for updating the jsBin, I now understand how to initialize the model.  I was not aware this was even possible.

Again, thank you for the detailed and very helpful response.
Roy

[2015-06-09 17:33] #3276 closed

[2015-06-09 18:36] cdoornink opened #3277 "beta.19 regression: fetchById not saving model to the store"
I have a partial model returned as part of a relationship. When I want to view that model I check to see if it’s data is fully loaded. If it is I return a .find in the route. If it is not, I return .fetchById so that it will request the full model from the server.

This used to replace the existing partial model that was there, but in beta.19 it does not replace it. This means that every time I go

[2015-06-09 20:39] igorT commented on #3277
Can you reproduce the issue in a test or jsbin please?

[2015-06-09 20:47] broerse commented on #2494
@sly7-7 I will look at it tomorrow night. Do you @fsmanuel @rsutphin @OleRoel real experts have time to take a look.

[2015-06-09 20:50] cdoornink commented on #3277
The issue was using `store:main` instead of `store:application`. It was being injected into a service like this:

`app.inject('service:playback', 'store', 'store:main');`

Also was being called from the container as store:main in a few places. There weren't any deprecation warnings for any of the cases.

[2015-06-09 21:25] cdoornink commented on #3277
@bmac I also had to move `app/store.js` to `app/application/store.js` after I made the `store:application` changes. Otherwise it could no longer find the method that I was defining when I reopened the DS.Store.

I'm assuming this related the other issue I reported here last week. #3239

[2015-06-09 21:27] bmac commented on #3277
@cdoornink You are correct. Sorry this upgrade has been so painful. I'm working on a pr to give better warnings around this stuff which hopefully can be released as a beta-19.2. Thanks for reporting the issue!

[2015-06-09 21:34] cdoornink commented on #3277
@bmac No problem, thank you!

[2015-06-09 23:50] igorT commented on #3015
cc @wecc

[2015-06-10 01:49] joelalejandro commented on #3047
I had the same issue attempting to use PATCH in ember-data. Since it needed a bit more of logic than simply overriding the HTTP verb, I ended up building an addon that enables a `.patch()` method on any model.

[2015-06-10 01:55] HeroicEric commented on #3261
If this is going to be added, would it be more consistent to have `store.query` be named `store.queryAll`?

[2015-06-10 01:56] HeroicEric commented on #3261
If this is going to be added, would it be more consistent to have `store.query` be named `store.queryAll`?

[2015-06-10 03:47] #3248 closed

[2015-06-10 04:49] igorT opened #3282 "Implement RecordArray Snapshots"
https://hackpad.com/RecordArray-Snapshot-JO55bGRbwsn

[2015-06-10 04:57] igorT opened #3285 "Consider renaming DS.Snapshot"
Snapshots are becoming a primary tool for communication between the store and adapter. However `Snapshot` is a pretty confusing name. Can we come up with a better one. I tried AdapterSnapshot to indicated it's meant to be passed to adapter/serializer only, but it's a bad name as it's not a Snapshot of an Adapter

[2015-06-10 05:18] thaume commented on #3261
@bmac I'm working on it over here https://github.com/emberjs/data/pull/2584/files

[2015-06-10 05:56] igorT commented on #3282
Should query take a snapshot?

[2015-06-10 08:43] wecc commented on #3015
We introduced a new hook in the serializer refactor called `keyForLink`, not sure if it's used in the "old" API.

[2015-06-10 15:00] martndemus opened #3288 "Version string of 19.1 is just 19 in console."
I get `DEBUG: Ember Data : 1.0.0-beta.19` while verified using 19.1.

[2015-06-10 15:21] bmac commented on #3261
There was some talk about using `queryAll` for consistency with the `findAll` and `peekAll` however it was decided to stay with `query` because the records returned from the server by a `query` are likely a subset of all the record.

[2015-06-10 16:46] #3205 closed

[2015-06-10 18:32] OpakAlex opened #3291 "Problems with customize serializerForAdapter function"
How i can change this function `serializerForAdapter` without fork ember-data?
For some reason i need change in in runtime, and i can not do it. You think it's good idea manage serializer not in store? It's hard to change.

[2015-06-10 18:50] OpakAlex commented on #3291
we need move this helper function to adapter.

[2015-06-10 19:24] igorT commented on #3291
Can you try describing in more detail why you would need to subclass this function. What are you trying to achieve?

[2015-06-10 19:25] igorT commented on #3288
cc @fivetanley

[2015-06-10 19:33] OpakAlex commented on #3291
I am working with offline library for Ember data, and for switch online/offline i use RESTAdapter or some offline Adapter (localstore). And when i make this switch i need change serializer too. this is problems for me. Because i can not rewrite this helper. And my localstore adapter request parse REST serializer.

[2015-06-10 21:38] jcope2013 opened #3293 "Observers on model properties no longer working with beta 19"
the behavior with beta 18 and before, the observer runs when the initial records get loaded into the store, the bullet points will show the prettyTitle computed property

http://emberjs.jsbin.com/cozibezica/1/edit?html,js,console,output

the behavior with beta 19, the observer no longer runs, the bullet points will all be empty

http://emberjs.jsbin.com/ragihibuza/1/edit?html,js,console,output

[2015-06-10 21:50] igorT commented on #3293
Adding an `.on('init')` to the observer makes them run. Similar to all Ember observers, the actual property needs to be accessed at least once in order for the observer to fire.

[2015-06-10 21:50] #3293 closed

[2015-06-10 22:03] broerse commented on #2494
I am still a beginner and new to this kind of testing. I updated my old, not working with hashMany, project:
https://github.com/broerse/ember-select-test
and have to work on some deprecations but how do I get the new patch in bower? It fails now.

When {serialize: true} works pages should be filled if you select "test4":
http://martinic.iriscouch.com/_utils/document.html?selecttest/modelname_2_9D6

[2015-06-11 01:46] igorT commented on #3273
We didn't have time to add rollback for relationships, and once we do, it will be hard to keep semVer, and people are confused right now why rollback doesn't rollback relationships

[2015-06-11 01:50] igorT opened #3295 "Don't unload records that are confirmed deleted"
Context/previous discussion: When the store confirms a deleteRecord we now automatically unload a record. Previous discussion with Tom and Yehuda has indicated that we should not do this automatically, and should let the user opt in via a hook or something into unloading records. Is this a thing we want to do. We must change the default this week for Backcompat, but can come up with a hook later.

[2015-06-11 01:51] igorT opened #3296 "Unload issue with relationships"
It is not clear what unloading should do with regards to relationships. It seems to me that it should dematerialize a record, but keep the internalModel intact if it has SSOT foreign key references(removing foreign keys seems obviously incorrect).
This is problematic though, because internalModels will still leak memory. How do we let users unload a bunch of related records? Does this mean we have

[2015-06-11 01:58] igorT opened #3297 "Store.query/queryRecord url behavior"
Currently if you do
[code]
those options are passed to the adapter, and inserted as query params. However a supper common use case is to want to trigger a request to
[code]
However we have no semantic way of differentiating between query params and url options when they are passed in to the adapter.  Should we add namespacing to the options object passed in to the query?
We could do the same, with

[2015-06-11 01:59] igorT opened #3298 "1.0 blockers for Tomhuda to review:"
**Simple:** should take 1-8 minutes of discussion
- [x]  Consider renaming rollback to rollbackAttributes emberjs/data#3273
- [x] Consider changing `isDirty` flag to something like `hasDirtyAttributes` https://github.com/emberjs/data/issues/3299
- [x] Considering moving store.filter into an addon #3274
- [x] Consider renaming the serializer attrs hash  #3186
- [x] Consider renaming DS.Snapshot - e

[2015-06-11 02:01] igorT commented on #3298
@wycats @tomdale please advise

[2015-06-11 02:06] igorT opened #3299 "Change `isDirty` flag to something like `hasDirtyAttributes`"
Same rationale as https://github.com/emberjs/data/issues/3273

[2015-06-11 02:09] igorT commented on #3220
@tomdale @wycats **we are keeping the sync relationships, but changing the defaults

[2015-06-11 04:00] fivetanley commented on #3288
Can you run `rm -rf node_modules && rm -rf bower_components && npm cache clean && bower cache clean && npm i && bower i` ?

The file seems to be correct in bower. https://github.com/components/ember-data/blob/v1.0.0-beta.19.1/ember-data.js#L4543

[2015-06-11 04:55] igorT commented on #2847
You can now also say `{serialize: true}` and don't need the embeddedRecordsMixin

[2015-06-11 04:55] #2847 closed

[2015-06-11 04:57] igorT commented on #2851
We are tracking this under https://github.com/emberjs/data/issues/3296
Should be fixed soon. Thanks!

[2015-06-11 04:57] #2851 closed

[2015-06-11 04:58] igorT commented on #2859
We are tracking this under #3296

[2015-06-11 04:58] #2859 closed

[2015-06-11 04:59] igorT commented on #2794
Is this still an issue? Can someone double check/pr?

[2015-06-11 04:59] igorT commented on #2942
I think we have decided not to do this

[2015-06-11 04:59] #2942 closed

[2015-06-11 05:01] igorT commented on #2947
Sorry for missing this issue, is this still a problem for you?

[2015-06-11 05:02] igorT commented on #2982
I believe this was fixed as #3192 is closed. Please reopen if it still an issue

[2015-06-11 05:02] #2982 closed

[2015-06-11 05:03] igorT commented on #2862
tracking this under https://github.com/emberjs/data/issues/3296

[2015-06-11 05:03] #2862 closed

[2015-06-11 05:04] igorT commented on #2916
[code]
Can somebody check this? Ideally now would be the time to do this change, before 1.0

[2015-06-11 05:08] igorT commented on #1576
You will now be able to use `adapterOptions` to pass options to your adapter, using `findRecord`. We will soon have support for `include/embed` like things, but passing query params should also be easy.
Tracking this under https://github.com/emberjs/data/pull/3281

[2015-06-11 05:08] #1576 closed

[2015-06-11 05:09] igorT commented on #3072
I believe this was done

[2015-06-11 05:09] #3072 closed

[2015-06-11 05:25] #3189 closed

[2015-06-11 05:34] wycats commented on #3298
Works for me.

Works for me.

(do not break the old names, even for 2.0, though)

Good idea. It feels risky to commit to the API right now.

What are the best options?

Can confirm. @tomdale should check me.

[2015-06-11 05:35] wycats commented on #3296
@igorT This seems acceptable. Do you mean something more than refcounting? Do you end up needing a cycle collector?

[2015-06-11 05:51] igorT commented on #3296
The algorithm needed to be implemented is:
1. `store.unloadRecord` only dematerializes the record (internalModel.dematerialize()) which destroys the DS.Model
2. We treat the record and relationships as a graph. Starting at the record do a breadth first search through the relationships, and see if you can reach a record that has not been dematerialized. If you can reach a live record, do nothing.
3

[2015-06-11 06:19] OpakAlex commented on #3291
@igorT are you understand?

[2015-06-11 07:09] martndemus commented on #3288
Yep that fixed it.

[2015-06-11 07:09] #3288 closed

[2015-06-11 07:53] wecc commented on #2794
All code and docs refer to this as `'records'`, not `'record'`. Is this issue just about the aesthetics?

Correction, there is one instance of `'record'` in the docs: https://github.com/emberjs/data/blob/master/packages/ember-data/lib/serializers/embedded-records-mixin.js#L72

[2015-06-11 08:02] igorT commented on #3274
cc @fivetanley

[2015-06-11 08:27] #3187 closed

[2015-06-11 10:17] piotrpalek commented on #2851
@igorT just heads up I think this issue: https://github.com/emberjs/data/issues/3039 might be fixed as well (didn't test yet). Sorry if I duplicated the same problem in two issues (wasn't aware of it).

[2015-06-11 12:04] knownasilya commented on #2847
@igorT like `workouts: hasMany('workout', { serialize: true })`?

[2015-06-11 16:49] jcope2013 opened #3308 ".get('currentState.stateName’) returning undefined when operating on has many record objects"
[code]

beta 18 - "root.loaded.saved"
beta 19 - undefined

in beta 19 i have to use private apis to make it work

[code]

simple example that logs out the state to the console

beta 18 - http://emberjs.jsbin.com/tomivoduto/1/edit
beta 19 - http://emberjs.jsbin.com/weyuwamulo/1/edit

[2015-06-11 16:55] danielspaniel opened #3309 "question about onLoad and when all relationships are ready"
Before this release, I could access relationships in and 'onLoad' callback

[code]

now, it looks like the relationships are still there and all all setup, but in the _internalModel attribute.

I think you are trying to wait for all relationships to load ( treat them as async ) before you allow them to be visible? ( guessing )
 I am nervous to use the _internalModel to access those relationships,

[2015-06-11 17:29] bmac commented on #3298
Ping @tomdale and @wycats. Would love to get your take on https://github.com/emberjs/data/pull/3286.

The Executive summary is:

Right now Ember Data supports 3 namespaces where you can define the store `store:main`, `store:application` and `service:store`. I want to reduce this to 1 place for Ember Data 2.0 because it simplifies our initializer code and if a user were to define a custom store for

[2015-06-11 17:50] runspired commented on #3298
Heartily support of this, it would also show a pattern for extending ember-data features.  For instance, I currently crudely add methods to store for lookups based on non-ID keys (unique or just simple K=>V matching) e.g.

[code]

[2015-06-11 19:38] patternleaf commented on #1737
+1

[2015-06-11 21:31] bmac commented on #3274
@runspired commented moved form https://github.com/emberjs/data/issues/3298 is copied below:

Heartily support of this, it would also show a pattern for extending ember-data features.  For instance, I currently crudely add methods to store for lookups based on non-ID keys (unique or just simple K=>V matching) e.g.

[code]

[2015-06-11 21:51] gregwallan opened #3313 "pushing raw JS objects to RecordArray"
19+ no longer supports the pushObject method to add native JS objects to RecordArrays.
See JS Bin for use case that worked in previous releases. Documentation for MutableArray.pushObject seems to indicate this should be supported.
http://emberjs.jsbin.com/gijero/1/edit?html,js,console,output

[2015-06-12 01:40] jcope2013 commented on #3313
same, seeing this also in the upgrade

[2015-06-12 01:49] #3308 closed

[2015-06-12 03:57] HeroicEric commented on #3299
I went to work on this but I'm not sure how to deprecate `model.get('isDirty')`. Any guidance?

[2015-06-12 05:22] tomdale commented on #3298
Confirm

[2015-06-12 06:58] sly7-7 commented on #3299
maybe implementing the unknownProperty method and throwing deprecation if the passed property is ìsDirty`?

[2015-06-12 07:55] karanjthakkar commented on #2564
@igorT The url in description is broken. Any update on how to proceed with this?

[2015-06-12 13:00] Keeo commented on #3313
It's not only pushObject but also unshiftObject and their +s versions. It used to be useful for adding created records into already fetched array.
[code]

[2015-06-12 13:35] bmac commented on #2564
@karanjthakkar I believe this is an updated link:

https://github.com/emberjs/data/blob/56196f656b3ad3d86f125b7235eb656bddd86629/packages/ember-data/lib/adapters/rest-adapter.js#L493

[2015-06-12 14:55] #3273 closed

[2015-06-12 16:09] #3186 closed

[2015-06-12 16:11] fivetanley commented on #3285
We decided to not move on this.

[2015-06-12 16:11] #3285 closed

[2015-06-12 17:58] bmac commented on #3295
This issue was discussed during the Ember Data meeting today and it was decided that Ember Data should keep the current behavior of unloading deleted records after the adapter confirms the record has been deleted on the backend.

[2015-06-12 21:23] bmac commented on #3308
@jcope2013 I just released `Ember Data beta-19.2` with a fix for this regression.

[2015-06-12 21:23] bmac commented on #3239
@cdoornink I just released `Ember Data beta-19.2` with a fix for this regression.

[2015-06-12 21:23] #3239 closed

[2015-06-12 21:24] bmac commented on #3277
Closing as a duplicate of https://github.com/emberjs/data/issues/3239. For anyone else who comes across this issue. It has been fixed and included in `Ember Data beta-19.2`.

[2015-06-12 21:24] #3277 closed

[2015-06-13 03:16] fivetanley commented on #2978
@dennismende are you still running into this?

[2015-06-13 06:17] dennismende commented on #2978
@fivetanley Yes and I have time for debugging. I'm available at Slack in a minute

[2015-06-13 09:15] spruce commented on #2947
I didn't do anything for the project where this problem did occur in the last 2 month. Will write back here when I do (next 30 days)

[2015-06-13 11:34] #3298 closed

[2015-06-13 11:37] #3295 closed

[2015-06-13 11:44] igorT opened #3320 "Shipping 1.13 checklist"
- [x] make IE work @fivetanley
- [x] move store.filter into an addon @fivetanley   https://github.com/emberjs/data/issues/3274
- [x] Deprecation if id is Model in deserializeRecordId   https://github.com/emberjs/data/pull/3279 itsmike is following up
- [x] Deprecate pushMany https://github.com/emberjs/data/issues/3246
- [x] Move active model adapter into an addon @fivetanley
- [x] errors object cc

[2015-06-13 11:58] igorT opened #3321 "[Meta Issue] Shipping 2.0 beta.1 checklist"
- [x] delete record recordArrays breaking change #3539
- [x] turn on async by default #3488
- [ ] write blog posts
- [x] remove deprecated code
    - [x] Snapshot deprecations #3443
    - [x] Model deprecations #3442
    - [x] ManyArray deprecations #3441
    - [x] RESTSerializer deprecations #3440
    - [x] RESTAdapter deprecations #3439
    - [x] BuildURLMixin deprecations #3438
    - [x] Store/

[2015-06-13 12:04] igorT commented on #2545
Closing this in favor of
https://github.com/emberjs/data/issues/3320
https://github.com/emberjs/data/issues/3321
Almost there

[2015-06-13 12:04] #2545 closed

[2015-06-13 12:11] igorT opened #3322 "[Meta Issue] Shipping 2.0 checklist"
Things that need to happen after 2.0beta but before 2.0 and preferably soon to help people migrate

- [x] https://github.com/abuiles/ember-watson/issues/40
- [ ] https://github.com/abuiles/ember-watson/issues/42
- [ ] Initial implementation of @teddyzeenny inspector tab for serialization
- [ ] remove deprecated stuff
- [ ] Write updated guides - @tomdale @locks and @wycats
- [ ] Merge updated guid

[2015-06-13 12:16] broerse commented on #2494
@sly7-7 I have converted my old test https://github.com/broerse/ember-select-test

but get `Error while processing route: pages.index Cannot read property 'has' of undefined TypeError: Cannot read property 'has' of undefined` when I switch to canary. If you have time please take a look. When everything works the hasmany array should be filled in iriscouch and local.

[2015-06-13 13:30] knownasilya commented on #2847
@igorT and that will serialize the ids only?

[2015-06-13 13:40] igorT commented on #2847
correct. It is not. Keep in mind that the serialize options is in the serializer attrs hash

[2015-06-13 13:44] fivetanley commented on #2978
Can you post an example payload and your custom inflections?

[2015-06-13 13:44] knownasilya commented on #2847
Yes, this still doesn't work for me:

[code]

[code]

I do `plan.get('workouts').addObject(workout);` but `workouts` don't come across the wire, just `name`.

[2015-06-13 13:45] igorT commented on #2847
Are you on canary?

[2015-06-13 13:45] knownasilya commented on #2847
No, 19.2 with ember 1.12.1

[2015-06-13 13:48] igorT commented on #2847
This hasn't been released yet, should be soon

[2015-06-13 13:54] knownasilya commented on #2847
Confirmed working on canary.

P.S. Can we remove ember-data from package.json? Seems like it doesn't matter, since I didn't change that to canary..

[2015-06-13 14:06] fivetanley commented on #2978
Also are you overriding `typeForRoot` in any serializers?

[2015-06-13 15:17] bmac commented on #3320
For the find methods refactor, I think we have 5 branches to merge then we are done.
Allow the store to pass adapter options to the adapter https://github.com/emberjs/data/pull/3310

`store.queryRecord` https://github.com/emberjs/data/pull/2584

Rename adapter and serializer methods to match the new store methods https://github.com/emberjs/data/pull/3306

Deprecate fetch and replace it with store.