[2015-10-14 10:08] #3766 closed

[2015-10-14 15:28] alvincrespo commented on #3677
:+1:  Just came across this issue as well.

[2015-10-14 20:44] drewclauson commented on #2905
On the Filtering Sugar - right now, parameters are sent back to a JSON API endpoint just as they are named in a Route.  (i.e. customerIds is send back as a query parameter like ```http://api.mysite.com/?foo=bar```)  When I read the JSON API spec, it looks like filtering parameters are supposed to go on the filter query parameter (```http://api.mysite.com?filter=...```)

I had planned to do the fil

[2015-10-15 01:24] btecu commented on #3849
If I remember correctly, the addon was at least initially based on code from Ember Data so this proposal is probably a good idea.

I think it would be nice to get an `ajax` service for free when Ember Data is present. Most of the time there is a specific request that works better with an ajax call instead of through Ember Data.

[2015-10-15 13:26] tchak commented on #3524
should be fixed by #3859

[2015-10-15 13:42] SeyZ commented on #3700
@mdehoog You rock! Thank you very much!

[2015-10-15 13:59] SeyZ commented on #3733
:+1: for this feature. It would be awesome :)

[2015-10-15 17:13] btecu commented on #3466
I'm getting this error as well when I use `query` but `findAll` doesn't trigger the error.
Ember Data 2.x.

[2015-10-15 17:18] bmac commented on #3466
@btecu do you mind sharing a stack trace for this error?

[2015-10-15 17:25] btecu commented on #3466
[code]

[2015-10-15 17:29] btecu commented on #3466
@bmac If the stack trace is not enough, I could probably create a repository with this issue.

[2015-10-15 20:51] #3851 closed

[2015-10-15 21:04] tchak commented on #3707
If I remember correctly it was a bug with ArrayProxies temporary introduced in some minor version of Ember. I am pretty confident to close it. Feel free to reopen if needed.

[2015-10-15 21:04] #3707 closed

[2015-10-15 21:18] jcope2013 commented on #3537
related https://github.com/emberjs/data/issues/3851 https://github.com/emberjs/data/pull/3859

[2015-10-15 21:34] tchak commented on #3524
So, #3859 is half fixing it. I mean, at least the record is going in to invalid state. Still no handling for pointer-less errors. Will comme in a future PR.

[2015-10-15 22:05] #3677 closed

[2015-10-15 22:18] icecoldmax commented on #3677
Will this be backported to 1.13?

[2015-10-15 22:29] tim-evans commented on #2407
https://github.com/jquery/qunit/issues/632

[2015-10-16 07:37] bmac commented on #3677
I have cherry-picked this fix to the 1.13 branch. It will be in the next release, likely sometime early next week.

[2015-10-16 12:04] #3466 closed

[2015-10-16 12:44] adam-knights opened #3863 "Route with store.findAll not working correctly if records of that type already present from previous page"
Originally posted against Ember https://github.com/emberjs/ember.js/issues/12488.

This was working fine with Ember 1.13.10 and Ember Data 1.13.12, doesn't seem to work with Ember 2.1.0 and Ember data 2.1.0.

If I navigate to http://localhost:4200/orders then it works fine and I see 6 orders come in from the api and the page displays information on all seven orders.

If I first navigate to http://

[2015-10-16 13:50] adam-knights commented on #3863
Stefan now thinks this might be an ember issue. I'll close here for now and reopen if required.

[2015-10-16 13:50] #3863 closed

[2015-10-16 14:38] #3629 closed

[2015-10-16 20:47] bmac commented on #3810
I believe this issue is solved by #3847.

[2015-10-16 20:47] #3810 closed

[2015-10-17 17:19] pangratz commented on #3736
This issue can be closed since https://github.com/emberjs/data/pull/3747 got merged ...

[2015-10-17 17:20] #3736 closed

[2015-10-19 09:42] nouh opened #3870 "How could I use put method to update a record instead of patch method"

[2015-10-19 21:01] maheshiv opened #3871 "Not able to override serializePolymorphicType for Embedded records"
Here is my models,

[code]

[code]

Here is the serializers,

[code]
[code]

Here is sample response
[code]

I am using Ember-data V1.13.8. I am not able to override serializePolymorphicType. Any thoughts on this?

[2015-10-19 21:43] bmac opened #3872 "Document `links` relationship serialized format on the RESTSerializer"
Its mentioned here but nothing explicitly says its supported by the RESTSerializer. http://emberjs.com/api/data/classes/DS.JSONSerializer.html

[2015-10-20 09:20] jnfingerle opened #3873 "Cannot remove use of inflector"
For a project I'm working on, we've decided to not use pluralized forms at all (partly because it doesn't get easier in German, partly because that's what the back end does anyway). I got rid of most of it through the hooks in the RESTAdapter/RESTSerializer.

Unfortunately the inflectors is also used by the store through relationship-meta.js. This is a great way to shoot myself in the foot for ger

[2015-10-20 11:35] alvincrespo commented on #3677
Thanks everyone! This is very awesome. :+1:

[2015-10-20 11:39] Leooo opened #3874 "Proposal for better logging"
**TL;DR:
A proposal for a log to be used globally in Ember Objects, allowing to combine correct stack traces with a color code in the console, different log levels set globally or locally, and the ability to log all changes for a given model name / model instance that the user can set globally.**

Hello, I just wanted to share something I added recently to my app that i found incredibly useful to

[2015-10-20 19:22] #3806 closed

[2015-10-21 08:01] toovy commented on #3737
I found with Ember and EmberData 2.1.0 we cannot bind to ANY property with @each for hasMany relationships (in addition to the report from @svox1.). Won't work:

    Book = DS.Model.extend
        pages: DS.hasMany 'page', async: true
        sorted_pages: Ember.computed 'pages.@each.idx', ->
            # resort, won't be triggered if any page idx changes

I believe that this worked once and I th

[2015-10-21 11:06] SeyZ commented on #3870
For now, I use the following hack. Is there a better way to do this?

[code]

[2015-10-21 11:09] pangratz commented on #3870
#3099 aims to allow easier overwriting of the made request.

[2015-10-21 11:11] SeyZ opened #3877 "JSONAPI - Remove relationships from a record"
According the the JSONAPI spec, I would like to delete relationships from a record.

The example of the spec is exactly my usecase:

[code]

How can I do this in Ember-data? Is it possible?

[2015-10-21 17:17] igorT commented on #3849
@tomdale has thoughts on this

[2015-10-21 17:39] Leooo commented on #3874
Forgot to say, the link with ember-data is: imagine that in ember-inspector, you could click on one model name, and then see in the next requests all the operations involving instances of this model (serialisations, normalisations, fetching, state changes etc.). It would help a lot to understand everything. Just an Idea.

[2015-10-21 19:33] bmac commented on #3658
@typeoneerror what version of Ember Data are you using?

[2015-10-21 19:43] bmac commented on #3802
@tomoguisuru I just created a sample Ember CLI project to try to re-create your issue and I was unable to reproduce it. Do you mind looking at this repo and letting me know what I'm missing? https://github.com/bmac/inflector-test

Thanks

[2015-10-21 20:20] typeoneerror commented on #3658
@bmac 1.13.13

[2015-10-21 20:41] bmac commented on #3658
Thanks @typeoneerror. This is defiantly a regression.

[2015-10-21 20:47] toovy commented on #3737
Related to https://github.com/emberjs/ember.js/issues/12475

[2015-10-22 00:01] andrewobrien commented on #2905
I'm in the same boat as @drewclauson is there any guidelines around how we should implement filtering in the interim until the full support is provided? It's also not possible to currently alias the properties to suit the JSONAPI format eg `'filter[activity]':'activity'` see issue https://github.com/emberjs/ember.js/issues/11592

[2015-10-22 03:36] dguettler opened #3878 "Wrong adapter used for retrieving related records"
Scenario:

`File` belongs to `User`, user association is provided via `{ links: { user: url } }` in the payload for file.
When file tries to retrieve user `file.get('user')` the adapter for `file` is used instead of the adapter for `user`.
This result in call to wrong API end point if adapter for file and user originate from different API end points.

[2015-10-22 17:12] rtm commented on #3419
So `metadataFor` is deprecated, but with no replacement?

[2015-10-22 19:57] drewclauson commented on #2905
An interesting note - when using ```coalesceFindRequests: true``` in the JSONAPIAdapter, the callback uses the filter[id] syntax...

@andrewobrien I tried the same thing with aliasing and failed too.

[2015-10-22 23:24] andrewobrien commented on #2905
@drewclauson I hacked a workaround, I wrote a mixin to wrap the params in the model hook, before making the request, https://gist.github.com/andrewobrien/ab2cd218b1bf83ee0ffe I basically include the mixin on the route and set a const as a hash of the alias' I want  eg `const aliasQPs = {
  group_id: 'filter[group-id]'}`, then I call `params = this.wrapQPs(params, aliasQPs);` in the model hook befo

[2015-10-22 23:55] bmac commented on #2905
Hi @andrewobrien and @drewclauson. There are currently no plans to add any filtering sugar to the `store.query` with the JSONAPIAdapter.

In my app I use `store.query('type', { filter: { activity: 'somevalue' } })` to get the JSONAPIAdapter to generate the correct URL. This may be a little extra verbose when you are always nesting properties under the `filter` parameter but it allows the API to co

[2015-10-23 01:17] tsteuwer opened #3880 "Is the JSONAPIAdapter is not following the JSON API standard request headers?"
Per the specification:

**Example Request Headers**
[code]

Or, am I not understanding this correctly? Should the Accept header not be there or is it only supposed to respond 406 if it includes type parameters like `version=1.0` or something?

[2015-10-23 04:50] #3545 closed

[2015-10-23 04:52] #3414 closed

[2015-10-23 05:48] wecc commented on #3880
This means that the `Accept` header has to contain `application/vnd.api+json` once without media type parameters. If you want to provide `version=1.0` as a parameter the correct `Accept` header would be:

[code]

[2015-10-23 12:34] fsmanuel opened #3881 "Inflector rules"
@corrspt reported https://github.com/stefanpenner/ember-inflector/issues/91

I did some digging and found an inconsistency in the way we use `pluralize`.
Sometimes we use `Ember.String.pluralize` ([here](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/adapters/build-url-mixin.js#L282) and [here](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/adapters/json-a

[2015-10-23 13:03] workmanw commented on #3020
I too have been experiencing this issue. Actually, it often results in a crash when the 'part' is later reloaded into the store. The stack looks like:

[code]

In my case, we unload some data as the user is exiting routes. If they return to the same route, as the data is being pushed back into the store, `flushCanonical` ends up called on an unloaded record.

Did you ever find a workaround, other

[2015-10-23 13:09] drewclauson commented on #2905
@bmac Thanks for the example, I feel pretty stupid I didn't think of that and that is exactly what I needed.

[2015-10-23 13:16] Fryie opened #3882 "#extractMeta documentation references deprecated method"
It appears the documentation for [#extractMeta](http://emberjs.com/api/data/classes/DS.JSONSerializer.html#method_extractMeta) is outdated. It references the store#setMetadataFor method, but that appears to be deprecated, at least in [1.13](https://github.com/emberjs/data/blob/v1.13.14/packages/ember-data/lib/system/store.js#L1502). In more recent versions, that method seems to have been removed e

[2015-10-23 13:17] wecc commented on #3882
Yeah, the example is outdated. `extractMeta` is supposed to return an object with the metadata instead of calling `setMetadataFor`

[2015-10-23 13:20] Fryie commented on #3882
thanks @wecc. Can you maybe give me a more complete example? My use case is the following: I want to save a "rating", and the response should return an "averageRating" property that I can access afterwards. I couldn't get it to work so far.

(btw the same outdated example also appears in the RESTSerializer's apidoc, and probably elsewhere too. Maybe even in the guides, I'm not sure.)

[2015-10-23 14:30] tsteuwer commented on #3880
Thanks.

[2015-10-23 14:30] #3880 closed

[2015-10-23 14:40] tsteuwer opened #3883 "Calling model.reload() removes it from the dom?"
Let me first give you some background info:

Ember Inspector 1.9.3
Ember 1.13.5
Ember Data 1.13.5
jQuery 1.11.3

category.js
[code]

report.js
[code]

Now, everything works when requesting the cateogries from the route, like so:
[code]

application.hbs
[code]

Wonderful! Everything works. However, if I ever call reload on the report like so:

[code]

The specific report that I called reload() on i

[2015-10-23 15:40] fsmanuel commented on #3881
as i posted in slack:

[code]

[2015-10-23 17:12] henrymazza commented on #1540
+1

[2015-10-23 19:15] trentmwillis opened #3884 "Pass query params to `normalizeResponse` method?"
Currently there are a variety of params being [passed through to the `normalizeResponse`](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/system/store/serializer-response.js#L73) method on serializers, but nothing related to queries.

I was wondering if it would be possible to add support for passing query params into the `normalizeResponse` method? We have run into an issue wh

[2015-10-23 20:26] andrewobrien commented on #2905
Hi @bmac thanks for clearing that up, a lot simpler :)

[2015-10-23 22:01] yaymukund commented on #2797
How can I write a unit test `adapter.createRecord` without this?

[2015-10-24 17:12] tomarsamar opened #3886 "ember 2.X this.get('model').addObjects(records); throw excption "Uncaught TypeError: internalModel.getRecord is not a function""
Afrer updating to ember 2.X, this.get('model').addObjects(records); throw excption "Uncaught TypeError: internalModel.getRecord is not a function"

[code]
this was working perfectlly but now self.get('model').addObjects(records); throw excption "Uncaught TypeError: internalModel.getRecord is not a function" in record-array.js at line 86 "return internalModel && internalModel.getRecord()". I tried

[2015-10-24 19:31] jcope2013 commented on #3886
https://github.com/emberjs/data/issues/3530

[2015-10-26 10:49] gabrielgrant commented on #2616
Not sure why this just popped into my notifications... a wee bit delayed, but thanks for addressing this :)

[2015-10-26 10:51] gabrielgrant commented on #2616
Oh, and yes: it was declared as a string passed in. Haven't worked on this in a while, so not sure if this is still an issue. I may be working on something similar again soon, though, so I'll check it out update here if it is.

[2015-10-26 17:09] #3883 closed

[2015-10-26 17:09] tsteuwer commented on #3883
Looks like it was `id` inconsistencies in our application.

[2015-10-26 19:30] XrXr opened #3890 "queryRecord throws when the response is empty"
http://emberjs.jsbin.com/fekufi/1/edit?js,console

If the payload for `authors` is changed to `null`, the same error happens.

This use to just resolve with `undefined` in ED 1.3.x, so I assumed it's a convenience feature.

I asked about this on Slack, the consensus seems to be that the promise should reject like a 404.

[2015-10-26 19:41] XrXr commented on #3890
Here is a bin for JSONAPIAdapter

http://emberjs.jsbin.com/fekufi/edit?js,console

    at Object.parse (native)
    at x.extend.parseJSON

[2015-10-27 18:45] salmanahmad commented on #3877
I'm facing the same issue and would love to know how / if this is possible as well.

[2015-10-27 19:33] sescobb27 opened #3892 "JSON API not serializing hasMany relationship"
Hi, we are upgrading to Ember 1.13 using Ember Data 1.13 and we have the following models

models/order.js
[code]

models/order-detail.js
[code]
when we try to create an order detail `orderDetail.save()` it makes a POST request with the following payload
[code]

but if we try to save an order `order.save()` it omits `details` key in relationships
[code]

what are we doing wrong? how could we achie

[2015-10-28 03:34] sescobb27 commented on #3892
I have tried modifying serializer, but without success. The last thing I have made was this

serializers/order.js
[code]
and it prints `RELATIONSHIPS:  Object {plan: Object, coupon: Object, address: Object, customer: Object}` it doesn't recognize `details` as a relationship and I don't want to manually serialize that relationship it should be handled automatically by ember-data

[2015-10-28 06:46] wecc commented on #3892
By default you have to save One-to-Many relationships by saving the record on the "many" side.

If you want to force serialization you can use the `attrs` property in your serializer and set `serialize: true`. See http://emberjs.com/api/data/classes/DS.JSONSerializer.html#property_attrs for more info about the `attrs` property.

[2015-10-28 16:23] bmac commented on #3809
@philipp-spiess I think something like `onBackgroundReloadError` is ok for now.

I think the long term solution is likely to involve implementing a general purpose event system for the store so users can react to this error and other events.

[2015-10-28 16:46] sescobb27 commented on #3892
@wecc thanks, that solved the issue. that information should appear in documentation.

[2015-10-28 16:55] sescobb27 opened #3893 "JSON API Errors Object"
Hi, we are migrating to Ember 1.13 and Ember Data 1.13 but we are having issues with JSON API error objects in tests:

[code]

[code]

[code]

the exception is thrown in `internal-model.js` when doing `get(record, 'errors').add(attribute, message);` in which record is equal to `customerSupport` model, `attribute` is equal to `email` and message is equal to `'Error Sending Email, Please try again!!

[2015-10-28 23:44] Boubalou commented on #2905
am I alone having issues trying to use the new syntax to obtain the metadata?

Previously, in 1.13, using `this.get('store').metadataFor(MODEL_TYPE)` would return the meta property associated, if any, returned by the JSONAPI server.

Now, in 2.1, they are telling us to use `this.get('meta')` where `this` would be a store object wrapped from either a query or a peek (see documentation for details:

[2015-10-29 02:11] #3790 closed

[2015-10-29 16:30] justin-hackin opened #3894 "given a DS.Model instance no clear way to obtain a model's modelName"
I'm aware that there is a way to get modelName from a modelFor call (as indicated here: https://github.com/emberjs/data/issues/3472) .  However, given an arbitrary model, there seems to be no simple way for me to find out what kind of model it is.  Before I was using model.get('constructor.modelName') but this doesn't seem to be working any more (maybe in the update to 2.0 it broke ).  Regardless,

[2015-10-29 20:17] michaelrkn commented on #2905
@bmac or @wecc see https://github.com/emberjs/data/issues/2905#issuecomment-152032438 - is this a problem with the Guides?

[2015-10-29 21:07] swalkinshaw opened #3895 "BuildURLMixin drops query params"
I'm using `adapter.buildURL` for a non-standard URL and I was following through the [file](https://github.com/emberjs/data/blob/v1.13.14/packages/ember-data/lib/adapters/build-url-mixin.js) (in 1.13.14) to see if there was a nicer way to specify query params than manually for the ajax call.

`query` is listed as a [param](https://github.com/emberjs/data/blob/v1.13.14/packages/ember-data/lib/adapte

[2015-10-29 21:21] corrspt commented on #3894
I wanted to second this. I've resorted to adding a "metadata" object on each DS.Model to hold some other stuff

[code]

[2015-10-29 22:54] wecc commented on #3894
I just tried `model.constructor.modelName` with 2.0 and 2.1 and it works as expected.

Would you be able to reproduce a case where it doesn't work?

[2015-10-29 22:58] wecc commented on #3895
The private `_buildURL` method doesn't use `query` and therefor it's not being passed. The URL is just based on the modelName. The query is then added [here](https://github.com/emberjs/data/blob/v1.13.14/packages/ember-data/lib/adapters/rest-adapter.js#L525) and [here](https://github.com/emberjs/data/blob/v1.13.14/packages/ember-data/lib/adapters/rest-adapter.js#L497) in the adapter.

If you overr

[2015-10-29 23:02] wecc commented on #2905
No, the guides seem correct to me :) You can access `meta` using `.get('meta')` on results from `query` and on relationships (`belongsTo` and `hasMany`). `meta` is not available on the results from `peek`.

Global metadata per model type is no longer available.

[2015-10-29 23:20] IsaiahJTurner opened #3896 "Documentation Outdated"
http://emberjs.com/api/data/ does not include the `async` option for DS.attr. I don't know if other options are also missing.

[2015-10-29 23:21] wecc commented on #3896
From what I know `attr` does not have an `async` option?

[2015-10-29 23:21] #3896 closed

[2015-10-29 23:22] IsaiahJTurner commented on #3896
I'm going crazy, you're right @wecc.

[2015-10-30 00:13] stefanpenner commented on #3896
https://www.youtube.com/watch?v=pygwaX2VNzQ

[2015-10-30 00:53] Boubalou commented on #2905
Totally right! Thanks for enlightening me, it now works greatly with a `query()` instead of a `findAll()` request.

Documentation is right, but the part about peekRecord misled me to think peekAll would work as well.

Thanks!

[2015-10-30 01:04] sescobb27 commented on #3537
I'm still having the same issue with ember-data 1.13.14 and ember .1.13.10

[2015-10-30 08:37] corrspt commented on #3894
@wecc : Sorry, in my case `model.constructor.modelName` does work (in version 2.0 and 2.1), but I couldn't find it on the public api. So I assumed it would be a private API and I don't want to rely on it. Hence my post here. Or is it public api?

The closest I could find is [this](http://emberjs.com/api/data/classes/DS.Model.html#property_modelName) but I can't seem to have access to it (I'm not u

[2015-10-30 19:18] jdhines commented on #3084
I have been trying to solve this issue for weeks now, unsuccessfully, when trying to do `unloadAll()` before doing a `findAll()` to make sure I get stuff fresh, and I found that I only have the problem when running something other than production. In other words, for my app, everything works fine with `ember serve --environment=production` but not with `ember serve --environment=development`. Why

[2015-10-30 19:49] elwayman02 opened #3897 "Inconsistent initialization of relationships"
Ember-Data creates an empty `DS.PromiseObject` on a `belongsTo` relationship when the parent record is initialized, but not a `DS.PromiseArray` on a `hasMany` relationship.

[code]

If I `createRecord`, `model.get('industry')` returns a `DS.PromiseObject` with null `content`, but `model.get('teams')` returns `null`. I would prefer they both return null, honestly, but I'm extra confused as to why i

[2015-10-30 19:54] igorT commented on #3897
I would expect get teams to return an empty array, this seems weird.

[2015-10-30 19:57] elwayman02 commented on #3897
I'm seeing this on `2.2.0-beta.1`...haven't tested other versions.

[2015-10-31 14:31] sescobb27 commented on #3892
@wecc I'm having another situation, I did what you said but now I'm having this weird behavior:

app/serializers/order.js
[code]
![screen shot 2015-10-31 at 9 23 29 am](https://cloud.githubusercontent.com/assets/1157892/10864120/1f8d39b6-7fb1-11e5-8b96-50f873da8f75.png)

![screen shot 2015-10-31 at 9 27 59 am](https://cloud.githubusercontent.com/assets/1157892/10864129/ca04d778-7fb1-11e5-9cb5-ce15

[2015-10-31 14:40] sescobb27 commented on #3890
@XrXr http://jsonapi.org/format/#fetching in JSONAPI payload can't be empty. you SHOULD return
[code]
or
[code]

[2015-10-31 14:42] jherdman commented on #3890
I ran into this too. The JSON payload _isn't_ empty though. Here's another contrived example: http://emberjs.jsbin.com/sikivanomi/edit?html,js,output. Simply put, my query found nothing on the back end. This was a valid response in ED 1.13, I don't see why my API response wouldn't be valid now.

[2015-10-31 14:43] sescobb27 commented on #3890
This works as expected
[code]

[2015-10-31 14:45] jherdman commented on #3890
I think the issue is more accurately stated as "`queryRecord` shits the bed with REST Adapter when empty response returned"

[2015-10-31 14:45] sescobb27 commented on #3890
@jherdman I think is because you are querying just a record, but you are returning an array (an empty one)

[2015-10-31 14:48] jherdman commented on #3890
Indeed, but that's how this jazz works. Peep this:

https://github.com/emberjs/data/blob/31bf0715734e3573a4a7bfe54d833aa07db38d9f/packages/ember-data/lib/serializers/rest-serializer.js#L305-L327

This is the meat and potatoes of how the REST Adapter goes about figuring out which record to pluck out of a response when you're querying for a record. Indeed the adapter is expecting an array response.

[2015-10-31 15:00] sescobb27 commented on #3890
but that's because REST adapter serialize plain JSON payload into JSON API compliant payload in order to ED load it into the store

[2015-10-31 15:51] wecc commented on #3890
Seems related to #3790

[2015-10-31 17:32] HelloMihai commented on #1913
+1 we have `reload` for a single item... but we need also a `reloadTree`.  We can have both.

[2015-10-31 19:09] buritica commented on #3893
hey @igorT would you happen to know how we can approach this?

[2015-10-31 19:10] mwpastore opened #3899 "JSON-API adapter not grouping together relationship-gets for coalescing"
I have an API endpoint `/api/foos` that returns a collection of `Foo`s. Each `Foo` `belongsTo` a (has one) `Bar`, and the related link comes over in the JSON-API payload as `/api/bars/N` where `N` is the ID of the `Bar`. When I iterate over the collection of `Foo`s in my template and call `foo.get('bar')`, Ember Data dispatches many requests to the backend, one for each `Bar`. This is undesirable.

[2015-11-01 01:07] igorT commented on #3893
cc @tchak @wecc

[2015-11-01 09:52] Leeft commented on #3657
This has bitten me too, been struggling with it for days now. Aside from the documentation needing work, the biggest problem I have with it is that I haven't yet found a way to make good use of it in code (Ember itself copes just fine). How this now should work is actually much like Firebase does things already with its native API, though there it's well documented how you can first get an "initia

[2015-11-01 20:28] Leooo opened #3901 "can not extend / override methods (for example _find)"
Hello,

I have the following use case: using two stores, one offline with LocalStorageAdapter, the other one online with ActiveModelAdapter, and something close to EmberSync to link both worlds.

When fetching records from the server, I don't always embed their relationships to improve the performance, so I'm storing offline records with relationship ids which are not fetched yet.

When it's time

[2015-11-02 03:43] bmac commented on #3901
Hello @Leooo,

I think this is an interesting use case but I'm not convinced that exposing Ember Data's internal finder methods is the best way to solve this problem. Ember Data's internals tend to change over time as new features are added and performance improvements are implemented. This causes code that is coupled to these internals to be brittle and break when new version of Ember Data get re

[2015-11-02 08:30] Leooo commented on #3901
It is very dirty as I have to deliver on my website and I can't spend the time needed to find the right solution (especially without being able to test other solutions based on modifying ED internals). I send different adapterOptions from the offlineStore methods on find-like methods, so that I build loading records instead of rejecting promises when getting relationships only (not for normal find

[2015-11-02 08:44] Leooo commented on #3901
I understand your explanation on why private methods are private. Still, I don't know how users can understand what ember-data does without being able to extend it for testing / logging purposes.

[2015-11-02 10:30] Leooo commented on #3901
I haven't been able to test this as I don't want to change ember-date in bower, but I think what could be changed is:
* Ability to send an options.dontUnloadEmptyRecords in _find() so that empty records are not unloaded.
* Use this option for get(relationshipName) only (not for normal findRecord)
* Then in a get(relationshipName) routine, reject the promise if there are empty records, but leave th

[2015-11-02 13:35] bmac commented on #3899
This sounds like a bug. @igorT can you confirm that `coalesceFindRequests` should coalesce async relationship requests?

[2015-11-02 15:10] daminufe commented on #53
:+1:

[2015-11-02 15:47] justin-hackin commented on #3894
Returning to this issue, I've confirmed that, oddly, I can now access constructor.modelName ... I suspect I was experiencing a bug with Chrome or the ember inspector.  Sorry to raise this unnecessarily, it's not so much a bug as a 'nice to have' for clarity sake, and thus I'd consider it a low priority.

[2015-11-02 19:55] Asherlc opened #3902 "Computed alias incompatible with relationships"
It appears that Ember.computed.alias doesn’t work for populating relationships:

http://emberjs.jsbin.com/kopive/4/edit?html,css,js,output (with alias, non-working), vs this: http://emberjs.jsbin.com/kopive/2/edit?html,css,js,output (sans alias, working)

[2015-11-03 00:37] venkatd opened #3903 "Force store.query to reload"
I have a route where I'd like to refresh the query periodically. I tried `this.refresh()` and also `this.controllerFor('tasks').set('model', this.model())` but there is a noticeable flicker on each update.

[code]

What is the best way to do this? Thanks!

[2015-11-03 02:48] nouh commented on #3899
@bmac in my project, **coalesceFindRequests** can coalesce async relationship requests, but in ?**filter[id]=180,181,260,262,263,282,290** format, not like **id[]=1&id[]=2&id[]=3**

[2015-11-03 03:01] mwpastore commented on #3899
@nouh: That's just the JSON-API-compliant behavior I'm looking for! Did you have to do anything to get it working (besides setting `coalesceFindRequests` to true in your ApplicationAdapter)? What versions of Ember and Ember Data are you on and what does your JSON-API payload look like?

[2015-11-03 07:32] wecc commented on #3902
If your relationship is named `volume` instead of `book` you have to update your payload to reflect the name of the relationship:

[code]

[2015-11-03 12:06] sandstrom commented on #3894
@corrspt It's public API. Documented here: http://emberjs.com/api/data/classes/DS.Model.html#property_modelName

[2015-11-03 12:21] sandstrom commented on #3874
I would do it the other way around. Make a centralized logger without dependencies on Ember. Implement some type of pub/sub. Then add a simple shim on top of `Ember.Logger`.

[code]

You can then subscribe to your centralized logger in various ways. Print to console, send error level to bug-reporting tool, send to your own backend, keep in local storage on the client, for later, etc.

What's curre

[2015-11-03 13:31] Leooo commented on #3874
That would be more the Ember current way yes, though I had to struggle a bit (I'm not a specialist) to be able to mix color codes, meta (to set properties used for conditional log levels such as modelName ad id) and correct line numbers (see the special form of the logging function `this.log(meta)(messages)`), so I don't think Ember.logger would allow that in its current form.

Such a logger would

[2015-11-03 15:51] fivetanley commented on #3903
What version of Ember are you using?

[2015-11-03 17:09] Asherlc commented on #3902
Right, but wouldn't the expected behavior of `alias` be that it would allow for the relationship name change?

[2015-11-03 17:15] venkatd commented on #3903
Here are the versions of what I'm using:
[code]

[2015-11-03 19:04] drspaniel commented on #3893
@sescobb27 This is a hunch, but did you put an 'errors' property on your model? By default it is an instance of [DS.Errors](http://emberjs.com/api/data/classes/DS.Errors.html) which has an add method. If you've accidentally replaced this with your own errors property, the `add` method it's looking for would be missing. Can you include your model code as well?

[2015-11-03 19:08] tchak commented on #3893
Yes this looks definitely as `errors` being redefined on the model.

[2015-11-03 19:08] sescobb27 commented on #3893
@drspaniel, we are using `ember-validations` from dockyard, and in did they modify the `errors` attribute in the models.
[code]

[2015-11-03 19:09] drspaniel commented on #3893
@tchak Is there a way we can raise a warning if a user defines an errors attribute on a model?

[2015-11-03 19:12] drspaniel commented on #3893
@sescobb27 EmberValidations isn't meant to be mixed in with the model. Mix it into your controller or your component instead

[2015-11-03 19:14] wecc commented on #3902
Ah, I see what you mean. No, that's not possible :( Relationships are special CPs that ED has to know about beforehand so the alias wouldn't be discovered by ED as a relationship.

[2015-11-03 19:16] pangratz commented on #3902
If you want to use a different name for a relationship in your payload, you can specify this within your serializer via the `attrs` hash:

[code]

Note that there was a bug in `JSONAPISerializer` when using `attrs` with relationships. This has been fixed in #3847, available in `v2.2.0-beta.2.

[2015-11-03 19:17] sescobb27 commented on #3893
@drspaniel :disappointed: so, do I need to copy/paste those validations in every controller where I need them?

[2015-11-03 19:21] Asherlc commented on #3902
Ah, that's unfortunate :(. I was hoping it would behave like Rails' `alias_attr`, which allows exactly that, and is quite useful for me.

[2015-11-03 19:25] drspaniel commented on #3893
@sescobb27 You can create a mixin with just that validations hash, then mix that into your controllers.
[code]
 I work at dockyard btw, and we're talking right now about how we can make this clearer in the documentation

[2015-11-03 19:28] wecc commented on #3892
@sescobb27 can you explain a bit more what you are trying to do?

[2015-11-03 19:34] drspaniel opened #3906 "Redefining DS.Model attributes"
In https://github.com/emberjs/data/issues/3893 we found someone was accidentally overwriting DS.Model.errors in an extend block. It's also possible to overwrite other attributes (e.g. `isLoading`, `hasDirtyAttributes`) which can cause problem.
Is there a way for us to guard against these redefinitions, or display a warning in the console?

[2015-11-03 19:38] wecc commented on #3906
I think these are the only reserved properties at the moment: https://github.com/emberjs/data/blob/fcf54523b4b9f87e403baa5a1c73af0486914936/packages/ember-data/lib/system/model/model.js#L25

[2015-11-03 19:46] drspaniel commented on #3906
I think a warning would be good. I could see `isLoading` being a useful model attribute in some domain, and also something addons might depend on.
Based on the history around that line, we have to be careful about distinctions between instance & class attributes.

[2015-11-03 20:38] tchak commented on #3893
@drspaniel we can definitely add a warning if someone overrides `errors` object. @igorT @bmac are you ok with such warning?

[2015-11-03 20:41] drspaniel commented on #3893
I'd love a commit in ED, let me do the PR?
My intuition would be to warn on the entire list of properties. Any reason not to?
Maybe some should be warns, and others raise errors?
[code]

[2015-11-03 21:01] tchak commented on #3893
I am not sure about the general case...

And in your list there is a lot of static attributes/methods. I would not care much about them.

[2015-11-04 00:14] sescobb27 commented on #3892
@wecc sorry for wasting your time, it was my fault I was sending a wrong serialized response to ED.

[2015-11-04 07:12] sly7-7 commented on #3892
@sescobb27 If I understand, this issue could be closed ?

[2015-11-04 13:38] #3892 closed

[2015-11-04 19:18] venkatd commented on #393
I'm in need of this functionality too. I'd like to be able to request the the current user, application settings, and a number of things for which there is only one instance.

Maybe the solution is to add support for virtual ids (for example an id of 'me' always translates to 456) and add a hook to the store. Not sure how much complexity this would add but I do think singular resources are a prett

[2015-11-04 21:00] christophermlne commented on #3802
@bmac I am having the same issue, with the same words ('campus'/'campuses').

In your example app there are no relationships. If you had a program model that could have many campuses, you'd see the app start to break and the errors will complain about no model called 'campuse' or no model called 'campu'...

If anyone wants access to my code to try to figure this one out, let me know and i'll grant

[2015-11-04 21:10] bmac commented on #3802
@christophermlne do you mind testing out Ember Data 2.2.0-beta.3?

Prs https://github.com/emberjs/data/pull/3887 and https://github.com/emberjs/data/pull/3888 were recently merged which I suspect was contributing to this issue.

[2015-11-04 21:36] oleg-andreyev commented on #3893
@drspaniel you are saying that `EmberValidation` shouldn't be mixed with `Model`, but after reading [this article](https://dockyard.com/blog/2014/04/30/understanding-validation-graphs), I have mixed feelings about it...

How then we can validation complex graphs?
Having ability to validated complex graph is a MUST HAVE feature.

[2015-11-04 22:03] christophermlne commented on #3802
I will try to do as you ask but it may not be until next week sometime.

In the mean-time I was able to get this to work by doing adding the inflector rules to app.js

[2015-11-04 22:11] bcardarella commented on #3893
@tchak @igorT please no warning when overriding `errors`

[2015-11-04 22:11] drspaniel commented on #3893
@oleg-andreyev that's true, the post does leave an open ended question. I'm not sure we ever resolved it. The ember-validations repo would probably be a better place for that discussion though.

[2015-11-04 22:12] drspaniel commented on #3893
@bcardarella why not? It causes ED to crash if you override it?

[2015-11-04 22:16] bcardarella commented on #3893
@drspaniel if overriding the `errors` object causes ED to crash that that be seen as an ED issue. We should be able to override `errors` with an API compliant object and not get warnings. Adding the warnings now is going to create problems later

[2015-11-04 22:18] bcardarella commented on #3893
@oleg-andreyev I'm not following your logic. We don't need to have validations in models to get the validation graph. The validations can be allowed on any property path that can go to any other validate-able object

[2015-11-04 22:24] drspaniel commented on #3893
@bcardarella in this case we're not overriding with an API compliant object though. We could check for API compliance and only warn if it doesn't match? My worry is that domain 'errors' properties are probably not uncommon, and we should guard against accidental overrides.
We could fix this so it doesn't crash, but it will still result in ED behaving differently than normal if you override the pro

[2015-11-04 22:24] sescobb27 commented on #3893
@bcardarella @drspaniel what about overriding `errors` in `ember-validation` with a `DS.Error` instance object?

[2015-11-04 22:27] bcardarella commented on #3893
@drspaniel per semantic versioning if a feature is added (like this warning) it cannot be removed until the next major version. The issue in this case is with ember-data's compatibility with ED's errors object. When this issue is resolved users shouldn't be getting a warning.

[2015-11-04 22:28] bcardarella commented on #3893
@sescobb27 that is one possibility I have been exploring. @rwjblue has made the same case to me

[2015-11-04 22:29] pangratz commented on #3833
I guess this issue can be closed since an assertion for only passing instances of `DS.Model` has been added in #3865.

[2015-11-04 22:29] bcardarella commented on #3893
However, I am still leaning towards an overwrite of the ED errors object entirely as I don't think it meets the complexity that is necessary for validation messaging, at least in the way that ember-validations intends

[2015-11-04 22:33] drspaniel commented on #3893
@bcardarella I think there's a case to be made for protecting the average developer from naively adding an `errors` property to their model without understanding the consequences

[2015-11-04 22:35] #3833 closed

[2015-11-04 22:39] sescobb27 commented on #3893
The thing is I didn't override the `errors` attribute but instead I have all my models mixed with ember-validations 'cause that's the most natural way of handling that, I will refactor my app in order to make those validations in our components, `Controllers` are going to be removed in coming releases, but maybe some other people are going to face this same issue as I did, that's why I think that

[2015-11-04 22:59] bcardarella commented on #3893
@drspaniel you could make that case for pretty much every piece of public API

[2015-11-05 00:56] rwjblue commented on #3893
Super minor correction here: my suggestion was to extract a shared object (not in ember-data's repo) that can be used by both projects.  I am not 100% certain that the current `DS.Errors` will do all of the things that ember-validations needs/wants (though it may, I haven't dug into it a bunch lately).

[2015-11-05 00:58] bcardarella commented on #3893
@rwjblue I agree, I do think, however, that it can respond to the same API that ED expects but do its own thing under the hood

[2015-11-05 00:59] rwjblue commented on #3893
Ya, makes sense

[2015-11-05 08:21] tuomole commented on #3704
We're currently facing this problem, as we need to reload a cached record before editing it. As a dirty workaround we do `model.reload()` in route's `afterModel` hook, which causes 2 requests to the server when there's no record in the cache already.

Any updates about the proposed fix?

Ember 1.13.7
Ember Data 1.13.8

[2015-11-05 08:22] chenxiwei opened #3908 "Only get 41 records through 'findAll' method?"
I want to use 'findAll' method to get the record,and I mocked 80 records,But I find the stores only have
41 objects that parsed.
just like:
![image](https://cloud.githubusercontent.com/assets/3908001/10963167/099267fe-83d9-11e5-8185-f4d4094cae49.png)

![image](https://cloud.githubusercontent.com/assets/3908001/10963184/24b4e584-83d9-11e5-9cc1-d382fbe9fd5c.png)
How can I get all the objects that pa

[2015-11-05 08:26] wecc commented on #3908
Would you be able to provide a failing JSBin/Ember Twiddle?

[2015-11-05 09:33] chenxiwei commented on #3908
I have solved it,bacause I use 'Mock.Random.integer' to  generate id,but I set range from 60 to 100,so I only can get 41 ids,it means I only can push 41 records in store.=_= Silly me

[2015-11-05 09:46] lan0 commented on #2754
Are there any updates on this? The code above doesn't seem to work anymore in 2.1.

[2015-11-05 10:10] tchak commented on #3893
Good news is, we are moving away from complex event mechanics in `DS.Errors` that could make harder to integrate with it (see #3853). By doing that we decorrelating `DS.Errors` from invalid state transitions.

[2015-11-05 10:11] bcardarella commented on #3893
@tchak that's great news :)

[2015-11-05 10:57] wecc commented on #3908
:)

[2015-11-05 10:57] #3908 closed

[2015-11-05 10:58] lolmaus commented on #2754
@lan0 Why not? What's the problem specifically?

Please reproduce the problem on http://ember-twiddle.com/ .

[2015-11-05 13:04] adam-knights commented on #3602
@bmac @tchak Any update on this? Is https://github.com/emberjs/data/pull/3859 expected to resolve this or would this need to be a separate fix? If I return anything from my api with the pointer '/data' it is lost by the time I interact with `record.errors`.

[2015-11-05 14:27] remkoboschker commented on #3802
@bmac The prs #3887 and #3888 do not seem to make any difference. I have spotted a difference with your test project https://github.com/bmac/inflector-test . You are not using the json-api json in your mocks https://github.com/bmac/inflector-test/blob/master/server/mocks/campuses.js also I'm using mirage. Perhaps this helps.

[2015-11-06 04:09] nightire commented on #2754
@lolmaus May I ask where to put `$.mockjax` code in ember-twiddle?

[2015-11-06 09:22] lolmaus commented on #2754
@nightire Uhm, you can't, I guess. Use https://emberjs.jsbin.com then.

[2015-11-06 09:39] lan0 commented on #2754
@nightire https://github.com/ember-cli/ember-twiddle/issues/62#issuecomment-135774816 has an example for using mockjax in a twiddle: https://ember-twiddle.com/e17b37f4aa8e458546d5

[2015-11-06 10:49] nightire commented on #2754
@lan0 Actually I've tried the same thing at first: https://ember-twiddle.com/b52ef7dfecbd6a08c86d

But unfortunately it won't work because ember-twiddle won't allow pre-flight request??? I'm really confused...

[2015-11-06 19:02] Kilowhisky commented on #3296
I can't quite wrap my head around this issue but would a symptom of this problem be that unloaded records are still being returned from `store.findAll`?

[2015-11-07 01:52] arenoir opened #3911 "Having to expose the content property of relationships with computed properties."
All my computed properties that interact with relationships are broken in ember-2.1 - 2.2 with ember-data 2.0 - 2.2

For example:

[code]

That computed property `total` should work but does not.  The workaround is to expose the content property of the `invoice.lines` relationship.

ie: 'invoice.lines.@each.amount' to 'invoice.lines.content.@each.amount'

I however do not want to do that as this i

[2015-11-07 02:48] jcope2013 commented on #3911
related? https://github.com/emberjs/ember.js/issues/12475

[2015-11-09 21:57] SeyZ commented on #3877
Ping ?

[2015-11-09 22:19] wecc commented on #3877
ED does not support DELETE requests to relationship's `self` links at the moment.

[2015-11-10 14:38] SeyZ commented on #3877
Is there a plan/roadmap to implement this? Is there a workaround? Thanks for help :)

[2015-11-10 15:06] jcope2013 opened #3914 "Ember data issues with npm?"
``` npm view ember-data ```

returns a blank line

[2015-11-10 15:14] bmac commented on #3914
Looks like I made a typo when trying to set `v2.1.0` back to the `latest` tag after releasing `v1.13.15`. It should be fixed now.

[2015-11-10 15:14] #3914 closed

[2015-11-10 23:22] mwpastore commented on #3899
@runspired suggests that this might be because these are `belongsTo` relationships and `findBelongsTo` does not invoke `groupRecordsForFindMany` when resolving. Thoughts on this and how I might implement that?

[2015-11-10 23:40] Kilowhisky commented on #3084
+1. I'm having the issue as well in my websocket based model update service. The only thing i've been able to do is reload the app so that it gets the correct data.   Anything we can do to help move along this issue?

[2015-11-11 03:03] sarus commented on #2905
Tried following the guide for metadata (https://github.com/emberjs/data/issues/3596#issuecomment-126604014) but it doesn't appear to work when retrieving a model with `this.store.findRecord()`

Is there a workaround for this or plans to support it? (or is it supported and I'm just doing something wrong)

[2015-11-11 10:38] Turbo87 commented on #3736
I'm getting very confused by this change... Is there any documentation on the expected behavior when a relationship key is `null`? I would assume that it does not change anything, but it seems that in v1.13 it actually empties the array.

see https://github.com/rust-lang/crates.io/pull/208#issuecomment-155714465 for a more detailed description of the bug

[2015-11-11 14:51] Ramblurr commented on #3790
Any idea when this fix will make it into a release?

[2015-11-11 16:53] wagenet opened #3917 "JSONSerializer#normalizeId appears unused"
https://github.com/emberjs/data/search?utf8=%E2%9C%93&q=normalizeId

[2015-11-11 22:12] #3602 closed

[2015-11-12 00:19] krisselden opened #3918 "query loses meta for pagination"
Looks like only has many record arrays have meta for pagination.

[2015-11-12 11:51] hhff opened #3919 "Polymorphic Pattern via (seemingly arbitrary) Mixin w/ JSONAPI"
Hi All!

Apologies if this has been resolved, but seeing as I'm on Ember Data `1.13.9` I thought I'd report this.

I'm working on some basic polymorphic stuff with Active Model Serializers `0.10.0.rc2`, and its JSONAPI Adapter.

I'm used to the "Mixin" pattern for Polymorphism in Ember, **however** I've noticed that this works without any hitches:

[code]

[code]

[code]

In the case above, `recap

[2015-11-12 15:57] Kallin opened #3920 "inflector deprecations"
Linking to an issue I opened on inflector. Once it's updated the dep should be updated here.
https://github.com/stefanpenner/ember-inflector/issues/93

[2015-11-12 18:11] rwjblue commented on #3919
You have to have either a model or a mixin when using polymorphic types.  [See here](https://github.com/emberjs/data/blob/309d481958cd66c9dae6f59fdec20768b3a9d14c/packages/ember-data/lib/system/store.js#L1510-L1517) for the current implementation.

[2015-11-12 18:36] sarus commented on #3671
Ran into this same issue.

[code]

[2015-11-12 18:47] wecc commented on #3671
Would you be able to reproduce this issue in a JSBin or Ember Twiddle?

[2015-11-12 18:53] sarus commented on #3671
@wecc sure.  Is there an example anywhere of how to mock the json api response for the store?

[2015-11-12 18:54] wecc commented on #3671
@sarus: Great, thanks! There are a pre-configured JSBins available here: https://github.com/emberjs/data/blob/master/CONTRIBUTING.md#reporting-a-bug

[2015-11-12 21:33] ricky1981 commented on #3419
It seems so, the state of metadata support is pretty poor right now, the docs are out of date and doing anything meaningful seems to rely on deprecated and/or private methods.

[2015-11-12 21:39] wecc commented on #3419
Metadata is supported on results from `store.query()` and on `belongsTo`/`hasMany` relationships. Global metadata per type didn't really make sense and was removed a while back. Metadata per record and improved metadata on collections will hopefully be available soon.

Feel free to submit issues related to out of date docs, or PRs fixing it. From what I can see http://guides.emberjs.com/v2.1.0/mod

[2015-11-12 22:20] sarus commented on #3671
Thanks wecc.  Not surprisingly I haven't been able to reproduce in my simplified fiddle.  Will keep playing around with it to see if I can recreate whatever it is I'm doing in my actual application.

[2015-11-12 23:03] sarus commented on #3671
@wecc Here is an example that illustrates the issue.

http://emberjs.jsbin.com/viwurizule/1/edit?html,js,output

The key is that 'async' on the `hasMany` relationship has to be set to true (or not explicitly set to false).  In that case you can only access meta through `content`

[code]

[2015-11-12 23:07] fivetanley opened #3921 "Write changelog entry instructing users of the ember cli addon how to update"

[2015-11-12 23:07] fivetanley opened #3922 "Restore feature flags / code stripping in both addon/globals build"

[2015-11-13 00:10] hhff commented on #3919
Yup - I understand (and quite like) the "official" pattern.  Just seems like a stumbling block that the `statisticable` model (inverse to the polymorphic declaration) doesn't actually need the Mixin applied to it - it simply needs to exist.

In the above case, does the "dummy mixin" actually do anything?  Again - I may be missing something.

[2015-11-13 01:30] rtm commented on #3419
Isn't pagination information a perfect example of per-model metadatda? I myself had a good use case for it which is a little it too involved to go into here. I don't understand why someone would randomly decide that something is not necessary because they can't think of any reasons for it at that moment and so decide to remove it. With regard to metadata on records, I'm a bit unclear here: how doe

[2015-11-13 02:15] ricky1981 commented on #3419
I can't understand why you would allow metadata on `store.query('project',{})` but not `store.findAll('project')`, that just makes no sense to me at all.

Metadata isn't only useful when you have a subset of data and I can't see why arbitrarily removing support for it apart from certain circumstances is a good design decision.

I can just about accept not allowing metadata for individual records b

[2015-11-13 14:30] kurko commented on #2372
@wecc yes, "inverted". I think `ember-try` serves to test different versions for one particular lib. The issue proposes, though, a build for various libs. Perhaps if Ember released a lib that 3rd-parties could plugin and run their own tests, Ember wouldn't need to worry about unmaintained libs breaking. The "inverted" approach could be nicer.

[2015-11-13 20:03] igorT commented on #3919
In this case the `statistics` relationship might not be wired up correctly, because you didn't declare it on the parent class but should otherwise work

[2015-11-13 21:20] justin-hackin commented on #2705
Just a workaround, but it took me a while to find one so thought I'd post here:
[code]
was how I got the id of a belongsTo before the associated model was loaded

[2015-11-13 22:00] DLiblik commented on #3704
We implemented the same workaround (calling reload), but get a double-tap to the server as well... hoping somebody has nothing better to do this weekend ;)

[2015-11-14 05:30] bobbysciacchitano commented on #3015
I've tried keyForLink in Ember data 2.1.0 but it seems to have no effect with the JSON API serialiser:

[code]
My Payload (snipped)
[code]
Yields the error:
[code]

[2015-11-14 06:45] hhff commented on #3919
Thanks dudes!  `Recap#statistics` is declared in the `models/recap.js` so that relation should be fine.

Again - I'm more highlighting that it's a little confusing there's no check to ensure the Mixin is actually applied to the "polymorphic" Model (`Recap` in this case).

Feels arbitrary that a Mixin even has to exist here.  Just wanted to let you know it may be confusing for beginners!

[2015-11-14 08:33] wecc commented on #3015
@bobbysciacchitano this sounds more like an issue with the type. `JSONAPISerializer` expects plural payload types and singular models.

Do you have a `"type": "media"` somewhere? Does your code fetch the `media.links.related` URL? By default Ember Data will do `singularize('media') // => 'medium'` to find the correct model.

You can use `modelNameFromPayloadKey` and `payloadKeyFromModelName` seria

[2015-11-14 22:17] jamesdixon opened #3932 "[JSON API] what does/doesn't ED support?"
Hi,

I was curious if there is a definitive resource as to what ED does and does not support with regards to the current JSON API 1.0 specification? I keep finding myself running into issues where I'm thinking there is a bug with my code or ED only to find out that ED doesn't support a particular part of the specification.

If no such resource exists, I think it might be worth while to put somethi

[2015-11-15 13:49] GCorbel opened #3933 "JSON Api adapter set all attributes to undefined"
Hi,

In an application using ember 2.1.0 and ember-data 2.1.0, I have this model :

    # app/models/user.js
    import DS from 'ember-data';

    export default DS.Model.extend({
      name: DS.attr()
    });

And this route :

    # app/routes/subscriptions/new.js
    export default Ember.Route.extend({
      model() {
        this.store.findRecord('user', 1).then(function(data) {
          cons

[2015-11-15 13:58] GCorbel commented on #3933
My mistake ! I didn't declare the `email` attribute.

[2015-11-15 13:58] #3933 closed

[2015-11-15 18:43] mxrguspxrt opened #3934 "Going crazy with promises."
Imagine that I have:

Post with many comments (async is true). Now when I give post.comments to a component, sometimes they are resolved (array of comments), sometimes they are promisearray, sometimes they are fulfilled promisearray.

If given to a component, should not be they updated to resolved array of comments at some point?

[2015-11-15 19:54] stefanpenner commented on #3934
This does not appear to be a bug report, unfortunately we need to keep this issue tracker focused on issues. A much better venue, geared for this is http://stackoverflow.com/

Feel free to tag the SO post and cross post back here. I would recommend providing a concrete example, either via demo or an extremely concise but well defined example.

[2015-11-15 19:54] #3934 closed

[2015-11-16 05:13] venkatd commented on #3903
I ended up wrapping the results in an `ArrayProxy` and there is no longer any flickers. Not 100% sure why the store was causing flickers, but this seems to work. An added bonus is that I don't need to refresh the entire route.

**query-collection.js**
[code]

**tasks.js**
[code]

[2015-11-17 07:04] TangMonk opened #3935 "How to load JSON to Model?"

[2015-11-17 07:06] krisselden opened #3936 "Avoid private API"
Should not use  `relatedTypesDescriptor._cacheable = false;` in testing as this is now `_volatile = true`

[2015-11-17 20:00] jherdman commented on #3790
Perchance did this land in 2.2.0?

[2015-11-17 22:03] Kilowhisky commented on #3084
I tried that but then encountered a problem where if the unloaded record was restored the relationship wasn't restored. Probably an unrelated bug.

[2015-11-18 00:05] jherdman commented on #3084
I'll keep my eye out for that, it's definitely a scenario I'll run into with my workaround.

[2015-11-18 10:07] runspired commented on #3250
`recordForId` is pretty heavily relied on by most hacks I've seen trying to get around ED edge cases.  You can deprecate it because `peekRecord` is a direct substitute, but you'll likely need to keep `hasRecordForId` which I don't see mentioned here.

[2015-11-18 10:50] adam-knights opened #3939 "ajaxOptions is private on adapters, can it be made public?"
AjaxOptions is the only place I can see to add a generic timeout for our web app, e.g.

[code]

Is there a particular reason this is private? Can it be made public?

[2015-11-18 11:48] wecc commented on #3939
It's on the list in issue #3249 to be public.

[2015-11-18 11:48] wecc commented on #3939
Closing this

[2015-11-18 11:48] #3939 closed

[2015-11-18 15:39] NeilAllen commented on #3518
Is there an update/resolution on this 1; getting the same issue where the relationship value is null.

[2015-11-18 15:54] tschoartschi opened #3942 "CoalesceFindRequests causes troubles"
EDIT: we are on ```ember data 1.13.12``` and also tried ```ember data 1.13.15```, problem exists in both versions. Without ```coalesceFindRequests: true``` everything is fine

I don't know how to tackle this problem therefore I open an issue here. I have the following problem:

In my template I display items which belongs to a catalog. The catalog relation is async and when Ember is trying to fetc

[2015-11-18 18:14] #3917 closed

[2015-11-19 15:08] wecc commented on #3932
I'm pretty sure no such resource exists but I think this is a great idea. There's #2905 but it's not an exhaustive list. I'd be happy to guide you if you would like to put something together.

[2015-11-19 21:35] chandreshp commented on #1913
+1 for reload of a single 'belongsTo' relationship.

[2015-11-20 08:49] martndemus opened #3945 "Better error for when the `type` property is missing from a JSON API response."
Currently it will just throw `Uncaught TypeError: Cannot read property 'replace' of undefined`, because somewhere along the parsing of the response replace is used on the value of `type`.

The error is triggered at: https://github.com/emberjs/data/blob/master/addon/serializers/json-api-serializer.js#L139

[2015-11-20 10:30] boris-petrov opened #3947 "Polymorphism on the model level, not at the association level"
I'm not sure I understand fully what's going on. Let's say I have a couple of models - `Base` and `Derived` where `Derived` inherits from `Base`.

If I do a `store.findRecord("base", "someId")`, and a record of `Derived` is returned (the JSON is something like `{ "derived": { "id": "someId", "type": "derived", ... } }`), "everything" works fine, i.e. the model can be used as a `Derived` one (I can

[2015-11-20 19:49] dchersey opened #3948 "Error: Attempted to handle event `notFound` after store.unload"
Hi,

I am pushing data via a websocket into the store via store.push. That's working great, and I'm loving the real-time sync-up being handled by Ember!

However, I'm getting an error I can't seem to handle when I delete a record and push a notification of that delete to my clients.  I'm using ember-data 2.1.0.

My handler looks like:

[code]

This successfully removes the data from the store, but

[2015-11-20 22:32] dchersey commented on #3948
I just figured out how to avoid this ... not sure if this might still be a bug anyway but the work-around is:

[code]

data.destroyed is the id of the destroyed note. Checking makes sure we don't go to the back end to find the non-existent note that was destroyed.

[2015-11-23 04:23] workmanw opened #3950 "Cryptic error on malformed JSON API response"
So I spent quite a bit of time trying figure out a cryptic error(s) today:

[code]

It turns out that the issue was a malformed response from the API. Instead of `{ data: { ... } }` I had `{ data: [{ ... }] }`. Here is a twiddle that reproduces this. Take a look at the instance-initializer. https://ember-twiddle.com/034e4df9e9b19c64e4a1

So this was clearly my mistake, but it was not at all obviou

[2015-11-24 03:00] Lit-Yin opened #3951 "DS.Model.reopen can't override the function addErrorMessageToAttribute"
I want to override the function addErrorMessageToAttribute in DS.Model to underscore my custom error field name from the server,just like 'ServerSideError' to 'server_side_error'.
Then I write some code like this:
[code]
or
[code]
But it doesn't work,and i go to watch the sourse code in ember-data,i find the function is the prototype of 'ember$data$lib$system$model$internal$model$$InternalModel',w

[2015-11-24 15:42] #3945 closed

[2015-11-25 13:59] Lit-Yin commented on #3951
nobody figure out?

[2015-11-25 15:15] andruby opened #3953 "Create record with new hasMany relationship sends empty ids instead of attributes"
With this Book model:

[code]

When creating a record with new authors.

[code]

The author relationships are serialised as if they were already persisted. The relationship is serialised as a [Resource Identifier Object](http://jsonapi.org/format/#document-resource-identifier-objects).

[code]

From my understanding of JSONAPI, the unpersisted relationship should be serialised as a [Resource Objec

[2015-11-25 15:19] wecc commented on #3953
This looks like a bug to me. We wouldn't want to serialize new records before they have been saved. Not 100% sure what the correct path here would be.

Hm, I don't think "embedded" records in relationships are a thing in JSON API at all? Unsure though. Can you point me to the part of the spec that made you think this is the recommended behavior?

[2015-11-25 15:22] wecc commented on #3951
Instinctively I'd say this is something your serializer should handle for you, but I'm not too familiar with the error parts of ED.

ping @tchak

[2015-11-25 16:47] teckays opened #3954 "Add DS.Store base delegate method to the adapter"
I'm wondering if I need to extend the `DS.Store` class in order to add a query method like `this.store.search()` for example, would it be possible on the current version?

This need comes from the fact that I have a `JSONAPIAdapter`-like backend API but with some minor changes.  For example I have a custom route to perform searches on the model `/{model}/search` and none of the existing methods, `

[2015-11-25 17:32] wecc commented on #3954
There's currently no built-in way (other than extending) to provide additional methods to the store.

You can use `adapterOptions` to `query()`/`queryRecord()` if you want to communicate with your adapter. Like, if you provide a `search` key your adapter could behave differently.

[2015-11-25 17:45] teckays commented on #3954
As for now I managed to find this solution:

***/stores/application.js***
[code]
so any `this.store.search(model, query)` would make a request to `/{model}/search?{query}`. One thing I don't like here is using `Ember.$.get()` method, looks kind of dirty. Is there a way to make it prettier?

[2015-11-26 02:07] Lit-Yin commented on #3951
@wecc thanks.I had read the serializer code in ember-data,but i can't fix this problem yet.

[2015-11-26 12:49] frederikbosch commented on #3419
@rtm That was my first thought too. After looking at my app, eventually the meta data only for `.query` seems to work well for me. Give it a try.

[2015-11-26 13:21] andruby commented on #3953
@wecc I think you are right. The JSONAPI spec does not explicitly support what I'm trying to do. It seems natural though, and need it to atomically create a new record with relationships. I'll go on the jsonapi discuss to see if they are looking at extending the spec for these kinds of requests. Thanks!

[2015-11-26 13:42] tchak commented on #3951
@Lit-Yin `addErrorMessageToAttribute` is a private method of private class `InternalModel`. Clearly this is a serializer concern.

[2015-11-26 14:56] andruby commented on #3953
@wecc Ember-Data already supports serializing relationships through the [EmbeddedRecordsMixin](http://emberjs.com/api/data/classes/DS.EmbeddedRecordsMixin.html). Thanks to @lolmaus at https://github.com/json-api/json-api/issues/795#issuecomment-159927027

Adding the EmbeddedRecordsMixin was as easy as creating a custom serializer for `Book` from my example:

[code]

[2015-11-26 14:56] #3953 closed

[2015-11-27 01:34] Lit-Yin commented on #3951
@tchak thanks.I had read the code about serializer,it can serializer the property of the model,but it can't serializer the key which is not the property of the model.
How can i fix this problem through serializer concern?

[2015-11-27 02:53] ubuntuvim commented on #3951
Is it better to rewrite the serialization?
[http://guides.emberjs.com/v2.0.0/models/customizing-serializers/](http://guides.emberjs.com/v2.0.0/models/customizing-serializers/)

[2015-11-27 03:53] Lit-Yin commented on #3951
@tchak @wecc thanks.I find the way by https://github.com/pangratz/data/commit/a8791733ac54ba0cb6773ebeb46a3aa3319273fc.
It no need to reopen any function.Just add a 'attrs' property with DS.RESTSerializer int the file 'serializers/application'.It will auto serialize the 'ServerSideError' to 'server_side_error' in all model.
[code]

[2015-11-27 03:53] #3951 closed

[2015-11-27 16:39] jpaas opened #3955 "json-serializer normalizeUsingDeclaredMapping overwrites previous attribute if key is not in map"
Have a look here... https://github.com/emberjs/data/blob/e1007db415041ef6a9831b731c9f458d11d2ae4f/addon/serializers/json-serializer.js#L735

[code]

If I have a payload such as
[code]

My model with end up with a value of "incorrect" on the inMyMap property. Why? Because the normalizedKey is not initialized each time through the loop, so it ends up inside the payloadKey != normalizedKey block at t

[2015-11-27 19:13] jpaas commented on #3955
Submitted pull request #3956

[2015-11-27 21:31] teckays opened #3957 "Ember normalize response"
I'm extending the `JSONSerializer` in order to fit my server response which looks like this:

    {
      "result": {
        "items": [
          {
            "id": "...",
            "title": "...",
            ...
          },
          ...
        ],
          "total": number,
          "...": "..."
      }
    }

therefore I have overridden `normalizeResponse()` method:

    normalizeRespons

[2015-11-28 01:16] BananaNeil commented on #3419
I agree with @ricky1981 100%. Please respect my API, I have too many apps using it to add _more_ special support for silly deprecations.

In our use case), we return a `csrf_token` in the top level meta key of our authenticated user response.

We rely on `metadataFor` in our 1.9 app, and now for our_seperate 2.x app, I'm either going to have to duplicate the csrf_token to be mixed in with the user

[2015-11-30 10:42] frederikbosch commented on #3419
@BananaNeil After thinking through, I think you are right on this matter. However, you might reconsider your language. 'Silly deprecations' is not the way we should approach this. By choosing open source you opt-in on features for free, but you also opt-in on decisions that you will not be happy about. Try to convince them to do otherwise, deal with it (by creating a patch) but in any case leave t

[2015-11-30 10:59] wecc commented on #3419
The reason for this is that `store.findAll(type)` always returns the same array of records, and this array is "live" and automatically updated when records are added/removed from the store. Because of this, metadata returned when doing an initial `store.findAll(type)` call might not be correct for all the records returned by that same call in the future.

`store.query(...)` on the other hand is ma

[2015-11-30 12:15] orgertot opened #3959 "Different Model for plural"
Hi,
So we have a model called workouts.
The rest server provides under GET /workouts basic information as id, name.
If you want to have more informations about a workout you have to call GET /workout/:workout_id. The server will provide you a hole bunch of information/data.

How can I add a new model and a new request for the plural? I didnt find anything in the documentation.

Thanks!

[2015-11-30 18:53] ricky1981 commented on #3419
I think part of the problem is that as far as I can see, JSON API is very sparsely adopted and it feels a bit like it has been adopted/forced on Ember/Ember Data purely because of Yehuda's involvement and I think that could prove to be a mistake.

Personally, I would have liked to see much more effort put into making it easier to work with non-compliant APIs because we are often forced to do that,

[2015-11-30 19:12] wecc commented on #3957
Looks like this was solved, see http://discuss.emberjs.com/t/ember-normalize-response-undefined-fields/9204/2

Closing.

[2015-11-30 19:12] #3957 closed

[2015-11-30 21:41] bmac commented on #3959
Hi @orgertot. I'd recommend you check out this addon https://github.com/BookingSync/ember-data-partial-model which supports the use case of basic information list GET + more detailed single model GET.

The other approach to handling this use case would be to define 1 `workout` Ember Data model. Then creating a workout specific adapter in `app/adapters/workout.js` or `app/workout/adapter.js` where

[2015-12-01 10:53] orgertot commented on #3959
Thanks very much for ember-data-patial-model addon!

[2015-12-01 10:53] #3959 closed

[2015-12-02 03:21] MiracleBlue opened #3962 "Dynamically added records to hasMany relationship don't get serlialised (ED 2.2.1, Ember 2.1.0)"
I have a model called `outcome` that looks something like this:

`
DS.Model.extend({
  decisionMaker: belongsTo('user'),
  pleaOrders: DS.hasMany('plea-order')
})
`

And a model called `plea-order` that looks like this:

`
DS.Model.extend({
  outcome: belongsTo('outcome')
})
`

And after I save the plea-order to the back-end and it returns me a new ID, I then push the plea-order record into the pl

[2015-12-02 03:57] MiracleBlue commented on #3962
I forgot to mention, I'm using the JSON API Serializer as well.

[2015-12-02 04:00] jcope2013 commented on #3962
you need to add the DS.EmbeddedRecordsMixin to your serializer  http://emberjs.com/api/data/classes/DS.EmbeddedRecordsMixin.html

[code]

[2015-12-02 04:06] MiracleBlue commented on #3962
The thing is that I'm not trying to embed it into the response, I'm simply trying to get the relationship (id + type) in the relationships object.

For example, the output I expect is this:

[code]

But what I end up with is just

[code]

No plea-orders.

But if you're saying that I need to do the embedded record with my hasmany in order for it to add that relationship, then I do apologise and wil

[2015-12-02 04:20] jcope2013 commented on #3962
you might want to do ``` { serialize: 'ids', deserialize: 'ids' } ``` instead of ``` { embedded: 'always' }  ``` which is really ``` { serialize: 'records', deserialize: 'records' } ```

[2015-12-02 04:21] MiracleBlue commented on #3962
Thanks @jcope2013 I will try that!

[2015-12-02 04:26] MiracleBlue commented on #3962
I've found the answer here: http://stackoverflow.com/questions/19093078/ember-data-saving-record-loses-has-many-relationships/24619032#24619032

Makes sense I suppose.  I'll just over-ride the serializer to allow manyToOne for my specific use case for now.

[2015-12-02 04:27] #3962 closed

[2015-12-02 05:13] edwinallenz commented on #3463
I would like to document the adapterOptions property, but it's hard for me to understand the reason for it and how it works, I you can help me to point me in the right direction I can do it definitely.

[2015-12-02 06:57] wecc commented on #3463
@edwinallenz Great, thanks!

IIRC you can pass `{ adapterOptions: { ... } }` as `options` in four different methods:

- `store.findAll(type, options)` - [source](https://github.com/emberjs/data/blob/4db3f1f949cca93a0af34996da7724d0a3364c41/packages/ember-data/lib/system/store.js#L1136)
- `store.findRecord(type, id, options)` - [source](https://github.com/emberjs/data/blob/4db3f1f949cca93a0af34996d

[2015-12-02 07:00] wecc commented on #3962
FWIW, you should be able to do `attrs: { pleaOrders: { serialize: true } }` (without the `EmbeddedRecordsMixin`) to serialize ManyToOne relationships.

[2015-12-02 07:01] MiracleBlue commented on #3962
Oh wonderful! That would be so much nicer than my current overridden
serializer method. Thanks for this, I'll give it a go in the morning.

On Wed, 2 Dec 2015 6:00 pm Christoffer Persson <notifications@github.com>
wrote:

[2015-12-02 14:58] fidlip commented on #3463
When you use store.findAll method, options parameter has no effect. It seems this parameter is not passed to (eg.) RESTAdapter, it's broken in RESTAdapter's findAll method, which has no snapshotArray parameter, which is expected to have. Declaration:
[code]
but called with:
[code]
Or am I wrong?

[2015-12-02 15:00] wecc commented on #3463
@fidlip looks like it was fixed in #3850

[2015-12-02 16:46] CarlosV89 commented on #2834
Overwriting the urlForFindRecord worked for me ie: ```javascriptreturn \`${namespace}/collection/${id}?${includeItemParam}&${includeLastModifiedUserParam}/`; `

[2015-12-02 23:42] MiracleBlue commented on #3962
That worked great @wecc, thanks a lot!

[2015-12-03 16:09] #3950 closed

[2015-12-03 16:14] igorT commented on #3955
Is there a use case for having it in your serializer definition if it's not in the model definition. Seems like a case for an assert?

[2015-12-03 16:14] igorT commented on #3955
cc @wecc

[2015-12-03 19:09] aarnwri commented on #3780
@wecc @olivierlesnicki I ran into this too... I don't think it's something that should be done (saving an unloaded record), but it is something that can be hard to debug... When I'm creating new records to be persisted to the server, I unload the record on a failed request. If the record was created as a controller property (don't know if it matters that it's the 'model' property), unless the prop

[2015-12-03 19:45] jpaas commented on #3955
@igorT: In our case we have multiple apps that share the same APIs. One is an administration app that needs all of the attributes of the models in order to edit them. But some of the other apps only care about a few of the attributes and have their own lighter Ember models.

[2015-12-03 20:16] wecc commented on #3955
@igorT this is definitely a bug that we should fix, see #3956

[2015-12-04 18:27] neilbaylor commented on #3419
Hey there

I agree that this sucks

Here's my work around for now

`/serializers/application.js'
[code]

then in your route you can do this:

[code]

[2015-12-04 19:56] #3903 closed

[2015-12-04 21:45] noazark opened #3969 "Incorrect test for unit/store/createRecord w/ camel-case string"
I'll admit that I may be reading the intention of this test wrong, but it seems like there is a mismatch here:

https://github.com/emberjs/data/blob/master/tests/unit/store/create-record-test.js#L81

I believe this line should be:

[code]

Correct?

[2015-12-04 21:56] alageman commented on #3467
One argument that I could see for doing this would be the following scenario.

You have a data that contains information that is restricted based on user level permissions. So on the get request you only return certain fields. Now the user edits the data they are allowed to touch and then saves the data. The way it's currently setup it's going to try and send the entire model  back with blank or n

[2015-12-05 12:21] pangratz commented on #3969
Good catch @noazark! But I think this test is obsolete in general since #3033. I think it would be save to remove it as a whole. Especially since test is a duplicate of the [test below](http://git.io/vR0hp).

[2015-12-06 17:01] frederikbosch commented on #3419
After rereading things thread, I come to the following conclusions.

1. People use meta data for different purposes
2. That can be either meta data related to the requested resources
3. Or for purposes unrelated to the requested resources
4. At this moment only the first option is implemented. And more specifically, only with query commands there is a guarantee that the meta data is really related

[2015-12-07 05:06] nathanhammond opened #3971 "Too easy to introduce path traversal weaknesses."
I'm presenting this as an issue to discuss possible solutions. In an Ember Data Adapter you can specify the URL at which that resource should be addressed. Inside of Ember Data itself there is the [Build URL Mixin](https://github.com/emberjs/data/blob/v2.2.1/packages/ember-data/lib/adapters/build-url-mixin.js) which handles this for you based upon the default patterns.

This gives lots of extensio

[2015-12-07 13:26] stefanpenner commented on #3971
I believe this maybe should have been raised via: http://emberjs.com/security/

[2015-12-07 13:31] ryrych commented on #3877
@wecc ping :)

[2015-12-07 15:24] nathanhammond commented on #3971
@stefanpenner I considered it, but didn't feel it warranted it as all issues with this are introduced by the user in their own application. We just make it too easy for users to troll themselves. Further, to address this, we would likely require a 3.X build to force a new API.

My apologies if we'd prefer to have gotten in front of this one. If we'd call this a security@ issue, I'd like to change

[2015-12-07 18:54] offirgolan opened #3972 "Promise rejected before create model overriding defaults: registry.resolver.resolve is not a function"
ember 2.3.0-beta.2+9f7d0aee
ember-data 2.3.0-beta.1+9c55682ba7
ember-cli: 1.13.12

[code]

[code]

[code]

[2015-12-07 18:56] bmac commented on #3972
What version of `ember-qunit` are you using?

[2015-12-07 18:57] offirgolan commented on #3972
0.4.16

[2015-12-07 18:58] offirgolan commented on #3972
You can also check out [the build](https://travis-ci.org/offirgolan/ember-cp-validations/jobs/95411594) for more details if it helps at all.

[2015-12-07 19:44] bmac commented on #3972
cc @rwjblue.

It looks the the issue here is the `moduleForModel` is attempting to look up the [adapter:application](https://github.com/switchfly/ember-test-helpers/blob/50ada0434696000ffe72a64caf942e6086bd8dad/lib/ember-test-helpers/test-module-for-model.js#L19) which isn't defined for this test. This causes the registry to attempt to use its fallback registry. The error happens because fallback

[2015-12-07 19:47] rwjblue commented on #3972
Confirm, the bug is unrelated to ember-data. It is a bug in ember-test-helpers that we are working on fixing in https://github.com/switchfly/ember-test-helpers/pull/127 (reported in https://github.com/switchfly/ember-test-helpers/pull/126).

[2015-12-07 20:25] rwjblue commented on #3972
Fix has been released in ember-qunit@0.4.17 and ember-mocha@0.8.8, please update and you should be good to go.

[2015-12-07 20:25] #3972 closed

[2015-12-07 20:27] offirgolan commented on #3972
Thanks @rwjblue :+1:

[2015-12-07 23:14] #3969 closed

[2015-12-08 07:50] bcardarella opened #3977 "queryRecord is not guaranteed to return a single record"
https://github.com/emberjs/data/blob/master/addon/system/store/finders.js#L193

push returns a single model for objects and an array of records for arrays, so if the response is a collection of records instead of a single record the result of `queryRecord` will be a collection. The documentation implies that this function will always return a single record.

If the position of the ember-data team

[2015-12-08 08:30] wecc commented on #3877
There's currently no roadmap on when this is going to be implemented.

[2015-12-08 15:43] fivetanley commented on #3881
fixed by https://github.com/emberjs/data/pull/3888

[2015-12-08 15:43] #3881 closed

[2015-12-08 15:47] fivetanley commented on #3948
Hey @dchersey, I apologize for the long delay.

You do want to use peekRecord here. It's the recommended method for returning something from the store if it exists in the store. It doesn't make any network requests.

I don't think this is a bug. Would you mind if we closed the issue?

[2015-12-08 15:48] dchersey commented on #3948
That's fine, thanks for following up!

[2015-12-08 15:49] #3948 closed

[2015-12-08 15:57] fivetanley commented on #3977
I agree.

[2015-12-08 15:58] bcardarella commented on #3977
@fivetanley I can put together a PR for this. Should I target different versions or just master?

[2015-12-08 16:03] fivetanley commented on #3977
Just master and I'll let you know if it doesn't cleanly apply to beta.

[2015-12-08 21:51] Kilowhisky opened #3981 "shouldBackgroundReloadRecord breaks peekAll when records are unloaded"
I think i found a bug where `peekAll` returns unloaded records if your adapter has shouldBackgroundReloadRecord set to false.

[code]

Here is a twiddle showing the error.
https://ember-twiddle.com/099d510ed467e1621975?numColumns=1

To use it just click 'unload record' and an alert will pop-up showing how many records were returned from a `peekAll()` that was executed after the `unloadRecord` call

[2015-12-08 22:30] #3981 closed

[2015-12-08 23:36] mmelvin0 opened #3982 "How to tell if a container contains a factory?"
I have a service that can optionally be used if it is present.

If I do `this.container.has('service:optional-service')` it works but warns `DEPRECATION: has should be called on the registry instead of the container`.

If I do `this.container._registry.has('service:optional-service')` it works without the deprecation but the underscore leads me to believe this is private.

Is there a public API to

[2015-12-08 23:49] workmanw commented on #3982
The public way is through the "Owner API" which will land in Ember 2.3. The function you're looking for there is `hasRegistration`. More details can be found on the blog post: http://emberjs.com/blog/2015/11/16/ember-2-2-released.html

There is polyfill for the Owner API: https://github.com/rwjblue/ember-getowner-polyfill

Related API Docs: [RegistryProxyMixin](http://emberjs.com/api/classes/Regis

[2015-12-09 00:06] mmelvin0 commented on #3982
Thank you so much for your timely and informative reply. I'm still on 1.13 so I'm really happy to hear about the polyfill.

This can be closed.

[2015-12-09 00:06] #3982 closed

[2015-12-09 00:07] workmanw commented on #3982
You're welcome. The good news is that the polyfill seems to support all the way back to 1.13. That should make it much easier for you to future proof :). Happy Embering.

[2015-12-09 00:18] rwjblue commented on #3982
I don't think I've tested exactly where the polyfill stops working, but I believe it works from at least 1.10. I'd be interested in hearing exactly where it falls down (maybe report an issue over in the polyfill repo). I kinda hope it works back to 1.0.0 (but I have no clue).

[2015-12-09 09:39] bcardarella commented on #3977
We must have something else going on, it appears that `normalizeSingleResponse` will force all records not firstObject into the `included` key which satisfies this issue.

[2015-12-09 09:39] #3977 closed

[2015-12-09 15:37] fivetanley commented on #3942
Which adapter are you using? I can't reproduce this with a quick jsbin: http://emberjs.jsbin.com/peqiho/1/edit?html,js,output

[2015-12-09 15:44] tschoartschi commented on #3942
@fivetanley thanks for your reply! We are still using ```DS.RESTAdapter```. I think the problem arises, if a rerender occurs during fetching the catalogs. But I'm not sure. I also don't know how to isolate this issue better. If you have any tips, just let me know and I'll try to give you better information.

[2015-12-09 16:13] fivetanley commented on #3942
Are you overriding any adapter methods?

[2015-12-09 16:44] tschoartschi commented on #3942
Yes the buildURL method:

[code]

The ``buildURL``` method I override because I need to pass a parameter to findOne, for more details see: https://github.com/emberjs/data/issues/1576#issuecomment-127617470

I hope this isn't causing troubles. Otherwise I have to refactor this code.

[2015-12-09 18:48] Charizard commented on #3222
Any update on this? If no one is working on this. I would like to take this up with a few pointers in the right direction.

[2015-12-09 18:53] wecc commented on #3222
I think this has been implemented already, http://guides.emberjs.com/v2.2.0/models/handling-metadata/

[2015-12-09 19:22] Charizard commented on #3222
:+1:

[2015-12-09 19:28] #3222 closed

[2015-12-10 20:22] chrisccerami commented on #3581
Is there any progress on this issue?

[2015-12-10 20:27] danielfc commented on #3581
@pangratz it's working for me, sorry for the delayed response.

[2015-12-10 20:29] fivetanley commented on #3581
@chrisccerami Have you tried including the EmbeddedRecordsMixin as listed above? What versions of Ember and Ember Data are you using?

[2015-12-10 20:29] pangratz commented on #3581
@danielfc no problem; glad it works for you! Do you recall the solution to your problem?

[2015-12-10 20:34] danielfc commented on #3581
not exactly, but it was something related to the serialization. the API was written in java so it was a little bit different from the convention ember expects, by default.

[2015-12-10 20:41] pangratz commented on #3581
kk, thanks for the heads up @danielfc

[2015-12-10 22:39] BW-AdrianG commented on #3025
Probably it isn't best practice, but I do the following to get the length of an async hasMany relationship without fetching the records themselves.
[code]
The nice thing is that it will also be updated when objects are added or removed.

[2015-12-11 12:55] tschoartschi commented on #3942
@fivetanley do you think it has something to do with the ```buildURL``` method? If not let me know how i can provide better feedback

[2015-12-13 02:33] fivetanley commented on #3935
I'm not sure what you mean. Can you elaborate?

[2015-12-13 03:19] bmac commented on #3954
Hi @teckays.

I'd recommend you place your extended store in `/services/store.js` because `/stores/application.js` is deprecated with Ember Data 1.13 and not supported by Ember Data 2.0.

As for `Ember.$.get()` there isn't a good way to replace that with Ember Data today. Instead I'd recommend you check out https://github.com/rwjblue/ember-cli-ic-ajax or https://github.com/ember-cli/ember-ajax. Bo

[2015-12-13 03:19] bmac commented on #3954
I'm going to close this issue since it appears the original question has been resolved. Feel free to re-open if I'm missing something.

[2015-12-13 03:19] #3954 closed

[2015-12-13 04:58] ptmoy2 opened #3991 "enhancement request"
Add a method in 'store' to delete all records of a given type from both 'store' and server.

For example:
         this.store.deleteAllRecords ('post');   or  this.store.destroyRecords ('post');

[2015-12-13 05:04] jcope2013 commented on #3991
this already exists (http://emberjs.com/api/data/classes/DS.Store.html#method_unloadAll)

``` store.unloadAll('post'); ```

[2015-12-13 07:41] ptmoy2 commented on #3991
Yes, I knew about store.unload().  I'll update my original post to be a bit more specific.

[2015-12-14 06:19] khomyakov42 opened #3992 "Add error code to model.errors"
I would like to have access to the error code in the error list model. like this
`
   model.get('errors').add('username', {message: 'Username is required', code: 'required' })
   model.get('errors.username').objectAt(0).get('message') // Username is required
   model.get('errors.username').objectAt(0).get('code') // required
`

[2015-12-14 17:48] drewclauson opened #3994 "JSON API errors without source / pointer"
I don't see a way to get errors returned in a JSON API response that are not associated with a source/pointer.  Using JSON API adapter (of course :smile:)

For example, in the response below, I need to grab the detail of the first error and display it in a alert block at the top of my form, but model.errors doesn't have it and model.errors.messages doesn't have it.  The only thing I have figured o

[2015-12-14 17:49] fivetanley commented on #3994
cc @tchak

[2015-12-15 00:31] khomyakov42 commented on #3994
+1

[2015-12-15 12:00] topaxi opened #3998 "New public API does not compile in ember-cli 1.13.8"
`addon/relationships.js` doesn't get compiled in my output (using ember-cli 1.13.8) and therefore results in a syntax error.

`vendor.js`:
[code]

[2015-12-15 12:32] rwjblue commented on #3998
Thanks for reporting. My guess is that the transpired used on older ember-cli doesn't support export *.

[2015-12-15 12:33] rwjblue commented on #3998
I'll test a bit more then submit a PR to change them to manual import and export statements.

[2015-12-15 15:16] stefanpenner commented on #3998
Addon/ is handled by the addon though(it's Babel should handle this), seems strange Esperanto had anything to do with this

[2015-12-15 15:50] rwjblue commented on #3998
@stefanpenner - ember-cli-babel by default blacklists es6.modules, and the ember-cli build itself handles modules

[2015-12-15 15:53] rwjblue commented on #3998
https://github.com/babel/ember-cli-babel/blob/master/index.js#L71

[2015-12-15 20:24] justin-hackin commented on #3596
Although @wecc 's solution seems to work for simple cases, when I tried to implement it with a findRecord call inside a promise success to a findRecord call, it did not work.  I pulled the same request outside the then success and it worked fine.  Just a warning...  I had to go the route of making the API somewhat non RESTful and just doing something like 'api/post?id=1&showComments=true' and usin

[2015-12-16 15:41] coreypmurphy commented on #1913
+1 for reload of has_many relationships to avoid having to manually push those objects into the store.

[2015-12-16 18:29] bmac commented on #3114
I'm going to close this issue. I don't think this is something Ember Data wants to support going forward. I suspect the old behavior never prevented you from changing `uuid` which could result in the `id` and `uuid` getting out of sync. I would recommend you use a `Ember.computed.alias` if you want this behavior today.

[2015-12-16 18:29] #3114 closed

[2015-12-16 20:55] jjbohn commented on #3485
We just open sourced a beta adapter that we've started putting using in production. Anyone interest d, please try it out and let us know what you think. https://github.com/alphasights/ember-graphql-adapter

[2015-12-16 21:22] stefanpenner commented on #3485
@jjbohn cool!

[2015-12-17 03:40] HeroicEric commented on #3922
Was this solved via https://github.com/emberjs/data/pull/3979?

[2015-12-17 04:41] HeroicEric commented on #3895
@swalkinshaw does that answer give you what you're looking for? Do you have any further questions?

[2015-12-17 04:42] HeroicEric commented on #3894
@corrspt @justin-hackin can this be closed?

[2015-12-17 05:03] pangratz commented on #3922
Not yet as it seems that the canary builds have all the features stripped. I am investigating...

[2015-12-17 05:26] HeroicEric commented on #3484
@jerel can you confirm this was fixed by #3468 ?

[2015-12-17 09:18] corrspt commented on #3894
@HeroicEric Yup, fine by me. Thanks everyone.

[2015-12-17 09:45] pangratz commented on #3922
Hmm, looks like I had a browser caching issue. I think this is good to be closed!

[2015-12-17 14:13] sly7-7 commented on #3894
@HeroicEric @corrspt Thanks for the heads up. Closing

[2015-12-17 14:13] #3894 closed

[2015-12-17 18:47] swalkinshaw commented on #3895
Haven't had a chance to really look into this more. But going by @wecc's reply, I'll go ahead and close this.

[2015-12-17 18:47] #3895 closed

[2015-12-18 01:09] runspired opened #4013 "2.2.1 doesn't have a default export"
`import DS from 'ember-data';` fails for this reason.

[2015-12-18 14:28] pangratz commented on #4013
I cannot reproduce this on ember-twiddle: https://ember-twiddle.com/9bdc514252c3515213c2. Also it looks like [there is a `export default DS`](https://github.com/emberjs/data/blob/v2.2.1/packages/ember-data/lib/main.js#L157).

Can you create a ember-twiddle / JSBin reproducing this issue?

[2015-12-18 14:39] bmac commented on #4013
@runspired What version of https://github.com/ember-cli/ember-cli-shims are you using?

[2015-12-18 15:05] runspired commented on #4013
@bmac, I diffed my package.json and bower.json with @benborowski last night and he realized I was using the newest version of ember-cli-shims, which doesn't expose ED and is meant to work with `2.3`.

[2015-12-18 15:05] #4013 closed

[2015-12-19 13:30] frederikbosch commented on #3657
In my opinion it is very very important that one method always has the same behaviour, so doing the first time something different then other times is weird as suggested by @webPapaya.

However, a user opts in for different behaviour when he chooses to reload in the background. So @webPapaya does have a point here. Moreover the signatures of the `shouldBackgroundReloadRecord` and `shouldBackground

[2015-12-19 15:05] frederikbosch commented on #3657
Oh, I think this bug and #3483 are duplicates.

[2015-12-21 13:44] adam-knights commented on #3994
@drewclauson in Ember 2.2 onward if the source looks like

    source: { pointer: "/data" }

i.e. not associated with a specific property of the model, then the error is added to errors.base

So one option, if you have control over the api, would be to include a source like the above for generic errors.

@tchak would have to answer whether we would want to get objects in the errors array with no s

[2015-12-21 13:57] lcoq opened #4020 "DS.Model#isNew does not notify observers when saving a new record"
The `isNew` value changes but does not notify observers when saving a new record.
On the other hand the `id` property properly notify its observers.

[See this EmberTwiddle](https://ember-twiddle.com/6ec437cab388294f99ea)

[code]

Trigger the `saveNewPost` results in this in the console:

[2015-12-21 14:02] fivetanley commented on #4020
Hey  there, it looks like there was maybe a copy/paste error from the Ember Twiddle URL. Can you update the first post and then make another comment when it's updated and I'll look at it asap?

[2015-12-21 14:07] lcoq commented on #4020
@fivetanley hi! The Ember Twiddle link looks correct and works for me in a private browsing session. Do you still experience the issue ?

[2015-12-21 14:10] fivetanley commented on #4020
I guess Ember Twiddle's redirect isn't working in Safari, but it works in Chrome.

[2015-12-21 15:56] drewclauson commented on #3994
@adam-knights Thanks! I have control of the backend so I'll use that!

[2015-12-21 15:56] #3994 closed

[2015-12-21 19:37] igorT commented on #3992
cc @tchak

[2015-12-21 19:39] igorT commented on #3991
Thanks for opening an issue.
I think currently you can achieve this by doing
[code]
Not sure we want to add this to the public API, as it's already pretty large.
Thanks!

[2015-12-21 19:39] #3991 closed

[2015-12-21 21:31] lcoq opened #4024 "Observers on post.comments.@each.id are not called on Comment#save"
Given `Post` and `Comment` as follows :

[code]

[code]

And given a newly created comment, attached to a post as follows :

[code]

When we save it, the observers for `post.comments.@each.id` are not called :

[code]

But the `post.get('comments').mapBy('id')` changes during save :

[code]

[See this EmberTwiddle (this link could not work with Safari) ](https://ember-twiddle.com/8f60fb47ad37195b6

[2015-12-21 21:49] lcoq commented on #4024
This is somewhat related to #4020 (but not the same bug) as we cannot either rely on `post.comments.@each.id` nor `post.comments.@each.isNew` to filter new/persisted records of a `hasMany` relation.

[2015-12-21 22:19] jcope2013 commented on #4024
most likely related to https://github.com/emberjs/ember.js/issues/12475

[2015-12-22 16:29] tschoartschi commented on #3942
@fivetanley ```buildURL``` thanks to the pointer to our custom ```buildURL```. It was really our fault. I forgot to pass ```queryType``` and ```query``` to the super function. So the solution was quite simple

[code]

The buildURL code is quite old, this is why I didn't looked at it at the first glance. But with some update of ```ember data``` we introduced this bug.

[2015-12-22 16:29] #3942 closed

[2015-12-22 16:41] stefanpenner commented on #4020
This is working as expected, please use computed properties observers are for low level patterns typically for pushing data out of ember into 3rd part systems like jQuery or D3

[2015-12-22 16:44] tchak commented on #3992
I am :+1: on the principle. Right now `.add()` takes as second argument a string or an array of strings. We need to handle object or array of objects on top of it. Not a breaking change, so fine with me. JSON-API also defines `code` (not to confuse with http `status`) on the error object, so we could expose it.

[2015-12-22 16:48] fivetanley commented on #4020
This is not working as expected. The state change should still fire after the save call.

[2015-12-22 16:53] fivetanley commented on #4020
in test form:

[code]

[2015-12-22 17:01] bmac commented on #4020
In Ember Data `isNew` is a computed property. Because it is never consumed by an `record.get('isNew')` or interpolated in a template Ember tries to be smart and save some work by never evaluating the `isNew` property. In Ember, observers are lazy so they don't proactively consume the computed property. So as far as Ember is concerned there is nothing to observe because the values of the `isNew` pr

[2015-12-22 17:01] #4020 closed

[2015-12-22 17:27] bmac commented on #4024
I took a look at this issue this morning and I agree with @jcope2013. When I downgraded the Ember version in the jsfiddle the `post.comments.@each.id` observer fired as expected.

[2015-12-22 17:36] bmac commented on #3998
@rwjblue what needs to happen for us to close this issue. Should Ember Data be manually importing and exporting the modules instead of using `export *`?

[2015-12-22 17:40] fivetanley commented on #3998
I am kind of in favor of moving the files where these placeholder files are. These "re-export a module" files don't seem to add much value while making the compiled payload larger.

[2015-12-22 17:52] bmac commented on #3947
Hi @boris-petrov.

@igorT put together an RFC https://github.com/emberjs/rfcs/pull/67 a few months ago to address some of the issues's you've mentioned here. However, there we some concerns raised about this initial RFC and it is still in need of some work.

[2015-12-22 17:54] bmac commented on #3935
Hi @TangMonk. I'm going to close this issue for now. If you still have questions please feel free to reach out on slack or stackoverflow.

[2015-12-22 17:54] #3935 closed

[2015-12-22 17:56] bmac commented on #3932
I'm going to close this. As @wecc said #2905 is the best place to see what parts of JSON API that Ember Data supports.

[2015-12-22 17:56] #3932 closed

[2015-12-22 17:56] #3922 closed

[2015-12-22 17:59] bmac commented on #3921
Notable changes:
- Remove Ember Data from bower
- Update `ember-cli-shims` in bower to `0.1.0`
- with Ember Data beta.4 you need to include `ember-inflector` in your package.json. (Should be fixed in next beta)

[2015-12-22 18:01] bmac commented on #3920
I believe this is fixed by https://github.com/emberjs/data/commit/a2da96616c6278ff829661ddad1ecfc5fa3d83e8

[2015-12-22 18:01] #3920 closed

[2015-12-22 18:13] bmac commented on #4024
I'm going to close this since we are already tracking this issue here: https://github.com/emberjs/data/issues/3911

[2015-12-22 18:13] #4024 closed

[2015-12-22 18:15] bmac commented on #3955
This issue should be fixed by 72a6290b50a5e8c01034d283ce177098ee4ceb29

[2015-12-22 18:15] #3955 closed

[2015-12-22 18:20] bmac commented on #3873
@jnfingerle this seems like a reasonable request. Would you have time to implement a patch that supported option b?

[2015-12-22 18:50] nickiaconis opened #4027 "[Feature Request] finding records that don't have IDs"
There are a few resources in our API that only return single records, but are accessed per account (via auth token) rather than by a given ID. We used to be able to omit the ID from `findRecord`, but more recent versions of Data, to which we are now trying to upgrade, prevent this.

[code]

One way for us to get around this is to request "all" the records (an array of 1), then return the first obj

[2015-12-22 21:08] rwjblue commented on #3998
@fivetanley - I agree with you and will do that where possible, but in some cases that would also expose any named exports as "public" also (which I think is not what we want).

@bmac - Yes:

[code]

Becomes:

[code]

[2015-12-22 21:13] stefanpenner commented on #3998
this should just work

[2015-12-22 21:13] stefanpenner commented on #3998
@topaxi can you upgrade to ember-cli 1.13 please and try again.

[2015-12-22 22:07] rwjblue commented on #3998
@stefanpenner:

Agreed, that is why I wrote it that way initially, but does not work all the time (in older ember-cli versions in the 1.13 series).

I guess we could say that to use Ember Data 2.3.0 "you must use latest ember-cli", but that seems somewhat harsh especially when we have a known work around.

[2015-12-22 22:27] stefanpenner commented on #3998
it should be a small amount of effort to upgrade

[2015-12-22 22:39] rwjblue commented on #3998
Should be, agreed.  But the fact that ember-data 2.2.0 works with ember-cli@1.13.8 and 2.3.0-beta.3 does not is not good.

[2015-12-22 23:01] stefanpenner commented on #3998
Lots of other add-ons use that syntax, i don't think switching back is healthy at all. People should just upgrade, their life will be better in many dimensions.

[2015-12-23 00:22] jnfingerle commented on #3873
@bmac Yes, I can give that a try, but I'm on vacation right now, so this will have to wait two weeks before I can start working on it.

[2015-12-23 06:59] bevinhex opened #4028 "destroyRecord rises exception after successfull delete operation"
I have,

'deployd' as backend,
use 'RESTAdapter' as application adapter,
use 'JSONSerializer' as application serializer,

put custom component in a template, template sends model as property to component, component does operations like 'new' 'delete' 'update';

problem is 'new' 'update' works fine with creating, modifying records, not 'delete', when I call `model.destroyRecord` program sends 'OPTI

[2015-12-23 14:50] bmac commented on #3484
Closing this should have been fixed by https://github.com/emberjs/data/pull/3468.

[2015-12-23 14:50] #3484 closed

[2015-12-23 14:51] bmac commented on #3634
https://github.com/emberjs/data/pull/3652 has been merged and this issue is now fixed.

[2015-12-23 14:51] #3634 closed

[2015-12-23 14:54] bmac commented on #3453
This change didn't end up making it into 2.0. I'm going to close it because we are unlikely to add a breaking change like this until 3.0.

[2015-12-23 14:54] #3453 closed

[2015-12-23 14:56] bmac commented on #3378
The Ember Data 1.13 blogpost is the best resource for learning how to deal with the deprecations in 1.13. http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html#toc_transition-to-the-new-jsonserializer-and-restserializer-apis

[2015-12-23 14:56] #3378 closed

[2015-12-23 14:56] bmac commented on #3322
2.0 has shipped. Closing this issue.

[2015-12-23 14:56] #3322 closed

[2015-12-23 15:09] bmac commented on #2753
Looks like @fivetanley fixed this issue. https://github.com/components/ember-data/blob/master/ember-data.js#L4-L10

[2015-12-23 15:09] #2753 closed

[2015-12-23 15:11] bmac commented on #3321
2.0 beta.1 shipped long ago. Closing this issue.

[2015-12-23 15:11] #3321 closed

[2015-12-23 15:19] bmac commented on #2683
Closing as Ember Data now uses the Ember CLI build pipeline.

[2015-12-23 15:19] #2683 closed

[2015-12-23 15:20] bmac commented on #2622
This issue has been fixed in Ember Data 2.3.

[2015-12-23 15:20] #2622 closed

[2015-12-23 15:23] bmac commented on #3643
I believe this has been resolved by https://github.com/emberjs/data/pull/3988.

[2015-12-23 15:23] #3643 closed

[2015-12-23 15:32] fivetanley commented on #4027
This is related to https://github.com/emberjs/data/issues/1763. I don't think ID-less records is something we're going to support. The reason for this has mostly to do with the identity map (the thing that guarantees you only have one instance per-id) and relationships (we can't tie together records without IDs).

The workarounds you outlined in the issue description are what I would suggest (`fin

[2015-12-23 15:32] #4027 closed

[2015-12-23 15:34] bmac commented on #3902
Closing this issue as its working as intended. `Ember.computed.alias` sets up an alias when working in app code while the serializer is use to configure the payload sent and received by the server.

[2015-12-23 15:34] #3902 closed

[2015-12-24 06:02] wycats commented on #3322
:raised_hands:

[2015-12-29 21:10] kagemusha opened #4034 "store.pushPayload swallows errors"
Seems `store.pushPayload` fails silently when it encounters errors, which leaves the developer little clue as to what is going on.

My particular example (though probably a more general problem) was pushing user data to the store after authenticating.  My Rails server was returning active-model style json and i had forgotten to override the adapter.  Fairly easy to debug when pausing on caught exc

[2015-12-30 19:22] #3998 closed

[2015-12-31 16:32] bmac commented on #4034
Hi @kagemusha. I made a quick jsbin to test the issue you described and pushPayload seemed to throw an error for me. http://emberjs.jsbin.com/cosixezepo/1/edit?html,js Do you mind taking a look at this jsbin and let me know what I'm missing?

[2015-12-31 16:39] bmac commented on #4028
@bevinhex what sort of response is your server returning from the delete http request? iirc If there is a response Ember Data assumes the payload is the serialized record that was just deleted. If there was no response Ember Data will use its existing knowledge of the record to delete it.

If your server is responding with something other then the serialized record in the payload this may be confu

[2015-12-31 19:35] kagemusha commented on #4034
@bmac Have looked at again and error may be getting swallowed at higher level - closing until find area definitively.   Thanks for looking at!

[2015-12-31 19:35] #4034 closed

[2016-01-02 07:45] sammy007 opened #4038 "Why RESTAdapter expect attribute errors in json-api style?"
https://github.com/emberjs/data/blob/master/addon/-private/adapters/errors.js#L124

Despite the fact that usually data expected by RESTAdapter does not contain any "/data/attribute/*" at all, it's hardcoded, it does not handle "non-attribute" errors like:

[code]
Should we expect further breaking changes to this little but epic problem called "display these damned validation errors somehow"?

[2016-01-02 08:32] #4038 closed

[2016-01-02 10:07] kylenathan commented on #3947
Hey @bmac - what were the concerns raised? Cant seem to see anything raised at the RFC itself?

[2016-01-02 10:17] kylenathan commented on #1766
Not yet implemented but waiting on an RFC - https://github.com/emberjs/rfcs/pull/67

[2016-01-02 13:44] pangratz commented on #2271
I think this issue can be closed since an [initial implementation of references](https://github.com/emberjs/data/pull/3303) has been merged into `master`. Having the `ds-references` feature enabled, it can be checked if there is data for a relationship via `model.belongsTo("family").value() !== null` and `model.hasMany("children").value() !== null`.

[2016-01-02 13:44] pangratz commented on #2380
I think this issue can be closed since an [initial implementation of references](https://github.com/emberjs/data/pull/3303) has been merged into `master`. Having the `ds-references` feature enabled, a relationship can be reloaded via `model.belongsTo("family").reload()` and `model.hasMany("children").reload()`.

[2016-01-02 13:45] pangratz commented on #2394
I think this issue can be closed since an [initial implementation of references](https://github.com/emberjs/data/pull/3303) has been merged into `master`. Having the `ds-references` feature enabled, the ids of a relationship can be accessed via `var childrenIds = model.hasMany("children").ids()`.

[2016-01-02 13:45] pangratz commented on #2431
I think this issue can be closed since an [initial implementation of references](https://github.com/emberjs/data/pull/3303) has been merged into `master`. Having the `ds-references` feature enabled, it can be checked if there is data for a relationship via `model.belongsTo("family").value() !== null` and `model.hasMany("children").value() !== null`.

[2016-01-02 13:45] pangratz commented on #2705
I think this issue can be closed since an [initial implementation of references](https://github.com/emberjs/data/pull/3303) has been merged into `master`. Having the `ds-references` feature enabled, the id of a `belongsTo` relationship can be accessed without triggering a request to the server via `var familyId = model.belongsTo("family").id()`.

[2016-01-02 13:46] pangratz commented on #3426
I think this issue can be closed since #3380 has been merged. Also an [initial implementation of references](https://github.com/emberjs/data/pull/3303) has been merged into `master`. Having the `ds-references` feature enabled, a `belongsTo` relationship can be reloaded via `model.belongsTo('family').reload()`.

@jcbvm can you confirm that your use case is handled now?

[2016-01-02 13:46] pangratz commented on #3740
I think this issue can be closed since an [initial implementation of references](https://github.com/emberjs/data/pull/3303) has been merged into `master`. Having the `ds-references` feature enabled, a `hasMany` relationship can be reloaded via `model.hasMany("children").reload()`.

[2016-01-02 13:50] pangratz commented on #3265
This issue can be closed since #3868 has been merged.

[2016-01-02 13:50] pangratz commented on #3726
I think this issue can be closed since #3837 has been merged.

[2016-01-02 13:51] pangratz commented on #3822
I think this issue can be closed since a fix is available in `2.1.0`.

[2016-01-02 13:52] pangratz commented on #3724
I think this issue can be closed since the fix merged in #3725 is available in the `1.13` series...

[2016-01-02 13:52] pangratz commented on #3871
I think this issue can be closed since #3875 and #3876 have been merged...

[2016-01-02 18:39] #3822 closed

[2016-01-02 18:39] #3871 closed

[2016-01-02 19:04] #3724 closed

[2016-01-02 19:04] #3726 closed

[2016-01-02 19:05] #3265 closed

[2016-01-04 16:22] trumb1mj opened #4041 "Potential memory leak in store.query()"
When calling store.query(), the heap grows.  I've setup a sample project that demonstrates the issue here:  https://github.com/trumb1mj/ember-data-growing-recordarrays

[2016-01-04 16:36] runspired commented on #4041
@bmac this is the leak I spent a few hours investigating with @trumb1mj.  I haven't had time to revisit it but I've had a few thoughts on what's causing the leak.

The initial `query` is the model hook's return.  The subsequent queries are done by the poller.  I suspect the interplay of the initial query being alive and active and bound to the route is probably what's leading to this behavior.

[2016-01-04 16:41] fivetanley commented on #4041
I'm not sure this is a leak.Query intentionally creates a new record array each time as the query is executed by the server so we can't re-use single arrays.

[2016-01-04 16:42] runspired commented on #4041
@fivetanley it's not a "leak" in the sense that nothing is unintentionally retained, but it is a leak. The memory growth in this setup is ridiculous, and it's a fairly common use case.

[2016-01-04 16:46] trumb1mj commented on #4041
@runspired in my example there is no query done on the model hook return.  @fivetanley even when you use the .clear() method to empty out that array, the heap continues to grow so there is something else going on here.

[2016-01-04 16:47] fivetanley commented on #4041
@trumb1mj What's the result when you use `destroy` instead?

[2016-01-04 16:58] trumb1mj commented on #4041
Using the destroy seems to slow the memory growth but I'm still seeing about a .5mb per minute.

[2016-01-04 20:08] fivetanley commented on #4041
i have opened https://github.com/emberjs/data/pull/4042 which i think is a cause of the leak

[2016-01-04 20:09] fivetanley commented on #4041
@trumb1mj if you can verify these changes help that'd be great. I didn't have time to check them against the sample app.

[2016-01-04 21:08] trumb1mj commented on #4041
I grabbed the code from https://github.com/fivetanley/data.git#adapter-populated-record-array-leaks and retested with the .destroy() method.  The leak still seems to be occurring.

[2016-01-04 22:00] fivetanley commented on #4041
I think the leak after my change is Pretender. It never seems to cycle out its `handledRequests` array as you can see in the diff here in `config/mirage.js` https://github.com/trumb1mj/ember-data-growing-recordarrays/compare/master...fivetanley:maybe-its-pretender

This includes all the FakeResponses and their json responses. The stuff in yellow in the Chrome inspector are retained nodes between s

[2016-01-04 22:28] fivetanley commented on #4041
The two heap snapshots in this screenshot indicate that the memory leak should be fixed. Yes one is slightly larger than the other but I came back after a couple minutes of making coffee and this was the result:

![](https://dl.dropboxusercontent.com/s/8xu0seuolu4w153/2016-01-04%20at%204.24%20PM.png)

I plugged pretender to reset `this.handledRequests = []` so the array wouldn't grow. Another leak

[2016-01-05 01:17] workmanw commented on #3576
Bump. It seems odd to me that `store.push` returns "{DS.Model|Array} the record(s) that was created or updated." while `store.pushPayload` doesn't.

Looking at the code, it seems easy enough to update the store and serializers. Would a PR be accepted to fix this?

[2016-01-05 04:02] fivetanley opened #4044 "If ember-cli-shims is not >= 0.1.0, this should cause the build to fail."
I see people are already hitting this a lot by trying out the betas and missing it in any various log outputs. This should probably exit the build with an error code if it doesn't produce a working build.

https://github.com/emberjs/data/blob/master/index.js#L38

[2016-01-05 05:23] fivetanley commented on #3971
We discussed this a few weeks ago in the core team meeting. We don't consider this to be a priority for a few reasons.

First, the confluence of events to create the perfect storm seems is quite interesting. You must be overriding URL generator methods *and* your server has to be configured to allow path traversals. Modern web and application servers (Rails, Express, Spring, Nginx, Apache, etc) do

[2016-01-05 05:23] #3971 closed

[2016-01-05 05:50] fivetanley commented on #2446
Closing due to inactivity. Please open a new issue if you are still have problems.

[2016-01-05 05:50] #2446 closed

[2016-01-05 05:51] fivetanley commented on #2431
@pangratz thank you!

[2016-01-05 05:51] #2431 closed

[2016-01-05 05:52] fivetanley commented on #2430
I think the last time @stefanpenner and I talked about this we came up with a couple of suggestions, one of which was returning some kind of event emitter that you could call `subscribe/unsubscribe` on. While annoying, without proper WeakMap support I don't think this is implementable without that. This may be worth bringing up at a face to face, but closing this issue for now due to staleness.

[2016-01-05 05:52] #2430 closed

[2016-01-05 05:55] fivetanley commented on #2418
@stefanpenner what is the status of this? is glimmer promise-aware?

[2016-01-05 05:58] fivetanley commented on #2394
Confirm, references are the way to go!

[2016-01-05 05:58] #2394 closed

[2016-01-05 05:59] stefanpenner commented on #2418
Not yet, but we would like to do so.

[2016-01-05 06:09] fivetanley commented on #3873
@bmac what if the store used the inflector as a service? Just a thought.

[2016-01-05 06:40] stefanpenner commented on #2430
I don't believe we talked about ^^, but rather we spoke about multiple identity maps (to help with the record array / collection / query case).

[2016-01-05 07:28] fivetanley commented on #3886
Closing because as @tchak said in #3530, query adapter populated record arrays are intended to be immutable. I opened #4045 to improve the error messaging. You can use `toArray()` if you want to copy it and then mutate that.

[2016-01-05 07:28] #3886 closed

[2016-01-05 12:44] jnfingerle commented on #3873
Back from vacation ...

@fivetanley Could you elaborate on your proposal?

My idea was making the inflector an overwritable property of the store, yet I haven't tried out which walls I might hit on my way.

[2016-01-05 13:47] runspired commented on #4041
@fivetanley reopened? Did you find more?

[2016-01-05 15:59] jgwhite opened #4046 "Using filterBy on PromiseManyArray doesn’t work as expected with Glimmer"
Computed properties that filter a PromiseManyArray don’t re-render as expected when used in templates. See reproduction below:

https://ember-twiddle.com/7e5df2d56a3f78f18e25?numColumns=1&openFiles=application.controller.js%2C

Apologies for the lack of detail — still digging into exactly what’s going wrong here.

[2016-01-05 16:17] fivetanley commented on #4041
No, it was accidentally auto-closed when I merged the PR. I'd like to close it if you two don't have anything else to look into.

[2016-01-05 16:29] bmac opened #4047 "Strip assertions when using the Ember CLI Addon with a prod build"
Stanley Stuart [10:55 AM]
@bmac based off the existing code https://gist.github.com/fivetanley/1708106ba3372b41dc94

​[10:55]
we would have to return something like this in `treeForAddon`

​[10:55]
so basically do an ES6 to ES6 compilation so ember-cli can do the rest as it normally would

​[10:55]
although this gist needs to be updated for the `-private`-ification

​[10:56]
similar to https://git

[2016-01-05 16:50] runspired commented on #4041
I haven't had a moment to test out the fix, but will do so.

[2016-01-05 19:19] HeroicEric commented on #4046
I think it has to do with your not updating the other side of the relationship.

If you check out https://ember-twiddle.com/bc20d9b69cf1229b0bc5?numColumns=3&openFiles=application.controller.js%2Capplication.template.hbs%2Capplication.route.js,
the rerender seems to work when the `favourites` change.

I agree though, that this behavior is confusing. Even more confusing that it seems to work on the

[2016-01-06 04:45] BrianTMaurer commented on #2754
I also have this issue. +1

[2016-01-06 10:43] sly7-7 commented on #4046
@jgwhite Using the '.content' workaround make the thing working: https://ember-twiddle.com/c0338cd0424f658c60fa?numColumns=3&openFiles=application.controller.js%2Capplication.template.hbs%2Capplication.route.js

[2016-01-06 10:51] jgwhite commented on #4046
@sly7-7 thanks, that’s a good tip. Still, it seems like this *shouldn’t* require any workarounds. `ManyArray` works  just fine.

[2016-01-06 11:12] sly7-7 commented on #4046
Hmm, alos see, https://ember-twiddle.com/7e5df2d56a3f78f18e25?openFiles=application.controller.js%2Capplication.route.js, using ember 2.0.2, it is working well...

[2016-01-06 11:28] jgwhite commented on #4046
@sly7-7 hmm… perhaps a change in the contract for observing enumerables?

[2016-01-06 12:50] sly7-7 commented on #4046
Yeah, it seems like there is also some issues with ember itself (see the referenced issue), but clearly difficult to find out the root cause

[2016-01-06 14:20] esbanarango commented on #3676
:+1: @workmanw What did you end up doing here?

[2016-01-06 15:08] workmanw commented on #3676
@esbanarango I ended up overriding the `pushPayload` in my serializer and manually calling it.

[code]

I'd love it if a member of the DS team would weigh in on this. I doubt that this solution would be endorsed.

[2016-01-06 17:20] jgwhite commented on #4046
This appears to be a problem in `computed.filterBy`. Closing this issue in favour of https://github.com/emberjs/ember.js/issues/12475

[2016-01-06 17:30] runspired commented on #4046
@jgwhite I believe you have closed this prematurely, I still believe this is an ED bug, https://github.com/emberjs/ember.js/issues/12475#issuecomment-169397040

[2016-01-06 17:31] jgwhite commented on #4046
@runspired thanks for investigating further. Re-opening.

[2016-01-06 17:41] fivetanley commented on #4046
I don't think `replace` in `ManyArray` is following the rules for Ember.Array. It's supposed to set length. https://github.com/emberjs/data/blob/cf889b35a1f31d42fd54598ca9d5bc7753644a52/addon/-private/system/many-array.js#L187

https://github.com/emberjs/ember.js/blob/8d62be51ce9602ce6f3aa05682a2847af8b5dc7a/packages/ember-runtime/lib/mixins/array.js#L95

[2016-01-06 17:44] fivetanley commented on #4046
Something else to consider https://github.com/emberjs/ember.js/blob/9899dffe5af3d902a00f9676e7118697d6b1bc7c/packages/ember-runtime/lib/mixins/mutable_array.js#L56

[2016-01-06 18:26] fivetanley commented on #3111
We have chosen to not support this API. @tomdale says this introduces too much complexity. We have decided to implement emberjs/rfcs#1 instead, which should allow you to do this kind of thing, even if it is less dynamic in nature.

[2016-01-06 18:26] #3111 closed

[2016-01-06 18:41] wecc commented on #3090
We discussed this issue at today's meeting and I'll have a look at this and see if/how we can implement this in a backwards compatible way. Should probably not be that hard.

:+1:

[2016-01-07 04:07] evandavey commented on #3802
Might be related.  I am using a polymorphic model (with base class pcbprimitive) .  When the type/sub-model is 'pcbvia', the instance is of type pcbprimitive.  When I change the type/sub-model to 'pcbviax' is works as expected at the instance is of type 'pcbviax' so seems like it could be related to the 'a' at the end of the model name.

[2016-01-07 15:20] trumb1mj commented on #4041
I had some more thoughts on this.  Right now the `query` method retains model history by default and while I'm not sure the majority of use cases require this, I think there is a need for it.  But would it make more sense to allow us to opt out?

For example,

`this.store.query('person', { filter: { name: 'Peter' } }, retain_history=false)`

That way a user would not have to wait for the promise t

[2016-01-08 15:50] adam-knights commented on #4046
@fivetanley would setting length and calling that method be relatively straight forward single line things that ember data should be doing? Could these things be causing https://github.com/emberjs/ember.js/issues/12475 ?

[2016-01-08 16:20] runspired commented on #4046
@adam-knights my opinion from the feedback/investigation that I've done is that emberjs/ember.js#12475 is mostly if not entirely related to ED code issues that either originated around the time of Ember 2.0 or were pre-existing issues surfaced by changes in Ember around then.

[2016-01-08 16:34] xomaczar commented on #3380
Seeing the same issue with ED@2.2.1, not event using relationship links at all (One-to-One).

[code]
articleWithID1.get('comment') => makes a seperate request instead of using its "included".

[2016-01-08 16:36] jkutzfla commented on #587
Hi, I think this issue is still an open issue.  I am manually loading a belongsTo relationship in my model hook, but the `isLoading` and `isFulfiled` checks are always true, even though ajax request is still going.

I resorted to setting a new attribute and watching that.

I am using Ember & EmberData 2.2.0

If anyone has a pointer to why this doesn't work, I could start looking at the code.

-Jos

[2016-01-08 18:44] wecc commented on #3380
@xomaczar I'm unable to reproduce this, see http://emberjs.jsbin.com/catohelode/edit?html,js,output

Would you be able to create a JSBin demonstrating the issue? Feel free to open a new issue since this one is old and very long.

[2016-01-08 19:44] xomaczar commented on #3380
@wecc here is the failing JSBin: http://emberjs.jsbin.com/cezowa/edit?html,js,console,output
Try removing afterModel() hook.
I'll definitely open a new issue if it's an issue after all or my misunderstanding of stuff...

[2016-01-09 15:14] xomaczar commented on #3380
@wecc is this issue legit?

[2016-01-09 15:37] wecc commented on #3380
@xomaczar not a bug, more unfortunate circumstances :)

article:1 is already loaded when you enter the second route so the promise is resolved straight away using the article in store (without comments). Your template then tries to access comments and triggers a fetch. Meanwhile ED has background reloaded your article (see the new shouldBackgroundReloadRecord hook iirc) and the comments are side l

[2016-01-09 21:03] pangratz commented on #4047
This issue can be closed since #4048 has been merged.

[2016-01-09 21:03] #4047 closed

[2016-01-11 02:04] tpitale commented on #3483
I'm also experiencing this when doing (from a route):

[code]

Anything that calls `toArray` appears to only return a subset of records. You can even do `get('length')` to see how few it may return (7 out of 46, in my case).

However, if you check it "later" using something like `setTimeout` after 1 second, the length is correct.

[2016-01-11 14:03] kaukas opened #4056 "Resetting the Ember app breaks with "cannot re-register: serializer:-default"."
Hello.

I am working on an Ember + Ember Data based application, writing some tests. Before each test I want to [reset the whole application](https://jsfiddle.net/qmg3surj/1/) but right before the second test this leads to
[code]
What is the recommended way to reset the app? I cannot simply [destroy](https://github.com/emberjs/data/blob/master/tests/helpers/destroy-app.js) and [recreate](https://g

[2016-01-11 15:49] fivetanley commented on #4056
This does not fix the bug but the recommended way to reset the app is to destroy and recreate the app before each test. What breaks when you do this?

[2016-01-11 16:13] kaukas commented on #4056
I can not destroy and create it again because the initializing code is part of the single page app which is called only once.

It appears that this is a [known](https://github.com/emberjs/ember.js/issues/12231) [problem](https://github.com/emberjs/ember.js/issues/10310). Strange that I am still getting it with the latest version.

[2016-01-11 16:16] fivetanley commented on #4056
You should be able to destroy/create and initializers will be called again.

[2016-01-11 17:23] bmac commented on #4041
Hey @trumb1mj sorry I didn't have much time to look at this last week. What do you mean by "retains model history"?

[2016-01-11 17:42] trumb1mj commented on #4041
I think part of the problem was not a leak but rather on each `query` call the `_internalModel._recordArrays` gets populated with a model record.  When polling that can add up rather quickly.  It would be nice if this was either not default behavior or we had a choice when submitting queries.

[2016-01-11 17:46] bmac commented on #4041
That make sense. Thanks @trumb1mj. I'll try to fid out why the results of `query` get added to `_internalModel._recordArrays`. I suspect Ember Data could opt out of doing that all together.

[2016-01-11 19:03] bmac commented on #587
@jkutzfla Do you mind putting together a [jsbin](http://emberjs.jsbin.com/sarobu/1/edit?html,js,output) reproducing the issue?

[2016-01-11 19:43] bmac commented on #3082
I believe this is fixed by https://github.com/emberjs/data/pull/4050.

[2016-01-11 19:43] #3082 closed

[2016-01-11 21:56] jkutzfla commented on #587
Ok, my jsbin is here:
http://emberjs.jsbin.com/netogagevo/1
Thank you for the template.

If you click on the '2nd route' link you should see what I mean. It is a belongsTo relationship and I set a 2 second delay in the mockjax.  When the view first renders, the model.address.isLoading is blank.  When the ajax completes, the isLoading updates to false.  But the isLoading was never set to true, so i

[2016-01-11 22:32] Serabe commented on #4046
Investigating another issue in balinterdi/rarwe-code I see it happens with `computed.sort` as well.

[Twiddle](https://ember-twiddle.com/0d1906e0a753e0f88b4d)

[2016-01-12 05:46] #4044 closed

[2016-01-12 16:34] vsymguysung commented on #3467
@wecc @bmac,  Is there any example codes of `JSONAPISerializer` to send only changed attributes & relationships?

[2016-01-12 16:59] sly7-7 opened #4062 "Wrong version info in the 2.3 release"
Installing ember-data 2.3 with npm is working, but there is a problem with the version shown in the console, or in the inspector:

[code]

[2016-01-12 17:16] poteto commented on #4062
I have the same issue, this breaks any addon (in our case, `ember-infinity`) that relies on https://www.npmjs.com/package/ember-version-is.

[2016-01-12 17:23] fivetanley commented on #4062
This seems to happen only when pulling the bower version in for me.

[2016-01-12 17:26] fivetanley commented on #4062
Actually the bower version is broken :sweat: fixing

[2016-01-12 17:51] rwjblue commented on #4062
I'm working on the addon angle while @fivetanley is working on the globals bower build...

[2016-01-12 18:42] knownasilya commented on #3485
Sweetness @jjbohn, will check it out!

[2016-01-12 18:45] rwjblue commented on #4062
https://github.com/emberjs/data/pull/4064 should fix the version issue when used as an addon.

@poteto / @sly7-7 - Can you test that branch and confirm?

[2016-01-12 19:41] poteto commented on #4062
On that commit `VERSION` is now returning a value

![screenshot 2016-01-12 14 40 27](https://cloud.githubusercontent.com/assets/1390709/12274782/843051f6-b93a-11e5-8ffc-976934979eb0.png)

[2016-01-12 21:26] #4062 closed

[2016-01-12 21:56] thejbsmith opened #4067 "Saving a record removes associations locally"
I have an Ember app using the jsonapi adapter, with a Rails backend using the jsonapi-resources gem.

In my ember app, I create a record (with an association), then save the record, and then try to interact with the record. At this point, the association is no longer available locally and must be pulled from another request.
Although the association is no longer available locally, the answerId att

[2016-01-12 21:57] bmac commented on #4062
I just released Ember Data https://github.com/emberjs/data/releases/tag/v2.3.1 with a fix for this issue.

[2016-01-12 23:23] grapho opened #4068 "EmbeddedRecordsMixin does not seem to respect `key` values in `attrs` hash"
While using `DS.EmbeddedRecordsMixin`, I discovered this while trying to embed records and also map a key for said records:
[code]
I had assumed that i could still use the `attrs` hash to mapp the json key to model attribute.. however it seems to be ignored.

When the json payload is deserialized into a model, `steps` seems to be resolved correctly.. but when attempting, but when doing a POST/PUT.

[2016-01-13 00:44] tricknotes opened #4069 "ember-data-source gem 2.3.1 doesn't have 'dist' directory"
Couldn't require `ember-data.js` from Sprockets. (it is expected to exist in `dist/ember-data.js`.)

[code]

[2016-01-13 07:07] cesarizu opened #4071 "Error on first model test "undefined is not an object (evaluating 'store.createRecord')""
When updating to `ember-data@2.3.1` I get the following error:

[code]

This happens only for the first model tested, the rest of the models work fine. Reverting to `ember-cli-shims@0.0.6` and `ember-data@2.2.1` makes it work (and restoring `ember-data` in `bower.json`).

It seems that somehow the store is not created/injected on time for the first model test but I cannot really figure out where t

[2016-01-13 08:01] sly7-7 commented on #4062
Thanks all of you :heart:

[2016-01-13 14:14] poteto commented on #4062
Confirm, thanks to everyone for solving this so quickly!

[2016-01-13 16:44] fivetanley commented on #4069
Wow, I was just writing the code for this myself but didn't get the email til just now :P thanks!

[2016-01-13 16:46] bryanhickerson commented on #4071
I also have this issue. I was using ember-data@2.3.0.

[2016-01-13 16:48] fivetanley commented on #4071
Could you make an isolated test case by running `ember new`, and making an example test?

[2016-01-13 17:39] #4069 closed

[2016-01-13 18:08] bryanhickerson commented on #4071
Reproduced it in a basic project here: https://github.com/bryanhickerson/model-test-error

[2016-01-13 18:22] pangratz commented on #4071
Seems related switchfly/ember-test-helpers#130

[2016-01-13 19:04] pangratz commented on #4071
It seems that when no `import DS from "ember-data"` is present, `DS` is not available in the `globalContext` [here](https://github.com/switchfly/ember-test-helpers/blob/master/lib/ember-test-helpers/build-registry.js#L101) and hence `ember-data` is not setup correctly for the tests. Somewhere in the first unit test `DS` is imported - likely because the model is needed in the test and it extends `D

[2016-01-13 19:09] bryanhickerson commented on #4071
Adding `import "ember-data";` worked. Thanks.

[2016-01-13 22:27] bmac opened #4075 "import Model from 'ember-data/model' doesn't work"
Unless you also import `ember-data`.

rwjblue [2:20 PM]
basically there are some side effects that happen upon importing `ember-data`

​[2:21]
yep

​[2:21]
https://github.com/emberjs/data/blob/a0408cc1f1ec4004368e6c553f219b8360ec6bb3/addon/-private/system/relationships/ext.js#L101 doesn't get ran if you `import Model from 'ember-data/model';`

GitHub
emberjs/data
A data persistence library for Emb

[2016-01-14 04:32] tricknotes commented on #4069
Could someone release a new version of `ember-data-source`, such as `2.3.1.1` or something?

[2016-01-14 21:18] jreading commented on #3378
If anyone still hasn't migrated and has the `extract` hooks warning in 1.13. just set the isNewSerializerAPI to true.

[code]

Worked for me.

[2016-01-15 06:02] HeroicEric commented on #4068
@grapho not sure where you saw the `key` option but I can't find any references to it in the code.

I think `keyForRelationship` is what you're looking for. Can you provide some more details about what wasn't working when you tried that? Here is a commit with a test that shows that passing (in a new branch) https://github.com/HeroicEric/data/commit/31e60350cff2aa4dd5c21c231da1bf6cc5c641dc

[2016-01-15 16:03] grapho commented on #4068
@HeroicEric  that is a very good point. there is not direct mention of `key` in the EmbeddedRecordsMixin`... however, `key` _is_ mentioned in the Serializer `attrs` hash api.  Since they seem to piggyback together, i assumed that the features would work together.

As to using `keyForRelationship`... I overwrote the method and made sure that `'serialize'` would return `process_steps` and `'deserial

[2016-01-16 02:20] fivetanley commented on #1776
Can you open these as separate issues? I think it'd be easier for us to track and give proper attention to. Sorry for not following up, we're triaging issues again.

[2016-01-16 02:20] #1776 closed

[2016-01-16 02:43] fivetanley commented on #2487
Please re-open (as a new issue if necessary), hopefully with a failing test case or JSBin. I suspect this has been fixed since 1.13. Sorry but we're triaging inactive issues. Re-opening lets us see if people are still running into them more easily.

[2016-01-16 02:43] #2487 closed

[2016-01-16 02:43] fivetanley commented on #2474
Sorry but we're triaging inactive issues. Re-opening lets us see if people are still running into them more easily. I'm closing this issue due to inactivity, but feel free to reopen (or as a new issue) if you are still affected by it.

[2016-01-16 02:43] #2474 closed

[2016-01-16 02:45] fivetanley commented on #2473
This is a private API. If it seems worth revisiting please re-open.

[2016-01-16 02:45] #2473 closed

[2016-01-16 02:45] fivetanley commented on #2456
closing thanks to @pangratz in #4040

[2016-01-16 02:45] #2456 closed

[2016-01-16 02:50] fivetanley commented on #2418
Closing in favor of https://github.com/emberjs/ember.js/issues/12825

[2016-01-16 02:50] #2418 closed

[2016-01-16 02:51] fivetanley commented on #2407
@tim-evans What is the path forward here?

[2016-01-16 02:53] fivetanley commented on #2386
Closing in favor of the RFC. @timrwood please comment there and bug us until we accept or reject the RFC. Sorry for the late response.

[2016-01-16 02:53] #2386 closed

[2016-01-16 02:53] fivetanley commented on #2374
closing in favor of https://github.com/emberjs/data/issues/2374

[2016-01-16 02:53] #2374 closed

[2016-01-16 02:54] fivetanley commented on #2373
Ember and Ember Inflector have largely stabilized at this point so I'm not sure it's worth pursuing. We also use a lot less of Ember's internals (if any).

[2016-01-16 02:54] #2373 closed

[2016-01-16 02:55] fivetanley commented on #2380
I agree with @pangratz. Keep an eye out for references work.

[2016-01-16 02:55] #2380 closed

[2016-01-16 02:57] fivetanley commented on #2327
@igorT is this still an issue?

[2016-01-16 02:59] fivetanley commented on #2271
Closing in favor of references!

[2016-01-16 02:59] #2271 closed

[2016-01-16 03:00] fivetanley commented on #2264
@pangratz has landed a feature called References, which provides an api for doing this. Check out the blog post: http://emberjs.com/blog/2016/01/12/ember-data-2-3-released.html#toc_code-ds-references-code

[2016-01-16 03:00] #2264 closed

[2016-01-16 03:09] fivetanley commented on #2122
closing as dup of emberjs/rfcs#21

[2016-01-16 03:09] #2122 closed

[2016-01-16 03:19] fivetanley commented on #2849
Closing due to inactivity. Please feel free to re-open.

[2016-01-16 03:19] #2849 closed

[2016-01-16 03:19] fivetanley commented on #2845
closing as dup of https://github.com/emberjs/data/issues/1849, but an RFC would be awesome!

[2016-01-16 03:20] #2845 closed

[2016-01-16 03:25] fivetanley commented on #2839
This API seems to have a lot of edge-cases that I don't think we can implement in a general manner. @runspired @r4m maybe I just misunderstand the request, but this feels like the use case `hasMany({async: true})` was designed for. Feel free to re-open if you think there is a path forward here. Perhaps [references](http://emberjs.com/blog/2016/01/12/ember-data-2-3-released.html#toc_code-ds-referen

[2016-01-16 03:25] #2839 closed

[2016-01-16 03:27] fivetanley commented on #2836
@igorT says this should be fixed by the new serializer API in https://github.com/emberjs/data/pull/2837, please re-open if it's still an issue.

[2016-01-16 03:27] #2836 closed

[2016-01-16 03:36] fivetanley commented on #2834
Seems to be satisfied by the new buildURL hooks @wecc linked to above.

[2016-01-16 03:36] #2834 closed

[2016-01-16 03:37] fivetanley commented on #2825
I am all about the immutable data approach. We should talk. :)

[2016-01-16 03:40] #2789 closed

[2016-01-16 03:43] fivetanley commented on #2783
Ember.Select is deprecated, I don't think this is an ember data bug.

[2016-01-16 03:43] #2783 closed

[2016-01-16 03:48] fivetanley commented on #2705
@pangratz's work on references does indeed close this.

[2016-01-16 03:48] #2705 closed

[2016-01-16 03:50] fivetanley commented on #2688
@igorT @tonysherbondy is this still an issue?

[2016-01-16 03:53] fivetanley commented on #2651
This seems very specific to Mongoose/Mongo. I think this would make a great addon using the new serializer API, but without going through the https://github.com/emberjs/rfcs process, I don't think we can support it in core as it doesn't feel very well specified. I don't think we'd be inclined to support it either as it seems specific to Mongo.

[2016-01-16 03:53] #2651 closed

[2016-01-16 03:53] fivetanley commented on #2609
closing due to inactivity. feel free to re-open.

[2016-01-16 03:53] #2609 closed

[2016-01-16 04:02] fivetanley commented on #3113
Closing due to inactivity and @bmac's comment in #3114, that `Ember.computed.alias` is the way to go.

[2016-01-16 04:02] #3113 closed

[2016-01-16 04:33] tim-evans commented on #2825
Deal. I think the problem with this is whether to bake this into Ember so devs don't have to think about it and everything's immutable, or we ask devs to use something like https://github.com/swannodette/mori explicitly.

[2016-01-16 05:01] fivetanley commented on #3039
Seems to be fixed in the latest ember data. Had to update to use mockjax since the fixture adapter has been removed: http://emberjs.jsbin.com/wekehedesa/edit?html,css,js,console,output

[2016-01-16 05:01] #3039 closed

[2016-01-16 05:04] tim-evans commented on #2407
I think the path forward is to either provide the ability to mark models as STI or implicitly use STI modeling if models are inherited. One way to do this is mixins, another inheritance. I think Mixins may be the most flexible, since some backend stores may support multiple inheritance. Anyways, I'd like to be able to fetch a model of a generic type and be returned the specific type of that object

[2016-01-16 05:06] fivetanley commented on #3044
closing in favor of https://github.com/emberjs/data/issues/3044

[2016-01-16 05:07] fivetanley commented on #3015
closing due to inactivity. please feel free to re-open or open a new issue.

[2016-01-16 05:07] #3015 closed

[2016-01-16 05:14] fivetanley commented on #3012
They do not appear to do the same thing anymore:

![new recordForId/recordIsLoaded](https://dl.dropboxusercontent.com/s/r2vq4wslyaxwili/2016-01-15%20at%2011.12%20PM.png)

[2016-01-16 05:14] #3012 closed

[2016-01-16 05:16] fivetanley commented on #3006
Any sort of big API change like this should go through the [rfc](https://github.com/emberjs/rfcs) process. There's a lot of code here; it would be good to flesh out the specified behavior.

[2016-01-16 05:16] #3006 closed

[2016-01-16 05:20] fivetanley commented on #2989
Since it seems like it is fixed and the other issue is closed, I'm inclined to close this issue. Please feel free to open a new issue if you think this is still a problem.

[2016-01-16 05:20] #2989 closed

[2016-01-16 05:21] fivetanley commented on #2985
I'm doing some triaging of the issues. As this hasn't been updated in a while, I'm inclined to close it. If this is still causing you issues, please feel free to re-open or open a new issue.

[2016-01-16 05:21] #2985 closed

[2016-01-16 05:25] fivetanley commented on #2972
As Ember.Select is deprecated, I'm inclined to close. If this can be reproduced some other way, feel free to reopen or open a new issue. We won't be doing backports to 1.13 much longer I imagine.

[2016-01-16 05:25] #2972 closed

[2016-01-16 05:27] fivetanley commented on #2963
Feel free to re-open or open a new issue if you can reproduce in a JSBin or if it is still happening to you. This seems like basic ember data behavior that should be working, so please let us know if it isn't. Sorry for the late response. :(

[2016-01-16 05:27] #2963 closed

[2016-01-16 05:29] fivetanley commented on #2928
I agree with stef, this seems pretty confusing to debug if you run into it. I don't think this is that common of a use case to incorporate into core. As a workaround, you can use `extend` and make an adapter for each thing you want to fall back to, sorry.

[2016-01-16 05:29] #2928 closed

[2016-01-16 05:32] fivetanley commented on #2916
JSONAPI/REST adapter use this property.

[2016-01-16 05:34] fivetanley commented on #2916
The method signature seems to have changed to pass the store. https://github.com/emberjs/data/blob/883cf9c/addon/-private/system/store/serializers.js

[2016-01-16 05:34] #2916 closed

[2016-01-16 05:36] fivetanley commented on #2912
I imagine stuff would get out of sync and relationships would begin to break very fast. That's about all I can offer as a hypothetical, sorry. I don't think this is something we'll support.

To work around, you could unload the old record and then find the record with the new slug.

[2016-01-16 05:36] #2912 closed

[2016-01-16 05:38] fivetanley commented on #3426
I think references is the way to go here.

[2016-01-16 05:38] #3426 closed

[2016-01-16 05:40] fivetanley commented on #3425
fixed in https://github.com/emberjs/data/pull/3413

[2016-01-16 05:40] #3425 closed

[2016-01-16 05:45] fivetanley commented on #3386
Can you update this jsbin to work with recent ember and ember data? Sorry for the late response.

[2016-01-16 05:45] #3373 closed

[2016-01-16 05:47] fivetanley commented on #3359
This seems to be resolved in the latest API documentation.

[2016-01-16 05:47] #3359 closed

[2016-01-16 05:50] fivetanley commented on #3297
We ended up using `adapterOptions` to namespace options.

[2016-01-16 05:50] #3297 closed

[2016-01-16 05:57] fivetanley commented on #3135
Closing due to lack of response. Please feel free to re-open or open a new issue.

[2016-01-16 05:57] #3135 closed

[2016-01-16 05:59] ZenCocoon commented on #51
There's now a Ember CLI addon to solve this at https://github.com/BookingSync/ember-data-partial-model

[2016-01-16 06:01] fivetanley commented on #3614
Closing due to lack of response. Feel free to reopen or open with more information.

[2016-01-16 06:01] #3614 closed

[2016-01-16 06:05] #3581 closed

[2016-01-16 06:07] fivetanley commented on #3537
Is this still happening?

[2016-01-16 06:11] pangratz commented on #2374
To avoid an endless loop, this should be closed in favor of #3952 :wink:

[2016-01-16 06:12] fivetanley commented on #2374
lol

[2016-01-16 06:12] fivetanley commented on #3524
closed by https://github.com/emberjs/data/pull/3859 i think, if it's still an issue it'll need to be opened on the ActiveModelAdapter repo. https://github.com/ember-data/active-model-adapter

[2016-01-16 06:12] #3524 closed

[2016-01-16 06:22] fivetanley commented on #3727
@pangratz it says that twiddle is private.

[2016-01-16 06:24] pangratz commented on #3727
That's strange. I will look into that and report back...

[2016-01-16 06:27] fivetanley commented on #3044
i mean https://github.com/emberjs/ember.js/issues/12825 lol

[2016-01-16 06:27] #3044 closed

[2016-01-16 09:13] leifcr commented on #2407
See https://github.com/emberjs/data/issues/2407 and https://github.com/firebase/emberfire/issues/245#issuecomment-140336504

It's probably better to wait for ED to implement sti properly first.

[2016-01-16 09:15] leifcr commented on #2407
Would this be the same as proposed in this rfc https://github.com/emberjs/rfcs/pull/67

[2016-01-16 13:16] sandstrom commented on #1776
Regarding singletons, our experience is that they are often a good fit for a service. Create a `SessionService` keeping track of that session model. That'll ensure you only have a single one.

Also, I don't think singletons for persisted models is common (I don't know of any server-side ORM that handles singleton models). Singleton classes are very common, but seldon for persisted models/records.

[2016-01-16 14:07] tim-evans commented on #2407
Yes and no. Same desired output, different approach. STI is a subset of polymorphism IMO. The STI support is more "magical" than the polymorphic approach. I'm fine with approach laid out in the RFC, but it doesn't address systems that use STI in a way that maps well ORM-wise. A top-level mixin on the root model may very well be "good enough", where it forces relationships with the given type to be

[2016-01-16 15:44] RyanHirsch commented on #3537
We've since changed how our deactivates work and am no longer on that project which originally had the issue. So it is not directly impacting anything I am working on now nor can I easily try to reproduce it.

I don't know about anyone else.

[2016-01-17 22:30] artburkart commented on #1840
Are there any examples of how to address metadata like the etag in ember data? I'm happy to adapt the serializer/adapter to my needs, but it's not entirely clear to me how I'd do it.

[2016-01-17 23:00] sandstrom commented on #1840
@artburkart You can override `headers` (http://emberjs.com/api/data/classes/DS.RESTAdapter.html#toc_headers-customization) or `ajax` (http://emberjs.com/api/data/classes/DS.RESTAdapter.html#method_ajax). Note that ajax is private, though I think there are (or will be made available) public methods to customize.

They use e.g. a `service` to associate models with their E-tags.

[2016-01-18 02:48] fivetanley commented on #3785
We should add support for this feature when emberjs/rfcs#1, assuming:

1) Feature flag the deprecations
2) Decide later whether this should be the default
3) Opt in with `{allowNull: true}`

[2016-01-18 12:33] florent-blanvillain commented on #2912
@fivetanley good idea, thanks for the work around.

[2016-01-18 17:37] bmac opened #4087 "Ember Data 2.3.1 is missing initializers when loaded with Ember CLI"
See https://github.com/Vestorly/torii/issues/261

https://github.com/emberjs/data/blob/master/tests/ember-data-initializers.js#L18-L40

[2016-01-18 18:21] bmac opened #4089 "Look into deprecating Ember.Date.parse"
Ember Data defines its own `Date.parse` function. https://github.com/emberjs/data/blob/master/addon/-private/ext/date.js#L28-L60. This may not be needed and we should be able to rely on the browser's `Date.parse` function.

See comments in this pr: https://github.com/emberjs/data/pull/4082

[2016-01-18 18:23] #4087 closed

[2016-01-18 18:48] grapho commented on #4068
I am pretty sure now that this issue i am having might have been fixed in `ember-data 2.3+`.. i am upgrading and will close if resolved.

[2016-01-18 20:07] pangratz commented on #3727
I created a [new twiddle](https://ember-twiddle.com/bb034a6d04af5245d28a?openFiles=mixins.node.js%2Cmodels.folder.js). Somehow the original one got lost.

@shaunc I still have trouble reproducing. Can you take a look and check what is different for your case?

[2016-01-18 20:30] shaunc commented on #3727
I'm deep in the middle of something else -- can check in a few days. At first glance -- try "async"...

[2016-01-18 20:37] pangratz commented on #3727
I updated the twiddle to use `async: true` and also tried `async: false`. Looks like both variants work with `ready`...

[2016-01-18 20:44] shaunc commented on #3727
Ok ... in my code I'm recursively building a tree from raw data, and using getProperties and then RSVP.hash to wait on a number of properties at once. And recursing by using "ready"... I've looked carefully at the code to make sure I didn't do something like forget to return a promise, but something like that could be the problem.

Thanks for looking into this! I don't have time right now to try t

[2016-01-18 22:32] bmac opened #4093 "Deprecate unused initializers"
Ember Data has 4 initializers that it supports for legacy reasons but otherwise do nothing. https://github.com/emberjs/data/blob/master/tests/ember-data-initializers.js#L18-L40

@rwjblue [suggested](https://github.com/emberjs/data/pull/4088#issuecomment-172663110) that it may be possible to deprecate them by "hook[ing] into the DAG map that is used for initializers and see if anyone depends on it"

[2016-01-18 22:33] bmac commented on #4075
Closed by https://github.com/emberjs/data/pull/4091

[2016-01-18 22:33] #4075 closed

[2016-01-19 01:20] anotheredward commented on #3626
This really needs a much better error message, would be keen to add this :).

[2016-01-19 02:13] artburkart commented on #1840
@sandstrom - neat, thank you for the tips! That's exactly what I was looking for. It led me to [this strategy](http://discuss.emberjs.com/t/passing-header-information-to-rest-get-request-using-restadapter/4220/9), which I think will work for my needs :smile:

[2016-01-19 13:41] knownasilya opened #4096 "Shim error breaks CLI generators at sub-directory"
Works at the top level:

[code]

Broken in any other directory:

[code]

This is for all generators. I'm using v2.3.1 of ED (only in package) and the shim is updated.

[2016-01-19 16:35] jacko99 opened #4098 "Issue with the hover"
Hi all,

I have an issue. When I move my mouse over the graph, I have 3 figures instead of one. I didn't change anything. Can someone help me?

Example : http://preprod.conseilsparissportifs.fr/bilan-pronostics/

[2016-01-19 16:37] fivetanley commented on #4098
Neither Ember or Ember Data is being loaded on the page. Is there another link?

[2016-01-19 16:42] jacko99 commented on #4098
No. Thanks for your help. I have other examples : http://preprod.conseilsparissportifs.fr/bilan-expert/?id=4

[2016-01-19 16:44] fivetanley commented on #4098
This page doesn't have Ember or Ember Data either. I think you are filing an issue on the wrong repository.

[2016-01-19 16:44] #4098 closed

[2016-01-19 22:39] samselikoff opened #4099 "Ember Data tries to reload an already-loaded `belongsTo`"
Ember data models:

[code]

I'm using a JSON:API backend (and adapter on the frontend). My application route (with the `ds-finder-include` feature flag enabled):

[code]

which correctly sends out the request

[code]

which responds with https://gist.github.com/samselikoff/20012aa58075db6124de.

In my application template,

[code]

`{{post.author.name}}` correctly displays the author's name, but t

[2016-01-19 22:44] wecc commented on #4099
Simplified reproduction: http://emberjs.jsbin.com/qetidomara/1/edit?html,js,output

There shouldn't be additional requests to `/posts/1/author` and `/posts/2/author`

[2016-01-19 23:50] wecc commented on #4099
I think we need to differentiate between loaded and unloaded records (`record.dataHasInitialized`?) in `relationship.addCanonicalRecord()` to be able to set the relationship's `hasLoaded` flag correctly.

[2016-01-20 00:38] jsmestad commented on #4071
Hit this issue and can as well confirm this resolves the issue.

[2016-01-20 14:03] bmac commented on #4096
@rwjblue are we using `ember-cli-version-checker` correctly here? https://github.com/emberjs/data/blob/master/index.js#L27-L28

[2016-01-20 14:05] bmac opened #4103 "Errors importing `ember-data/serializers/json-api` without importing `ember-data`"
It looks like the run in debug block doesn't get run before the user extends the serializer if they import the serializer directly instead of importing `ember-data` https://github.com/emberjs/data/blob/master/addon/serializers/json-api.js#L496-L505

This also impacts the `RESTSerializer`.

[2016-01-20 14:07] rwjblue commented on #4096
Yes. It is being used correctly. It is possible that it needs to use something like findup.sync to find the bower.json instead of just looking in process.cwd().

[2016-01-20 14:08] rwjblue commented on #4103
Seems odd. Does the block get ran at all?

[2016-01-20 14:19] bmac commented on #4103
I can no longer reproduce the issue on 2.3.2. https://github.com/bmac/test-ember-data-2-3/commit/88b4fa25f6b146a6043097f772eec1220c49aac6

[2016-01-20 14:19] #4103 closed

[2016-01-20 16:36] oligriffiths opened #4105 "BuildUrlMixin.urlPrefix() regression"
Noticed a regression on this line: https://github.com/emberjs/data/commit/b5028e617c2f4513b42e88b5ec70649706587f58#diff-391afb21553f5f403d61beaf437459c0R232

On `2.3` this trims the leading `/` https://github.com/emberjs/data/blob/v2.3.2/addon/-private/adapters/build-url-mixin.js#L234

However the new refactor doesn't.

Thus:

[code]

previously it would return `/path/to/endpoint`

[2016-01-20 17:00] bryanhickerson commented on #4071
This is resolved for me in Ember Data 2.3.2.

[2016-01-20 18:48] chrisseto opened #4106 "build url mixin uses encodeURIComponent on URI segments"
[Relevant line of code](https://github.com/emberjs/data/blob/master/addon/-private/adapters/build-url-mixin.js#L99)

`encodeURIComponent` is used for encoding query parameters.
[code]

[code]

My resource ids contain `:`s, when sending a request to my server I expect ember-data to leave these characters untouched but it escapes them.

This seems like incorrect default behavior.

[code]

I'd submit

[2016-01-20 19:04] stefanpenner commented on #3911
@jcope2013 I believe this is, at least partially, the source of at least some of the issues reported on emberjs/ember.js#12475

[2016-01-20 19:28] BenjaminHorn opened #4107 "get length of hasMany relation"
I want to check if a record is ready to delete (has no children records), and won't cause foreign key constraint in the database.

http://jsbin.com/kaseboxeya/6/edit?html,js,output

Hit *Get Length* which should get the beacon's rules. I would expect a call to **/beacons/1/rule** but there is no network activity. beacon/1 has one rule, so the correct value would be 1 instead of 0.

[2016-01-20 21:25] wecc commented on #4107
Hey @BenjaminHorn, it looks like your relationship is named `rule` in the payload and `rules` in your model definition. Naming them the same would solve the issue and trigger the request.

For future reference we prefer to keep the issue tracker to bugs only. Feel free to post questions over at [Stack Overflow](http://stackoverflow.com/questions/tagged/ember-data), the [Ember Forum](http://discuss

[2016-01-20 21:34] wecc commented on #4106
Hey @chrisseto! The current behavior of encoding using `encodeURIComponent()` is expected. I'm pretty sure most web servers would handle this and correctly decode `%3A` back to `:` when it reaches your backend.

Quoting @igorT  from somewhat related issue #2480:

[2016-01-20 21:58] #4107 closed

[2016-01-21 00:42] bmac commented on #4105
Hmm, I'm surprised a `host` with a value of `/` worked in 2.3 since I assumed it would get pushed into the array and joined with a slash a the end of the function. https://github.com/emberjs/data/blob/v2.3.2/addon/-private/adapters/build-url-mixin.js#L250

[code]

either way this seems like a bug that should be fixed.

[2016-01-21 00:43] oligriffiths commented on #4105
A / is stripped off the path, thus making a correct path without the //.

[2016-01-21 07:25] rwjblue commented on #4096
https://github.com/rwjblue/ember-cli-version-checker/pull/14 should fix this (it is released as v1.1.6 which a `nom` should grab for our consumers).

[2016-01-21 07:25] rwjblue commented on #4096
Thanks @HeroicEric!

[2016-01-21 14:52] bmac commented on #4096
@knownasilya can you confirm that the issue has now been fixed?

[2016-01-21 15:02] knownasilya commented on #4096
Confirmed. Thanks guys!

[2016-01-21 15:03] #4096 closed

[2016-01-21 15:04] #4105 closed

[2016-01-21 16:07] oligriffiths commented on #4105
awesome! thanks

[2016-01-21 16:18] bmac commented on #4071
I can still reproduce this issue in Ember Data 2.3.2. https://github.com/bmac/test-ember-data-2-3

https://github.com/switchfly/ember-test-helpers/pull/138 fixes the issue for good in `ember-test-helpers`.

Until there is a new release of `ember-test-helpers` and `ember-qunit` the best workaround is to `import "ember-data";` inside `app/tests/test-helper.js`.

As @pangratz said the problem is code

[2016-01-21 16:45] bryanhickerson commented on #4071
Apparently the reason it was no longer failing for me is that I forgot to remove ember-data from bower.json.

[2016-01-21 19:29] jbryson3 opened #4109 "findRecord always fetches record, even if it is in the store"
I noticed when doing a findRecord(model, id) that my application would make a request for it even if that record was already loaded in the store. I traced it back to the behavior in store.js where it checks to see if the record was cached and if it is, check the adapter to see if it should fetch in the background anyway

https://github.com/emberjs/data/blob/master/addon/-private/system/store.js#L5

[2016-01-21 21:51] karellm commented on #3576
We ran into the same problem couple times in our app. It would be a really appreciated addition!

[2016-01-22 12:37] bmac commented on #4109
Hi @jbryson3. This behavior was changed in Ember Data 2.0.

The new behavior is if there is a record in the store, a `store.findRecord(model, id)` request will resolve the promise immediately with the cached record. It will then make a request in the background in case the store's cached representation has gone stale.

This behavior was chosen as the default because.
1. Making an ajax request for

[2016-01-22 12:37] #4109 closed

[2016-01-23 05:22] mattgrannary commented on #3801
Within that thread @ethanresnick mentioned the possibility of defining the namespace in the meta object. I started thinking about this and it really seems like a good place for it. In this situation `_extractType` in the `JSONAPISerializer` could look at the meta object and if a namespace is found then just prepend it separated by a SOLIDUS "/".

[2016-01-23 13:45] artburkart commented on #3419
@ricky1981 - I have never seen a company implement a JSON API compliant API either, but you must consider the possibility this is because there has never been a standard to follow. By officially adopting JSON API, the ember community is taking an aggressive step toward making web development easier for the whole web dev community.

Customizing serializers and adapters is a very easy task with data

[2016-01-23 16:55] mattgrannary commented on #3801
Actually, taking back this recommendation because it feels like a bit much adding this additional layer of logic just to support namespacing when there should be no reason to include a solidus in the type definition.

[2016-01-23 19:23] danielspaniel opened #4112 "Test run pauses for a second every 5 seconds or so with ember-data 2.3.0 - 2.3.3"
This could be something to do with qunit, but qunit was same version.
Only upgrading to ember-data 2.3+ causes this issue.

It's pretty interesting. Not sure what is causing it, but for that second javascript is pausing, it's doing ( ParseHtml about 10 times, then a Minor GC call ) <- over and over again.
Have you found this issue when running ember-data tests?

Interestingly even with phantomjs t

[2016-01-24 17:30] smcclstocks commented on #4041
Is there any guidance on how best to handle this situation. I have a page that polls using query with dynamic filters & sets the promise to a controller property so the template can show loaders, failures, etc as the promise does its state transitions.

What I do now is get the old resolved promise from the query & call destroy on it & then fire off the next one setting it to the same controller p

[2016-01-24 17:35] trumb1mj commented on #4041
Calling destroy will empty out that array but the leak will continue to happen `.query()`.  In our project I'm actually using naked ajax and loading the records manually until the fix mentioned in this thread is in a ember data release.

[2016-01-24 17:38] smcclstocks commented on #4041
bummer. I may need to do the same thing. Thanks man.

[2016-01-24 22:38] bmac commented on #4071
This should be fixed by: https://github.com/switchfly/ember-test-helpers/releases/tag/v0.5.21

To install the new version of `ember-test-helpers` you should only need to run the following commands:

[code]

[2016-01-24 22:38] #4071 closed

[2016-01-25 22:50] pangratz commented on #3740
@elidupuis I am going to close this as this can be achieved via references (see http://emberjs.com/blog/2016/01/12/ember-data-2-3-released.html#toc_code-ds-references-code and http://emberup.co/references-api-in-ember-2-4/).

[2016-01-25 22:50] #3740 closed

[2016-01-26 00:02] chrisseto commented on #4106
@wecc ah, thanks for pointing that out. It's not a bug if it's by design!

[2016-01-26 00:02] #4106 closed

[2016-01-26 01:38] bmac opened #4114 "Remove extra definition of InvalidError"
See https://github.com/emberjs/data/pull/4111#issuecomment-174469699

[2016-01-26 02:08] bmac commented on #4112
@rwjblue or @fivetanley any hunches as to why ember-data 2.3 might cause this behavior?

[2016-01-26 02:11] fivetanley commented on #4112
Do you think you could reproduce in a new repo with `ember new`? It'd be super helpful for us to have an isolated reproduction case. Otherwise I can try to take a look at it on the new app I'm on.

[2016-01-26 02:25] danielspaniel commented on #4112
I have another ember app ( using ember mocha ), and I am not seeing this behavior so there is something particular going on here ( which I obviously don't know what it is ).  Maybe it's the combination of ember-data and qunit?

I would have to make a new app and then create a hundred or so tests to get a feel for the slowdown. But if ember-data tests don't show this ( and there are many hundreds )

[2016-01-26 10:49] duizendnegen opened #4115 "Meta-data is not reflected on a saved model (ED 2.3, ED 2.4)"
Calling `save` on a model (this is a PUT operation in this case) doesn't capture the metadata that is returned from the server. Incidentally, this is also true for `queryRecord`. (Perhaps related: #3918)

[code]
prints `undefined`.

Using the private method `_metadataFor` gives the metadata as expected
[code]
prints
[code]

[2016-01-26 11:24] pangratz commented on #3790
@Ramblurr this should be fixed in `2.2.1`.

[2016-01-26 17:16] pangratz commented on #3759
@eccegordo I am going to close this as it really seems that this should be solved upstream in bower itself (see bower/bower#756, bower/bower#250, bower/bower#2116, bower/bower#1489; also http://stackoverflow.com/questions/15669091/bower-install-using-only-https).

Until this is fixed in bower, I think another approach could be to use a [custom resolver](http://bower.io/docs/pluggable-resolvers/) i

[2016-01-26 17:16] #3759 closed

[2016-01-26 18:00] pangratz commented on #3918
I cannot reproduce and I think this has been fixed. Can you confirm?

See [this ember-twiddle](https://ember-twiddle.com/69a88a1e83c7bcc1a99b?openFiles=application.template.hbs%2Capplication.route.js).

[2016-01-26 21:01] pangratz commented on #4067
Hey @thejbsmith, I cannot follow your issue completely. Can you provide an ember-twiddle with your use case? You can use this as a starting point: https://ember-twiddle.com/5817e4de262287286b52?openFiles=models.survey-answer.js%2Capplication.route.js

[2016-01-27 09:00] vvscode commented on #3507
I have the same issue
```<DS.AdapterPopulatedRecordArray:ember4106>``` and try to add object into
!https://www.dropbox.com/s/4t7156d6pnjorll/%D0%A1%D0%BA%D1%80%D0%B8%D0%BD%D1%88%D0%BE%D1%82%202016-01-27%2012.00.08.jpg?dl=1!

[2016-01-27 09:04] vvscode commented on #3507
@sly7-7 @zyllorion
[code]

[2016-01-27 16:05] thejbsmith commented on #4067
@pangratz, take a look here: https://ember-twiddle.com/80bb122657d2c82101e5?openFiles=initializers.pretender.js%2Capplication.route.js.

The only addition I added was the relationships on the returned json data when creating the survey-answer. This mocks the jsonapi data for this particular request. Since the relationships are returned, but only include `relationships.links` instead of `relationsh

[2016-01-27 16:57] bmac commented on #4041
This issue was discussed on the Ember Data call today and it was determined that the fact that Ember Data hold a reference to the query's record array is not something that Ember Data needs to do anymore. I was likely added at a time when Ember Data worked differently and is no longer relevant after some internal refactorings.

I think the path forward to closing this issue would be to stop regist

[2016-01-27 17:14] runspired commented on #4041
+1

[2016-01-27 17:15] trumb1mj commented on #4041
Great, thanks for the follow up on this guys!

[2016-01-27 18:18] brendanoh commented on #3507
@vvscode This wont be much help but the only way I got around this was to have Ember and Ember Data versions that "matched". By that I mean ones that were obviously compatible once ED went gold.

I was on 1.12.1 and tried every version of Ember Data after beta 18 and none worked. Hacks and workarounds were unsustainable.

So I eventually moved my whole App to recent versions (Ember was hard but ED

[2016-01-27 20:28] JakeDluhy opened #4121 "JSON payload with null values gets pushed into store as [object Object]"
I have a model
[code]
That gets a payload that looks like
[code]
Notice that sometimes, the description field is `null`

The problem is that somewhere along the way of the model getting pushed into the store, the value of `null` becomes '[object Object]'. When I change the model to `description: DS.attr()` it just gives me an Ember Object. I did some investigating, and I wasn't able to find where

[2016-01-28 04:31] varoot opened #4122 "parseResponseHeaders does not follow HTTP spec of optional spaces"
According to [HTTP spec](https://tools.ietf.org/html/rfc7230#section-3.2), a header field has **optional** leading whitespace. Currently, [parseResponseHeaders](https://github.com/emberjs/data/blob/master/addon/adapters/rest.js#L1009) requires a space character. It does not allow a TAB character, or no whitespace at all.

Also, we should trim the value since, according to the spec, the header valu

[2016-01-28 05:39] pangratz commented on #4121
Having a `DS.attr("string")` and a normalized value of `[object Object]` looks like the value which should be normalized is an object. Are you sure that the value for `description` is a string or `null`/`undefined`?

Can you reproduce with a failing response in an ember-twiddle? You can use [this](https://ember-twiddle.com/267b07fb439f18d4e483?openFiles=application.route.js%2Capplication.template.

[2016-01-28 10:18] nhemanth007 opened #4123 "How to use EmbeddedRecordsMixin with EmberData 2.3.0?"
http://emberjs.com/blog/2016/01/12/ember-data-2-3-released.html

As mentioned in the above blog post, serializer `EmbeddedRecordsMixin` is not part of public API.

[2016-01-28 13:31] amk221 opened #4124 "Can't get meta data for queryRecord"
I'm not sure if this should work... I think it should.
"Metadata is data that goes along with a **specific model** or type of model"

Simple example: http://jsfiddle.net/amk221/5gskwp74/

[2016-01-28 14:56] JakeDluhy commented on #4121
It looks like we had done some work to camelize our json keys embedded in object (like with the response
[code]
 in normalize, that was recognizing null as an object and transforming it into an empty object. Thanks so much for your help, it was me trying to add my serializer to the ember-twiddle that made me realize the mistake!

[2016-01-28 14:56] #4121 closed

[2016-01-28 16:53] pangratz commented on #4121
Nice, glad you figured it out! :+1:

[2016-01-28 18:02] pangratz commented on #4123
This has been misssing and is addressed in #4125.

Until this is available in the next release, you can use `DS.EmbeddedRecordsMixin`:

[code]

[2016-01-28 18:02] #4123 closed

[2016-01-28 18:05] pangratz commented on #4124
Unfortunately this is currently not supported but already tracked in #2905, so I am closing this...

[2016-01-28 18:05] #4124 closed

[2016-01-28 18:20] jerel opened #4126 "unloadRecord doesn't disconnect observers on the model"
Here is a twiddle demonstrating the problem (on canary): https://ember-twiddle.com/1523fd2fae4a21c261d7?numColumns=1&openFiles=models.event.js%2C

I have a scenario where a list of models is shown and each model is responsible for removing itself after it becomes old. However when `unloadRecord` is called the model is removed but the observers stay connected.

[2016-01-28 19:41] jpaas opened #4127 "2.3 does not appear to work outside development environment"
When I upgraded to 2.3 everything appeared to be fine until I deployed to production. In production I get an error deserializing any JSONAPI response. The error occurs when when trying to check some assertions and the following functions are not defined:

warnMessageForUndefinedType
warnMessageNoModelForType

because they are removed from non-debug environments: https://github.com/emberjs/data/blo

[2016-01-28 19:56] pangratz commented on #4127
Hmm, the [corresponding `assert`](https://github.com/emberjs/data/blob/2322aacc3f3e4fb4fe9b30c7d790c45126fa5c73/addon/serializers/json-api.js#L156-L158) - which needs the `warnMessageForUndefinedType` method - should be removed as well. So it shouldn't matter that there is no `warnMessageForUndefinedType` method available.

All the asserts are stripped correctly in http://builds.emberjs.com/releas

[2016-01-28 20:58] jpaas commented on #4127
package.json:
[code]

bower.json:
[code]

[2016-01-28 21:13] pangratz commented on #4127
And I guess there is nothing weird on the output when doing a `ember build --prod`?

[2016-01-28 22:09] MattNguyen commented on #4075
After upgrading to 2.3.3, we still need to add `import ember-data` in `app/app.js`. #4091 was supposed to resolve this, correct?

[2016-01-29 15:34] bmac commented on #4075
@MattNguyen That is correct what error are you seeing?

[2016-01-29 16:19] alexmasita opened #4129 "Binding to a model relationship property fails in the each helper"
Binding to a model relationship property fails in the each helper as demonstrated below:

Here are my models:

[code]

When I run the category model in the each handlebars helper below to retrieve the 'thumbfullfilepath' for an image tag, no value is bound to the img src:

[code]

However, I have verified the relationship binding works on display of a single model as when I visit the "admin.catego

[2016-02-01 15:02] jpaas commented on #4127
I've been using ember-cli-deploy to deploy to s3, but I tried a manual build and didn't see any unusual output.

[2016-02-01 19:18] bmac commented on #4127
@jpaas what version of node and npm are you using?

[2016-02-01 19:26] bmac commented on #4127
@jpaas I tired to reproduce the issue in this repo https://github.com/bmac/ember-data-issue-4127 and I was unsuccessful.

Would you mind trying to delete your `node_modules` folder and re-running npm install?

[2016-02-01 21:08] jpaas commented on #4127
@bmac I just deleted node_modules and tried a clean npm install but got the same result.

[code]

[2016-02-01 21:11] jpaas commented on #4127
@bmac I had a look at https://github.com/bmac/ember-data-issue-4127 but it doesn't appear to have any models. My ember app runs fine until it needs to deserialize a JSONAPI response into an ember data model.

[2016-02-01 22:03] bmac commented on #4127
Hi @jpaas to test I was building the project with `ember build --environment=production` then manually inspecting the `dist/assets/vendor-54571537ea930fe6dd7c9e4a35599bc0.js` file for `warnMessageForUndefinedType`. I will try to setup a more fleshed out example with models and a JSONAPI response.

[2016-02-01 22:45] fsmanuel commented on #4067
@thejbsmith @pangratz I'm not sure if we experience the same thing but I also lose relationships:

I have the situation that when I destroy a child record in a 1:N relation and then save the parent record I lose all the child records I just created. If I create the childs and reload the page they don't get removed but new once do...

You can see it in action: http://www.funkensturm.com/statuspage/

[2016-02-04 12:44] vanadar commented on #2905
I was looking for a way to read metadata on a single record (loaded with findRecord) and I ended up doing  `var meta = this.store.typeMapFor(model._internalModel.type).metadata`

If someone has a better workaround to read the meta I would be interested to know about it.

[2016-02-04 16:00] fguillen opened #4133 "Observers on properties 'isLoading', 'isLoaded' and 'isSaving' are not working"
I started a question in StackOverflow but as don't get any answer I am starting to think it is a bug:

- http://stackoverflow.com/questions/35139936/emberjs-understanding-ds-model-life-cycle

[2016-02-04 16:39] bmac commented on #4133
Hi @fguillen.

The 'isLoading', 'isLoaded' and 'isSaving' properties are all implemented as computed properties. In Ember, computed properties are lazy and do not compute their state until they are requested for the first time using `.get` or displayed in a template. So despite the fact that conceptually we as developers may know the value of `isLoading` is changing and will return a different val

[2016-02-04 17:28] #4133 closed

[2016-02-04 17:29] stefanpenner commented on #4133
@bmac you should submit that to SO, and get your 200pt bounty :)

[2016-02-04 17:44] fguillen commented on #4133
Hi @bmac thanks a lot for the explanation and for the video link, very clarifying.

After understanding this I see 2 mayor problems:

1. If computed properties are not observable this should be very clear in the documention. In the section of the _Observer_ and in the section of the _Properties_ indicating in the property documentation if it is a _computed property_ or not.

2. I don't see any way

[2016-02-04 18:33] jmurphyau opened #4134 "relationships/has-many.js doesn't compile with Babel 6"
https://github.com/emberjs/data/blob/master/addon/-private/system/relationships/has-many.js

The issue appears to be because of the require in the middle of the file..

Suggested solution: /* globals require */

Will test this and possibly open a PR over the coming days

[2016-02-04 19:16] bmac commented on #4129
Hi @alexmasita. If you have time would you be able to reproduce this issue as a [jsbin](http://emberjs.jsbin.com/sarobu/1/edit?html,js,output) or https://ember-twiddle.com/?

[2016-02-04 19:30] bmac commented on #3918
@krisselden do you mind taking a look at @pangratz's twiddle and letting us know if we are missing something?

[2016-02-04 19:32] bmac commented on #4115
I believe it is a known issue that `meta` is not supported on records. See: https://github.com/emberjs/data/issues/2905

@wecc do you mind writing up what needs to happen to allow for meta support on records?

[2016-02-04 19:33] bmac commented on #4068
@grapho where you ever able to confirm if `ember-data 2.3` fixed this issue?

[2016-02-04 19:35] bmac commented on #4056
@kaukas what version of Ember are you using?

[2016-02-04 19:35] bmac commented on #3918
@krisselden do you mind taking a look at @pangratz's twiddle and letting us know if we are missing something?

[2016-02-04 19:44] bmac commented on #4127
@jpaas I spent some more time looking at this issue today and I was still unable to reproduce the issue. Do you mind trying the npm install again (with Ember Data 2.3.3 in the package.json) with a `npm cache clean`?

[code]

If this doesn't work would you be available to pair so I can look into the issue remotely?

[2016-02-04 23:27] grapho commented on #4068
@bmac it did not seem to fix the issue.  I have tried a few combinations of things with no luck.  `keyForRelationship` does not seem to work as the recent bugfix suggested either...

I am going to try a few more times before i determine if it is just "user error" before persuing further as an actual issue.

[2016-02-05 01:25] cjc343 commented on #3805
I am also seeing this when trying to upgrade from 1.13.X to 2.3.0. As described, @novtor's jsbin works with 1.13, but change the tags to 2.3.0 and I hit an `arrayHash.forEach is not a function` due to `_normalizeArray` getting called for the sideloaded author: http://emberjs.jsbin.com/lunibiceso/edit?html,js,console,output

[2016-02-05 11:28] kaukas commented on #4056
@fivetanley, as I said I can not recreate the app. It's a SPA created once in initializers.

I am on version 2.2.0. I found out that

[code]
is not enough. Adding

[code]
solved the issue for me. It seems strange that `buildRegistry` is not part of `reset` but maybe the authors had their reasons.

In any case this is not an issue of Ember Data in particular. Closing it.

[2016-02-05 11:28] #4056 closed

[2016-02-05 16:16] bmac commented on #3921
We should copy the content from the upgrading section in the release blogpost to the changelog. http://emberjs.com/blog/2016/01/12/ember-data-2-3-released.html#toc_changes-in-ember-data-2-3

[2016-02-05 16:20] bmac commented on #2786
@pangratz I think I remember you fixing this issue. Is that correct?

[2016-02-05 16:32] pangratz commented on #2786
Not completely. The stuff I added in #3868 targeted changed properties being updated when new data has been pushed.

I think this issue still needs to be discussed...

[2016-02-05 19:30] jcbvm commented on #1829
What's the status of this issue? The bug is becoming really annoying.

[2016-02-06 00:04] JackCA commented on #3884
I've stumbled upon this issue when trying to figure out why or how `normalizeQueryResponse` and `normalizeQueryRecordResponse` do not include a `query` object representing...

[2016-02-06 00:34] sebyx07 opened #4136 "access ajax content before parsing"
Is there a way to override how the store makes get/post request? i use base64 to compress the json and I need to inflate/deflate the content ?
Now I use plain ajax request and push the payload into the store

[2016-02-06 09:47] vinothwindows47 opened #4138 "How to get meta information on createRecord ?"
Hi My Request is :

`/file/newResource =>   createRecord({
                                                                   parenFolder : "testproj/src",
                                                                   fileName : "helloworld.java"
                                                           });`

Response is  :

` { "newFile": {},  meta: { result: "Success", message: "File Creat

[2016-02-07 15:55] jcbvm commented on #3426
Sorry for my late response, this looks really good yes. Will try it soon using the flag to see how it works out in my app. Thanks a lot!

[2016-02-08 13:57] bmac commented on #4136
Hi @sebyx07. You can override the `findAll`, `findRecord`, 'updateRecord', 'createRecord' methods on your [Adapter](http://emberjs.com/api/data/classes/DS.RESTAdapter.html) to change how the ajax request is made. Also be sure to check out the [Customizing Adapters guide](https://guides.emberjs.com/v2.3.0/models/customizing-adapters/) for how to include a custom adapter in your app.

[2016-02-08 18:54] JackCA opened #4140 "Base Serializer#normalizeResponse refers to JSON-API"
I'm trying to use the base Serializer class and am attempting to implement a custom `normalizeResponse` function.

However, I'm about confused about [this part of the docs](https://github.com/emberjs/data/blob/883cf9c0ebe18277b1c8fab2381fe46eacfb13d9/addon/-private/system/serializer.js#L40-L54) that indicates that a `JSON-API Document` should be returned from this function.

Is this documentation

[2016-02-08 20:31] fivetanley commented on #4140
A JSONAPI document is merely a plain-old JavaScript object that has a format mirroring the JSONAPI specification.

That means it looks like:

[code]

While technically correct, I agree that the docs are confusing here. If anything, it should be in the description where the markdown is rather than as a YUIDOc return type. The correct YUIDoc return type here is `Object`. It'd be great if the documen

[2016-02-08 20:31] wecc commented on #4140
@JackCA Ember Data uses JSON API internally so the documentation is correct in that your serializer should return a JSON API Document.

Please note that the internal Ember Data JSON API format differs slightly from the recommendations at jsonapi.org and the format used by Ember Data's `JSONAPIAdapter` / `JSONAPISerializer`.

The internal Ember Data JSON API format:

- uses camelCased attributes an

[2016-02-08 21:29] JackCA commented on #4140
@fivetanley @wecc you guys are awesome, thank you. I didn't realize that Ember-data relied internally on the JSON-API document specs, but they are easy enough to emulate.

We can close if you guys think there aren't any actionable changes.

[2016-02-08 21:43] sebyx07 commented on #4136
i just override the ajax(), had to uncompress they payload
https://gist.github.com/sebyx07/306465253092f325337e
now the adapter works for other models too

[2016-02-09 08:18] wecc commented on #4140
:+1:

[2016-02-09 08:18] #4140 closed

[2016-02-09 20:20] fivetanley opened #4142 "[release-1-13] Backport #3887 to 1.13"
https://github.com/emberjs/data/pull/3887 bumps the version.

This bug is still present in 1-13 due to the wrong import of `ember-inflector/lib/system/string`, when it should be `ember-inflector'. See the PR and linked other PR for explanation.

Also needs: https://github.com/emberjs/data/pull/3888 to fix the import.

The pull request would need to be made against the `release-1-13` branch.

[2016-02-09 20:20] fivetanley commented on #4142
This needs to be backported so people can upgrade their apps. It seems this causes a bug between 1.13 and 1.12. cc @kategengler

[2016-02-09 21:08] fivetanley commented on #3730
Hey @jrjohnson, sorry for the late reply. I think this should be fixed as of 1.13.16. Please let me know if it does not. For more info, here's the PR: https://github.com/emberjs/data/pull/4143

[2016-02-09 21:16] fivetanley commented on #4138
Can you give us a fuller example? There are several methods in Ember Data called `createRecord` so I'm not sure what your question is about.

[2016-02-09 21:27] koreiklein opened #4144 "Reproducible invalid transitions when saving a model twice"
I've been tracking an issue where ember-data will throw an error saying

`Error: Attempted to handle event 'didCommit' on <phoenix@model:user::ember629:34> while in state root.loaded.updated.uncommitted.`

For the most part, the error was intermittent and I could only get it to happen 1 in every 20 tries or so.

After some playing around, I found a way to reproduce it consistently:

The code I'm u

[2016-02-09 21:34] pangratz commented on #4138
@vinothwindows47 do you mean something like:

[code]

Because that is currently not possible but tracked on the todo list in #2905...

[2016-02-09 22:31] fivetanley opened #4145 "[docs] Ember Data 1.13 to 2.0 Upgrade Guide, Step By Step"
This issue will be used to solicit feedback on the upgrade woes people have had between 1.13 and 2.0. While the [Ember Data 1.13 blog post](http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html) does a great job of listing some changes, there's a good chance we didn't cover everything in the deprecation guide, and other bugs you have encountered.

Here are some questions I have for Embe

[2016-02-09 22:34] fivetanley commented on #4142
closed by #4143

[2016-02-09 22:34] #4142 closed

[2016-02-09 22:51] Gaurav0 commented on #4145
My previous response: https://github.com/emberjs/website/issues/2355

[2016-02-09 22:51] workmanw commented on #4144
I'm just a user of ember-data so I can't speak to what "is suppose to happen".

In our app, it's high interactable. Lots of inline editing, drag and drop, realtime updates and we can't "lock the ui" while a record is saving. We use to get this error a lot. I believe what's happening is is your second `save` call is coming **before** the first `save` call completes. I'm not 100% positive that's wha

[2016-02-09 23:10] dnachev opened #4146 "hasMany relationship loses its records if they fail to load"
Twiddle: https://ember-twiddle.com/8be9daa561c3b5fd9b6c

My research so far indicates the following:
- When a record has failed to load, it will be unloaded from the store. This causes it to be removed from the relationships, which have a reference to it.
- Although the records are still available in the relationship canonical state, this doesn't help much. Both `parent.save()` and `parent.get('ch

[2016-02-09 23:23] workmanw commented on #4145
Honestly the transition from Ember-data 1.0.0-Beta.19 to Ember 1.13 was the brutal one. Going from Ember Data 1.13 to 2.0 was pretty easy. If you're looking for feedback on the beta.19 transition I'd be happy to provide that.

[2016-02-09 23:24] fivetanley commented on #4145
@workmanw That would definitely be helpful.

[2016-02-09 23:55] IBue commented on #587
@jkutzfla What you see in your jsbin is quite correct (except you should call `peekRecord('author',1)` ).

1.  _author#1_ doesn't know anything about your _address#123_ until you assign it (after 2 secs); →look at the internal ID of _model.address'_ DS.PromiseObject
2. _author#1_ is a fully resolved DS.Model on entering _MytestRoute_ and by no means a promise, so: `isLoaded=true`, `isFulfilled=und

[2016-02-10 00:39] workmanw commented on #4145
@fivetanley Sure. We did the migration to Ember 1.13 as soon as we could, so this is from recolation.

The RESTSerializer. Without that, transforming my REST payloads into JSON API payloads would have been terrible.

Well I felt like to fully understand the whole thing I had to go learn JSON API. It definitely took me some time to reorient my thinking around this new paradigm.

We have a custom se

[2016-02-10 02:15] pwfisher commented on #4145
Thank you, @workmanw, this is really helpful.

[2016-02-10 06:28] ef4 commented on #4068
`key` is definitely a supported option, and this looks like a bug to me. Several related scenarios already respect `key`: it works for deserializing an embedded record and for serializing a non-embedded record.

It's [documented here](http://emberjs.com/api/data/classes/DS.JSONSerializer.html#property_attrs).

[2016-02-10 11:34] adam-knights opened #4148 "BackroundReload breaks findAll().then() for sorting in route"
When upgrading to Ember data 2.1, 2.2 or 2.3.3 I hit an issue in that if I goto a specific models route - say /member/1234 - and then browse to the all of that models route, say /members/ - then rather than showing all 6 members, the page only shows the member already downloaded (1234) and none of the others.

The issue also shows up in Ember data 1.13.15 if I set

[code]

Apart from the standard

[2016-02-10 13:19] olivierchatry opened #4149 "many-array, flushCanonical bug when saving newly created elements"
So here is my problem :
* I have a project that can contains subProject
* I'm using firebase
* I create a new subProject, then save it, then save the project, so that all data and relations are saved.
* Id I do the opposite ( save project, then save subProject ), then the sub-project new sub project get added twice, until I `reload`

Looking at the code of many-array, I can see why it is doing tha

[2016-02-10 13:24] Staff457 commented on #2666
**Cast a Love spells, marriage spells, breakup spells & bring back lost love spells. Witchcraft love spells, voodoo love spells, black magic love spells, binding love spells, marriage love spells, white magic love spells, divorce spells, spells for lost love, love spells that work fast, love spells for men, love spells for women, love potions, love muti, love rings, witchcraft spells, wiccan love

[2016-02-10 13:25] olivierchatry opened #4150 "has-many cannonicalState refresh not optimal"
Hello,

By looking at the code to find a bug, I stepped upon the `computeChange` which seems to do a lot of quite heavy work I'm not sure is really needed :

[code]

If I understand correctly, this is to avoid having duplicate in the canonicalState, which is OK, but maybe there is a better way of doing than actually removing the record and adding it back in case of duplicate ?

The main problem he

[2016-02-10 15:43] jnfingerle opened #4151 "Deprecation ember-application.injected-container triggered inside ember-data code"
I've got a customized set of store, adapter, and serializer classes. For testing I used a setup of those classes similar to https://github.com/emberjs/data/blob/v2.3.3/tests/helpers/store.js. When running tests in this setup (that worked fine before 2.3.*) I get

This basically complains about https://github.com/emberjs/data/blob/v2.3.3/addon/-private/utils.js#L71 using the container (in this case

[2016-02-10 16:09] sly7-7 commented on #3576
Closing since the PR was merged

[2016-02-10 16:09] #3576 closed

[2016-02-10 16:17] sly7-7 commented on #3605
Closing, since https://github.com/emberjs/data/pull/3838 was closed too, and if I understand well, store.pushPayload() (with the `ds-pushpayload-return` flag enabled), does exactly what is requested here. Please reopen if I'm missing something

[2016-02-10 16:17] #3605 closed

[2016-02-10 16:37] jonkoops commented on #3605
@sly7-7 Looks good to me. Thanks for checking up on this issue.

[2016-02-10 17:51] arenoir commented on #3911
Fixed in ember 2.2.3 by https://github.com/emberjs/ember.js/pull/12908

[2016-02-10 17:51] #3911 closed

[2016-02-10 18:14] jrjohnson commented on #3730
We are on 2.3.x now and were able to move this back into an inflector so I can't confirm.  I think this can be safely closed though.

[2016-02-10 18:14] #3730 closed

[2016-02-10 21:38] pangratz commented on #4151
Can you reproduce this is an sample app? Also it would be interesting how your `setupStore` differs from the one used in `ember-data`...

[2016-02-10 22:44] sevarubbo commented on #3467
It would be extreeeemly cool to be able to send only changed attributes and relationships in PATCH requests.

[2016-02-11 07:57] sly7-7 commented on #4046
I'm closing, https://github.com/emberjs/ember.js/pull/12908 seems to fix all the things. I just tried the twiddles with ember & ember-data canary, they are working well.

@jgwhite Could you confirm please, and reopen if it does not fix your case ?

[2016-02-11 07:57] #4046 closed

[2016-02-11 10:07] jnfingerle commented on #4151
Hi, my setupStore looks like this:

[code]

I'll try and provide a test case. Unfortunately I cannot (read: am not allowed to) share the "real" code.

[2016-02-11 11:03] jnfingerle commented on #4151
OK, I've got a test case with setupStore copied verbatim from https://github.com/emberjs/data/blob/v2.3.3/tests/helpers/store.js:

Take a newly generated `ember addon` (ember-cli 2.3.0-beta.2) and add test/integration/some-test.js as follows:

[code]

This leads to two of those deprecation warnings.

Of course, there is a minimal version of this with a newly generated `ember addon` (ember-cli 2.3.

[2016-02-11 11:10] sly7-7 commented on #4151
I don't know if it's related, but executing the ember-data test suite in the browser also throw this deprecation warning...

The "funny" thing is that the function which throws this message, is the `getOwner` function itself:

[code]

[2016-02-11 11:18] jnfingerle commented on #4151
Yes, it's in the getOwner polyfill that's supposed to suppress the deprecation warning (at least this is what's said in the comments).

[2016-02-11 12:31] rwjblue commented on #4151
Can someone provide a run able demo showing this?

[2016-02-11 12:43] pangratz commented on #4151
I can confirm, as pointed out by @sly7-7, that the deprecations also show up in the browser console when running `ember serve` on latest `master`...

[2016-02-11 12:52] rwjblue commented on #4151
Thank you. I will dig into it this morning.

[2016-02-11 12:53] jnfingerle commented on #4151
My minimal test case can be found here: https://github.com/jnfingerle/ember-data-issue-4151

It's really just a newly generated ember addon (ember-cli 2.3.0-beta.2) and one added file (test/integration/some-test.js) as described above.

[2016-02-11 14:24] klclee commented on #1829
@steffenbrem thanks mate.. :+1:  the mixin works like a charm

[2016-02-11 14:25] steffenbrem commented on #1829
@klclee Np :+1: Still working great for my project

[2016-02-11 14:26] olivierchatry commented on #1829
I had a similar issue, not sure if it is related, but I got a pull request for it :
https://github.com/emberjs/data/pull/4154

[2016-02-11 15:49] rwjblue commented on #4151
Also, just to be clear, the issue title is inferring that Ember Data is triggering deprecations in a running application which is not the case. The Ember Data testing infrastructure was causing deprecations, and that testing infrastructure is not public API...

[2016-02-11 16:08] jnfingerle commented on #4151
For my part, the deprecations are triggered when running the *test code* of **my own set of store, adapter and serializer** (see above). This isn't the running app, but it isn't just the internal ember data tests either, it's the tests in my own code. (And to make things worse, this blew my *.tap file for 300 tests up to 100MB wich made jenkins choke and fail the build; I know this is my own probl

[2016-02-11 16:12] sly7-7 commented on #4151
@jnfingerle Maybe you could see how it's done in the related pr, fixing the code for ember-data tests.
You should give an owner to the container, see https://github.com/emberjs/data/pull/4155/files.

Hope that helps

[2016-02-11 16:14] rwjblue commented on #4151
@jnfingerle using moduleFor('asdf' { integration: true }) is public API from ember-test-helpers, and gives you the ability to use all of the normal test helpers.

[2016-02-11 16:14] mattmcginnis commented on #3467
@alageman

According to [the docs at jsonapi.org](http://jsonapi.org/format/1.0/#crud-updating)

[2016-02-11 16:33] jnfingerle commented on #4151
@sly7-7 Thanks, just did that and it works great.

@rwjblue Thanks, but so far I haven't figured out how to do an integrated test of store/adapter/serializer with the normal test helpers, only unit tests of each. Since there are many subtleties in the interaction of my implementation, I want to test automatically a store.find(...) etc. that uses my own versions of each in one integrated test. Anyw

[2016-02-11 17:38] webark commented on #3467
@vsymguysung this is a quick way that I accomplished it. It will probably need to be tweeked as it gets used more, but could be a place to start with you.
[code]

[2016-02-11 17:44] sevarubbo commented on #3467
There's another way to do this. It's pretty simple for attributes, but I don't know how to do the same with relationships.

[code]

[2016-02-11 19:18] ohcibi opened #4156 "Fix semantics of `findRecord` vs. `queryRecord` or add another `query*` method"
Currently `findRecord` and `queryRecord` differ in their signature and the way the requests are made (if `findRecord` makes a request).

`findRecord("foo", 1)` will request `/foos/1` while `queryRecord("foo")` (which takes no ID as a parameter)  will request `/foos` without any ID. I understand that `queryRecord` was called `queryOne` before. It was a way better name (given that `findRecord` exist

[2016-02-11 20:56] Finhas opened #4157 "Paginated sideloaded relationships"
Say I have `author.hasMany('books', {async: true})` and in the author route, `adapterOptions` which has `fields: {'author': 'books'}` but does not `include: books`.

[code]

In the author template, when requesting `#each author.books as |book|`, ED makes the appropriate request to `author/author.id/books` or in this case `/authors/293313/books`.

The issue is that `/authors/293313/books` is pagina

[2016-02-11 21:12] Finhas commented on #4157
So it looks like this was a point of discussion:
https://github.com/emberjs/data/pull/1517#issuecomment-59463879
and
https://github.com/emberjs/data/issues/1937#issue-33472419

Both are `closed` but don't solve the issue: `query async hasMany relations through the get method.`

[2016-02-11 23:52] #4068 closed