[2016-02-11 23:56] #4114 closed

[2016-02-12 00:12] #4122 closed

[2016-02-12 01:13] bmac commented on #3467
The current blocker on supporting this is the fact that Ember Data doesn't track changed relationships on records (only changed attributes). Once that feature is implemented support for sending only the changed attributes and relationships should be easy to add to Ember Data.

[2016-02-12 01:19] #4134 closed

[2016-02-12 01:24] alageman commented on #3467
@mattmcginnis

Yes that is correct for PATCH requests. The problem ember data is sending them as a POST (I think, It's definitely not a PATCH). Also when I said

I was wrong. It will use empty strings (At least for string values). Which could or could not be correct values.

I think the argument is to use PATCH rather then POST if partially updating a single item. If they used the PATCH request th

[2016-02-12 07:12] vinothwindows47 commented on #4138
Yes .. @pangratz

[2016-02-12 13:33] vsymguysung commented on #3467
@webark @sevarubbo Thank you for sharing the codes ! :+1:  @bmac  hope that ember-data implement tracking changes on relationships soon.

[2016-02-12 13:38] #4151 closed

[2016-02-12 20:47] pangratz commented on #1945
I think this should definitely be supported by ember-data, but it might be a good idea to go through the process of RFC so the specific API can be fleshed out.

Closing this in favor of being discussed further at https://github.com/emberjs/rfcs

[2016-02-12 20:48] nixpulvis commented on #1945
This is how tickets get lost.

[2016-02-12 20:50] pangratz commented on #1945
@nixpulvis you're right! Reopening and will close once such a PR exists.

[2016-02-12 20:51] pangratz commented on #4138
@vinothwindows47 I am closing this issue since it is already tracked in #2905...

[2016-02-12 20:51] #4138 closed

[2016-02-12 21:16] JakeDluhy opened #4161 "extractMeta hook not firing in JSONAPISerializer"
I'm extending the JSONAPISerializer, and I was trying to use the extractMeta hook. It never gets triggered though. Digging into the source, it seems that _normalizeResponse, where extractMeta is called from in the JSONSerializer, is overwritten and no longer calls it (see below).

[code]

[code]

Maybe `this.extractMeta` needs to be added to _normalizeDocumentHelper?

[2016-02-12 21:32] wecc commented on #4161
Thanks for opening this issue @JakeDluhy!

I think the original reasoning behind omitting the call to `extractMeta` for the `JSONAPISeriaizer` was that meta in JSON API already is in the right place – and if it isn't, it's not JSON API anyways. That said, a call to `extractMeta` in `_normalizeDocumentHelper` makes sense to me.

Would you be able to explain your use-case?

[2016-02-12 21:57] JakeDluhy commented on #4161
Sure! Essentially I started looking into using extractMeta because (I thought) it was already there, and I wanted to use it to extract data from the links object in the payload. See hhff/ember-infinity#97 for a full explanation of what I did, but ultimately it would look like
[code]

so essentially I want to be able to set properties on the route corresponding to the query params at the end of my

[2016-02-12 22:56] denisw opened #4162 "[docs] Background reload not really documented"
The documentation of `DS.Store.findRecord` says:

This and other documentation sections led me to believe that fetching a cached record from the store also means not fetching a new version from the server. Thus, I was wondering when I saw fetch requests for cached records in the Chrome developer console. I needed to look into the `DS.Store` source code to find out that Ember Data can reload a reco

[2016-02-13 06:53] jrjohnson opened #4163 "Can PromiseArray by public?"
After reading:
http://emberjs.com/blog/2016/01/12/ember-data-2-3-released.html#toc_importing-modules

I was surprised to poke around and discover that PromiseArray is private.  We use it a lot in models and components to do things like filter models based on criteria or to provide a loading indication when several promises need to come together to create a single array.  A lot like this comment by

[2016-02-13 10:38] pangratz commented on #4136
Hey @sebyx07, I was just looking at your gist and if I am not mistaken, you don't need to overwrite the `ajax` method as a whole. If you overwrite [`handleResponse`](https://github.com/emberjs/data/blob/v2.3.0/addon/adapters/rest.js#L739) of the adapter, your compression should work:

[code]

In the gist you patched the `parseResponseHeaders` function too because of there was a bug when the header

[2016-02-13 11:30] pangratz commented on #4123
Since #4125 has been merged, you can now import the `EmbeddedRecordsMixin` via modules:

[code]

[2016-02-13 12:05] pangratz commented on #3704
I cannot reproduce using `ember-data` `v1.13.15`: https://ember-twiddle.com/5e7aad8a008b29029d06?numColumns=1&openFiles=application.route.js

Someone still hit this bug?

[2016-02-13 14:23] pangratz commented on #3727
@shaunc kindly asking if you had any chance to look at this?

[2016-02-13 16:33] phcoliveira commented on #2905
Hi there!

It is not clear to me if such feature - of extracting metada when saving a record - is going to be implemented. I would like to be able to something like:

[code]

If I cannot rely on using meta, I would have to `include` other resources along with the `data`. But would you consider a good practice to include other resources without explicit asking for them in the URL from the request?

[2016-02-13 19:52] bmac commented on #4156
Hi @ohcibi. Thanks for this question. First to clarify a few things `findRecord` is intended to be used to make a request for a single record when the id is know. `queryRecord` is intended to be used to make a request for a single record when the id is not know (for example when using some other unique key to build the request url).

Second I want to talk a little bit about why Ember Data doesn't

[2016-02-13 20:25] bmac commented on #4163
I think its unlikely that `PromiseArray` would be made public. While, it solves a very real problem today of allowing templates to iterate over async hasMany relationships in templates it often results in some awkward code when working with a `PromiseArray` in JavaScript land. The main issues that people run into with a `PromiseArray` array is it is not as transparent about proxing to the underlyi

[2016-02-13 20:40] pangratz commented on #4067
@thejbsmith the problem is when a `survey-answer` gets saved, the `answer` relationship is returned as a link. And since the link hasn't been requested yet, accessing the `answer` fetches the link. There is currently no way in ember-data to know / to specify that the previously set `answer` is the same as specified with the link... except by additionally providing a `data` for that relationship. S

[2016-02-13 21:17] fsmanuel commented on #4067
@pangratz I changed the example and will remove my comment above. It's no longer relevant.

[2016-02-13 21:19] pangratz commented on #4067
@fsmanuel did you solve your issue?

[2016-02-13 21:40] fsmanuel commented on #4067
@pangratz no but it was to hard to track down and I couldn't reproduce it in a twiddle. If I run into it again I'll open a new issue. Anyway thanks for asking.

[2016-02-13 21:45] pangratz commented on #4067
@fsmanuel :+1:

[2016-02-14 10:34] pangratz commented on #3897
Hey @elwayman02, I cannot reproduce this using `ember-data` `v2.2.0-beta.1`: https://ember-twiddle.com/91e75878af843a3b84f7?openFiles=twiddle.json%2Capplication.route.js

Can you check what is different in your case? Do you use sync relationships?

[2016-02-14 10:46] pangratz commented on #4067
@thejbsmith you need to take my statement with a grain of salt; I may have misunderstood inverse records here. It looks like this is related to #4099...

[2016-02-14 16:00] #4112 closed

[2016-02-15 16:29] thejbsmith commented on #4067
There seems to be a difference in how relationships are handled in different situations.

For Example:

**Saving a Record**
[code]
`surveyAnswer.get('answers')` does not return any answers.
When the data is received from the server, the relationships are wiped out and set to what was returned by the server.

**Fetching Records**
[code]
`newSurveyAnswer.get('answers')` does return answers.
When the

[2016-02-15 16:31] thejbsmith commented on #4067
Also, @pangratz, :+1: for the solution to overwrite the create url. I believe that would work in our situation.

Depending on the answer to my previous comment, that may be the way for us to go.

[2016-02-15 20:16] pangratz commented on #4067
This is because the link isn't changing, see [this code here](https://git.io/vgQes): if the link doesn't change, then the code which would mark the relationship as "not yet fetched", isn't run.

Currently the state returned by the server represents the truth. IMHO this makes sense, but I can see how this is problematic for cases where a relationship is acknowledged by the server as a link (which h

[2016-02-16 12:13] oswaldoacauan commented on #3084
Any workarround for this?

[2016-02-16 21:53] danconnell opened #4165 "Embedded record shows up null if it is seen twice in same store.query call"
So, this is going to be vague, and I apologize for that, but I can't create a JSBin for it, since I don't know how to reproduce the problem. We use embedded relations all over our site, and don't have a problem, except in one spot.

In one spot, we have a problem where an embedded record (via DS.belongsTo with async: false) appears as null in the setupController hook, right after it's been loaded

[2016-02-16 22:44] bmac commented on #4165
@danconnell I'd start by trying to set `{ inverse: null}` on your `belongsTo` relationship. There are cases in Ember Data where its inverse relationship heuristic guesses wrong and assumes a 1 to 1 relationship exists. This can result in scenarios where Ember Data erroneously tries to keep this 1 to 1 relationship in sync and valid by nulling previous relationships that refer to the same record. T

[2016-02-17 00:36] Soliah commented on #4127
This is actually happening to too. I've tried doing cleaning node_modules and bower but prod builds still throw these errors. Will try and see if I can create reproducible repo.

[2016-02-17 01:33] Soliah commented on #4127
I think I've fixed this simply by creating an `app/serializers/application.js` that simply exports `DS.JSONAPISerializer`.

[2016-02-17 04:22] bevinhex commented on #4028
It did return ```200 OK``` , deletion is successful on server side, it returns successful, the page refreshes loosing the record deleted, everything seems find, just a bunch of error messages on console.
I wonder what caused ember-data to set id null for deleted record while keeping before updateId function.
here is console log:
[code]

[2016-02-17 04:27] bevinhex commented on #4028
Also the response for the DELETE operation was
[code]

[2016-02-17 09:39] ctusch opened #4166 "Record id always gets coerced to string"
I'm using Ember Data with JSON API. No matter what the type of a record's id is Ember Data always coerces it to string. When updating such a record this leads to wrong data types on the server. I haven't seen any possibility in Ember Data's sources to circumvent this.

[2016-02-17 14:07] danconnell commented on #4165
Thanks! That was it.

[2016-02-17 14:07] #4165 closed

[2016-02-17 14:10] pangratz commented on #4165
Kind of related I guess #3804

[2016-02-17 14:56] koreiklein commented on #4144
Thanks, I like the idea there. I gave it a shot and it fixed everything.

[2016-02-17 18:35] bmac commented on #4166
Hi @ctusch. It should be possible to achieve this behavior in Ember Data by overriding the `serialize` method in your application serializer.

[code]

[2016-02-17 18:36] bmac commented on #4163
We talked about this issue in today's Ember Data team meeting and it was agreed that PromiseArray will remain private for the reasons mentioned above.

[2016-02-17 18:36] #4163 closed

[2016-02-17 18:44] #2327 closed

[2016-02-17 19:14] ctusch commented on #4166
The problem is how should I know whether the original id was a number or a
string etc.? I haven't found a good place in Ember Data to store this
information or the original id.
On Feb 17, 2016 7:35 PM, "Brendan McLoughlin" <notifications@github.com>
wrote:

[2016-02-17 19:19] bmac commented on #4166
Does the id's type vary per model class or per record? You can define a serializer for a specific model class so it will always transform the id in the same way for every record of that model class.

[2016-02-17 19:41] ctusch commented on #4166
It varies per model. Defining a serializer for every model whose id isn't a
string would work I guess. But we are going to have a lot of models (big
product with over 400 tables) so this feels like a really tedious
workaround.

On Wed, Feb 17, 2016 at 8:19 PM, Brendan McLoughlin <
notifications@github.com> wrote:

[2016-02-18 00:10] jrjohnson commented on #4163
Thanks.  I'm going to give promise aware templates a try, that looks like a nice approach.

[2016-02-18 05:10] vladimir-e commented on #3720
I ran into same problem today.
If you use JSONAPISerializer and you need to save a record and update its hasMany relationships in one request, `DS.EmbeddedRecordsMixin` is still okay, if you really need to make it work.

Here's a monkey patch I ended up creating:

I created `mixin/embedded-jsonapi-records.js` that overrides key parts of `DS.EmbeddedRecordsMixin` to serialize relationships in a way

[2016-02-18 12:29] sebyx07 commented on #1864
[code]

then u can use user.staffMessages for example

[2016-02-18 21:20] jpaas commented on #4127
@bmac I tried upgrading to ember-cli 2.3.0 today. It turns out it doesn't work with ember-data prior to 2.3. So I tried upgrading to ember-data 2.3.3. Everything worked fine until I deployed to staging. Same problem.

[2016-02-18 21:23] jpaas commented on #4127
All of my serializers extend my `/app/serializers/application.js` serializer which extends `DS.JSONAPISerializer`

[2016-02-18 21:37] fivetanley commented on #4166
The reason Ember Data coerces to a string internally is because many backends use UUIDs, which are randomly generated strings. Also, JavaScript has a limit on large numbers so after a certain point, numbers on integers are chomped off. Many people work around this by storing the IDs as strings.

You could define an `ApplicationSerializer` with the following `serialize` function that switches on ty

[2016-02-18 21:37] #4166 closed

[2016-02-18 22:11] Soliah commented on #4127
@jpass can you also paste your ember-cli-build.js

[2016-02-18 22:37] jpaas commented on #4127
Here's my ember-cli-build.js:

[code]

[2016-02-18 23:17] Soliah commented on #4127
So I've had to add:

[code]

to `vendorFiles` for this to work. If I don't have that in there I get the same error. However this seems to break the data section in Ember Inspector.

[2016-02-19 00:39] jpaas commented on #4127
@Soliah I tried adding ember-data to my vendorFiles but it fails to build because ember-data is no longer installed as a bower component as of ember-cli 2.3.0.

[2016-02-19 00:49] Soliah commented on #4127
@jpaas I've been talking to @lukemelia about this and I think I've figured it out. So `vendorFiles` isn't necessary at all if you're using ember-cli-deploy apparently. Instead you'll need to not use `if (environment === 'staging')` and instead use `if (process.env.DEPLOY_TARGET === 'staging')` in `config/environment.js`

You also must leave `build.environment = 'production'` in `deploy.js` even fo

[2016-02-19 01:08] Soliah commented on #4127
Also the reason why ember-data isn't working is because it's somehow being included twice. You can confirm this by looking at the data section in Ember inspector and observe there are no models showing, or by running `require('ember-data/model').default === DS.Model;` in the console. This should return true but returns false when this happens.

Thanks to @teddyzeenny for debugging this for me.

[2016-02-19 01:11] Soliah commented on #4127
Ok so so summarize:

Do this in your `config/environment.js` and use `deployTarget` to switch on the environment instead the passed in `environment`.

[code]

Remove any occurrence of `vendorFiles` in `ember-cli-build.js`. Then make sure both staging and production environments in `config/deploy.js` have `build.environment = 'production'`

[code]

[2016-02-19 01:12] courajs opened #4170 "Misleading assert - passing classes to store methods has been removed"
Specific message: "Passing classes to store.serializerFor has been removed. Please pass a dasherized string instead of undefined"
See [JSBin](http://emberjs.jsbin.com/bowugudede/edit?js,output)
I bumped into this when using the `EmbeddedRecordMixin`, and was failing to include `type` on one of the embedded records. This message was not very helpful

[2016-02-19 01:35] courajs commented on #4170
I'd envision a fix for this might be more checks like https://github.com/emberjs/data/blob/master/addon/-private/system/store.js#L960

[2016-02-19 02:04] jpaas commented on #4127
Thanks so much @Soliah ! I've been deploying this app for 6 months, and apparently the config was subtly wrong all along even though I dutifully followed the ember-deploy docs. It all appears to be good now. Clearly this wasn't an ember-data problem so much as a misunderstanding of how to use ember-deploy for staging.

[2016-02-19 02:04] #4127 closed

[2016-02-19 03:01] bmac commented on #4127
Thanks for debugging this issue @Soliah. :tada:

[2016-02-19 19:08] elwayman02 commented on #3897
@pangratz honestly I am not working on that code anymore, so I don't have a way to test.

[2016-02-19 23:05] dmagunov opened #4174 "Transform deserialize method not fired after record has been updated (saved)"
Running ember data 2.3.0.

[2016-02-20 15:40] taras opened #4175 "Using ember-ajax with Ember Data"
The purpose of this issue is to flash out and later keep track of the progress of integrating [`ember-ajax`](http://github.com/ember-cli/ember-ajax) and Ember Data.

@alexlafroscia and I spent some time thinking through how the adoption process might work. Here are some of our thoughts. We're open to suggestions, both strategic and tactical.

The migration path will be gradual and will eventually

[2016-02-20 17:50] sly7-7 commented on #4174
Hi, could you build a example demonstrating the bug please ? Using https://ember-twiddle.com/ as a starting point would help a lot.

[2016-02-21 02:47] kulbida commented on #3805
I'm having exactly the same issue....

[2016-02-22 17:56] wvteijlingen opened #4179 "Related records are reloaded even when they already exist in the store"
This was discussed with @wecc in the Ember Slack.

Given a `brand` model that has many `products`, each `product` belongs to a `brand`. When doing `brand.get('products')` it also requests `http://example.com/api/products/{id}/brand` for each loaded product. This shouldn't happen when the brand is already in the store.

This bug happesn when a product payload contains a `links` hash in its relation

[2016-02-22 19:39] pangratz commented on #4179
Seems like #4099 is related...

[2016-02-23 11:28] wvteijlingen commented on #4179
I seems this is not an issue with Ember Data after all. I'm using EmberValidations on my models and it seems that validations on relationships trigger a fetch. In this case I have a `presence: true` rule for the `brand` relationship. This causes a fetch for the brand because it checks whether the brand field is set.

[2016-02-23 12:30] #4179 closed

[2016-02-23 13:12] alexmasita commented on #4129
Hi @bmac.

Sorry for the delay.  I am not sure I can be able to reproduce the issue on those platforms as I do not know how to simulate async relationship loading of models.  However, I posted the issue on stack overflow and a gentleman named @grapho was able to explain how the issue was coming about.  Would you be so kind as to view his response on the following stack-overflow link: http://stacko

[2016-02-23 14:36] kaukas opened #4181 "`pushPayload` on `JSONSerializer`"
Hello.

Reading the [Ember Models guides](https://guides.emberjs.com/v2.3.0/models/pushing-records-into-the-store/) I get the impression that `store.pushPayload` should be used whenever I want to manually insert server generated data into the store (regardless of adapters or serializers). It mostly delegates the functionality to the underlying serializer. All of the serializers support this except

[2016-02-23 16:30] EmilTemirov opened #4182 "DS.Errors has no any messages"
Hi, All!
I have the following model:
[code]
And the following response as result of `save`:
[code]
But it is does not work, I have empty:

- `model.get('errors').get('messages')`
- `model.get('errors').errorsFor('name')`

What am I doing wrong?

[2016-02-23 16:32] EmilTemirov commented on #4182
BTW, I'm using 2.3.3 version.

[2016-02-23 16:39] EmilTemirov commented on #4182
Ahh, I've found in sources that HTTP status code should be **422**! Why it's not described in docs....

[2016-02-23 17:12] AC-TimRourke commented on #3084
+1. This is also an issue for me. I've tried @jherdman's proposed solution, which works until I need to restore the records that were unloaded, as @Kilowhisky mentioned. In addition, the unload operation seems to lock up the browser while processing, though I can't say anything definitive as to why that is yet.

[2016-02-23 18:11] jaydev commented on #4162
I also found this behavior confusing until I read about it in the [Ember Data release notes](http://emberjs.com/blog/2015/06/18/ember-data-1-13-released.html#toc_better-caching-defaults-for-code-findall-code-and-code-findrecord-code). Unfortunately I find myself digging through the Ember blog really often for implementation details when the docs should be the single source of truth.

[2016-02-23 19:37] acorncom commented on #4145
This was our biggest hang-up as well.  We made a couple of attempts at shifting to using the new Ember Data 1.13 API and had major snags (we were doing `pushPayload` as well).  It finally clicked on the second attempt that I could just adjust our JSON payload to match what the RESTSerializer was expecting and then have it handle the REST -> JSON-API conversion.  If that had been stated more clearl

[2016-02-24 15:03] rohanpujaris commented on #3419
I also agree with @ricky1981.
But I think it is not a big issue as we can customize serializer completely as per our wish.

[2016-02-24 15:10] CostaRico commented on #1921
@bmac Could u explain a little more detailed how to use services this way, please?

[2016-02-24 17:28] Turbo87 commented on #3129
FYI `ember-cli` has lately moved from JSHint/JSCS to using ESLint internally and will likely suggest the same for new Ember projects in the future too.

I've used https://www.npmjs.com/package/polyjuice for the conversion from `.jshintrc` to `.eslintrc` and it worked quite well, but a few manual adjustments were still needed.

see https://github.com/ember-cli/ember-cli/pull/5455 for details.

[2016-02-24 18:30] JakeDluhy commented on #4161
I actually have another use case, that specifically pertains to the meta data.

We have an group object, and we want to provide information about that object that pertains to the current user (e.g. is the user following that group). JSON API spec would seem to suggest that that information should be in the meta, as it is not attributes on the model. However, we still need to access that informatio

[2016-02-24 20:23] tomdale commented on #4175
Hey @taras, we are excited about this and want to make it happen. I think we definitely need to be careful about deprecating the current AJAX related code but not breaking it. Despite being private, it's in common usage. But we should definitely plan to remove it in Ember Data 3.0 if possible.

[2016-02-24 20:28] taras commented on #4175
Agreed.

If the ED team doesn't have any objections to what I described above then we'll start working on making this happen. I'm also going to promote this issue to the Ember community to tease out complicated use cases that we might not have considered.

[2016-02-24 20:39] pangratz commented on #4127
Thanks for tracking this down @Soliah!! This started to look like a very annoying bug, but you tracked it down to "just" a misconfiguration.

[2016-02-24 20:44] bmac commented on #4175
No objections to the overall direction. Lets do this @taras :+1:.

[2016-02-25 10:06] Serabe opened #4185 "Problem with `flushCanonicalLater` after upgrading to Ember 2.x"
We have an application where we might add a record on initialization to a relationship. We delay pushing it to the `actions` queue. After upgrading to Ember and Ember Data 2.x (it happens in both 2.2 and 2.3 at least), the `flushCanonical` runs after pushing the record and that [causes a reorder of it](https://github.com/emberjs/data/blob/883cf9c0ebe18277b1c8fab2381fe46eacfb13d9/addon/-private/sys

[2016-02-25 12:35] vvainio commented on #3704
I bumped into this issue on the aforementioned `ember-data v1.13.15`. Resorting to calling `model.reload()` until this is resolved.

[2016-02-25 12:37] pangratz commented on #3704
@vvainio can you create an ember-twiddle demonstrating your issue? I had trouble reproducing...

[2016-02-25 15:15] James1x0 opened #4186 "[Docs] DS.RESTSerializer needs update"
normalizeHash is deprecated, Parse is going extinct.

[2016-02-26 08:13] Vincz commented on #2981
I'm currently running into the same issue. I do have a big process each time a record is added / deleted to a relationship. With the current behavior, whenever i add something, everything is removed then everything is append again.

@miguelcobain With your solution, i don't even get the notification from the array observer. Did you find something else ?

[2016-02-26 09:37] engwan opened #4190 "Adapter not coalescing requests when ids contains ":""
We're on ember data 2.3. And our ids are in the format: `USER:1234556789`

When I have `users: [1, 2, 3]` in my model, loading the async relationship correctly coalesces them into one request with the `ids` param.

But when I have `users: ['USER:1234567890', 'USER:686234234']`, the models are requested individually.

Is this a bug? Probably caused by a URL encoded character?

We can't really easil

[2016-02-26 11:59] ktrhn commented on #4181
I am currently updating an older ember-app. I also was under the impression that JSONSerializer is the way to go. Unfortunately the guides do not tell how to push data from custom ajax requests to the store with JSONSerializer. What works for me until someone has come up with a better solution:
(address is the name of the model, data is a json array):
[code]

[2016-02-26 13:38] vvainio commented on #3704
@pangratz, upon further inspection I can conclude there is no bug in Ember-Data. Our use-case is quite complex, but the root cause is that the records are stored using `uuid` as the primary key, whereas human readable identifiers are used for querying the API. This causes the [hasRecordForId](http://emberjs.com/api/data/classes/DS.Store.html#method_hasRecordForId) method to always return false eve

[2016-02-26 14:11] #4149 closed

[2016-02-26 14:52] bmac commented on #4186
For some context: `normalizeHash` and `Parse` are referenced on this page
http://emberjs.com/api/data/classes/DS.RESTSerializer.html which is auto generated from the API docs in this file https://github.com/emberjs/data/blob/master/addon/serializers/rest.js.

[2016-02-26 16:07] James1x0 commented on #4186
Sorry @bmac, had to make a quick issue regarding this so I wouldn't forget. I may have time to tackle this soon. May not tho.

[2016-02-27 19:49] canufeel commented on #3476
Why is this one closed? What is the solution? I have the same problem here:

[code]

at line: `var addedType = addedRecord.type.modelName;`

[2016-02-27 19:49] fivetanley commented on #3476
What version are you using, and what does the payload look like @canufeel?

[2016-02-27 19:51] canufeel commented on #3476
@fivetanley Hi you are so fast to answer. I am not sure even how to catch this error properly as the stack doesn't have it. My version is 2.2.0 for both ember-data and ember.

[2016-02-27 22:14] bmac commented on #4182
Hi @EmilTemirov. Where where you looking in the docs for this information?

[2016-02-28 00:29] stefanpenner opened #4192 "ember-cli-shim check errors if no shim is provided"
this prevents us from bundling shims with the future ember module.

I suspect something like `this.project.findAddonByName('ember-source')` will be a sufficient check

[2016-02-28 05:51] canufeel commented on #3476
Ok i have investigated this issue further and it came out that i get this error when i do try to `set(model,'hasManyRelationshipName',value);` and the value itself is an array with promises inside. I know i should put the actual ember-data records in this array but still some assertion would be usefull in this case.

[2016-02-28 11:53] pangratz commented on #3476
@canufeel such an assertion exists [here](https://github.com/emberjs/data/blob/v2.3.3/addon/-private/system/relationships/has-many.js#L150-L152), so you should have bumped into that... What ember-data version are you using?

[2016-02-28 15:30] canufeel commented on #3476
@pangratz True. Now i see it. v.2.2.0 that i am using doesn't have this. Would consider upgrading.

[2016-02-29 04:43] mmun opened #4195 "Local changes clobbered during concurrent saves"
There seems to be some unusual behaviour when making multiple `.save()` calls concurrently. Specifically, if the PUT response contains data (e.g. the record that was just saved) it will clobber any existing local changes.

Here is an ember-twiddle showing the issue with steps to reproduce:

~~https://ember-twiddle.com/6bc630a36d36aedde158~~ - ember-twiddle changed something and the demo no longer

[2016-02-29 04:47] fivetanley commented on #4195
So is the desired behavior to cancel any previous pending requests when a new request is made?

[2016-02-29 04:50] fivetanley commented on #4195
Or just to not clobber any local changes?

[2016-02-29 04:51] mmun commented on #4195
I'm not too sure but my gut reaction was the latter option.

[2016-02-29 11:02] EmilTemirov commented on #4182
Hi, @bmac! I was hoping to find some description about this on http://emberjs.com/api/data/classes/DS.Errors.html page. There is an example of JSON response, but nothing about **422** status code -(

[2016-02-29 15:21] pangratz commented on #4195
Related #4144

[2016-02-29 15:42] workmanw commented on #4195
@pangratz I think at least [my comment](https://github.com/emberjs/data/issues/4144#issuecomment-182119676) in #4144 is relevant. We had this problem in our app and ultimately we just created a "save throttling mechanism".  Here is a gist: https://gist.github.com/workmanw/aa02325ea92fdd4744cb .

From my experience with this I think both problems, an error and data clobbering, can happen depending

[2016-02-29 15:46] pangratz commented on #4195
@workmanw you're right, both issues are in the same problem space.

[2016-02-29 16:23] jdhines commented on #3428
I am hung up on this right now as I move from 1.11 to 1.13. The [API docs](http://emberjs.com/api/data/classes/DS.RESTSerializer.html#method_normalize) still mention `normalizeHash` and it's even in the example for the `normalize` method. My code practically mirrors this example (which I take to be the "how it should be done") but I'm still getting the deprecation warning, and if I just use `norma

[2016-02-29 22:49] pangratz commented on #3768
@NullVoxPopuli did you have a chance to check if this is still valid?

[2016-03-01 00:12] NullVoxPopuli commented on #3768
I actually migrated everything and have been re-architecting my backend to accomodate a flat-api as having relationship-related namespaces is too difficult.

[2016-03-01 10:23] pangratz commented on #3768
Okay, seems good. I am going to close this issue as it couldn't be reproduced. If somebody stumbles upon this and can reproduce, please open a new issue and back-reference this one.

[2016-03-01 10:23] #3768 closed

[2016-03-01 10:25] pangratz commented on #3704
@irnc @visoft @tuomole @DLiblik can somebody confirm that this is still an issue?

[2016-03-01 12:03] Znegl commented on #4170
This is also a problem when the server returns data instead of IDs to a hasMany relation, since it's looking for id.type instead of singularizing the key.

[2016-03-01 16:54] jherdman commented on #3790
I think there may be a regression in 2.4.0 with respect to behaviour described in this pull request. I have a model hook like this in an acceptance test:

[code]

Whereas this model hook works with Ember Data 2.3.3, the same test now fails with 2.4.0. I'll see if I can put together a reproduction mini app today.

[2016-03-01 18:03] jherdman commented on #3790
Like this:

[code]

[2016-03-01 18:40] DLiblik commented on #3704
@pangratz we upgraded to 1.13.15 and are not seeing the issue.  I don't have access to a 1.13.8 environment to re-run the test.  So at this time I am considering this item closed.  I can say that we tested it pretty hard on 1.13.8 and it was definitely an issue there, so somewhere between ..8 and ..15 somebody gave this a hug.

[2016-03-01 20:16] pangratz commented on #4190
Okay, this is tricky: the problem is that `lastSegment` needs to be `decodeURIComponent`ified [here](https://github.com/emberjs/data/blob/v2.3.3/addon/adapters/rest.js#L666), before it is compared with the `id` of the snapshot. The reason is that `lastSegment` represents the the `encodedURIComponent`ified version of the `id` (this happens [here](https://github.com/emberjs/data/blob/v2.3.3/addon/-p

[2016-03-01 22:43] aivanov93 commented on #53
@lolmaus I'm having trouble figuring out how to nicely flatten a JSON.
I have a similar problem to this SO question http://stackoverflow.com/questions/25220442/json-api-and-translations-with-ember-data and I really like the first answer with nesting everything under the translations field.
Sure, I could flatten everything to `title_en`, `title_fr`, but this way on a change of locale, I would have

[2016-03-01 23:24] SaladFork opened #4199 "Ember Data 2.4.0 reports its version with a git hash"
In the console output after updating to `ember-data@2.4.0` I see:
[code]

[2016-03-02 02:04] rwjblue commented on #4199
Hmm.  I thought we addressed this?

[2016-03-02 02:06] rwjblue commented on #4199
In https://github.com/emberjs/data/pull/4066

[2016-03-02 02:33] rwjblue commented on #4192
Removing the existing checks would cause extra pain to users upgrading and having the wrong versions, but we can definitely make it work properly when `ember-cli-shims` is not present in `bower.json`.

Also, we can't use `findAddonByName` because it isn't an addon.

[2016-03-02 02:54] stefanpenner commented on #4192
@rwjblue i think you misread, if  that addon is present no shims for ember are required. Otherwise it should do the existing flow.

[2016-03-02 03:21] rwjblue commented on #4192
ember-cli-shims@0.0.6 provided shims for both Ember Data and Ember.  If ember-cli-shims@0.0.6 is present with ember-data@^2.3.0 we need to provide an accurate message telling them to change what they are including.

[2016-03-02 03:23] rwjblue commented on #4192
I agree that the presence of `ember-source` changes things a bit (because once that happens ember-cli-shims is not needed anymore), but the real issue is that when `ember-cli-shims` is not present in `bower.json` at all we throw an error.

[2016-03-02 03:27] rwjblue commented on #4192
I submitted https://github.com/emberjs/data/pull/4200 to address, can you review?

[2016-03-02 03:29] rwjblue commented on #4192
Also, FWIW, you are correct.  I misread initially and thought you were suggesting to use `project.findAddonByName('ember-cli-shims')`.  Sorry about that...

[2016-03-02 04:23] stefanpenner commented on #4192
I likely left the description too ambiguous

[2016-03-02 07:24] pangratz commented on #4199
This needs to be fixed upstream in [npm-git-info](https://github.com/tricknotes/npm-git-info). I attempted to fix this in tricknotes/npm-git-info#1, but that wasn't sufficient. I am working on another fix.

@SaladFork what `npm` version are you using?

[2016-03-02 11:47] nicolas-dular opened #4201 "JSON API missing records spec"
JSON API defines the response for missing records with `{"data": null}` [[0](http://jsonapi.org/format/#fetching-resources-responses.)]

Here is a [jsfiddle](http://emberjs.jsbin.com/yisuyizoli/edit?html,js,output ) with the same response as in the JSON API spec. However, we get an error at  https://github.com/emberjs/data/blob/master/addon/-private/system/store/finders.js#L43.

I couldn't find an

[2016-03-02 11:56] wecc commented on #4201
This is a bit tricky imho. The JSON API [specification](http://jsonapi.org/format/#fetching-resources-responses) states:

And:

The way I interpret this is that `/articles/1` should respond with a 404 if there is no article with ID 1. However, if you request `/articles/1/author` and the articles exist but does not yet have an author, a 200 response with `data: null` seems appropriate.

So in Ember

[2016-03-02 12:07] nicolas-dular commented on #4201
@wecc That's true, my example is probably misleading.
In my own case, I have a single resource like `/subscription` -  in that case there should be `data: null`.
I know ember-data doesn't support single resources yet, I guess this is the problem then for me.

[2016-03-02 12:09] wecc commented on #4201
@nicolas-dular do you have some kind of "parent" entity like `user` or `account`? if so, you can make `subscription` a belongsTo relationship of that entity.

[2016-03-02 12:14] wecc commented on #4201
`{ data: null }` should be supported by belongsTo relationships.

[2016-03-02 12:20] pangratz commented on #4199
`npm-git-info#1.0.2` has been released, which should fix this issue after clearing `node_modules` and doing a `npm install`.

@SaladFork I am closing this issue, please reopen if you still experience a wrongly reported version.

[2016-03-02 13:28] nicolas-dular commented on #4201
@wecc no, it's not a parent from something. But I guess, it is appropriate to say  `/subscription` returns `404` if there is no record.
I'll close the issue, thanks for the quick response.

[2016-03-02 13:28] #4201 closed

[2016-03-02 17:12] stefanpenner opened #4203 "prod builds are not currently tested"

[2016-03-03 17:19] henrymazza commented on #2905
I want to conditionally include info on aggregated data on my models **condicionally**. Things like unread messages on User model, sales on last year on a Product model, and other non trivial database calculations. I want my admin to know sales figures for the product, but not my customer. Looking to JSONAPI documentation the best fit is Resources Meta. It's one way only, optional, doesn't need to

[2016-03-03 17:20] pangratz commented on #4136
@sebyx07 can this issue be closed?

[2016-03-03 18:02] sebyx07 commented on #4136
yes, ty

[2016-03-03 18:02] pangratz commented on #4136
:+1:

[2016-03-03 18:02] #4136 closed

[2016-03-03 19:38] jherdman commented on #3790
Apologies for the delay, but I have a reproduction available now.

* Ember Data 2.4 failing https://github.com/jherdman/issue-3790-reproduction/commit/137d9a830b1c7883f39739beca8f06562e8717c7
* Ember Data 2.3.3 working https://github.com/jherdman/issue-3790-reproduction/commit/1f265eae7ab2c4282399ebbd18f534e189da401a

The repo lives here: https://github.com/jherdman/issue-3790-reproduction. Run th

[2016-03-04 15:41] jpoiri opened #4207 "Getting error when API returning a null response"
I'm getting this error when saving the model and the API returns a code 201 with an empty response. If the API returns a blank object problems goes away.

I am using ember-data@2.3.0

SyntaxError: Unexpected end of input
    at Object.parse (native)
    at jQuery.parseJSON (http://localhost:4200/assets/vendor.js:7877:14)
    at ajaxConvert (http://localhost:4200/assets/vendor.js:8154:19)
    at do

[2016-03-04 20:38] ekampp commented on #3801
If this is made a change, I believe it should be opt-in, since some projects are in production, and have solved the dash vs. underscore problem otherwise.

[2016-03-04 20:40] ekampp opened #4208 "Setting the adapter namespace changes model name expectations. Is this intentional?"
Setting the namespace in the adapters/application.js on my ember 2.3 like so

[code]

Triggers this error:

[code]

for this model (and all other models, this is just an example):

[code]

Previously (before adding the namespace) models where loaded just fine. Why are the model names depended on the adapter namespace? This seems very unexpected.

[2016-03-04 20:50] pangratz commented on #4208
The warning `Encountered a resource object with type "api_v1_characters", but no model was found for model name "api-v1-character" (resolved model name using frontend@serializer:application:.modelNameFromPayloadKey("api_v1_characters"))` looks like there is something strange with your payload.

Can you create an ember-twiddle which demonstrates the error? You can use [this](https://ember-twiddle.c

[2016-03-05 08:45] Robdel12 opened #4209 "Uncaught Error: Attempted to handle event `didSetProperty`"
First off, sorry about the title. I'm at a loss with summing up this bug up into a title. Hopefully we can do that together and rename the issue.

I help maintain [emberx-select](https://github.com/thefrontside/emberx-select) and had this bug reported on x-select. If you set the `value` of x-select to a property on the model (i.e. `value=model.name`), rollback the model, and try to select another

[2016-03-05 11:22] ersuryapurohit opened #4211 "createObject not giving data in response"
When we use createRecord in store for any model, it does not give the data in response, in the _internalModel>_data & _attributes, bothe are empty. I found that in store.js, the funtion **buildInternalModel** accepts 3 parameters but when we call createRecord, it's calling **buildInternalModel** with 2 parameters, and not sending the data to the function. I've create a pull reqeust emberjs/data#42

[2016-03-05 11:38] pangratz commented on #4211
Can you provide some code which demonstrates the issue you're having? What version of `ember-data` and wich adapter are you using? You can use [this ember-twiddle](https://ember-twiddle.com/0e1a24aabb8fa7c1fdd8?fileTreeShown=false&numColumns=2&openFiles=initializers.pretender.js%2Cmodels.person.js) as a starting point.

[2016-03-05 16:03] #4192 closed

[2016-03-05 20:01] bmac commented on #4211
@ersuryapurohit I'm not sure I understand what the issue is. When you create a record with some data you should be able to immediately access the data.

[code]

I created a jsbin http://emberjs.jsbin.com/leviqebuco/1/edit?html,js,output to demonstrate.

The reason the 3rd argument to `buildInternalModel` is not used inside `createRecord` is because Ember Data tracks data that has been acknowledged

[2016-03-05 20:33] bmac commented on #4207
I've hit this error on several projects. The error is originating from jQuery which attempts to `JSON.parse` the response text if the `Content-Type` header in the response suggests the payload is json.

[2016-03-06 10:35] holamendi commented on #1380
Hi @erichonkanen
Did you find a fix for those zombie records? I'm experiencing the same issue

[2016-03-06 14:55] bodinsamuel opened #4212 "JSONapi - Embedded relationship in sideloaded does not work"
Hello,

_DEBUG: Ember      : 1.13.6
DEBUG: Ember Data : 1.13.7
DEBUG: jQuery     : 2.1.0_

I'm trying to use ember data with embedded relationship in sideloaded relation.
But sadly I'm not able to make it works. I wonder if it's not a bug ?
I'm respecting the jsonapi.org schema that allow this kind of behaviour.

To illustrate I want to do this
[code]

The data I want to load
https://gist.github.c

[2016-03-06 16:09] rusanu opened #4213 "Ember Data : 2.5.0-beta.1 WARNING: FEATURE["ds-pushpayload-return"] is set as enabled, but FEATURE flags are only available in canary builds."
The warning seems overactive. The feature flag is required in beta builds too, not only in canary.

[2016-03-06 16:13] rwjblue commented on #4213
Hmm, the feature should not be usable in beta builds unless it is enabled by default.

[2016-03-06 16:14] rusanu commented on #4213
The functionality of `ds-pushpayload-return` is not present unless I enable the feature flag, in 2.5.0-beta1

[2016-03-06 16:26] rwjblue commented on #4213
Ya, understood, I'm talking about how it should be ;)

All of the entries in https://github.com/emberjs/data/blob/beta/config/features.json should have true or false values (not null).

/cc @bmac

[2016-03-06 16:31] rwjblue commented on #4213
Hmm, ember-data@2.5.0-beta.1 isn't tagged on github. Are you talking about Ember 2.5.0-beta.1?

Also, in general, this warning in Ember should only warn on feature flags that it knows about (not all items in EmberENV.FEATURES). I'll open an issue/PR in Ember to fix that...

[2016-03-06 16:56] workmanw commented on #4213
I added `ds-pushpayload-return`. This was my PR that lives behind a feature flag and I tried to follow the existing patterns for this. If there is a change needed to resolve this, I'd be happy to make it. I just need a little direction.

[2016-03-06 17:01] bmac commented on #4213
@workmanw you did everything correctly. This is my mistake.

Due to some time constraints this week I didn't manage to release 2.5.0-beta.1 at the same time as the 2.4.0 release. As a result I didn't update the https://github.com/emberjs/data/blob/beta/config/features.json on the beta branch. I will do that now.

Like @rwjblue said it should not be possible to enable feature flags on the beta bran

[2016-03-06 17:08] rusanu commented on #4213
According to the log, it is Ember-data 2.5.0-beta.1

[code]

[2016-03-06 17:10] rusanu commented on #4213
Looks like a storm in a papercup :)

[2016-03-06 17:10] rusanu commented on #4213
@workmanw Thanks for the pushPayload return. Very useful!

[2016-03-06 18:43] bmac commented on #3704
Closing based on @DLiblik comment. Let me know if this is still an issue and I will reopen.

[2016-03-06 18:43] #3704 closed

[2016-03-07 05:34] fivetanley commented on #4212
Hi, thanks for opening an issue. A few things:

* Can you try updating to the latest 1.13 release? I think it's 1.13.16 or 1.13.17.
* The question and answer models don't have any relationships. Ember Data won't create the relationships implicitly so you at least have to add `relationshipName: DS.hasMany()` (or `belongsTo`). Can you try adding those relationships to the model definitions?

[2016-03-07 05:54] fivetanley commented on #4209
So I suspected this may have something to do with new records only. I confirmed this by changing the code in the route to:

[code]

And the error doesn't occur. Seems to be funky with the internal state machine on new records.

[2016-03-07 05:59] fivetanley commented on #4181
I'm curious as to what gave you this impression. I would like to fix this messaging if possible; we definitely don't recommend the JSONSerializer to most people. Usually JSONAPI, REST, and ActiveModel are what I would recommend people reach for first. Our messaging is off here and I apologize for that.

That being said, I don't see why it shouldn't support pushPayload.

[2016-03-07 06:01] fivetanley commented on #4185
An example project via `ember new` or JSBin/Ember Twiddle as outlined in the Contributing.md document in the project repository would be a great first step. Even some example code of what you are doing would be great.

[2016-03-07 12:26] workmanw commented on #4181
I ended up overriding the pushPayload in my serializer and manually calling it.

[code]

[2016-03-07 12:33] bodinsamuel commented on #4212
Hi,

I thought you Will say that so I already upgraded my entire  Project to (it was Time anyway)
The problem is still here.

My quiz and my question has a relation, the same way question and answer has one.
But i putted them in plural, is it wrong ?
If its wrong, why its working on the first level "quiz.questions" but not on the second "question.answers" ?

I hope I'm explaining myself correctly

[2016-03-07 12:49] kaukas commented on #4181
`JSONSerializer` is a better fit for legacy APIs [according to the guides](https://guides.emberjs.com/v2.4.0/models/customizing-serializers/#toc_jsonserializer). And it really is considering that old APIs probably eat and produce JSON that is close to `JSONSerializer`+`EmbeddedRecordsMixin`.

However, there are a couple of issues with this story. In the current app I am working on we started ~ Emb

[2016-03-07 13:43] bmac commented on #4181
It should be possible to use `pushPayload` with the `JSONSerializer` with the caveat that you must specify the type of the record that is being pushed.

[code]

This is because the payload for `JSONSerializer` does not indicate the type of the record(s) being pushed into the store and that makes it hard for Ember Data to infer which serializer it should use.

[2016-03-07 13:51] kaukas commented on #4181
@bmac, if you do that you will get an error that `pushPayload` is not defined for `JSONSerializer`. If it works then either you created that method yourself or you have some other serializer underneath.

[2016-03-07 14:04] bmac commented on #4181
My mistake, you are right I do have `pushPayload` defined on my application serializer.

[2016-03-07 14:23] richmolj opened #4216 "ds-references stripped from production?"
I'm using the new `ds-references` feature flag from ember-data 2.4. Everything works in development, but in production it looks like the code is not being applied:

From console:

[code]

[2016-03-07 14:28] bmac commented on #4216
Feature flags that are not turned on by default (like `ds-references`) are only suppose to be accessible on the canary branch. I believe the fact that `ds-references` is available in development is a bug.

[2016-03-07 14:44] richmolj commented on #4216
There is a warning about this when I run 2.4 in development.

[2016-03-07 15:15] erkie opened #4217 "Error message on empty response "request for a undefined with id" typeClassKey?"
The following asserts resolve to weird error messages because the property `typeClassKey` is undefined on the `typeClass` variables. I searched the entire `ember-data` repo and the `ember` core repo for the string `typeClassKey` but couldn't find anything. So I'm not really sure what it should be...

https://github.com/emberjs/data/blob/master/addon/-private/system/store/finders.js#L37
https://git

[2016-03-07 15:54] pangratz commented on #4209
When a new record is rolled back via `rollbackAttributes()`, it is in the `root.deleted.saved` state. In this state the record is more or less useless and you can't set properties anymore (i.e. there is no `didSetProperty` handler in [this state](https://github.com/emberjs/data/blob/e89d5d7f90813329063f13df6d86042737152760/addon/-private/system/model/states.js#L678-L696)).

So state-machine wise,

[2016-03-07 16:12] floqqi opened #4218 "[master] Module import path error on Windows in production build"
For history see #4205 (starting at https://github.com/emberjs/data/pull/4205#issuecomment-193237120).

[2016-03-07 18:49] jherdman commented on #3790
Hey friends. Should I open a brand new ticket for this?

[2016-03-07 18:50] bmac commented on #3790
Yes please.

[2016-03-07 18:56] jherdman opened #4219 "queryRecord Regression in Ember Data 2.4"
Issue #3790 allowed for `queryRecord` to work with empty responses, e.g. `{ my_model: [] }`. This worked with Ember Data 2.3, but not with Ember Data 2.4. I have a reproduction app available:

* Ember Data 2.4 failing https://github.com/jherdman/issue-3790-reproduction/commit/137d9a830b1c7883f39739beca8f06562e8717c7
* Ember Data 2.3.3 working https://github.com/jherdman/issue-3790-reproduction/com

[2016-03-07 20:27] floqqi commented on #4219
Having exactly the same issue as mentioned in https://github.com/emberjs/data/pull/4205#issuecomment-193186882.

This only happens using the development build of `ember-cli` in my app. In the production build (with `ember-data` at version `2.4.0`) the API of `queryRecord` behaves like in `2.3.3` -> no complaining.

I'm not exactly sure what causes this issue. Tested with exactly the same server re

[2016-03-08 08:10] pangratz commented on #4219
Looks like regression has been added in [#3864](https://github.com/emberjs/data/pull/3864).

[2016-03-08 08:25] floqqi commented on #4219
API-Docs:

That would explain why it only fails in development.

[2016-03-08 11:39] lolmaus commented on #53
@aivanov93 [ember-data-model-fragments](https://github.com/lytics/ember-data-model-fragments) seem to fit nicely into your use case.

But I would attempt a completely different solution. I would split the model into two parts, e. g. `post` and `post-translation`. A single post would look like this then:

[code]

[2016-03-08 12:25] jsangilve commented on #4186
@James1x0 I just realized that `normalizeHash` is deprecated. Apart from docs, it seems like no deprecation warning is thrown when you use it. I'm using it with Ember Data 2.3

[2016-03-08 13:44] James1x0 commented on #4186
@jsangilve It threw in ED 1.x, I think it's supposed to be completely gone from the api in 2.x

[2016-03-09 18:02] pangratz commented on #4217
Nice find @erkie! It looks like this hasn't been caught by existing tests for this. Also, this is a good chance to clean up that code a bit. Would you be interested in helping out?

As a first step we should update the existing tests so the expected assertion messages are checked. I would suggest to update the regex in [this line](https://git.io/vaIQ1) to something like `/You made a findRecord req

[2016-03-09 21:17] bcardarella opened #4226 "json-api content-type setting doesn't seem to conform to the spec"
According to this: https://github.com/emberjs/data/commit/76cf421556c80cff61462c49cd70cc193bdca9c5#diff-8915e0cf485f8b8db729bc3d3d5b855bR27

it appears that the content-type in the header is only being set if there is a pre-existing content-type? According to the spec the content-type *must* be set on each request: http://jsonapi.org/format/#content-negotiation-clients but it seems that this is no

[2016-03-09 21:31] bcardarella commented on #4226
This function is calling the `RESTAdapter`'s function which only sets the `contentType` if there is a data object and the request is not `GET`: https://github.com/emberjs/data/blob/master/addon/adapters/rest.js#L913

I suspect this might not conform to the spec:

[2016-03-09 22:10] wecc commented on #4226
I'm think this is by design. The spec states that "all JSON API data in request documents" must use the correct Content-Type header value. GET requests has no data, therefor no Content-Type header is set.

[2016-03-10 08:48] pangratz commented on #4218
This should work with latest `master` now since #4215 has been merged. Can you give this another try and report back if it has been resolved? Thanks!

[2016-03-10 09:58] floqqi commented on #4218
@pangratz

[code]

works for me!

[2016-03-10 10:40] pangratz commented on #4218
Nice, thanks for checking! :+1:

[2016-03-10 10:40] #4218 closed

[2016-03-10 20:34] ivanjolic95 commented on #3801
I'm working on an app where I use ember + rails and [JSONAPI Resources](https://github.com/cerebris/jsonapi-resources) gem to handle communication between backend and frontend.

I've put some models in rails in namespaces, like `Itinerary::Item` and so on. For each model I've specified a resource like `Api::V1::Itinerary::ItemResource`. I did the same in ember, I've made models like `itinerary/ite

[2016-03-10 20:36] fivetanley commented on #3801
@ivanjolic95 You can work around this by using http://emberjs.com/api/data/classes/DS.JSONAPISerializer.html#method_modelNameFromPayloadKey for when the request comes in. `payloadKeyFromModelName` will help you serialize it on the way out if you need that behavior.

[2016-03-10 20:43] pangratz commented on #3801
@fivetanley I was gonna suggest something like that. There is also a PR #4194 which is located in the `modelNameFromPayloadKey` space as well. It occurred to me in that PR that the naming for the method is not ideal, well at least not for this use case: it has been originally added to allow overwriting the _key_ which should be used within the hash. But it is already also used within `ember-data`

[2016-03-10 20:49] fernandes commented on #3801
my solution is (using JSON API Resource and rails)

getting @ivanjolic95 names as examples:

[code]

[code]

we are working on a 6+ months project using this schema and everything is going well, the tips are (our internal guidelines, may help someone):

1. forget namespaces!
2. create your API as if you weren't consume it, other people will do
3. add unique resources names to JSON API

[2016-03-11 08:51] stevesims commented on #1945
This would indeed be very useful.
+1 from me!

[2016-03-11 12:18] ivanjolic95 commented on #3801
@pangratz & @fivetanley it worked on the ember side but JSONAPI resources still couldn't recognize the resource from the type. I guess we'll just need to wait till namespacing is fully specified in JSONAPI.

@fernandes yeah I had to use your approach in the end. Thanks!

[2016-03-11 13:11] fernandes commented on #3801
@ivanjolic95 glad it helped.. :bow:

[2016-03-13 12:05] bodinsamuel commented on #4212
Hi again,
I'm uping this. Still trying to achieve this with no succes

thanks

[2016-03-13 14:15] samselikoff opened #4227 "queryRecord doesn't seem to return a fullly hydrated model"
Working on a brand new 2.4 Ember app and I have the following route:

[code]

`model.toString()` suggests I indeed have the model, but `model.get('title')` in `afterModel` (as well as `{{model.title}}` in my template) is blank. However, if I look in the Ember Inspector I see the data is there:

![image](https://cloud.githubusercontent.com/assets/2922250/13729126/f51b1cae-e903-11e5-8126-5f19a4718e2

[2016-03-13 17:09] jsangilve commented on #4186
@James1x0 it's gone from the API, but it seems like the `normalize` method of `DS.RESTSerializer` still uses a `normalizeHash` property:
[code]
If you create a normalizeHash property while extending DS.RESTSerializer, it will work. I just created a PR that only solves the docs issue.

[2016-03-14 01:21] visualjeff opened #4229 "createRecord save is giving me extra record in the client store. A record with a null id."
I'm seeing a duplicate record (with a null id) show up in the client store after successfully performing a createRecord save.  Models within this app are simple and have no relationships.  NOTE: The particular  model that is experiencing the duplicate record issue contains one property that has a datatype of array. An array of strings.

Here is are versions this app is using.

Ember      : 2.4.2
E

[2016-03-14 08:58] sly7-7 commented on #4227
I'm not sure, but I think `queryRecord`expects a single record to be returned from the server.
Maybe I'm missing something, but http://emberjs.jsbin.com/zagohifevu/edit?html,js,console,output seems to work as expected

[2016-03-14 09:15] pangratz commented on #4227
If I recall correctly there was once the implementation where the first item is used, if an array is returned (also see last comment by @bcardarella [here](https://github.com/emberjs/data/issues/3977#issuecomment-163163862)). It looks like this is [no more the case](https://github.com/emberjs/data/blob/v2.4.0/addon/serializers/json.js#L450-L454)...

[2016-03-14 09:17] pangratz commented on #4203
Closing since this has been implemented in #4223

[2016-03-14 09:17] #4203 closed

[2016-03-14 20:48] bmac opened #4232 "Ember Data bower canary build is broken"
Reported by @danmcclain in https://github.com/tomdale/ember-cli-addon-tests/issues/4

Looks like the file published to the bower repo is missing some content.
https://github.com/components/ember-data/blob/canary/ember-data.js#L14890

[2016-03-14 21:12] pangratz commented on #4186
There is [a deprecation warning in `1.13`](https://github.com/emberjs/data/blob/v1.13.16/packages/ember-data/lib/serializers/rest-serializer.js#L199-L202), but it looks like there has been something overlooked when [the deprecation has been removed in `2.0`](https://github.com/emberjs/data/blob/v2.0.0/packages/ember-data/lib/serializers/rest-serializer.js#L124-L126).

---

Since it has been deprec

[2016-03-14 21:23] visualjeff commented on #4229
I've noticed that when I createRecord save that if I includes an id (NOTE: model doesn't have an id  defined).  But I include one anyway.  I avoid the duplicate record showing up in the client store.  Is this true that I need to include an id from the client when creating a new record???  I've never had to do this before in the past?

[2016-03-14 21:37] jsangilve commented on #4186
@pangratz I agree.

I can open a new PR to include the deprecation message and new tests without normalizeHash. I think it should be some like:

[code]

[2016-03-14 22:17] pangratz commented on #4186
@jsangilve I will check the next steps here and get back to you regarding that PR.

But basically it would be [the same as here](https://github.com/emberjs/data/blob/v1.13.16/packages/ember-data/lib/serializers/rest-serializer.js#L199-L202) (also with `id` and `until` in the passed hash). Also the test I mentioned would need to be updated so the deprecation message is checked via `assert.expectDep

[2016-03-14 22:39] visualjeff commented on #4229
I have a model:

[code]

I attempt to createRecord and save this record:

`{"type":"Business Delivery","name":"FE01","title":"FE Manager","groups":"GroupA, GroupB, GroupC"}
`

I call createRecord and Save from my actions hash in the controller:

[code]

Here is what is posted:

`{"data":{"attributes":{"rev":null,"name":"FE01","type":"Business Delivery","title":"FE Manager","groups":"GroupA, GroupB

[2016-03-14 23:03] visualjeff commented on #4229
RESOLVED.

Problem was my post handler in mirage.

It was:

[code]

Its now:
[code]

[2016-03-14 23:03] #4229 closed

[2016-03-15 08:41] pangratz commented on #4209
As pointed out in the linked issue thefrontside/emberx-select#94 the problem is resolved by not setting the value when the component is teared down.

The thrown error about the unhandled `didSetProperty` event is not really a bug, since that's the way how the state machine currently is intended to work: a locally created model, which is rolled back should not be used further.

@Robdel12 I am going

[2016-03-15 08:41] #4209 closed

[2016-03-15 12:53] urbany opened #4233 "DEPRECATION: Usage of `Ember.merge` is deprecated, use `Ember.assign` instead. [deprecation id: ember-metal.merge]"
Hi,
This line seems to be using a method deprecated in Ember@2.5.0-beta.3
https://github.com/emberjs/data/blob/v2.5.0-beta.1/addon/-private/system/store/container-instance-cache.js#L29

Setup:
[code]
jsbin: http://emberjs.jsbin.com/denuwaketa/1/edit?html,js,output

There might be other places where Ember.merge is used.

[2016-03-15 15:29] koreiklein commented on #4144
I have, however, noticed one important caveat:

When using the code in the above gist, if you make two calls to save one right after the next, then the second promise never resolves.

You can fix the problem most simply by removing the check for `hasDirtyAttributes`.

That fix can lead to a some unnecessary POSTs. I don't mind then personally, though I can imagine a more elaborate fix that would s

[2016-03-15 22:08] oshchygol commented on #2905
@wecc
https://guides.emberjs.com/v2.4.0/models/handling-metadata/
this page shows the examples of retrieving metadata with `peekRecord`.

http://emberjs.com/api/data/classes/DS.RESTSerializer.html#method_extractMeta
advises to use a non-existing method `store.setMetadataFor`.

[2016-03-16 09:28] pangratz opened #4236 "Add test for "don't do inverse work" introduced in #4225"
There should be tests around the stuff added by @asakusuma in #4225.

[2016-03-16 09:43] pangratz opened #4238 "Improve CONTRIBUTING.md"
- [x] add section about prefixing commits, similar to [the one in ember.js](https://github.com/emberjs/ember.js/blob/master/CONTRIBUTING.md#commit-tagging) (added in #4244 by @courajs :sparkles: )
- [x] add ember-twiddles for easier reporting of a bug (setup using pretender) (added in #4716 by @pete-the-pete)
- [ ] add note about RFC for requesting a feature instead of opening issue on emberjs/dat

[2016-03-16 13:12] jcbvm commented on #1829
Looks like in 2.4.x we have to find another workaround

[2016-03-16 13:14] pangratz commented on #1829
@jcbvm can you try `canary`? It seems that PR #4154 is not included in `2.4.x` and also not in `2.5.0-beta.1`, but maybe this fixes the issue you're having...

[2016-03-16 13:42] jcbvm commented on #1829
@pangratz nope, issue still exists on canary

[2016-03-16 13:43] pangratz commented on #1829
@jcbvm :cry:, thanks for checking though

[2016-03-16 14:11] steffenbrem commented on #1829
Note that PR #4154 expects you to provide a client side generated id. If you look at the test, https://github.com/emberjs/data/pull/4154/files#diff-f5099af3b5cad3fc343f3f4b73eb3c97R449, you can see that.

This issue is more about what to do with embedded records that had **NO** client side generated id. I am currently not aware of any work for that in core ember data, for now I think the only solu

[2016-03-16 14:20] jcbvm commented on #1829
Just be careful for nested embedded relationships where save is not called on the model which has the embedded relationships, but a parent one. We have to do the workaround recursively.

[2016-03-16 14:31] bcardarella opened #4239 "Why is ember-data forcing absolute URL?"
https://github.com/emberjs/data/blob/master/addon/-private/adapters/build-url-mixin.js#L103-L105

My use-case

I am building an Elixir application that is meant to be used by other applications. The application contains an endpoint and a simple API that serves up a pre-built ember app for the purposes of a dashboard. My application can be served on any namespace within the parent's router, so know

[2016-03-16 15:16] bcardarella commented on #4239
If nobody is opposed I'd like to PR a `relative` flag that can be used to override the current behavior. The default would stay as absolute.

[2016-03-16 15:22] bcardarella commented on #4239
Via Slack
![screen shot 2016-03-16 at 11 22 12 am](https://cloud.githubusercontent.com/assets/18524/13817646/5ced10aa-eb69-11e5-8755-992d26742e8c.png)

[2016-03-16 15:23] bcardarella commented on #4239
This seems to be the best explanation and I don't think it makes sense for me to pursue this. Closing, thanks @bmac!

[2016-03-16 15:23] #4239 closed

[2016-03-17 19:44] psteininger commented on #2162
@tomdale @igorT has this been resolved in 2.0+ ? I have a use case where the nested route produces aggregate level data, from a large dataset.
[code]

[2016-03-18 00:31] acorncom commented on #4161
Seems related to #2905, where there is ongoing discussion of the same issue.  I just ran into this issue myself and would love to help (possibly with updating guides once the code has been written?)

[2016-03-18 14:37] courajs commented on #3705
I'd be interested in taking a stab at this. I propose the following:
- We add `model.rollbackAttribute('attr')`.
- This should be equivalent to `model.set('attr', originalValue)`. That is, it should update `isDirty` appropriately, but would not roll a newly created record back into a deleted state. It would be very confusing to change the state of the record based on whether other attributes have

[2016-03-18 14:59] Panman8201 commented on #3705
@courajs I'd still love to have this feature. While I'm not part of the ember-data team at all, I wouldn't mind if you took a stab at it!

[2016-03-18 15:15] courajs commented on #4238
Can we just copy in the section on commit prefixing (and credit at the end)? Are there any differences?

[2016-03-18 15:17] pangratz commented on #4238
They are basically the same. I think it is ok to copy them (cc @rwjblue @bmac).

[2016-03-18 16:21] #4170 closed

[2016-03-18 18:23] courajs commented on #4238
- [ ] Add section about wrapping new feature work in a feature flag (?)

[2016-03-20 11:49] oskarrough opened #4251 "Uncaught Error: Could not find module `-private/system/references/record`"
Hi, I'm getting this error in production builds only with ember-data 2.4.2, ember 2.4.3 and ember-cli 2.4.2.

`Uncaught Error: Could not find module `-private/system/references/record` imported from `ember-data/-private/system/references``

Related: https://github.com/emberjs/data/pull/4248#issuecomment-198816278

[2016-03-20 15:43] zion03 opened #4252 "belongsTo is empty using JSONAPISerializer"
I can't understand what wrong with JSONAPIAdapter, but my `relationships` does not set into model.

Versions:
` Ember             : 2.4.1`
`Ember Data        : 2.4.0`

I have two model with belongsTo:

      /models/user.js
      export default DS.Model.extend({
      });

and

      /models/chat.js
       export default DS.Model.extend({
         userOne: DS.belongsTo('user'),
         userTwo: D

[2016-03-20 23:54] fivetanley commented on #4252
I think the JSONAPISerializer expects `dasherized` names by default. You can override `keyForRelationship` like so:

[code]

Here's the API documentation: http://emberjs.com/api/data/classes/DS.JSONAPISerializer.html#method_keyForRelationship

Please let us know if that fixes your issue.

[2016-03-20 23:54] fivetanley opened #4253 "JSONAPISerializer should warn when not dasherized key names"
refs https://github.com/emberjs/data/issues/4252

This seems to be a common source of confusion. I wonder if we can warn for this in development mode.

[2016-03-20 23:55] fivetanley commented on #4251
Can you post your `bower.json` and `package.json`? Usually these kind of errors are loader.js related, but I wouldn't be surprised if something in ember-data isn't working correctly around feature stripping.

[2016-03-20 23:58] fivetanley commented on #4232
I'm confused, what is missing here?

[2016-03-21 00:03] fivetanley commented on #4181
Can you open a new issue for

on https://github.com/ember-data/active-model-adapter ?

[2016-03-21 01:07] fivetanley commented on #4181
@kaukas I think I have figured out some issues with EmbeddedRecordsMixin on the ActiveModelAdapter on a related issue https://github.com/ember-data/active-model-adapter/issues/76

[2016-03-21 02:21] agrobbin commented on #4199
@pangratz I could definitely be doing something wrong, but I am getting this same output in a development console for Ember 2.4.2:

I have npm-git-info 1.2.0 installed:

[code]

[2016-03-21 03:45] samselikoff commented on #4227
Ah I see, ok closing for now. Thanks!

[2016-03-21 13:49] bmac commented on #4232
When I looked several days ago it appeared the last 1/4th of the file was missing. I can no longer reproduce the issue now.

[2016-03-21 13:49] #4232 closed

[2016-03-21 15:14] oskarrough commented on #4251
Sure, I left all the dependencies in as well.

- package.json: http://pastie.org/private/aitrqoisgh1hitcvwzv6eq
- bower.json: http://pastie.org/private/ijynykzs5gg29rc9ifadq

[2016-03-21 15:45] floqqi commented on #4251
[code]

works for me. Did you clear your cache using `npm cache clean && bower cache clean`?

[2016-03-21 16:14] nybblr opened #4254 "Question: Updating hasMany relationship with *only* records returned from server?"
I have an API that returns a JSON API payload that includes several sideloaded associations. One in particular is a has many (a tree-like structure).

[code]

The server automatically sends **all** of the `subdigests` in the has many: it includes the list in relationships, and sideloads them. Occasionally, one of those will be deleted on the server, but reloading from the frontend only accumulates

[2016-03-21 16:36] pangratz commented on #4199
@agrobbin looks like this issue still exists :disappointed: reopening and will take a look...

[2016-03-21 17:24] nybblr commented on #4254
Hmm, it appears I was half lying. It does appear that the "hasMany" relationship is updated to exactly reflect what's returned by the server, but I wasn't observing the correct property. I still don't have a way to unload stale relationships from the store, but that isn't an issue anymore so :+1:

[2016-03-21 17:24] #4254 closed

[2016-03-21 19:53] oskarrough commented on #4251
Clearing the npm cache did the trick. Sorry and thank you!

[2016-03-21 19:53] #4251 closed

[2016-03-21 20:48] zion03 commented on #4252
yep, my fault, it's works. Thanks!

[2016-03-21 20:48] #4252 closed

[2016-03-21 21:13] MarkMT opened #4255 "queryRecord returns array, expect single record"
According to the description of `queryRecord` in the [guides](https://guides.emberjs.com/v2.4.0/models/finding-records/)  (emphasis added) -

However what I'm seeing in practice is that the return value actually resolves to an _array_ with as many elements as fit the query (and it appears to be a regular javascript array not an Ember.Array). So if I want to use the method in a model I have to do s

[2016-03-21 21:19] MarkMT commented on #4255
Seems similar to #4227 but I don't think the discussion there resolves my concern.

[2016-03-21 21:29] MarkMT commented on #4255
Hmm, looks like I'm on ember 2.3. Maybe that's what the difference is.

[2016-03-21 21:42] MarkMT commented on #4255
Nope. Just upgraded, same behavior.

[2016-03-21 21:50] pangratz commented on #4255
What does your response look like?

[2016-03-21 22:07] MarkMT commented on #4255
If I add this to my model hook:
[code]
I get this in the console:

[code]

[2016-03-21 22:11] pangratz commented on #4255
I mean what does your server return when `this.store.queryRecord('person', { ... })` is invoked?

`store.queryRecord` expects the server to return a single resource. I looks like the response in your case is an array. If your server returns an array, you should use `store.query` instead:

[code]

[2016-03-21 22:14] MarkMT commented on #4255
Sorry... the server returns an array even if there is only one element (which it is). It's a vanilla rails 5 api server.

[2016-03-21 22:24] #4219 closed

[2016-03-21 22:26] MarkMT commented on #4255
If an array is the intended result when the server returns a one element array (a) the method doesn't seem quite as useful as I'd hoped and (b) the guides are a little misleading and I'll file an issue there.

[2016-03-21 22:49] pangratz commented on #4227
@samselikoff what adapter are you using? I assume `JSON-API`?

[2016-03-21 22:50] MarkMT commented on #4255
Incidentally, the server request that is fired by `queryRecord` is to plural route `/persons?filter%5Bname%5D=foo`, which seems to imply that a set of records is expected.

[2016-03-21 23:14] samselikoff commented on #4227
Yep

[2016-03-22 07:56] #4233 closed

[2016-03-22 09:38] urbany commented on #4255
I think JSONAPI urls always use the plural form of the resource name. The [filter spec](http://jsonapi.org/format/#fetching-filtering) does not indicate a way to query just one result so it seems normal for Rails to respond with an array.

Maybe it the best thing here would be for Ember to do the following for queryRecord:
* If data is a resource: return the resource
* If data is an array && lengt

[2016-03-22 11:01] MarkMT commented on #4255
@urbany I agree. That's consistent with what I imagined it would do and I think it would make the method more useful than it is at present.

[2016-03-22 15:33] bmac commented on #4219
This fix has been released as Ember Data `v2.4.3`

[2016-03-22 15:56] timmyomahony commented on #1326
Another request for this feature. A common example is when you need to pass extra data to the server to annotate the result coming back. In my case, I want to annotate the distance to the returned object from the user's position (passed by query params)

[2016-03-22 16:48] batjaa commented on #4161
Having the same issue with not being able to customize meta data. Any updates on this?
Would like to be able to serialize the meta data.

[2016-03-22 18:02] pangratz commented on #4236
Closing since #4247 has been merged.

[2016-03-22 18:02] #4236 closed

[2016-03-22 18:09] bmac commented on #4212
Hi @bodinsamuel. Currently the `JSONAPISerializer` and the `EmbeddedRecordsMixin` do not work together. This is because the today the JSON API spec doesn't specify how an embedded record should be formatted so there is no way for Ember Data to implement this now without risking a backwards incompatible change in the future. There is an [active issue](https://github.com/json-api/json-api/issues/795

[2016-03-22 18:09] #4212 closed

[2016-03-22 18:13] bmac commented on #3720
I have opened a pr so Ember Data will warn in the future when `JSONAPISerializer` and `EmbeddedRecordsMixin` are combined. https://github.com/emberjs/data/pull/4259

I don't think `JSONAPISerializer` and `EmbeddedRecordsMixin` will work together out of the box until JSON API has a more detailed specification on how it supports embedded records. https://github.com/json-api/json-api/issues/795

[2016-03-22 18:39] pangratz commented on #4186
@jsangilve I am very sorry, but I completely forgot to get back to you here :cry: In the meantime this has already been addressed in #4258.

[2016-03-22 19:46] jsangilve commented on #4186
No problem @pangratz. Just let me know if the deprecation path discussed above is approved. I'll be more than glad to PR with new tests.

[2016-03-22 19:49] jsangilve commented on #4186
@pangratz Oh, now I see it has been already fixed. Awesome!

[2016-03-22 20:25] pangratz commented on #4199
@agrobbin what version of `npm` and `node` are you using? Also, what does your `package.json` look like?

[2016-03-22 20:38] agrobbin commented on #4199
[code]

My `package.json` looks like:

[code]

[2016-03-22 23:58] mdehoog commented on #4157
+1 for supporting for pagination/querying of linked has-many relationships.

@Finhas in the meantime, you could try this addon: https://github.com/mdehoog/ember-data-has-many-query, it provides a separate `query` method for querying hasMany relations.

[2016-03-23 09:32] nicolas-dular opened #4261 "BackgroundReload also for query"
In our app we just added a search & pagination function to most of the sites. This means we can't use `findAll()` anymore and instead use `query`. But this also means we can't have the nice background-reload behaviour and so we lose a lot of the end-user performance.

I know that it makes sense for `query` to have no caching behaviour, but as in our case (and I guess many more) it would increase p

[2016-03-23 15:24] stevesims opened #4262 "pushPayload/save can create duplicate records in the store"
I'm working on an app that uses websockets to push out changes from a server to multiple clients, keeping them in sync.  (Specifically the server uses Rails Action Cable, and the client subscribes to channels it wants to receive updates on.)  Data updates are sent down the socket/channel in JSON-API format, thus the clients simply call `this.store.pushPayload(data);` to update themselves.

On the

[2016-03-23 15:27] fivetanley commented on #4262
Is there a way to break this down into runnable code to debug? I don't think I've seen same IDs create duplicate records, so it would be great to have some code as a starting point to determine when this is happening.

[2016-03-23 15:28] fivetanley commented on #4262
JSBin is a great place to start; you could mock the websocket using setTimeout/etc. http://emberjs.jsbin.com/nunico/1/edit?html,js,output

[2016-03-23 15:36] fivetanley commented on #4262
Also does the record have an id already when you are calling save?

[2016-03-23 15:45] stevesims commented on #4262
Not really sure how I could simulate this in JSBin - I know that this is happening when the `pushPayload` from the socket occurred before the record's `save` promise resolves simply through putting in `console.log` statements.  To mock this out I'd need to simulate both the websocket and also a server receiving the ember-data `save`.

To answer your question, no, as it's a newly created record the

[2016-03-23 17:28] cmccand commented on #3805
Anyone have any fixes for this?

[2016-03-24 10:01] kaukas commented on #4181
@fivetanley, thank you for the effort. However, I can not test your changes at this point. I believe you can close this issue since I can not follow up on it. In case I can in the future I will re-open this or another issue.

Thank you!

[2016-03-24 10:16] duizendnegen commented on #4115
Any update @wecc @bmac, especially considering the workaround doesn't work with 2.4.x anymore?

[2016-03-24 14:55] sparkrevolutions commented on #1849
+1

[2016-03-24 15:36] workmanw commented on #1849
We actually do this now by implementing a custom adapter which models a [fork-join queue](https://en.wikipedia.org/wiki/Fork%E2%80%93join_queue).

`<braindump>`

  The TL;DR; is that when `updateRecord` is called on the adapter we create a "work-item" and push it into a work queue. The "work-item" has the serialized record, the record type, the id and an instance of `Ember.RSVP.defer()`. As for th

[2016-03-24 16:49] mattbearman commented on #3704
I'm still seeing this issue on 2.4.3, doing the following doesn't cause the model to fetch from the API if it's already in the cache:

[code]

At the moment I'm just using the afterModel hook to force a reload, but it would be good to get the reload flag working again.

[2016-03-25 13:34] jevanlingen commented on #3784
I still face one problem with the `type` atrribute. When I tested this back in october, I just checked if no errors occured.

But today I noticed the related link does not work. The serializer should return something like this for an async relation according to the JSON API spec:

[code]

For every other attribute name the JSONSerializer does just that! But in case the `type` attribute is used, th

[2016-03-25 18:21] pangratz commented on #4199
@agrobbin can you also post the contents of `node_modules/ember-data/package.json` in a gist?

[2016-03-26 11:47] kernel-io commented on #4148
I had this bugging me all day! Would be nice to have some more guidance / documentation regarding this    :)

[2016-03-27 01:30] agrobbin commented on #4199
@pangratz I'm really sorry for the false alarm. It looks like because of my dependency being `^2.4.2` and not `^2.4.3`, it was only pulling in version 2.4.2, which wasn't reported correctly. Clearing `node_modules` and forcing 2.4.3+ fixed it for m!

[2016-03-27 08:58] Turbo87 opened #4266 ""serializer" blueprint should support different base classes"
The "adapter" blueprint supports the `--base-class` option and automatically detects if an "application" adapter exists. IMHO the same logic should be reused for the "serializer" blueprint too.

[2016-03-27 09:33] pangratz commented on #4266
This is tackled in #4023. Can you chime in there? Currently the failing test for the serializer prevents that PR from being merged. I think the test is failing because the blueprint from `ember-cli` is used instead of the one provided in `ember-data`...

[2016-03-27 09:33] #4266 closed

[2016-03-27 09:36] Turbo87 opened #4267 ""serializer-test" generates integration test in unit test folder"
I have a serializer that is mainly used for normalization of API responses. The default "serializer-test" however is focused on serializing model records and is actually more of an integration test since it's actually testing the `serialize()` method on the model.

I'm not sure what the best way is to improve the situation here, but I thing that this could probably be improved to be a bit more int

[2016-03-27 09:37] Turbo87 commented on #4266
@pangratz thanks, didn't see that one

[2016-03-27 09:39] pangratz commented on #4266
Yeah, the title of that PR is not that descriptive :pensive:

[2016-03-27 22:46] robguilfoyle opened #4269 "Cannot read property 'container' of null (findRecord)"
I have the store injected into a component and I am doing a very basic `this.get('store').findRecord('site', 1);` command which throws an error. I have recently upgraded from 2.2 to 2.4 so this is a new regression I'm assuming. The error goes into this method telling me the store is undefined:

[code]

I wish I could be of more help with a JS bin and what not but I just don't have time at the mome

[2016-03-27 22:51] bmac commented on #4269
@robguilfoyle what version of Ember Data are you using?

[2016-03-27 22:52] robguilfoyle commented on #4269
2.4.3 for Data and Ember

[2016-03-27 23:43] bmac commented on #3640
Resolved via 8400b9ddbce36f7d93c5b519eda974e46f612fd8

[2016-03-27 23:43] #3640 closed

[2016-03-28 03:00] kernel-io commented on #4216
provided that this is still behind a feature flag, is there any safe way to get only the id of the relationship with 2.4?

[2016-03-28 14:15] Turbo87 commented on #4267
just noticed that there is also an issue with generating an `application` serializer-test, because it depends on `model:application` which obviously doesn't exist.

[2016-03-28 17:02] Asherlc opened #4273 "nested JSONAPI error objects are not deserialized"
Twiddle: https://ember-twiddle.com/f2738639cbb16f33ed16?openFiles=routes.application.js%2C

Ideally, the nested error would be applied to the referenced model, in this case the author. Currently, this omission makes it difficult to do embedded record saving.

[2016-03-28 17:56] pangratz commented on #2819
I am going to close this, as I think this is resolved in [`ember-data v2.x`](https://github.com/emberjs/data/blob/v2.4.3/addon/-private/system/many-array.js#L80-L84) and it has been backported to [`ember-data v1.13.x`](https://github.com/emberjs/data/blob/v1.13.16/packages/ember-data/lib/system/many-array.js#L80-L84).

@hlogmans please feel free to open a new issue if you are still running into th

[2016-03-28 17:56] #2819 closed

[2016-03-28 18:16] pangratz commented on #3784
Can you create an ember-twiddle demonstrating the issue you're having? You can use [this](https://ember-twiddle.com/977d75c718a8cc0c01e5?fileTreeShown=false&numColumns=2&openFiles=application.route.js%2Capplication.template.hbs) as a starting point...

[2016-03-28 18:46] kurko commented on #1849
@workmanw any chance you can opensource that?

[2016-03-28 19:22] alexspeller commented on #4126
it seems like `unloadRecord` doesn't actually destroy the record - no idea if this is intended or not, the workaround is just:

[code]

[2016-03-28 21:12] pangratz commented on #4253
#3455 also seems related

[2016-03-28 21:46] balinterdi commented on #2289
I took a stab at fixing this with #4281.

The suggested fix to use `data[key] === undefined` instead of `!data.hasOwnProperty(key)` did not work because there are a [couple of](https://github.com/emberjs/data/blob/master/tests%2Funit%2Fmodel-test.js#L914) [tests](https://github.com/emberjs/data/blob/master/tests%2Funit%2Fmodel-test.js#L915) that assert that if the key is present but has a value of

[2016-03-28 22:03] mitchlloyd commented on #4126
Perhaps this could be resolved with some updates to the current API documentation which is pretty sparse.

http://emberjs.com/api/data/classes/DS.Store.html#method_unloadAll

[2016-03-28 22:08] blimmer opened #4282 "Serializer blueprint doesn't extend ApplicationSerializer if it exists"
We should do this similar to how the Adapter blueprint works, where it extends ApplicationSerializer if it exists, or use `DS.JsonApiSerializer`.

https://github.com/emberjs/data/blob/master/blueprints/adapter/index.js#L33

[2016-03-28 22:12] bmac commented on #4282
Should be resolved when https://github.com/emberjs/data/pull/4023 get merged.

[2016-03-28 22:14] bmac commented on #4217
Fixed via https://github.com/emberjs/data/pull/4276

[2016-03-28 22:14] #4217 closed

[2016-03-29 07:56] pangratz commented on #2848
Closing in favor of #4175

[2016-03-29 07:56] #2848 closed

[2016-03-29 08:00] pangratz commented on #3870
#3099 has been merged and is available in `canary` behind the `ds-improved-ajax` feature flag.

Having this flag enabled, you can do this in your adapter to make a `PUT` instead of `PATCH`:

[code]

[2016-03-29 08:00] #3870 closed

[2016-03-29 08:01] pangratz commented on #3047
#3099 has been merged and is available in `canary` behind the `ds-improved-ajax` feature flag.

Having this flag enabled, you can do this in your adapter to make a `PUT` instead of `PATCH`:

[code]

[2016-03-29 08:01] #3047 closed

[2016-03-29 08:05] sly7-7 commented on #4269
I've tried to reproduce, with no success. @robguilfoyle Here is a twiddle https://ember-twiddle.com/575952c5d55838cd854f, maybe you could try to take it as a starting point to reproduce your case.

[2016-03-29 08:09] pangratz commented on #3897
I am going to close this as it couldn't be reproduced. @elwayman02 feel free to reopen if you still experience this issue.

[2016-03-29 08:09] #3897 closed

[2016-03-29 08:14] pangratz commented on #3188
Should be fixed by #4268.

[2016-03-29 08:14] #3188 closed

[2016-03-29 08:42] pangratz commented on #3727
I am closing this as it couldn't be reproduced. @shaunc feel free to reopen if you still experience this issue!

[2016-03-29 08:42] #3727 closed

[2016-03-29 11:36] orestis opened #4285 "JSONAPI store.normalize doesn't accept "data:{}" format"
I thought there was a bug in normalize, but @wecc pointed to me that store.normalize expects its payload to _not_ be wrapped in a `data:{...}` block. Passing it a JSONAPI server's response directly results in a weird exception when trying to deCamelize.

I believe there should either be a warning when the data seems not-correctly structured, or since the usefulness of being able to pass an unmodif

[2016-03-29 12:41] kernel-io commented on #4273
have just run into this issue myself. possibly I could fix this in a model specific serializer?

[2016-03-29 13:47] toobulkeh commented on #1443
For posterity, whatever happened to "async as default" as discussed above?

[2016-03-29 13:53] pangratz commented on #1443
@toobulkeh relationships are `async` by default in `ember-data` since `v2.x` (if I am not mistaken), see #3366.

[2016-03-29 16:07] bmac commented on #4269
@robguilfoyle shared this stack trace with me over slack.
[code]

I was also unable to reproduce but the issue looks like the error is happening as when Ember is trying to copy the `container` property from one class prototype to another.

[2016-03-29 17:03] robguilfoyle commented on #4269
Here is a closer example. I am on a bit of a time crunch so I have ot finished the method, i ended up having to roll back to ED-2.2
https://ember-twiddle.com/575952c5d55838cd854f?openFiles=components.my-component.js%2C

[2016-03-30 12:35] balinterdi commented on #2289
I discussed this with @stefanpenner and @bmac at EmberConf and Stef suggested that, since the current fix might actually not improve performance, I look at the tests that fail when I applied the simple property lookup solution (suggested above by Brendan).

More precisely, we don't need to test if `undefined` is ever deserialized (transformed) to anything since `undefined` is not a valid value in

[2016-03-30 12:37] balinterdi commented on #2289
@stefanpenner @bmac How should I go about this? Should this issue be reopened and then another PR submitted with the solution suggested in my previous comment?

[2016-03-30 17:33] pangratz commented on #4207
Looks like this is the intended behavior by jQuery: https://jquery.com/upgrade-guide/1.9/#jquery-ajax-returning-a-json-result-of-an-empty-string.

[2016-03-30 17:48] pablobm opened #4289 "Strange behaviour of `deleteRecord` after validation error"
I'm seeing a strange behaviour that might be a bug. `Model#deleteRecord` removes the record from the store, unless there has been an **unsuccessful** attempt to save it.

To reproduce in an app, first create a record on the store. From there, the behaviour of `deleteRecord` varies depending on whether `save` is called on the record or not, and what the result of this was. Presently:

  * No attemp

[2016-03-30 17:58] bmac commented on #2289
@balinterdi feel free to open another PR with the solution from your previous comment.

[2016-03-30 18:04] pangratz commented on #4289
Looks somewhat related #3688.

[2016-03-30 23:57] bmac commented on #4207
Closed via https://github.com/emberjs/data/pull/4290

[2016-03-30 23:57] #4207 closed

[2016-03-31 09:59] pangratz commented on #4285
There was a PR which introduced `store.normalizePayload` #3838, but it has been closed since we thought that the `ds-return-payload` feature would be sufficient.

Can you outline the use case for which you would a method, which normalizes the payload but does not push it into the store?

[2016-03-31 10:29] pablobm commented on #4289
I have observed #3688 in my app too. That issue can be split into two concerns: on one hand the one I describe above, and other other hand the bogus `DELETE /resource` request.

[2016-03-31 11:39] pablobm commented on #4289
I can reproduce with Ember Data 2.0.1. Doesn't happen with 1.13.15.

I wonder if the "Breaking change" introduced in Ember Data v2.0.0-beta.1 has something to do with any of this: https://github.com/emberjs/data/releases/tag/v2.0.0-beta.1 However, I don't see how that would affect records marked as invalid, but not valid ones.

[2016-03-31 12:02] orestis commented on #4285
That is a fair question - I don't have an answer. This mainly stem because my back-end always wraps things with `data`. The documentation states:

And adds the example that I missed all along (that you have to extract `.data`). This is more a documentation issue now, because I'm not sure where I could get some payload that a) needs normalization through the adapter and b) doesn't come from my back

[2016-03-31 12:38] balinterdi commented on #2289
@stefanpenner @bmac I started removing the test cases that assert that setting a DS.attr to undefined results in the attribute's value to be null (for string and number attrs) or false (for Boolean) values but it occurred to me that attributes cannot only be set from server responses but also directly, in user code (e.g `user.set('profession', undefined)`)).

[The tests](https://github.com/emberjs

[2016-03-31 13:17] stefanpenner commented on #2289
if they explicit set to undefined, we could detect and go down the sentinel internal value path i talked about. (im not totally sure that would work in this case, but maybe worth exploring)

[2016-03-31 14:30] GramozKrasniqi opened #4291 "RestAdapter Ajax Global error handling"
Created a global error handler for a ember app on the RestAdapter so i overwrote the ajax function:
`ajax: function ajax(url, type, dataObject)
...
var options = adapter.ajaxOptions(url, type, dataObject);
options.success = function (resultJson, statusText, jqXhr) ...
options.error = function (jqXhr, statusText, errorThrown)`

inside the options.error i call
 `ajaxError: function ajaxError(jqXhr)

[2016-03-31 15:08] jevanlingen opened #4292 "Known belongsTo ids cannot use a link in a RESTSerializer"
In a 'normal' situation there are two possibilities to obtain a belongsTo relation when using the RESTSerializer:
1.  Add the relation id to the response of owner object; Ember will automatically fetch the model by `/name-of-model-plural/{:id}`.
2. Add a `links` object in the normalize function of own created serializer to obtain the data. Ember will fetch the model by given link.

So far, so good

[2016-03-31 15:11] jevanlingen commented on #3784
I was wrong about this. After creating the Twiddle, I understood my problem was of a different kind. The `type` belongsTo relationship did work in itself, it was another issue i ran into. See #4292!

[2016-03-31 15:11] #3784 closed

[2016-03-31 15:26] pangratz commented on #4292
It looks like this is currently the actual [expected behavior](https://github.com/emberjs/data/blob/b3eb9c098ef8c2cf9ff3378ed079769782c02bb5/tests/integration/relationships/belongs-to-test.js#L1021-L1055).

As a workaround you can use the `ds-references` feature (currently available in `2.5.0-beta-1`) and reload the `type` relationship of the file (see [this updated ember-twiddle](https://ember-tw

[2016-03-31 15:33] bmac commented on #4292
@wecc Do you remember why we made it work this way?

[2016-03-31 15:35] pangratz commented on #4292
Looks like this has been introduced in #3762. Also maybe related to last commend by @wecc [here](https://github.com/emberjs/data/issues/4099#issuecomment-173026640).

[2016-03-31 15:52] bmac commented on #2289
I believe the relevant code that we care about in this issue https://github.com/balinterdi/data/blob/c2839ac545b25c22c8dc51387761874d9ecdc781/addon/serializers/json.js#L196 only runs when "deserializing" data provided by the server. Ember Data takes another code path when it serializes user provided data (e.g. `user.set('profession', undefined)`)  https://github.com/balinterdi/data/blob/c2839ac545

[2016-03-31 15:53] wecc commented on #4292
IIRC the original reason why local data has precedence over links is so that `included` resources will be utilized. I haven't looked into the details enough but I think we're unable to tell the difference between a resource identifier only and resource identifier where it's "owner" is available in the store.

As I'm typing this I kind of want to remember that [this](https://github.com/wecc/data/co

[2016-03-31 15:55] pangratz commented on #4292
@jevanlingen another workaround is to update the `normalize` of your file serializer to only specify the link for the `type` relationship, and delete the `type` (aka the id for the type relationship):

[code]

[2016-03-31 16:03] bmac commented on #4292
@wecc based on what you are saying it sounds like it should be possible for Ember Data data to use `findBelongsTo` in the case where there is an id but no record for that id is loaded into the store.

[2016-03-31 16:07] bmac commented on #4291
Hello @GramozKrasniqi. I don't quite follow the issue would you mind creating a [jsbin](http://emberjs.jsbin.com/nunico/1/edit?html,js,output) or https://ember-twiddle.com/ that demonstrates the issue?

[2016-03-31 16:15] wecc commented on #4292
@bmac yeah, it should be possible. I'm trying to find the code I did to make that test I linked pass, I suspect it should solve this issue too, but no luck :(

[2016-03-31 16:23] bmac commented on #4289
Hi @pablobm this was an unintentional bug introduced by the change that resulted in unsaved deleted records are no longer removed from the store. Working on a fix now.

[2016-03-31 17:08] bmac commented on #4261
Hi @nicolas-dular. I marked this issue for for discussion at the next Ember Data weekly meeting.

[2016-03-31 17:50] stefanpenner commented on #2289
some good news: https://chromium.googlesource.com/v8/v8.git/+/bc8f9a78f05c7a9dce0a112835d797d8082749eb (so the future may be faster, but we should still do this).

[2016-03-31 18:09] bmac commented on #4273
@kernel-io if you get around to implementing hasMany I would be interested in a pr that adds this functionality to Ember Data.

[2016-03-31 18:15] bmac commented on #4285
@wecc what are your thoughts on the idea of making normalize smart enough to unwrap the object from if its nested under a `data` key?

[2016-04-01 06:55] jevanlingen commented on #4292
Thanks for all the comments, for now I will use the latest workaround @pangratz  mentioned. I am still looking forward to a final solution from Ember Data Team :).

[2016-04-01 07:14] akila1996 opened #4294 "Ember model.changedAttributes for unsaved record is not giving the default value."
For an unsaved record with changed attributes , when used model.changedAttributes, the object returns the old value as undefined. Instead the old value should be the default value.

Hers is an example of the scenario.
https://ember-twiddle.com/?openFiles=controllers.application.js%2C

[2016-04-01 07:18] pangratz commented on #4294
Oops, looks like you forgot to save the twiddle. Be sure to login into ember-twiddle and save via `File -> Save to GitHub Gist`

[2016-04-01 07:20] akila1996 commented on #4294
I am really sorry.

https://ember-twiddle.com/3708dd8efb25d6513f2125ef8b040b48?openFiles=controllers.application.js%2C

[2016-04-01 07:27] pangratz commented on #4294
@akila1996 don't worry and no need to apologize :wink:

I will take a look later but on a first sight this looks like a bug. Thanks for reporting!

[2016-04-01 07:34] GramozKrasniqi commented on #4291
Sorry @bmac it seems that it wasnt an issue but just a mistake.
But thank you for your support.

[2016-04-01 07:39] pangratz commented on #4291
Thanks for the heads up @GramozKrasniqi.

[2016-04-01 07:39] #4291 closed

[2016-04-01 11:04] pangratz commented on #4294
Look related to #2566

[2016-04-02 10:38] zion03 opened #4296 "Checking if hasMany (by link) was loaded without requesting"
Probably it's a duplicate question but I can't find answer. What it's proper way to checking if hasMany (by link) was loaded without requesting?

Currently i try to use :
[code]
So solution looks like not good.
**Question**: is this code a normal solution and do you planning integration this login to API

Thanks!

[2016-04-02 11:18] sly7-7 commented on #4296
For now it should be possible use the `ds-references` feature flag. See  https://github.com/emberjs/rfcs/blob/ce19612e447e0ec393f842bfb31add96edaba9a1/text/0057-ember-data-reference-unification.md for more details. You should be able to do `record.hasMany('replies').value === null` to see if it's loaded or not.

[2016-04-02 11:30] pangratz commented on #4296
Yes, as @sly7-7 said, references is the way to go here.

[2016-04-02 11:30] #4296 closed

[2016-04-02 12:44] zion03 commented on #4296
How to deal with this in model directly I trying execute this in model (Ember Data        : 2.4.0)
[code]

Receive this error: `Uncaught Error: Assertion Failed: The `hasMany` method is not available on DS.Model, a DS.Snapshot was probably expected. Are you passing a DS.Model instead of a DS.Snapshot to your serializer?`

[2016-04-02 12:56] sly7-7 commented on #4296
You have to enable the `de-references` feature flag in your config/environnement.js file (assuming you're using ember-cli. see https://guides.emberjs.com/v2.4.0/configuring-ember/feature-flags/#toc_enabling-at-runtime

[2016-04-03 03:37] acorncom commented on #3463
Looks like this issue can be closed?

[2016-04-03 03:45] #3463 closed

[2016-04-03 08:30] balinterdi commented on #2289
@bmac I checked and `applyTransforms` is only called from the `normalize` method of the json and the json-api serializers. Is that the same thing as you suggest?

@stefanpenner I don't see the value in allowing users to set attribute values (of type string, number and boolean) to `undefined` to end up with a null value but I guess that this has worked before so regressing on this can potentially b

[2016-04-03 22:24] kernel-io commented on #4273
turns out I don't have any clue on how the JSONAPI error spec would work for a nested hasMany payload. Any clues? Can't find any documentation regarding it, #jsonapi irc is dead :8ball:

[2016-04-04 08:37] pangratz commented on #4213
This has been fixed upstream by open source hero @rwjblue in emberjs/ember.js#13239.

[2016-04-04 08:37] #4213 closed

[2016-04-04 13:40] bmac commented on #2289
Yes, `normalize` is used when reading data in from the backend. `serialize` is used when sending data out to the backend.

[2016-04-04 19:42] lalitindoria commented on #1913
Do we have any method to `reload()` a collection of models? Running a `forEach` loop on the collections is not the best way though. Thoughts?

[2016-04-05 04:07] youroff opened #4298 "Validation errors for hasMany records"
I tried to ask it on so and ember discuss, but no answers.

What would be the way to process errors from the back-end related to hasMany relationships? I'm trying to create a record with associated records in one request. In case if some of nested records have validation errors, I'd like to access appropriate errors on that record. I'm using json-api adaptor, so what should be the format of errors

[2016-04-05 11:40] sly7-7 commented on #1913
For now, we can manually reload a hasMany, also the hasMany (via link) is automatically reloaded if the link is updated.
The reload of a belongsTo is currently possible using the `ds.references` flag https://github.com/emberjs/data/blob/3e32efe8d6c0a062df9fd8314229a2575ee596a7/tests/integration/relationships/belongs-to-test.js#L1193.

I'm not sure we want to trigger an automatic reload of all reco

[2016-04-05 13:34] sly7-7 commented on #4199
@pangratz if that could help:
node: `v5.2.0`
npm: `3.8.5`

[ember-data's package.json](https://gist.github.com/sly7-7/5221a7e0550caa4f782cf9219d2b016b)

Ember 2.3.2
Ember Data 2.4.3+a3e2521f85

[2016-04-05 13:50] sly7-7 commented on #4199
Seems weird, since from cli:

[code]

[2016-04-05 15:23] sly7-7 commented on #4199
Maybe https://github.com/tricknotes/npm-git-info/pull/4 could fix this (I don't know I could try this locally)

[2016-04-06 02:23] kernel-io commented on #4298
I have written support for belongsTo errors, but I am stuck on the same issue you have (what is the expected format on the JSON pointer), once I get that figured out, I will write hasMany support.

https://github.com/emberjs/data/issues/4273#issuecomment-205066538

is this:
   "pointer":"data/relationships/steps/:id/data/attributes/est_threshold"
the correct format per jsonapi spec?

[2016-04-06 03:22] kernel-io commented on #4273
so here is it with hasMany support, code will probably need some cleaning up, and DRY'ing to make it look like part of ember data.

this expects a response from the server like this:
<img width="1003" alt="screen shot 2016-04-06 at 1 21 27 pm" src="https://cloud.githubusercontent.com/assets/1523960/14304922/8bae2932-fbfa-11e5-8a88-7d91af3684fd.png">

[code]

[2016-04-06 03:49] youroff commented on #4273
Does it peek record by id? But in case of saving related hasMany records there's no ids, however order is preserved as far as I can tell. Also add on errors is deprecated, not sure if there's another way of adding errors.

[2016-04-06 03:53] youroff commented on #4298
I'm not sure if json-api spec even covers that. But it says that pointer points at json path in payload, so in case of embedded records mixin it would look like the above. After some experiments I ended up with mixin like this:
[code]

It seems to work, except in doesn't drop invalid status on nested models if they were invalidated.

[2016-04-06 09:21] kernel-io commented on #4273
yeah I have no clue on the proper way to add errors these days, documentation is hidden somewhere....
I have client generated id's, so yeah.... Any way you can think of to handle it if you don't have client generated id's?

[2016-04-06 13:13] trevorrjohn opened #4302 "Options not passed through to adapter"
I have this interesting use case where I have two routes that return the same model. For example: `/posts` and `/archived`, both return an array of `Post`. I was hoping to implement the logic in my adapter such that I would switch the url based on the options I passed into the store, something like `DS.Store.findAll('post', { archived: true })` then in my adapter I would have something like

[code

[2016-04-06 13:32] sly7-7 commented on #4302
It looks like the snapshotRecordArray should have the options, as `adapterOptions`property: see https://github.com/emberjs/data/blob/master/addon/-private/system/snapshot-record-array.js#L53

So you should be able to do:
[code]

Please close this issue if this is working for you :)

[2016-04-06 13:37] trevorrjohn commented on #4302
That is exactly what I was looking for. Thanks!

[2016-04-06 13:37] #4302 closed

[2016-04-06 13:48] pangratz commented on #4302
@trevorrjohn be aware that you need to pass the options to the `findAll` like this:

[code]

See [this twiddle for example](https://ember-twiddle.com/3c418e00c6b209416e7bd9ea3fb83bb7?fileTreeShown=false&numColumns=2&openFiles=application.route.js%2Cadapters.application.js).

---

This definitely needs to be documented better so thanks for opening this issue @trevorrjohn. I will open an issue for t

[2016-04-06 13:51] pangratz opened #4303 "Document `adapterOptions`"
So users don't stumble upon this like #4302. Basically it should be documented like mentioned here https://github.com/emberjs/data/issues/3463#issuecomment-161201716.

[2016-04-06 13:53] trevorrjohn commented on #4302
Thanks, I did notice that. The only issue I am seeing now, is how `Adapter.buildURL` is defined, since the `adapterOptions` aren't passed through into that method, I have to override the full `findAll` method when really only the `buildURL` method needs to change. This is also making me think that this is not the best way to handle this scenario, thoughts?

[2016-04-06 14:05] pangratz commented on #4302
:open_mouth:  looks like the snaphot-array is not passed to [`buildURL` within `findAll`](https://github.com/emberjs/data/blob/8959c4ed43f48e0c473384fa9b6fca58f7e965f8/addon/adapters/rest.js#L461).

Until that is fixed, you could use the following hack as workaround until this is fixed:

[code]

[2016-04-06 14:14] trevorrjohn commented on #4302
@pangratz thanks. I will submit a PR for it, unless someone else is working on it.

[2016-04-06 14:15] pangratz commented on #4302
@trevorrjohn go for it! Thanks!

[2016-04-06 15:31] youroff commented on #4273
Yeah, assuming that it's responsibility of API to preserve order, something like this works for me: https://github.com/emberjs/data/issues/4298#issuecomment-206107864
To make it less hacky, InvalidError needs some apis for nested errors and then we need changes either to `InternalModel` https://github.com/emberjs/data/blob/master/addon/-private/system/model/internal-model.js#L721-L733 or(and) `Sto

[2016-04-06 15:34] youroff commented on #4273
Btw, documentation is generated form code, so it's right there:
https://github.com/emberjs/data/blob/master/addon/-private/system/model/errors.js#L209-L225
http://emberjs.com/api/data/classes/DS.Errors.html#method_add

[2016-04-06 15:52] pangratz commented on #4302
What I meant here and failed to communicate clearly, is that the `snapshotArray` should be passed as the third argument: the third argument of `buildURL` is the snapshot/snapshotArray.

[2016-04-06 16:24] pangratz commented on #4282
#4023 has been merged

[2016-04-06 16:24] #4282 closed

[2016-04-06 17:21] tricknotes commented on #4199
Great thanks for your investigate and nice fix, @sly7-7
Now I released a new version including [your fix](https://github.com/tricknotes/npm-git-info/pull/4) as [npm-git-info@1.0.3](https://github.com/tricknotes/npm-git-info/tree/v1.0.3).
It works fine for me.

Could you someone try it?

[2016-04-06 17:22] sly7-7 commented on #4199
Let's wait a new release of npm-git-info :)

[2016-04-06 17:41] sly7-7 commented on #4199
I just tested with a new ember-cli app, it's working. Having an ember-data dep to `^2.4.2` (wich is the current default blueprint for a new ember-cli app) gives `DEBUG: Ember Data : 2.4.3`.

Closing this issue (hopefully once and for all now ;))

[2016-04-06 17:41] #4199 closed

[2016-04-06 17:45] pangratz commented on #4199
:heart_eyes: merci so much for taking over this and fix this @sly7-7!! Also, thanks to @tricknotes for the fast response, as always :heart:

[2016-04-06 18:13] sly7-7 commented on #4199
You're welcome :) Small bugs like this are fun to fix, and much more easier than `ds-references` feature :wink:

[2016-04-06 19:37] josefguenther opened #4305 "StringTransform converts boolean false to string 'false'"
The String Transform deserializer (and serializer for that matter) allows `false` to pass through; instead of converting it to a blank '' like it does with `null`, it converts it to 'false' (string).

Consider this: server returns a phone number as a string. If the phone is empty, it returns `false`.
[code]

This will preserve the boolean `false` and convert it to a string 'false' instead of conve

[2016-04-07 00:41] sheriffderek opened #4306 "Model blueprint has some trailing spaces that aren't "Suave""
Model blueprint has some trailing spaces that aren't "Suave" https://github.com/DockYard/ember-suave

`disallowTrailingWhitespace: Illegal trailing whitespace at models/xxx.js`

I don't know if it would be any different, but I generated a resource and a model and they were the same

Removing the spaces or the line would do the trick.

Does Ember Data conform to this?

RE: https://github.com/ember-

[2016-04-07 08:02] sly7-7 commented on #3596
@bmac I think this could be closed as 'won't fix, according to [your answer here](https://github.com/emberjs/data/issues/4156#issuecomment-183740105)

[2016-04-07 16:31] danconnell opened #4310 "Can't return null to queryRecord anymore"
Previously on Ember Data 2.3.3, you could have you API return null to a call made by `queryRecord`. Now, on Ember Data 2.4.3, you get this error if you try to do that:

`Assertion Failed: You made a `queryRecord` request for undefinedrecords, with query `[object Object]`, but the adapter's response did not have any data Error: Assertion Failed: You made a `queryRecord` request for undefinedrecords

[2016-04-07 16:48] pangratz commented on #4310
Thanks for reporting this @danconnell. What adapter are you using? Can you provide an ember-twiddle, demonstrating the issue? You can use [this twiddle](https://ember-twiddle.com/300ff114b6fb3a4aa37e99a1c31bbf37?fileTreeShown=false&numColumns=2&openFiles=adapters.application.js%2Capplication.route.js) as a start, it uses the `json-api` adapter. Thanks!

[2016-04-07 16:53] balinterdi commented on #2289
Thought about this some more. The test cases that now fail correspond to the use case where `store.push(store.normalize('person', data))` is called where person has an attribute that is explicitly set to `undefined` in `data`. We agreed this is a non-issue as `undefined` is an invalid value in json and data is supposed to be the serialized data from the server.

So I think it's fair to remove thes

[2016-04-07 16:56] pangratz commented on #4310
Ah now I can reproduce the issue you're having. I had it wrong, and in the twiddle `{ data: null }` is returned which is not the same thing you return I assume.

---

The issue you're having has been fixed in #4256, which is available in `2.5.0-beta.3`. Can you try out that version and confirm that your app is working again?

[2016-04-07 17:08] danconnell commented on #4310
I'm using the rest adapter.

Tested on 2.5.0-beta.3 and it's still broken. Here's a [twiddle](https://ember-twiddle.com/0f48192ecf352f784bca0c7c80626bd8?fileTreeShown=false&numColumns=2&openFiles=adapters.application.js%2Capplication.route.js) using 2.5.0-beta.3.

[2016-04-07 17:27] bmac commented on #2289
Sounds good to me @balinterdi.

[2016-04-07 21:07] pangratz commented on #4310
Looks like this is a regression. There is no assert throwing in [v2.3.3](https://ember-twiddle.com/a32b27014e1241a6f39f406a1381f9cf?fileTreeShown=false&numColumns=2&openFiles=application.route.js%2Capplication.template.hbs) but in [v2.4.3](https://ember-twiddle.com/c2ab0406c5cb7e885e2a2ae36481365c?fileTreeShown=false&numColumns=2&openFiles=application.route.js%2Capplication.template.hbs) there is.

[2016-04-08 00:19] GCorbel opened #4312 "Not able to get errors from the server"
I have a problem when I receive an error from the server, errors are not filled in the model.

At [this line](https://github.com/emberjs/data/blob/master/addon%2F-private%2Fsystem%2Fmodel%2Finternal-model.js#L695), `get(record, 'errors')._add` it gives `undefined`.

Here is what I received from the server

    {errors: [{source: {pointer: "/data/attributes/name"}, detail: "has already been taken"}

[2016-04-08 04:53] balinterdi commented on #2289
Pull request submitted at #4311

[2016-04-08 08:30] sly7-7 commented on #2206
Maybe this one could be really reconsidered if https://github.com/emberjs/data/pull/4313 is merged

[2016-04-08 10:33] GCorbel commented on #4312
Sorry for the inconveniance. The error is due to EmberValidations, Ember-Data is fine so I close this issue.

[2016-04-08 10:33] #4312 closed

[2016-04-08 14:21] Turbo87 commented on #4267
@bmac @pangratz any comments?

[2016-04-08 17:58] Phoxly commented on #3805
Having the exact same issue. It's halted our migration from 1.13 to 2.0.

[2016-04-08 18:30] fivetanley commented on #3805
As a workaround you could override [normalizeFindRecordResponse](https://github.com/emberjs/data/blob/v2.4.0/addon/serializers/json.js#L266) to change it to the expected

[code]

http://emberjs.jsbin.com/cijone/1/edit?html,js,console,output

[2016-04-09 12:19] pangratz commented on #4305
I am inclined to think that this is a special case in your API of handling a `string` attribute. I am also not sure if this should be possible to be configured as an option, as this could lead to more options in the future - things like `{ treatFalseAsEmpty: true }` or `{ treatFalseAsNull: true }` - which would be needed to support all possible cases an API might have.

If there is a special case

[2016-04-09 12:19] #4305 closed

[2016-04-09 13:26] zion03 commented on #4262
+1 I also have the same error.
In my case I wrote additional logic and `pushObject` makes duplicate keys.

[2016-04-09 14:41] pangratz commented on #4261
Hey @nicolas-dular,

this has been discussed this weeks' team meeting. You can use `update()` on the result of a `store.query()`: this will re-fetch the query and update the content of the array with the result. See [this ember-twiddle](https://ember-twiddle.com/09c964f04cdf837c44c61632e3c8b651?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs) for an exa

[2016-04-09 16:04] sfbwalder commented on #2905
@bmac, @wecc, or anyone else,
We would like to use the meta on a single record in the near future.  Before we implement a workaround, could you share the status of any work in progress?  We would like to build from it if possible.  Thanks!

btw - using the high level meta on query is working great.

[2016-04-09 17:18] henrymazza commented on #2905
I'm using a `meta: DS.attr('raw')` on every record. But the thing is
challenging.

There is a difference between a set produced by one or other query. But not
between it's elements. 2 different sets may have different meta on itself,
but as elements may be shared l, the resource meta may be produced by the
first or the second. So 2 queries returning the same element may overwrite
one another.

I d

[2016-04-09 19:11] pangratz commented on #4226
@dgeb can I shamelessly ping you here and get your input on this topic?

[2016-04-09 20:15] #3805 closed

[2016-04-09 21:29] #4289 closed

[2016-04-09 21:29] #3688 closed

[2016-04-10 07:49] pangratz commented on #3455
I am closing this issue since a better documentation for the `keyForAttribute` and `keyForRelationship` hooks has been added in #3531.

[2016-04-10 07:49] #3455 closed

[2016-04-10 12:30] pangratz commented on #4216
As @bmac pointed out, `ds-references` is not yet available in a release of `ember-data`. Currently it's available in `canary` and `2.5-beta` series. It will most likely be included when `2.5` is released.

---

@richmolj this has been fixed upstream in Ember.js, see #4213 for reference.

---

[2016-04-10 12:31] #4216 closed

[2016-04-12 10:16] mapohjola opened #4319 "Validating with DS.Errors"
We are currently using DS.Errors to have a coherent way of showing record errors to a user. The issue https://github.com/emberjs/data/pull/3853 changes the behavior of `add` and `clear` methods on DS.Errors.

Currently we are doing something like this with our validation.
- Trigger validation
- If validation error found use `errors.add(attribute, message)`
- If record has flag `isInvalid`, show me

[2016-04-12 15:24] SpikedKira opened #4321 "model name param to belongsTo not usable"
if I have `foo: DS.belongsTo( 'bar' )` in my model, and my server returns a relationship object with key `foo` that has a data object with key `type` that has value `foos`, then my `bar` explicit is disregarded?

What's the point of this param if you can't tell ember data that your client-side model uses a different name than your server-side model?

The property you are assigning to, in this case

[2016-04-12 15:54] fivetanley commented on #4321
You can override http://emberjs.com/api/data/classes/DS.JSONAPISerializer.html#method_modelNameFromPayloadKey on your serializer (usually application serializer in this case) if you want `foos` to mean `bar`.

[2016-04-12 15:57] SpikedKira commented on #4321
Right, this is my current route.  However, what would be the purpose of the param as clearly documented?

[2016-04-12 16:27] fivetanley commented on #4321
For APIs that don't return `type`, it should assume that to be the correct type. I would expect this to throw an exception for relationships that aren't `polymorphic` though.

[2016-04-12 17:32] SpikedKira commented on #4321
when I removed the type being returned by the server, it errored out on the parse, so it never got to the relationship link.... So that can't be the use case >.>

[2016-04-12 18:42] fivetanley commented on #4321
What does the payload you're sending back look like?

[2016-04-12 19:03] davidpett opened #4322 "babel-plugin-feature-flags name collision in 2.5.1 with fastboot"
When updating to version 2.5.1 and running `ember s` I received the following error:
[code]
After some digging, @pangratz found that because I am using `ember-cli-fastboot` there is a collision in the plugins. You can reproduce the issue with these steps:
[code]

[2016-04-12 19:09] fivetanley commented on #4322
This should be fixed once we change the approach in ember-cli-fastboot https://github.com/ember-fastboot/ember-cli-fastboot/pull/145

[2016-04-13 03:13] rwwagner90 opened #4323 "json-api serializer not updated to work with pushPayload return"
Seems like the feature flag `'ds-pushpayload-return'` was enabled for store.js, as `pushPayload` now returns things.

However, the json-api serializer doesn't seem to have picked up on the flag being enabled, so the return does not work. Note missing a return in this output:

[code]

[2016-04-13 03:40] xomaczar commented on #4294
model.changedAttributes() diffs the "server state" of the model with its "local state". You've created a brand new record that hasn't been saved yet, so as far as ED is concerned all previous attrs are undefined.

The following sample produces similar behavior (not using defaultValue, just instantiating a person model with some default values):
[code]

[2016-04-13 06:03] pangratz commented on #4323
`ds-pushpayload-return` is not yet enabled in the latest release [v2.5.1](https://github.com/emberjs/data/blob/v2.5.1/config/features.json#L5), since there are some concerns about performance implications which need to be resolved first. You can currently use this feature in `canary` channel, by explicitly enabling it.

[2016-04-13 06:39] pangratz commented on #4294
@xomaczar you are absolutely right! Thanks for reminding me how it works :smile:

I've created #4324 to clarify this in the documentation.

@akila1996 I am going to close this issue as it is actually not a bug...

[2016-04-13 06:39] #4294 closed

[2016-04-13 07:22] pangratz commented on #4262
[This ember-twiddle](https://ember-twiddle.com/97ddeca43d6e405ffb5a4356303ade51?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs) demonstrates how it is possible to have duplicates records in the store.

The problem is that `store.push` creates a `DS.Model` and `store.createRecord` creates a `DS.Model` and both have different `InternalModels`, though the

[2016-04-13 09:39] amk221 opened #4325 "modelNameFromPayloadKey doesn't work with sideloaded models"
Please see this [simple example](http://jsfiddle.net/amk221/vjtj757r/)

There are 2 basic models. `Things`, and `Tags`

A payload of `Things` returns the associated `Tags` (and this works fine)

I'm trying to make this work with an alternative payload:

[code]

By returning the new value "somethings" using `modelNameFromPayloadKey` the sideloaded (secondary) data somehow makes its way into the _pr

[2016-04-13 09:47] pangratz commented on #4325
`modelNameFromPayloadKey` is invoked with the `payloadKey` and is called for _every_ key in the payload to resolve the model name. You would need something like this:

[code]

[2016-04-13 09:48] amk221 commented on #4325
Doh, sorry! Thanks for the quick response.

[2016-04-13 09:51] pangratz commented on #4325
No problem! I just checked and this should be documented in the API doc. Do you agree that the documentation is enough, or would it helped if there would be more information about that? http://emberjs.com/api/data/classes/DS.RESTSerializer.html#method_modelNameFromPayloadKey

[2016-04-13 10:02] amk221 commented on #4325
The docs are thorough enough :)

[2016-04-13 10:02] #4325 closed

[2016-04-13 10:23] boris-petrov commented on #4262
+1 I hit the same issue. It would be nice to have a fix for this as soon as possible. Until then, does anyone have an idea for a workaround? I tried unloading the record returned from `save`, however it doesn't seem to fix the problem.

[2016-04-13 11:38] rwwagner90 commented on #4323
Oh okay @pangratz. It appeared to be enabled in store.js and not in the serializer, so I thought there was a disconnect somewhere. I will use canary for now.

[2016-04-13 11:38] #4323 closed

[2016-04-13 12:32] bmac commented on #4319
@tchak I believe you have/had the same use case. What did you end up doing?

[2016-04-13 12:59] tchak commented on #4319
We are still doing it like @mapohjola... I think the only change is the fact that with new behaviour one will need to check `isValid` and `errors.isEmpty`, no?

[2016-04-13 15:51] mmun commented on #4262
cc me

[2016-04-13 15:52] mmun commented on #4262
(Just commenting so I get updates on this)

[2016-04-13 18:36] bttf opened #4326 "Normalizing query objects via adapter; viable options"
We are trying to normalize query params, namely the object keys in the query object, in our adapter. Using ember/ember-data 2.4, JSONAPIAdapter.

It seems like overriding `sortQueryParams` is the best way to do it since 1) it's called by both `query` and `queryRecord` and 2) it is called after `buildURL` so buildURL does not handle already-transformed object keys. [reference](https://github.com/em

[2016-04-13 19:28] rwjblue commented on #4322
https://github.com/emberjs/data/pull/4328 seems like a nice work around for now...

[2016-04-13 21:53] grapho commented on #4326
I can get behind this
I would volunteer to PR if others feel it is useful

[2016-04-13 22:03] goofiw opened #4329 "DS.Store.findAll adapterOptions v2.2"
in order to pass adapter options, I have to pass an object with the name adapterOptions.
i.e.

`this.store.findall('my-model', {adapterOptions: {waka: 'waka'}}`

from the api it looks like I should be able to just pass {waka: 'waka'}

[2016-04-13 22:16] #4322 closed

[2016-04-14 04:12] mapohjola commented on #4319
The new methods will not flag the record `isValid` / `isInvalid`, that is something you can handle on your own with sending `becameValid`/ `becameInvalid`. This is atleast how I understand it. You could also check `errors.isEmpty` if you don't want to mark the record invalid yourself.

I just feel that there should be a public way to work with errors.

[2016-04-14 06:14] wecc commented on #4329
The second argument to `store.findAll()` is `options`. `adapterOptions` is one available option and needs to be wrapped.

Do you have an example of where in the API it looks like you should be able to just pass the `adapterOptions` without wrapping them? We should definitely improve the docs if this is unclear.

[2016-04-14 12:21] pangratz commented on #4310
This has been discussed in the team meeting and the assertion for `queryRecord` should be removed and the old behavior should be restored. This will be tackled in the course of #4300.

[2016-04-14 12:54] danconnell commented on #4310
Sounds good. Thanks for the update :)

[2016-04-14 14:08] pangratz commented on #4174
@dmagunov I cannot reproduce this, see [this ember-twiddle](https://ember-twiddle.com/27258d34264cb8d1314b83fec3e47fea?fileTreeShown=false&numColumns=3&openFiles=routes.application.js%2Cmodels.person.js%2Ctransforms.my-type.js): if you click `update` then the deserialized value from the transform is shown in the template.

I am going to close this issue. Feel free to reopen if you can share some c

[2016-04-14 14:08] #4174 closed

[2016-04-14 14:33] davidpett commented on #4322
To be able to use this fix, do i need to run on master? or will release include it?

[2016-04-14 14:48] rwjblue commented on #4322
Release will include it, but I don't think it's been cherry picked yet.

[2016-04-14 15:01] toobulkeh commented on #51
Are there downsides to including that addon into ember-data core?

[2016-04-14 15:07] toobulkeh opened #4332 "JSONAPI Sparse Fieldset Support"
We have a few use cases where sparse fieldsets would be the ideal situation. Mainly where separating the data into a separate object is too difficult / too much overhead, and where loading all of the attributes in the index collection would be too cumbersome on the server.

To support that, we've used [this addon](https://github.com/BookingSync/ember-data-partial-model).

I would like to propose t

[2016-04-14 18:25] tchak commented on #51
@toobulkeh including properly this kind of functionality in core require to make all attributes accessors async (aka return a promise). This is something that is discussed but have a lot of implications. It could be not too much of a problem once async/await are more wildly used.

[2016-04-14 20:12] davidlormor commented on #3704
Just to add context to @mattbearman's comment - I'm running on canary using JSONAPI adapters/serializers and experiencing the same issue.

[2016-04-14 21:35] pangratz commented on #3704
@davidlormor @mattbearman I cannot reproduce using canary `ember-data`, see [this ember-twiddle](https://ember-twiddle.com/ed4c8c6ff70385b1c2872e9cd71bb324?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs). Can you update the twiddle so it demonstrates the issue you're having? That would be really helpful!

[2016-04-15 00:51] bmac commented on #4332
Hey @toobulkeh. The https://github.com/BookingSync/ember-data-partial-model addon is great.

Unfortunately, I don't think Ember Data will be able to support JSONAPI Sparse Fieldsets any time soon. One of the fundamental assumptions of Ember Data is that every attribute is loaded on the record when the record is in the store. This allows Ember Data to be able to confidently give you a record form t

[2016-04-15 13:44] olivierlesnicki opened #4335 "No way to retrieve a single record by id and pass queryParams"
My API expect the following request
[code]

The `include` query parameter allows the client to specify models to side-load as part of the response.

However this is currently not possible, `findRecord()` doesn't offer query parameters and `queryRecord()` doesn't offer a way to specify id.

[2016-04-15 13:56] pangratz commented on #4335
This has been implemented by the `ds-finder-include` feature, which has been enabled by default in `2.5`. See [this ember-twiddle](https://ember-twiddle.com/5977b76ab51d27ef76da8f306790a9a3?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs) as an example.

Can you clarify that this solves the use case you're having?

[2016-04-15 14:21] davidlormor commented on #3704
@pangratz it seems I can't reproduce on the twiddle...it appears that it may have something to do with the way Ember CLI Mirage is mocking requests. Will do a bit of research today and follow up. @mattbearman - are you using Ember CLI Mirage (or something similar) too? Or are you experiencing the issue w/ actual XHR requests?

[2016-04-15 14:40] pangratz commented on #3704
@davidlormor thanks for the heads up. If this is something mirage related, you can also try to reproduce in canary ember-twiddle, which supports addons now (you could take [this](https://canary.ember-twiddle.com/8f3f95f3485bec5be5acaa21452e71f7?numColumns=2&openFiles=routes.application.js%2Cmirage.scenarios.default.js) as a starting point). I am just saying, don't feel obliged to reproduce it in e

[2016-04-15 14:57] pangratz commented on #3772
Hey @HeroicEric, sorry for the late response :pensive:

I think the case your'e describing is currently handled [here](https://github.com/emberjs/data/blob/v2.5.2/addon/-private/system/store.js#L469-L471): if there is no record, then it is loaded from the adapter and no check for the passed `reload` and `backgroundReload` options are made. This is the current state in the code as of `v2.5.2`. You

[2016-04-15 15:00] sheriffderek commented on #4156
That's a helpful explination @bmac.

I often load all of the data, for a small site in an outer application route. Then, in the sub-routes I peek at the data for pieces / page data / etc - but what I'm curious about is how I would `query` with a `peek` approach - such as by category. I don't want to hit the server _again_ if I already have all of the `post` data.

"Calling store.query() will make

[2016-04-15 15:22] olivierlesnicki commented on #4335
Okay, that's exactly what I was searching for - to bad we're still on 2.4.3 :(

[2016-04-15 15:43] davidlormor commented on #3704
Rookie mistake here - I was passing in the model rather than the ID, which was why the reload option wasn't firing. @mattbearman - could this be your issue as well? Seems like this could be a potential stumbling block (especially for new users). I'll open a new issue to continue discussion around possible API clarifications. Thanks for your help @pangratz!

[2016-04-15 15:55] DLiblik commented on #3704
@davidlormor can you confirm then that using the ID does work as advertised in your environment?

[2016-04-15 16:00] davidlormor opened #4336 "Firing { reload: true } when a model is passed into the route"
I'm not exactly sure if this is an ember core or data issue, but I ended up here by way of #3704. I ran into an issue where I thought that my { reload: true } option wasn't firing from the model hook upon entering a route.  In actuality I was passing the model into the link-to helper, causing the hook not to fire. I realize that this is the desired behavior of the link-to helper (skip the model ho

[2016-04-15 16:03] davidlormor commented on #3704
@DLiblik yes, it works as expected when the ID is passed in.

[2016-04-15 16:47] HeroicEric commented on #3772
@pangratz yes :smile:

[2016-04-15 18:50] pangratz commented on #4335
You can overwrite `adapter#urlForFindRecord`, if you are stuck on `2.4`. See [this ember-twiddle](https://ember-twiddle.com/e45dbbca12cc91532a5f21e280f321eb?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Cadapters.application.js) as a possible solution:

[code]

[code]

[2016-04-15 18:50] #4335 closed

[2016-04-15 18:53] gustavocabral commented on #1540
+1

[2016-04-16 00:03] oswaldoacauan commented on #2905
Any progress on supporting record-level metadata?

And anyone got a workarround to use for now?

[2016-04-16 10:45] pangratz commented on #3704
@davidlormor I am curious on how your method call looked in that situation. Something like `store.findRecord('user', admin)`? I'm asking because maybe there is an improvement for the assertions which can be made here...

[2016-04-16 10:46] pangratz commented on #4336
Hey @davidlormor, I can definitely see how this is a surprising behavior and this should be better documented, as the [current documentation for the `{{link-to` helper](http://emberjs.com/api/classes/Ember.Templates.helpers.html#toc_supplying-a-model) doesn't make it very clear that the `model` hook is not invoked, when a model is specified. There is a [section in the gudies](https://guides.emberj

[2016-04-16 10:46] #4336 closed

[2016-04-17 03:59] kbbpartners opened #4339 "isUpdating is broken since 2.4.3"
Prior to version 2.5.0, we used `isUpdating` to determine the loading state of an ArrayProxy resulting from `findAll`. The reason for using `isUpdating` is that other states, such as `isFulfilled`, were not triggered during background loads.

To be clear, since version 2.5.0, `isUpdating` returns false when it used to return true. It used to return true when: (1) the `findAll` promise was resolvin

[2016-04-17 04:02] jamesdixon commented on #4226
I just ran into this as well and understand where @wecc is coming from with regards to GET requests having no data. However, GET requests can have query parameters that are part of the JSON API spec (`include`, `fields`, etc). In my application, we process those particular query parameters uniquely if the incoming request has a `content-type` of `application/vnd.api+json`. Given that the spec is a

[2016-04-17 16:49] davidlormor commented on #4336
Thanks for your help, @pangratz!

[2016-04-17 16:55] davidlormor commented on #3704
@pangratz - I was calling the method as expected: `store.findRecord('client', params.id, {reload: true})`. As I mentioned, there was nothing wrong with the method call, rather, the fact that the method was located in the route's model hook was causing the method to never be fired. I've opened an issue on the RFCs repo to discuss this further. I think a more declarative syntax between `link-to` and

[2016-04-17 17:00] pangratz commented on #3704
@davidlormor ah, now I see what you meant there. Thanks for the clarification.

[2016-04-17 17:50] BissyQA commented on #4310
same error Assertion Failed: You made a `queryRecord` request for undefinedrecords, with query `[object Object]. Does the issue fixed in 4300? .  Is this alternate way to fix the error ?

because at that time a not very descriptive error You must include an 'id' for undefined in an object passed to 'push' would be thrown if the payload was empty.

[2016-04-18 07:03] jackmatt2 opened #4340 "pushPayload does not respect async hasMany relationships"
ember-data@2.4.0+9f8c40927a

From my own testing, when using `this.store.pushPayload` it does not respect `async` relationships.  When I used `this.store.push()` it works fine.

[code]

[code]

[2016-04-18 08:01] pangratz commented on #4340
Hey @jackmatt2, I cannot reproduce your described behavior.

Can you provide an ember-twiddle demonstrating the issue you're having? You can take
[this ember-twiddle](https://ember-twiddle.com/c04fcdcbfcab53108d326ff641514cd0?fileTreeShown=false&numColumns=3&openFiles=routes.application.js%2Ctemplates.application.hbs%2Cmodels.person.js) as a starting point. Thanks!

[2016-04-18 08:40] mattbearman commented on #3704
I'm passing in the model id, direct from url params and still seeing this issue. I am also using Ember CLI Mirage (0.1.11), but I'm seeing this issue when connecting to an actual database, so I don't think Mirage is the cause.

I'm also using Active Model Adapter 2.1.1, could that be causing this?

[2016-04-18 08:53] pangratz commented on #3704
@mattbearman which version of ember-data are you using? I cannot reproduce with `2.5.2`, see [this ember-twiddle](https://ember-twiddle.com/1a29f35c8823bd423b9deebfec93c8e3?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs).

[2016-04-18 16:50] awochna opened #4341 "Document DS.Store#findAll options"
The documentation for the `findAll` method includes an optional `options` parameter, but doesn't specify what options can be passed for what effect.

I kept trying to figure out why my model wasn't reloading when transitioning to the view route from the index and it took a fair amount of searching to find that there is a `{ reload: true }` option that can be passed.

After digging through the sour

[2016-04-18 16:52] pangratz commented on #4341
Hey @awochna, sorry you stumbled over this. I hope this is better once #4338 is merged...

[2016-04-18 17:17] awochna commented on #4341
@pangratz Thanks! I was just looking at that one. Do you know if there are any other options that the method can receive? If not, your pull request solves this problem perfectly.

[2016-04-18 17:21] pangratz commented on #4341
@awochna there is another option, namely `adapterOptions`, which will be passed, you guessed it, to the adapter. Unfortunately they are also not yet documented, but there is #4303 which tracks that. Also see #4329 for a little explanation on what it is for.

Are you running into a specific issue? What option would you expect to be passable to `store.findAll`?

[2016-04-18 18:58] awochna commented on #4341
The only specific issue I was running into was reloading the model when changing routes. It was hard enough to find that I thought it would be a good idea to know what else can be passed and I couldn't find anything. No specific issue otherwise.

[2016-04-18 19:59] cibernox commented on #4319
♻️ ♻️ ♻️ Consider the environment before printing this message ♻️ ♻️ ♻️

After conversation with @pangratz in slack, I ping @tchak with a use case that can be relevant for many people.

**Note: Examples will use AMS payloads**

#### Save one model along with the models in a hasMany relationship (N levels deep) in one request.
Imagine that you have a complex form like this:

<img width="774" alt="s

[2016-04-18 20:10] tchak commented on #4319
JSON-API error `source.pointer` is what you looking for. The error object part is actually all figured out. Problem is ED do not handle deep pointers right now because there is no consensus on batching format for JSON-API. It is pretty clear that embedding is not going to be supported. Current line of thoughts seems to be "JSON-API operations". I know that @dgeb is working hard on some RFC right n

[2016-04-19 02:03] jackmatt2 commented on #4340
OK, worked it out.  In my real code "apps" was named "ssoApplications".  I mistakenly used the camel case name as the relationship key  "ssoApplications" instead of the dasherized name 'sso-applications'.  It would be great if ember-data was able to warn when an attribute or relationship key is set but does not exist on the actual model.

[2016-04-19 02:03] #4340 closed

[2016-04-19 08:06] pangratz commented on #4340
Ah, ok. Thanks for the heads up. Sorry you bumped into this.

There is a `DS_WARN_ON_UNKNOWN_KEYS` env variable, which, when set to `true`, tells ember-data to log a warning in case a key on the payload doesn't map to an attribute or relationship on the model. Unfortunately this isn't enabled by default, currently works only with `store.push`, and it isn't really documented 😔  .

There is a simila

[2016-04-19 08:32] pangratz commented on #4329
@goofiw just in case you are asking on why it is needed to pass all the options for the adapter into `adapterOptions: { ... }`: the options for the adapter need to be placed into `adapterOptions` because not all properties in the passed hash are intended for the adapter. By specifying `store.findAll('my-model', { reload: true })` for example, you can tell ember data the specific reload behavior. T

[2016-04-19 09:00] jackmatt2 commented on #4340
Great thanks.

[2016-04-19 12:20] Baukereg commented on #3546
Note that DS.attr() will actually cause trouble with the isDirty flag.

[2016-04-19 12:38] pangratz commented on #4310
@BissyQA yes, this is addressed in #4300. Until the PR is merged and a new release is cut, you can workaround this by ensuring that you don't return an empty object as payload from the adapter, as shown [in this ember-twiddle](https://ember-twiddle.com/cd7ed68a773e567673827b3134c29615?fileTreeShown=false&numColumns=3&openFiles=routes.application.js%2Cadapters.application.js%2Ctemplates.application

[2016-04-19 16:51] Asherlc commented on #4273
@kernel-io does your snippet work recursively? i.e. for multiple layers of nested models.

[2016-04-19 18:25] luisjuniorj commented on #4262
(Just commenting so I get updates on this)

[2016-04-19 22:06] Kilowhisky opened #4342 "headers are case insensitive yet ember-data looks for case sensitive headers"
[ RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616.html) states that

Yet ember data looks for headers using case sensitive lookups.

https://github.com/emberjs/data/blob/master/addon/adapters/rest.js#L1138

[code]

[2016-04-20 02:51] kernel-io commented on #4273
@Asherlc try and let us know!

[2016-04-20 08:47] mattbearman commented on #3704
I'm currently on 2.4.3, I'll try upgrading and see if that does anything

[2016-04-20 18:45] cibernox opened #4344 "ds-finder-include doesn't work for create/update operations"
The `ds-finder-include` feature (enabled by default in ED 2.5) works for finder calls `store.find/findAll` but it doesn't for save operations.

This is useful when creating/updating a record must request also related resources.

Suggested syntax:

[code]

During slack conversation with @bmac this looks like a bug in the feature that could be implemented without adding any extra feature flag.

[2016-04-20 21:04] trevorrjohn opened #4346 "null model is stored in cache"
So I am encountering this issue when using `DS.RESTAdapter` and getting an empty JSON object response when calling `DS.Model#save()`. The API returns an empty object and as expected nothing is stored in the store. However this happens:

[code]
The desired outcome would be for both to evaluate to `0`.

When I inspect on the object stored in the cache, every field is `null`. So even calling `unclear

[2016-04-21 13:25] pangratz commented on #4346
`store.peekAll` returns is a live updating array with _all_ records in the store, which also includes new records which are not yet saved. So I think `store.peekAll()` is working as expected here.

---

I am wondering though why there is no assertion for `save()` returning no data, because this will result in a record having `isLoaded === true` but `isNew === false` and `id === undefined`, as show

[2016-04-21 13:49] pangratz commented on #3772
Hey @HeroicEric, we discussed this and it would be lovely if the `backgroundReload` option is considered as well in `findAll` and `findRecord` 😉

[2016-04-21 13:49] trevorrjohn commented on #4346
Yes, @pangratz narrows down the issue better than my example.

[2016-04-22 08:22] olivierchatry opened #4351 "_changedKey function : possibility to deep compare object / array"
Hello,

I'm not sure if it is relevant or not, but pushing object values will always being notified as "changed" by _changedKeys because the function only compare the reference value. It would be nice to have a hook ( maybe in the "transforms" object ?  that would allow to provide a isEqual function.

What do you think ?

[2016-04-22 08:24] olivierchatry commented on #4351
Sorry, just traced the code and found out that you can provide a "isEqual" function to the object you compare and it will use it. I would still prefer to have that in "transforms" object as it would make more sense, but I'm sure I can work that around.

[2016-04-22 08:48] olivierchatry commented on #4351
Actually, scrap that, there is a problem after ember get the changed key, the values are anyway always assigned:
system/model/internal-model.js

[code]

I think ember should just assign the values that have changed.

[2016-04-23 04:39] thermokarst commented on #3727
I just ran into the same problem that @shaunc detailed in his initial comment. I have a model that I was mixing in some behavior by using the `ready()` hook. Specifically I am caching some `belongsTo` data. When the model is instantiated using `this.store.findRecord('model', id)` things seem to work as expected --- the ids for the `belongsTo` relationships are there as expected, but when the model

[2016-04-23 05:44] pangratz commented on #3727
Hey @thermokarst, would you be able to provide a ember-twiddle which demonstrates the issue you're having? This would help greatly to trace down the root of this problem. You can use [this one](https://ember-twiddle.com/6e506f341d78ff34c377c08618097862?numColumns=2&openFiles=mixins.node.js%2Capplication.route.js) as a starting point. Thanks!

[2016-04-23 16:26] thermokarst commented on #3727
@pangratz: I whipped up a quick [twiddle](https://ember-twiddle.com/4d3ddda774cb648d3f52dda2e8e93676?numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs), [gist](https://gist.github.com/thermokarst/4d3ddda774cb648d3f52dda2e8e93676). In the process, I noticed a bit of a smoking gun: I initially set up my models using the default `JSONAPIAdapter`, but when I checked the console

[2016-04-23 16:47] pangratz commented on #3727
Thanks for the detailed example @thermokarst ❤️  Can you add some `console.log` statements to clarify in which parts of your application you would expect that some data of a specific value, but it isn't? I am not sure I fully understand the problem here yet 😔  Thanks!

[2016-04-23 16:48] thermokarst commented on #3727
@pangratz: I want to revise my early statement. I took a closer look at the `DRFAdapter` code, and wanted to pin down what was happening. I decided to set up another [twiddle](https://ember-twiddle.com/18ae6b782e46d39917909a42f2d8cefa?openFiles=models.comment.js%2C) that uses the `links` attribute for a plain `JSONAPIAdapter` (which is what the DRF project leverages for hyperlinked fields). Looks

[2016-04-23 16:57] thermokarst commented on #3727
@pangratz: Wow, I was writing my followup comment while you responded 🎉 ❤️, so sorry if it didn't quite answer what you were asking, I hadn't seen your response yet. I think the revised twiddle has a more clear set of console statements. Specifically, I would expect all of the attributes on the related comment to be available when the `ready` hook on the comment model hits. Those attributes are re

[2016-04-25 03:34] mitchlloyd commented on #4344
I was just playing around with this feature today and tried something like this:

[code]

I was hoping that would add the same `include` query param to the URL but it did not. Should this feature be considered for these type of requests?

[2016-04-25 08:35] cibernox commented on #4344
@mitchlloyd That seems tricky to me, because unlike find/save operations that are fired ad-hoc, relationships are more a declaration of the relations between resources and fetching them from different points of the apps in different ways looks odd to me.

Although what you suggest I think that can be done with the `ds-references` feature enabled by default in 2.5 (http://emberjs.com/blog/2016/03/1

[2016-04-25 13:46] adam-knights opened #4355 "ds-reference hasMany().value() intended behavior of null when I can use .ids()?"
Following up from a question on slack I want to query the current behavior as its not what was intended - or the use case in the 2.4 beta blog post could be better.

I have a product that has many priceListItems.

If a product has no price list items then calling

[code]
Returns a non null result for .value(), and then ```productModel.hasMany('priceListItems').ids()``` returns []

That all looks o

[2016-04-25 13:46] adam-knights commented on #4355
cc @pangratz @bmac @locks incase answer here helps guides etc

[2016-04-25 14:24] adam-knights commented on #4355
Pangratz has confirmed null is correct - I'll leave open so you can use to make the example in blog post/guides better?

[2016-04-26 06:12] mitchlloyd commented on #4344
@cibernox Adding parameters to `get` does seem dubious and I'm beginning to think I want to avoid using using `get` to fetch async relationships in general.

The API you proposed looks great to me. I updated ED to the latest master commit to see if it would work today, but it seems the query param doesn't make it into the URL yet. Seems useful!

[2016-04-26 07:31] pangratz commented on #4344
@mitchlloyd querying a relationship with additional parameters is not (yet) supported in ember data. But there is an addon which might interest you: https://github.com/mdehoog/ember-data-has-many-query

[2016-04-26 07:33] pangratz commented on #4355
Closing in favor of the updated blog posts in emberjs/website#2565. Thank you very much @adam-knights for reporting this!

[2016-04-26 07:33] #4355 closed

[2016-04-26 07:35] adam-knights commented on #4355
And thank you for the functionality - its working a charm and will be live next week.

[2016-04-27 16:03] fivetanley opened #4358 "reference unification TODO"
For @wycats after Railsconf.
- [ ] Revisit [Reference Unification](https://github.com/emberjs/rfcs/pull/57/files)
- [ ] Better ergonomics one time data
- [ ] Hooks for something updated / "freshening" process
- [ ] Other stuff? (feel free to edit)

[2016-04-27 16:17] pangratz commented on #4358
re `Hooks for something updated / "freshening" process`, there is an initial RFC about that at emberjs/rfcs#123.

[2016-04-27 22:14] funktr0n opened #4359 "ds-references relationshipReference.load() not retrieving data"
So I'm trying to use the new "references API" as outlined [here](http://emberjs.com/blog/2016/03/13/ember-data-2-4-released.html#toc_code-ds-references-code) (my understanding is that this is enabled in Ember Data 2.5.2), but when I attempt to run through the given example, relationshipReference.load() doesn't retrieve any of the unloaded (not cached) data.  Upon inspection with Chrome's Developer

[2016-04-27 22:42] pangratz commented on #4359
Looking at the code you provided, this should work. Can you provide a failing ember twiddle, demonstrating the issue? This would greatly help identifying this issue. You can use [this](https://ember-twiddle.com/0e1a24aabb8fa7c1fdd8/copy?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs) as a starting point.

[2016-04-27 22:44] pangratz commented on #4359
Also, what are the values of `peekProfile.hasMany('projects').ids()` and `peekProfile.hasMany('projects').remoteType()`?

[2016-04-28 19:32] pangratz commented on #4359
I can reproduce the issue you're having when the hasMany relationship has no data (no ids and no links), see [this twiddle](https://ember-twiddle.com/11d10e21272caa0927cdd24487813e56?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Cmodels.person.js).

@funktr0n can you take a look and check if this is the issue you're running into?

[2016-04-28 21:11] funktr0n commented on #4359
@pangratz

Yes, after a lot of testing this afternoon, it does seem that this is the cause of the issue.  When the returned record doesn't have relationship data included, the load function returns successfully but without actually attempting to make a call.

Are you planning on altering the behavior at all?  I'm currently not returning records with that basic relationship information included.

[2016-04-29 09:45] adam-knights opened #4362 "Add preconfigured ember twiddle to 'reporting a bug' section"
The reporting a bug section has js bins etc but Ember Twiddle can be alot easier to use. @pangratz had a basic one https://ember-twiddle.com/0e1a24aabb8fa7c1fdd8/copy?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs
that I found easy to play with and add to.

So something similarly maintained would be good, and then added to this section.

I also noticed

[2016-05-01 14:25] les2 commented on #973
At the very least:
- All reserved keys (present and anticipated future keys) should be listed in reference documentation a completely impossible to miss manner.
- Ember should warn when models are defined with reserved attribute names (similar to the deprecation warnings); in fact, it should just refuse to define attributes this way.

Better would be a design that made collisions impossible, this

[2016-05-01 14:38] kernel-io commented on #4359
@pangratz I am running into the same issue as well, I do not load the id's on every record as that would require an extra bunch of db calls, which are not needed, is it not possible to have an option that just reads the _id from the model?

i.e: I have a rostering application which will have thousands of related items, I do not see the logic in loading all the shifts per shift time, when I already

[2016-05-02 14:29] mattbearman commented on #3704
Turns out I was passing the model rather than the id as well, managed to mis-read my own code 😖  passing the id fixed it.

[2016-05-03 14:56] pangratz commented on #4359
How would you then want to get the records? What API call would you expected to see when you call `load()`? Could a link help in your situation?

Can you provide some more code? I am afraid I am not fully following.

[2016-05-03 15:58] VincentMolinie opened #4364 "findAll is not a function"
I've just pass to ember 2.5.0 and ember-data doesn't work anymore.
The store injected in my route only contains the function find and I need to do a this.get('store') to have it, if I don't I get this:
![2016-05-03](https://cloud.githubusercontent.com/assets/3263749/14989612/97a75eaa-1150-11e6-82f6-c8993aaf47ae.png)

[2016-05-03 20:41] cfator opened #4365 "Need control of URL query parameter construction in model adapters"
Looking for the query parameter equivalent of buildURL.

[2016-05-03 21:13] cfator commented on #4365
Just found the RESTAdapter function sortQueryParams which is working for me.

[2016-05-03 21:13] #4365 closed

[2016-05-04 05:06] jamesdixon commented on #3057
@wayne-o did you ever find an answer to this?

[2016-05-04 05:52] dnachev opened #4366 "EmbeddedRecordsMixin embeds the record, not the snapshot"
On lines:

https://github.com/emberjs/data/blob/v2.5.2/addon/serializers/embedded-records-mixin.js#L364

and

https://github.com/emberjs/data/blob/v2.5.2/addon/serializers/embedded-records-mixin.js#L228

The serialization of the embedded record is done like this:
[code]

This means that instead of serializing the snapshot, the current record is serialized, which may or may not be the correct state

[2016-05-04 08:59] orf opened #4367 "Coalesced requests repeat ID's"
Hey,
I've noticed that in some cases coalesced requests repeat the ID's being fetched, i.e issuing two requests for a model with the ID 1 will result in `/api/models?ids[]=1&ids[]=1` being fetched.

This normally wouldn't be an issue, but if you are fetching something with a long ID that is duplicated many times then the request URI can get very long which can cause some web servers to reject the

[2016-05-04 09:01] pangratz commented on #4366
`DS.Model#serialize` [uses `store.serialize`](https://github.com/emberjs/data/blob/v2.5.2/addon/-private/system/store.js#L222-L225) which in turn uses a snapshot. So I think this should be fine. Are you running into a specific issue/bug here?

The implementation could be improved, since the snapshot needn't be created again. Thanks for pointing that out!

[2016-05-04 13:18] pangratz commented on #4364
Are you manually injecting the store into your route via `Ember.inject.service()`? This shouldn't be necessary.

Can you modify [this ember-twiddle](https://ember-twiddle.com/1ac3c4a29b99d9eed268800d4290c5c3?fileTreeShown=false&numColumns=3&openFiles=routes.application.js%2Ctemplates.application.hbs%2Ctwiddle.json) and make changes so it demonstrates the issue you're having?

[2016-05-04 13:59] deepan83 opened #4369 "Configure Ember data to build in production mode on a custom environment"
We are currently using Ember data 2.5.x and use a custom 'staging' environment in our ember CLI configuration to build production like apps for functional testing (as we have different API keys for production). However, we are currently  encountering an issue where these staging mode apps fail with the below exception,

TypeError: this.warnMessageForUndefinedType is not a function

This is due to

[2016-05-04 14:09] pangratz commented on #4369
Are you using `ember-cli-deploy`? If so, http://blog.firstiwaslike.com/staging-environments-with-ember-cli-deploy/ should help you get started with different deploy targets.

Otherwise I think you need to configure your API keys based on a different ENV variable using `process.env.MY_CUSTOM_ENV` within `config/environment.js` and use the `production` environment for ember-cli.

[2016-05-04 14:16] deepan83 commented on #4369
We don't use ember-cli-deploy. Previously, when it was a bower dependency, you could use the below in vendorFiles,

 'ember-data': {
    staging: 'bower_components/ember-data/ember-data.prod.js'
   }

This isn't possible anymore as it now an addon.

[2016-05-04 14:22] VincentMolinie commented on #4364
Found my issue I was missing this line in the app.js:

[2016-05-04 14:50] pangratz commented on #4364
Alright, glad you figured it out.

[2016-05-04 14:50] #4364 closed

[2016-05-04 15:25] pangratz commented on #4369
So you want the `production` environment for `ember-data`, since you want the assertions/warnings stripped.

For custom configuration of the API keys I would do something like this:

[code]

and then invoke your build task via `DEPLOY_ENV=staging2 ember build --environment=production`.

Does this help?

[2016-05-04 15:45] deepan83 commented on #4369
Yeah thanks mate. Closing this issue

[2016-05-04 15:45] #4369 closed

[2016-05-04 15:47] pangratz commented on #4369
Nice, glad I could help.

[2016-05-04 16:54] pangratz commented on #4341
I am going to close this as #4338 has been merged which should improve the documentation and list all the possible options for `store.findAll`. Please feel free to reopen if you think this is still not yet documented sufficiently. Thanks!

[2016-05-04 16:54] #4341 closed

[2016-05-04 16:55] pangratz commented on #4162
I am closing this issue since the documentation should have improved now that #4338 has been merged. Please feel free to reopen if you think this is still not documented sufficiently. Thanks!

[2016-05-04 16:55] #4162 closed

[2016-05-04 16:57] pangratz commented on #4148
I am closing this issue since the documentation should have improved now that #4338 has been merged. Please feel free to reopen if you think this is still not documented sufficiently. Thanks!

@adam-knights as to your sorting: I think you should do the sorting in a component / controller using a computed property. By this you can do a background reload and the sorted list is updated once the data

[2016-05-04 16:57] #4148 closed

[2016-05-04 16:59] pangratz commented on #3483
I am closing this issue since the documentation should have improved now that #4338 has been merged. Please feel free to reopen if you think this is still not documented sufficiently. Thanks!

[2016-05-04 16:59] #3483 closed

[2016-05-04 17:04] pangratz commented on #3657
@webPapaya the `backgroundReload` option passed to `store.findAll` is currently not implemented, but it  will be once #4356 is merged.

I am going to close this issue, since the documentation for the reload and background reload behavior should have improved now that #4338 has been merged. Feel free to reopen / comment here if you think this still is not documented sufficiently. Thanks!

[2016-05-04 17:04] #3657 closed

[2016-05-04 17:10] pangratz commented on #4227
For clarification of my comment above:

This is currently the case for the `rest` adapter, which returns the first object when `queryRecord` returns an array.

---

#4300 addressed some issues with `queryRecord` and the outcome is that `store.queryRecord` should only be used, when a single record is returned and the id is not known beforehand. For all other cases `store.query` in combination with

[2016-05-04 17:10] #4227 closed

[2016-05-04 17:14] pangratz commented on #4255
@MarkMT @urbany the behavior for `store.queryRecord` has been clarified in #4300 and `queryRecord` should only be used when your API returns a single object. In all other cases you should use `query` in combination with returning the first object of the array:

[code]

I am going to close this issue as the documentation has been adapted accordingly in #4300.

[2016-05-04 17:14] #4255 closed

[2016-05-04 17:16] pangratz commented on #4310
I am going to close this issue since #4300 has been merged and the regression has been fixed in that PR.

[2016-05-04 17:16] #4310 closed

[2016-05-04 17:36] dgeb commented on #4226
@wecc's interpretation is correct here. The `Content-Type` header requirement only applies when data is sent in a request document. If there is no request document, say for GET or DELETE requests, then the header `Content-Type: application/vnd.api+json` does not need to be set.

However, the media type `application/vnd.api+json` MUST appear in the `Accept` header, indicating that the client will a

[2016-05-04 18:12] pangratz commented on #4321
I just chatted with @SpikedKira via slack and we were not able to reproduce the issue here. Using a combination of `payloadKeyFromModelName`, `modelNameFromPayloadKey` and `pathForType` should be enough to map types from the payload to ember data and vice versa.

I am going to close this issue. Feel free to reopen if you can reproduce this. Thanks!

[2016-05-04 18:12] #4321 closed

[2016-05-05 07:09] adam-knights commented on #4148
Agreed - docs look alot better and the sorting on a controller/component makes sense

[2016-05-05 18:26] hnf1991 opened #4371 "hasMany bulk update or insert"
I have my parent model like this

[code]

and my **user** model is like this

[code]

Now what I want is to push users in my parent model an make a bulk insert/update request to server
what I am doing is:

[code]

After calling save I can't see ember sending my users relationships ([http://jsonapi.org/format/#crud-updating-to-many-relationships]).

Currently I am using **JSONAPISerializer**

[2016-05-06 10:54] BryanCrotaz opened #4372 "deprecation error when store.push(jsonApiDocument)"
call store.push passing a json api document with a relationship inside it:
[code]
Error: cannot pass classes to modelFor, only classnames

Fix is in store.js
[code]
I need to work out how to test this before I can submit a PR

[2016-05-06 11:04] pangratz commented on #4372
Can you update [this ember-twiddle](https://ember-twiddle.com/5b19a2e2a738711fbb82600754ce4ee3?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs) so it demonstrates the issue you're having?

[2016-05-06 11:36] pangratz commented on #4372
Your fix of passing `id.modelName` looks like you are passing an instance of `DS.Model` to `store.push` somewhere. Something like:

[code]

Can you check if this is the case in your code?

[2016-05-06 12:03] BryanCrotaz commented on #4372
I've said above what I'm doing - importing a json-api document.

Here's my app code:
[code]

[2016-05-06 12:04] BryanCrotaz commented on #4372
PS we use peek...() to read from the store as we only have fixture data

[2016-05-06 12:13] pangratz commented on #4372
The payload you posted looks ok. Are you getting there error for the code above?

I can reproduce your "cannot pass classes" error when the data pushed via `store.push` contains a `DS.Model`, see [this ember-twiddle](https://ember-twiddle.com/f4dc90c279d6aebe8b4a81a7242b5d32?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs).

[2016-05-06 12:37] BryanCrotaz commented on #4372
Yes this is how we discovered it. My posited bodge fix does lose the error

[2016-05-06 15:11] pangratz commented on #4372
I cannot reproduce the error you're getting, pushing the fixture data you provided, see [this ember-twiddle](https://ember-twiddle.com/539dc783cfe5818bd97a2b9336a29b81?fileTreeShown=false&numColumns=2&openFiles=fixtures.js%2Ctemplates.application.hbs). Can you take a look and see what is different to your case?

[2016-05-06 16:42] blimmer commented on #1540
For me, `null` and `undefined` dirtying the record is the biggest problem. I use [this workaround](https://gist.github.com/blimmer/cb7425d7bef06b5acb858e5f5f6a9e7a) in an intiailizer to work for my needs. You can customize the `checkIsActuallyDirty` function to meet your needs until there's a more supported solution.

[2016-05-07 18:32] robguilfoyle commented on #4269
This issue was caused by an attribute I had named container...

[2016-05-07 18:32] #4269 closed

[2016-05-07 19:03] dnachev commented on #4366
I was probably going a little off the paved road and used snapshots to capture the state of the model at given time and serialized the snapshot to compare them. However, because the mixin was serializing the record rather than the snapshot, it serialized the current state rather than the snapshot state.

[2016-05-08 16:49] pangratz commented on #4261
@nicolas-dular did you have a chance looking at `update()` being helpful for your use case?

[2016-05-08 17:09] pangratz commented on #3412
Sorry for the overdue response @harianus 😔  Currently it is not possible to query a `hasMany` relationship with additional parameters in core `ember-data`. I don't know if you have seen this but the [ember-data-has-many-query](https://github.com/mdehoog/ember-data-has-many-query) should help you here in the meantime.

I am triaging issues and I am closing this in favor of #3700. Please chime in ov

[2016-05-08 17:09] #3412 closed

[2016-05-08 18:32] pangratz commented on #3673
Currently this isn't possible in core `ember-data`, but the addon by @mdehoog should help you here @mike-north.

I am triaging issues and closing this in favor of #3700.

[2016-05-08 18:32] #3673 closed

[2016-05-08 19:02] pangratz commented on #3625
@mariogintili sorry for the long overdue response 😔  `ember-data` creates custom error objects based on the response: `InvalidError` for `422` and `AdapterError` for other responses which are not a success or invalid (see [`RESTAdapter#handleResponse`](https://github.com/emberjs/data/blob/v2.5.2/addon/adapters/rest.js#L803-L814)). There is also the `ds-extended-errors` feature added in #3586 and #

[2016-05-09 06:10] pangratz commented on #3878
Hey @dguettler, sorry for the long overdue response.

The adapter of the "parent" of a relationship is used for finding a `belongsTo` or `hasMany` relationship, so I would say `fileAdapter#findBelongsTo` is correctly called here.

One solution for your issue with different API origins would be to use absolute links for the relationships.

Does that help in your case?

[2016-05-09 06:26] pangratz commented on #4332
FYI, there has been an RFC for partial record loading at emberjs/rfcs#31, but it has been closed. Not sure if there were any follow ups...

[2016-05-09 08:49] mariogintili commented on #3625
thanks for getting back @pangratz 🎯

[2016-05-09 08:49] #3625 closed

[2016-05-09 12:03] pangratz opened #4375 "Document polymorphic relationships"
😨  looks like this is currently not covered by the API docs for `belongsTo` and `hasMany`. Also, there is currently no entry in the guides for that 😢

[2016-05-09 12:59] harianus commented on #3412
Don't need the solution now and it is a little too long ago to find out how we solved this. Thanks for the response anyway 😉

[2016-05-09 14:17] fivetanley commented on #4359
@pangratz https://ember-twiddle.com/36b1361b68c2d31f2c2415a7452ecaf2?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Cmodels.person.js

You were creating a new reference every time. I think the issue is that when I have a reference, and I call `load` on that reference, it should update. My updated twiddle reproduces the issue.

[2016-05-09 14:25] pangratz commented on #4359
It's always the same reference returned

As far as I can tell the issue here is that the relationship is neither defined as a link nor has it `ids`, so `reference.value()` doesn't know what to do and hence the value is `null` before and afterwards. What am I missing?

[2016-05-09 14:43] fivetanley commented on #4359
Ah, I didn't notice the missing IDs. This works after I update pretender for that case: https://ember-twiddle.com/36b1361b68c2d31f2c2415a7452ecaf2?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Cmodels.person.js

[2016-05-09 14:54] pangratz commented on #4359
Currently I don't see this as a bug for the references, since there is not clear what `load()` should do. @fivetanley in case you agree, feel free to remove the `bug` label...

Where this case somehow leads to is something like #2168, where a hook has been proposed for such a case where a relationship is not yet defined.

[2016-05-09 16:25] felixkiss opened #4376 "Update `isReloading` when a record is reloaded in the background"
As discussed with @bmac on Slack:

Currently, neither `record.isLoading` nor `record.isReloading` is set to true while the adapter performs a background reload of the specific record.

At least `isReloading` should be `true` during the time the adapter waits for a server response.

[2016-05-09 16:47] Turbo87 opened #4377 "Polymorphic relationships with unknown model types"
This issue follows the discussion with @pangratz on Slack regarding the use of a polymorphic `belongsTo` relationship with model types that might not be known to the app.

My use case is roughly like this:

[code]

[code]

[code]

[code]

From the API I'm getting multiple `object` objects, each with a `type` property describing the type of object. Unfortunately the list of types is not fixed and n

[2016-05-09 18:19] pangratz commented on #4377
Thanks for opening this issue @Turbo87!

[2016-05-09 20:04] pangratz commented on #4267
I agree that the generated test for the serializer could definitely be better and the current one could actually be seen as kind of an integration test. I think there are cases though where unit testing a serializer are ok; take testing a custom implementation for `keyForAttribute` for example...

I think the current burden with writing serializer / adapter tests is that there are not really test

[2016-05-10 07:41] #4366 closed

[2016-05-10 18:55] pangratz commented on #4186
Closing this as the `normalizeHash` has been re-deprecated in #4258 and the docs have been updated in #4228.

[2016-05-10 18:55] #4186 closed

[2016-05-11 13:07] sbatson5 commented on #4306
I was looking at the blueprint and it looks like the newline is there because you can optionally add `attrs` when you generate your model:
`ember g model --attrs name`

Would it make sense to optionally newline it if attrs are present?  Not sure of an elegant solution.

[2016-05-11 13:11] fivetanley commented on #4306
i think you may be able to remove the trailing whitespace by wrapping that in an `if`

[code]

The file is located here: https://github.com/emberjs/data/blob/master/blueprints/model/files/__root__/__path__/__name__.js

[2016-05-11 14:07] sbatson5 commented on #4306
I seem to always get an error when using `-%>`.  Tried it with just `<%= attrs -%>` and received an `Unexpected token` error.  Tried using it on just the `if` and received the same error.

The problem with wrapping it in an `if` is that if we do have attrs, we actually get 2 extra new lines.  Thought about doing a ternary:
`<%= typeof attrs !== 'undefined' ? attrs : '' %>`
But we would have to rem

[2016-05-11 17:39] carlesnunez opened #4381 "Ember findRecord always does api call without send {reload: true} param."
Hi everyone.

According to ember DS.Store docs findRecord will do the follow:
[code]

Using that method on my code I can see that findRecord **ALWAYS** does an API call. Looking at the ember-data code I saw [that strange line](https://github.com/emberjs/data/blob/75bec5ec1b1b842ee87eb4cb2fb0b6dbe1b93d85/packages/ember-data/lib/system/store.js#L624):

[code]

I was wondering about if we need to rel

[2016-05-12 06:32] pangratz commented on #4381
So `store.findRecord` will always make an API call if the record is not yet available locally in the cache. The line you marked in the code is responsible for that, where `this._findByInternalModel` will make the API call, which might not be obvious from the name of the function.

If the record is already in the store, then `store.findRecord` might also do an API call if a background reload should

[2016-05-12 10:56] carlesnunez commented on #4381
Not really @pangratz.

I add the flag backgroundReload but nothing different happens.

I can saw a strange behavior on the api call.
I have the following code
[code]

First case:
I acces directly to the URL typing on my bar and I got the following on console:
[code]

Second case:

I acces to my URL throught transitions that already have done an api call to get rooms. It means that I already have a

[2016-05-12 10:58] pangratz commented on #4381
The `backgroundReload` isn't considered yet; the flag is added in #4356. If you update your adapters' `shouldBackgroundReloadRecord()` and return false, no API call should be made in the second request...

[2016-05-12 13:04] pangratz commented on #4306
Fixed by #4380

[2016-05-12 13:04] #4306 closed

[2016-05-12 13:35] carlesnunez commented on #4381
Hi @pangratz

Thanks for the fast response.

As you told me, overriding ````shouldBackgroundReloadRecord()```` ember doesn't make an api call if already have the record loaded In the store.

But I have a last question:

**According to that:**
[code]

Ember should NOT do an api call by default, instead I should use the 'reload' flag to force API call but by default ember is doing completely the opo

[2016-05-12 22:38] nadavshatz commented on #4367
👍
Took me a really long while to realize what was happening.

[2016-05-13 00:45] joebartels commented on #3658
fwiw also issue on 1.13.15 . Do we know if this is fixed in 2.x versions?

[2016-05-13 07:40] pangratz commented on #4367
This should be handled by the logic within `adapter.groupRecordsForHasMany()`, which checks if the resulting URL would be too long and if so, creates a separate request: https://git.io/vrYz5. Just for clarification: did you just mention this as a theoretical consequence of having duplicate, long ids or did you run into this issue. I am asking because this should be handled and if not, then there i

[2016-05-13 07:47] orf commented on #4367
I actually ran into this issue. Everything was working fine until an
important user went to view a specific page, which issued a request 4 bytes
too long for our UWSGI server.
On 13 May 2016 08:41, "Clemens Müller" <notifications@github.com> wrote:

This normally wouldn't be an issue, but if you are fetching something with
a long ID that is duplicated many times then the request URI can get very
l

[2016-05-13 07:59] pangratz commented on #4367
Hmm, ok 😔  . You can set the [`maxURLLength` property](https://git.io/vrYao) on the adapter which should help you there...

[2016-05-13 18:11] visualjeff commented on #4161
I'm pulling back a collection of records (findAll) that includes meta data.  How can I read the meta data from this JSON API payload?   extractMeta is never called.   Can you only pull meta data when you perform a query?  Its not clear to me as to when meta data will be processed.   I can't really find any documentation related to this so I end up having to step debug my way through for answers.

[2016-05-13 23:41] Asherlc opened #4382 "Associated record deletion"
In Rails, and I presume other frameworks, it's not uncommon for records to automatically destroy some or all of their associated records when they themselves are destroyed. So, a deletion of one nominal record may delete many other records as well.

Currently, it appears Ember Data has no way to receive this information in response to a DELETE, so orphaned records may be left on the client side th

[2016-05-14 21:35] JakeDluhy commented on #4161
@visualjeff I'm doing the same (overriding normalize)

[2016-05-15 07:35] jamesdixon commented on #1966
Has there been any more talk around this?

My API is adhering to the JSON API spec and therefore, we're making heavy use of the filtering, including, sorting, etc capabilities, which are query param based. It'd be great to be able to have ED cache some of these calls so they're not constantly repeated.

Keep up the great work!

[2016-05-15 18:10] pangratz commented on #4381
The docs for `findRecord` have been updated in #4338 so I hope this confusion has been addressed in the meantime.

Essentially `store.findRecord()` _always_ triggers an API call. The reload / background reload behavior specified via the passed options and the hooks on the adapter allow you to configure _when_ the promise returned by `findRecord` should be resolved: if you are reloading a record, t

[2016-05-15 18:51] #3772 closed

[2016-05-15 18:51] carlesnunez commented on #4381
Totally clear now! Thank you!

[2016-05-15 18:52] pangratz commented on #4381
Great to hear!

[2016-05-15 18:52] #4381 closed

[2016-05-15 19:00] pangratz commented on #4382
Related to #1945

[2016-05-15 22:38] Asherlc commented on #1945
Would something like this need to make it's way in to JSON API first?

[2016-05-16 09:19] pangratz commented on #3890
I am going to close this issue as the behavior of `queryRecord` has been overhauled in #4300. Please see that PR for more context but basically returning `{ data: null }` or `{ data: [] }` for a `queryRecord` using the `rest` adapter/serializer now resolves the promise with `null`.

Please note that returning an array for the primary data of a `queryRecord` is deprecated, as this method should onl

[2016-05-16 09:19] #3890 closed

[2016-05-16 09:31] pangratz commented on #3596
I am going to close this issue as `queryRecord` has been overhauled in #4300: `queryRecord` should be used when the `id` of the record is NOT known beforehand. In all other cases use `findRecord` instead.

Also, support for the `include` query param has been implemented via the `ds-finder-include` feature which has been introduced in #3976 and is available since `2.5`.

As pointed out by @sly7-7 a

[2016-05-16 09:31] #3596 closed

[2016-05-16 10:23] pangratz commented on #4156
I am going to close this issue as this should be clear now after @bmac's comment above. @ohcibi feel free to reopen if you disagree...

@sheriffderek caching a `query` is currently not possible in core `ember-data`, but there is already an issue about that #1966. I've created a [`ember-twiddle`](https://ember-twiddle.com/538e9b1437442c2fd34f226c710777bd?fileTreeShown=false&numColumns=3&openFiles=c

[2016-05-16 10:23] #4156 closed

[2016-05-16 10:26] pangratz commented on #1966
@jamesdixon unfortunately there hasn't been made any progress for cached queries. I've created a [`ember-twiddle`](https://ember-twiddle.com/538e9b1437442c2fd34f226c710777bd?fileTreeShown=false&numColumns=3&openFiles=controllers.application.js%2Cservices.store.js%2Ctemplates.application.hbs) with a simple implementation for a cached query. Maybe this helps until something similar is added to core.

[2016-05-16 10:33] pangratz commented on #4339
Looks like this regression has been introduced [in #4316](https://github.com/emberjs/data/pull/4316/files#diff-fd4c34d9a34dfde73cd3413128a3c973L1009). I am working on a fix.

[2016-05-16 11:14] pangratz commented on #4339
@kbbpartners this regression should be fixed once #4386 is merged and a new version `2.5.3` is released. Many thanks for reporting this and sorry for the inconvenience.

[2016-05-16 18:05] sheriffderek commented on #4156
@pangratz Thanks for that twiddle

[2016-05-16 19:01] jamesdixon commented on #1966
@pangratz much appreciated! I'll give it a go

[2016-05-17 20:36] #4339 closed

[2016-05-18 06:33] pangratz commented on #4339
@kbbpartners FYI, `ember-data` `v2.5.3` has been released...

[2016-05-18 06:48] kbbpartners commented on #4339
Looks good. Our loading indicators are back! Thank you.

[2016-05-18 09:18] mriska opened #4388 "Outdated documentation on DS.Model.eachRelationship and DS.Model.relationshipsByName return values"
The documentation seems to indicate that the returned `type` should be a `DS.Model` Object, and I believe this is the way it has worked previously, but now when testing with Ember.Data 2.5.2 `type` is a string with the model name. Is this a bug or is the documentation incorrect? `parentType` seems to be a `DS.Model` just like the documentation states.

http://emberjs.com/api/data/classes/DS.Model.

[2016-05-19 14:16] jameshoward commented on #1540
The workaround to use checkIsActually dirty won't update when legitimately changing a value once you've made a change that causes `hasDirtyAttributes` to change. The problem is that changing the number to a string (e.g. 10 to "10") causes the computed `isActuallyDirty` to be recalculated and it (correctly) returns `false`. Trouble is, if you then modify the value again then `hasDirtyAttributes` re

[2016-05-20 09:14] adam-knights opened #4390 "Issue with new include feature when basic request already sent off"
I spent all morning trying to work out why this line of code, in an after model hook, kept hitting /members/123 rather than members/123?include=orders

[code]

I've reproduced similar in a twiddle:

https://ember-twiddle.com/d9a58e2070bbdefeb2e9954767830768?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Ctemplates.application.hbs

Essentially because you use `model.get('pet.id')

[2016-05-21 00:01] tythewebguy commented on #1540
I'm running into the same problem--numbers are getting converted to strings and making things dirty. It would be nice to override the dirty checking at the model level when it makes sense.

I like the suggestion @decasia had:
[code]
It would also be nice to pass the values to a function to make the comparison. Maybe in the example above, if we use a string naming a primitive type it would use type

[2016-05-21 16:26] courajs commented on #4262
My workaround has been just to delay your push until the server response comes back. This way it will function as an update to the record rather than creating a new one

[2016-05-23 16:25] pangratz commented on #3918
@krisselden I am going to close this issue as it looks like it cannot be reproduced. Feel free to reopen if you think this is still an issue, ideally with an ember-twiddle demonstrating the issue.

[2016-05-23 16:25] #3918 closed

[2016-05-23 16:43] pangratz commented on #3678
@mcrummey looking at the code you posted, it seems that you are transitioning to the `form-design` route via `this.transitionToRoute("form-design", form.get("id"));`. As far as I can see the `form` doesn't have an ID yet, since it is a new record? I don't know the implementation of the `model()` hook of the `form-design` route, but can it be that it triggers the load of the new record?

---

Did y

[2016-05-24 06:09] sandstrom commented on #1829
This article outlines the current state of saving embedded records with the JSON-API adapter:
http://emberigniter.com/saving-models-relationships-json-api/

It favors transient id to correlate records, [which I agree with](https://github.com/emberjs/data/issues/1829#issuecomment-108101811).

Just thought I'd mention the article since it's related to this issue.

[2016-05-24 08:14] bmac opened #4394 "API Documentation Audit Quest Issue"
The Ember Data team would like to improve the api docs by auditing every file to ensure the documentation is correct and the public apis all have examples showing their use. If you would like to help out with this issue claim a file from the list below by commenting on this issue. The file is yours for 24 hours, let us know if you need more time. Please read thought the file you have claimed to en

[2016-05-24 08:51] rk1 opened #4395 "rolledBack event not firing on model"
This twiddle illustrates the issue (testable via the "test rollback" button):
https://ember-twiddle.com/6995f426ba012f6d37724de7ecd526fb?openFiles=models.animal.js%2C

The `rolledBack` event is not fired (even if it's an unsaved model). In the console there's a log for the `ready` event.

[2016-05-24 16:15] zachgarwood commented on #4394
I'll start with `addon/serializer.js`

[2016-05-25 06:46] pangratz commented on #4372
@BryanCrotaz I'm inclined to close this issue as it cannot be reproduced. Also, the only way I see how the errors gets thrown if you pass a model instance somewhere in the payload passed to `store.push`. Your proposed fix of also checking for `modelName` strengthen my suspicion, since `modelName` is a `DS.Model` thing...

Please feel free to reopen if you can reproduce this bug. I definitely want

[2016-05-25 06:46] #4372 closed

[2016-05-25 08:15] pangratz commented on #3613
Hey @joelalejandro, I am triaging issues and I stumbled upon this quite old one. Sorry for the long overdue response 😔

I don't think that replicating a model is something currently needed within ember-data core. I think it would be good if this is available via an addon, so folks can add this with a simple `ember install ember-data-replicate-model` or something...

I am inclined to close this iss

[2016-05-25 08:15] #3613 closed

[2016-05-25 11:39] dylanmensaert opened #4402 "cp not updating when using hasMany(..).value() instead of get(..)"
I created a twiddle: https://ember-twiddle.com/52edd8462fa6e3cf1a147a2a047c9207?openFiles=models.post.js%2C

_Issue:_ cp `characters` on `post` does not get updated when property `content` changes on `comment`.
_'Fix':_ the change does happen when using `this.get('comments')` instead of `this.hasMany('comments').value()`.

`get` notifies observers that it should look for changes on the property be

[2016-05-25 12:36] bmac commented on #3448
I have released 2 plugins to opt into ember data 2.0 behavior from 1.13. Or opt for 1.13 behavior in 2.0 and silence the warnings in 1.13.

https://github.com/bmac/ember-data-1-13-should-reload-behavior

https://github.com/bmac/ember-data-2-x-should-reload-behavior

[2016-05-25 12:36] #3448 closed

[2016-05-25 18:25] #2735 closed

[2016-05-25 18:26] #2289 closed

[2016-05-25 18:37] fivetanley commented on #4402
I think this is on purpose. `hasMany` returns what's called a `reference`. It is intentionally a low-level public API for dealing with records. As such, we are designing hooks for updates, but references should definitely not be the first tool we want end users to reach for.

I think `post.get('comments')` should serve your use case better here, but I'm wondering if there was a use case not in the

[2016-05-25 18:38] fivetanley commented on #4395
Hi @rk1, thanks for opening an issue. I'm wondering where this particular event has been documented, as it's new to me. Do you have a link to perhaps the API documentation?

[2016-05-25 18:43] fivetanley commented on #4388
Hi @mkrisa,

Yep, I think this was an intentional breaking change. We wanted to make class instances safer to be concurrent in the fastboot environment. Would you mind opening a PR?

[2016-05-25 18:49] fivetanley commented on #4367
@pangratz in PouchDB they use a `maxURLLength` equivalent to split into multiple requests. Is that what we do here?

[2016-05-25 18:58] dylanmensaert commented on #4402
My understanding is that `post.get('comments')` performs a server call while I do not want that to happen.
I only want to get cached `comment` records for the given `post` parent.

`peek` functionality does not support this, so I though that `hasMany` was the way to go.

What is the difference between `reference` and `full objects` in this context?

[2016-05-25 19:05] rk1 commented on #4395
Hey, sure, here it is - http://emberjs.com/api/data/classes/DS.Model.html#event_rolledBack

[2016-05-25 21:07] pangratz commented on #4367
@fivetanley yep

[2016-05-26 00:07] courajs commented on #4394
Do you have anything in mind for the import and re-export files? `addon/store.js`, `addon/model.js` etc.

[2016-05-26 00:14] bmac commented on #4394
Nope. For those files you can just comment in this thread and say you have verified them and they do not need any documentation changes.

[2016-05-26 09:47] mriska commented on #4388
Thanks for the info, I will open a PR with proposed documentation changes.

[2016-05-26 11:26] dylanmensaert commented on #4402
I believe this bug is a more general one.
For example, I wrote another twiddle: https://ember-twiddle.com/a0e965cc94f4d2846add09e57dfa17d9?openFiles=templates.application.hbs%2C

Here I am using a global array instead of `this.hasMany`. If a property is never `set` or `get` via according methods, no related observable is being notified.

**If** I am correct then the question is if this is a correc

[2016-05-26 13:33] eshtadc opened #4404 "Expose more access to jqXHR object in handling adapter responses."
I would like to add some custom functionality when an AJAX request returns and need access to the jqXHR object.  The use case is to validate a server signature from an authentication proxy server that requires knowing the responseText from the jqXHR request.  I can't get to this from handleResponse.  I tried looking at using ajaxOptions to push a success callback but I see that the rest adapter wo

[2016-05-26 13:35] fivetanley commented on #4404
I am disappointed that end users have lost access to this. I think it's definitely something we should restore. Maybe we should stick it on `requestData.jqXHR` ?

[2016-05-26 13:39] lkhaas commented on #4404
Yeah - ideally it would be something I could access within handleResponse like that - so that I could validate and then return an error when the server signature is invalid.  Feels the most "ember-y".  I can take a stab at the code here and have something up shortly.

[2016-05-26 14:10] bmac commented on #2206
model.data is now an empty object. https://github.com/emberjs/data/blob/master/addon/-private/system/model/internal-model.js#L67

[2016-05-26 14:10] #2206 closed

[2016-05-26 14:25] bmac commented on #4089
Closed by https://github.com/emberjs/data/pull/4396

[2016-05-26 14:25] #4089 closed

[2016-05-26 14:30] #3921 closed

[2016-05-26 14:37] bmac commented on #3906
Ember Data tried to add a warning around the state properties like (`isLoading` or `hasDirtyAttributes`) unfortunately it broke some apps that overrode these properties to provide additional behavior and the change was eventually reverted.

[2016-05-26 14:37] bmac commented on #3785
This should be solved by https://github.com/emberjs/data/pull/4022 which will be enabled in the next beta.

[2016-05-26 14:37] #3785 closed

[2016-05-26 14:38] bmac commented on #3702
I believe this issue has been fixed. There have been several bugfixes in the serializers to fix edge cases around the type property name in non-polymorphic models.

[2016-05-26 14:38] #3702 closed

[2016-05-26 14:40] bmac commented on #3695
@jebukowski do you mind making a https://ember-twiddle.com/ or http://emberjs.jsbin.com/sarobu/1/edit?html,js,output demonstrating the issue?

[2016-05-26 15:24] #4190 closed

[2016-05-26 15:31] lkhaas commented on #4404
OK - so this is my first ever ember-data PR.  I welcome any feedback on what I did right/wrong, etc.  Thanks!

[2016-05-26 15:33] #4303 closed

[2016-05-26 16:50] bmac commented on #3737
I believe this has been fixed in Ember by https://github.com/emberjs/ember.js/pull/12908

[2016-05-26 16:50] #3737 closed

[2016-05-26 16:52] bmac commented on #4329
I believe this is closed by https://github.com/emberjs/data/pull/4405 where the documentation for adapterOptions has been updated.

[2016-05-26 16:52] #4329 closed

[2016-05-26 16:53] bmac commented on #3129
`ember-cli` is moving to ESLint. This issue can be closed.

[2016-05-26 16:53] #3129 closed

[2016-05-26 16:53] bmac commented on #3141
@igorT do you mind elaborating on this issue?

[2016-05-27 07:12] pangratz commented on #3800
I am going to close this as @wecc has answered the question. If you still have questions I recommend to join the `#-ember-data` channel in the [ember community slack](https://embercommunity.slack.com/).

[2016-05-27 07:12] #3800 closed

[2016-05-27 07:23] bmac commented on #4332
I'm going to close this. Ember Data has no plans to support partial records at the momennt. For now the best option is to use this addon: https://github.com/BookingSync/ember-data-partial-model

[2016-05-27 07:23] #4332 closed

[2016-05-27 07:24] pangratz commented on #4208
I took another look at this and the model names are never prefixed with the adapter namespace anywhere in the code. Looking again at the error you posted it seems that the server returns the model names prefixed with the API namespace. Can you confirm that?

The recently merged `ds-payload-hooks` feature #4318 allows you to customize how the type from the payload is converted to a model name. This

[2016-05-27 07:24] #4208 closed

[2016-05-27 13:53] adam-knights opened #4407 "Allow belongsTo to be used in templates so requests are not made for simple id uses"
Imagine the scenario where you are displaying a hundred or so models, each of which have a belongsTo relationship. So we are displaying 100 people, each of whom have a single pet.

There is no way that I want to download all 100 pets at this stage, but I do want to link to a page for more info on the pet, with the id as the link text. So we might want to do:

[code]

That triggers off 100 requests

[2016-05-27 17:21] pangratz commented on #3801
The recently merged `ds-payload-hooks` feature allows you to customize how the modelName is mapped from the payloads' type and vice versa:

[code]

[2016-05-27 17:21] #3801 closed

[2016-05-27 17:28] pangratz commented on #4211
I am closing this issue as it cannot be reproduced. @ersuryapurohit please reopen if you can show some code which demonstrates the issue you're having. Thanks!

[2016-05-27 17:28] #4211 closed

[2016-05-28 18:12] courajs commented on #4394
The following files are only import/re-export files, so should need no documentation changes:
- `addon/setup-container.js `
- `addon/relationships.js`
- `addon/index.js`

[2016-05-29 10:20] devotox opened #4410 "How would you be able to use models with same attribute names and the router"
[code]

the :slug dynamic parameter always uses the first slug rather than the one from the next model

[2016-05-29 19:16] williamweckl commented on #3313
@Keeo you just saved my life with your code... `._internalModel` was what I was looking for! Thank you!

[2016-05-29 20:00] fivetanley commented on #3313
@williamweckl `_internalModel` is a *private* API and likely to break without warning in future releases of Ember Data. If you need to rearrange the order you should copy it with `toArray`.

[2016-05-29 20:03] fivetanley commented on #3313
@chrismllr Sorry for the late response, but you could return a copy of the array in your model hook:

[code]

[2016-05-30 06:55] ersuryapurohit commented on #4211
Ok, can you please send me a twiddle link which can directly access data
from the server, and the server response is a normal json result, not a
record which ember supports ie. not normalised/serialised.

Thanks and Regards
*Er. Surya Purohit*
*+91-8607474746*
*Facebook <https://www.facebook.com/spsharma11> | Google+
<https://plus.google.com/+ErSuryaPurohit>*

On Fri, May 27, 2016 at 10:58 PM, Cle

[2016-05-30 07:11] ersuryapurohit commented on #4211
The response I need to send from the server will contain the json only. Here in the example by @bmac the json is ember supported json ie.

`{
  "data": [
    {
      "id": 1,
      "type": "authors",
      "attributes": {
        "name": "Mark Twain"
      }
    },
    {
      "id": 2,
      "type": "authors",
      "attributes": {
        "name": "Ernest Hemingway"
      }
    },
    {
      "id"

[2016-05-30 09:25] pangratz commented on #4211
You'd need to overwrite your serializer and customize so [`normalizeArrayResponse`](http://emberjs.com/api/data/classes/DS.RESTSerializer.html#method_normalizeArrayResponse) works for the payload you return. See [this ember-twiddle](https://ember-twiddle.com/f38c58d81fe25a6dc8486016b0d4b9a9?fileTreeShown=false&numColumns=2&openFiles=routes.application.js%2Cserializers.application.js) for an exampl